Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

fix some tests
  services/app-api/src/postgres/contractAndRates/insertContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.test.ts
  services/cypress/cypress.config.ts
  services/cypress/tsconfig.json
Due: lint-app-api

try adding module path
  services/cypress/cypress.config.ts
Due: none

restrict future dates for release date; update migration to use calendar date
  services/app-api/prisma/migrations/20241204150723_add_date_approval_released_to_state_field/migration.sql
  services/app-api/prisma/migrations/20241209153506_add_date_approval_released_to_state_field/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/resolvers/contract/approveContract.test.ts
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.module.scss
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
Due: lint-app-web, lint-app-api

code cleanup
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
Due: lint-app-web

Add FE validation for max date restriction
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.test.tsx
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
Due: lint-app-web

fix imports
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.test.tsx
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
Due: lint-app-web

cypress config
  services/cypress/cypress.config.ts
Due: none

fix migration
  services/app-api/prisma/migrations/20241209153506_add_date_approval_released_to_state_field/migration.sql
  services/app-api/prisma/migrations/20241209203452_add_date_approval_released_date_field/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

revert cypress config
  services/cypress/cypress.config.ts
Due: none

try this polyfill
  packages/hpp/package.json
  pnpm-lock.yaml
Due: none

clean up types
  services/app-api/prisma/migrations/20241209213026_make_updated_reason_optional_for_review_action/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/postgres/contractAndRates/approveContract.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/resolvers/contract/approveContract.test.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

add updatedBy back to graphql schema
  services/app-graphql/src/schema.graphql
Due: none

remove userrole type not used
  services/app-graphql/src/schema.graphql
Due: none

clean up
  services/app-api/prisma/migrations/20241209203452_add_date_approval_released_date_field/migration.sql
  services/app-api/prisma/migrations/20241209213026_make_updated_reason_optional_for_review_action/migration.sql
  services/app-api/prisma/migrations/20241210153152_add_field_for_date_approval_released/migration.sql
Due: none

reset branch
  services/app-api/prisma/migrations/20241210160356_create_date_approval_released_field/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/contractReviewActionType.ts
  services/app-api/src/postgres/contractAndRates/approveContract.test.ts
  services/app-api/src/postgres/contractAndRates/approveContract.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/resolvers/contract/approveContract.test.ts
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-graphql/src/fragments/contractFieldsFragment.graphql
  services/app-graphql/src/fragments/unlockedContractFieldsFragment.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/common-code/dateHelpers/formatBannerDate.ts
  services/app-web/src/components/Banner/SubmissionApprovedBanner/SubmissionApprovedBanner.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistory.test.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.module.scss
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.test.tsx
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/testHelpers/apolloMocks/approveContractMocks.ts
Due: lint-app-web, lint-app-api

PR feedback updates
  services/app-api/src/postgres/contractAndRates/approveContract.ts
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
Due: lint-app-web, lint-app-api

MCR-4593 approval release date (#2992)
  services/app-api/prisma/migrations/20241210160356_create_date_approval_released_field/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/contractReviewActionType.ts
  services/app-api/src/postgres/contractAndRates/approveContract.test.ts
  services/app-api/src/postgres/contractAndRates/approveContract.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/resolvers/contract/approveContract.test.ts
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-graphql/src/fragments/contractFieldsFragment.graphql
  services/app-graphql/src/fragments/unlockedContractFieldsFragment.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/common-code/dateHelpers/formatBannerDate.ts
  services/app-web/src/components/Banner/SubmissionApprovedBanner/SubmissionApprovedBanner.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistory.test.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.module.scss
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.test.tsx
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/testHelpers/apolloMocks/approveContractMocks.ts
Due: lint-app-web, lint-app-api

Add withdraw rate graphQL mutations and changes.
  services/app-graphql/src/fragments/rateFieldsFragment.graphql
  services/app-graphql/src/mutations/withdrawRate.graphql
  services/app-graphql/src/queries/indexRatesForDashboard.graphql
  services/app-graphql/src/schema.graphql
Due: none

Update domain types.
  services/app-api/src/domain-models/contractAndRates/baseContractRateTypes.ts
Due: lint-app-api

Update prisma helpers, converters and queries.
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedRateHelpers.ts
  services/app-api/src/testHelpers/rateDataMocks.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web, lint-app-api

Rename redundant rate withdraw, add new withdrawRate postgres functions and resolvers, and add tests
  services/app-api/jest.config.ts
  services/app-api/src/postgres/contractAndRates/index.ts
  services/app-api/src/postgres/contractAndRates/replaceRateOnContract.ts
  services/app-api/src/postgres/contractAndRates/withdrawRate.ts
  services/app-api/src/postgres/contractAndRates/withdrawRedundantRate.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/withdrawAndReplaceRedundantRate.test.ts
  services/app-api/src/resolvers/rate/withdrawRate.test.ts
  services/app-api/src/resolvers/rate/withdrawRate.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-api/src/testHelpers/userHelpers.ts
Due: lint-app-api

fix up parse contract
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.test.ts
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.ts
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

fix apollo
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

add validation for date format
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.test.tsx
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
Due: lint-app-web

Type fix
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

No ending commas
  services/app-api/.eslintrc
  services/app-web/.eslintrc
Due: none

add happy path test for approve submission
  services/cypress/integration/cmsWorkflow/submissionReview.spec.ts
Due: none

revert unneeded changes in this branch
  services/app-api/prisma/migrations/20241204150723_add_date_approval_released_to_state_field/migration.sql
  services/app-api/src/postgres/contractAndRates/approveContract.ts
Due: lint-app-api

More type fixes
  services/app-web/src/constants/contract.ts
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.test.tsx
Due: lint-app-web

add flag intercept
  services/cypress/integration/cmsWorkflow/submissionReview.spec.ts
Due: none

fix cypress locally
  services/cypress/integration/cmsWorkflow/submissionReview.spec.ts
Due: none

move dates into it's own package
  packages/common-code/src/index.ts
  packages/dates/package.json
  packages/dates/src/calendarDate.ts
  packages/dates/src/dayjs.d.ts
  packages/dates/src/dayjs.ts
  packages/dates/src/formatBannerDate.ts
  packages/dates/src/gqlDate.ts
  packages/dates/src/index.ts
  packages/dates/src/mostRecentDate.test.ts
  packages/dates/src/mostRecentDate.ts
  packages/dates/tsconfig.json
  packages/mocks/package.json
  packages/mocks/src/apollo/approveContractMocks.ts
  pnpm-lock.yaml
  services/app-web/src/formHelpers/formatters.ts
Due: lint-app-web

more date fixes for tests
  packages/hpp/package.json
  packages/hpp/src/healthPlanFormDataType/dayjs.ts
  packages/hpp/src/healthPlanFormDataType/healthPlanFormData.ts
  packages/hpp/src/testHelpers/healthPlanFormDataMock.ts
  packages/mocks/src/apollo/healthPlanFormDataMock.ts
  pnpm-lock.yaml
  services/app-api/vitest.config.ts
  services/app-web/vite.config.ts
Due: none

one last build:packages
  .github/workflows/promote.yml
Due: none

Add actions section, add withdraw rate button, and move unlock rate button.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/UnlockRateButton.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
Due: lint-app-web

Move and add tests around action buttons.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
Due: lint-app-web

prevent inline validation for max and invalid dates
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
Due: lint-app-web

fix teset
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.test.tsx
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
Due: lint-app-web

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
