Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

remove find draft
  docs/technical-design/contract-rate-refactor-relationships.md
  services/app-api/src/postgres/contractAndRates/findDraftContract.test.ts
  services/app-api/src/postgres/contractAndRates/findDraftContract.ts
  services/app-api/src/postgres/contractAndRates/index.ts
  services/app-api/src/postgres/contractAndRates/insertContract.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/healthPlanPackage/fetchHealthPlanPackage.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

keep incoming
  services/app-api/.eslintrc
Due: none

run lambda locally
  docs/technical-design/howto-migrations.md
Due: none

Run lambda locally docs(#1871)
  docs/technical-design/howto-migrations.md
Due: none

Bring Rate into concurrence with Contract, types wise
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/insertContract.test.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/parseContractAndRates.test.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseDraftContract.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftRatesHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaToDomainModel.test.ts
  services/app-api/src/postgres/contractAndRates/submitContract.test.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
Due: lint-app-api

get tests
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findDraftContract.test.ts
  services/app-api/src/postgres/contractAndRates/findDraftRate.test.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/insertRate.test.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/submitContract.test.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.ts
Due: lint-app-api

Add all form fields to updateContract
  services/app-api/src/postgres/contractAndRates/updateDraftContract.ts
Due: lint-app-api

Fix SecurityHub CloudFront.5 logging (#1860)
  services/infra-api/serverless.yml
  services/storybook/serverless.yml
  services/ui/serverless.yml
Due: none

Fixup tests for updateContract parameter change
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findDraftContract.test.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/insertContract.test.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
Due: lint-app-api

respond to comments
  services/app-api/src/postgres/contractAndRates/parseContractAndRates.test.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftRatesHelpers.ts
Due: lint-app-api

Consolidate contract and rate types (#1872)
  docs/technical-design/contract-rate-refactor-relationships.md
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/healthPlanPackage.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/findDraftContract.test.ts
  services/app-api/src/postgres/contractAndRates/findDraftContract.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/index.ts
  services/app-api/src/postgres/contractAndRates/insertContract.test.ts
  services/app-api/src/postgres/contractAndRates/insertContract.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/parseContractAndRates.test.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseDraftContract.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftRatesHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaToDomainModel.test.ts
  services/app-api/src/postgres/contractAndRates/submitContract.test.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/healthPlanPackage/fetchHealthPlanPackage.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

cleanup sudo
  services/postgres/serverless.yml
Due: none

cloud-init the keys
  services/postgres/serverless.yml
Due: none

Keep pushing on tests. Remaining failures are zod related
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/contractAndRates/rateTypes.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/findDraftContract.test.ts
  services/app-api/src/postgres/contractAndRates/findDraftRate.test.ts
  services/app-api/src/postgres/contractAndRates/findDraftRate.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/insertContract.test.ts
  services/app-api/src/postgres/contractAndRates/insertContract.ts
  services/app-api/src/postgres/contractAndRates/insertRate.test.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.ts
  services/app-api/src/testHelpers/contractAndRates/rateHelpers.ts
Due: lint-app-api

Clear update* test errors
  services/app-api/src/postgres/contractAndRates/updateDraftContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.test.ts
Due: lint-app-api

Add placeholder docs for technical design we are discussing
  docs/technical-design/contract-rate-change-history.md
  docs/technical-design/contract-rate-types-naming.md
Due: none

Tests passing
  services/app-api/src/domain-models/contractAndRates/rateTypes.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
Due: lint-app-api

Code review - adjust include and state number tests
  services/app-api/src/postgres/contractAndRates/insertContract.test.ts
  services/app-api/src/postgres/contractAndRates/insertRate.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.ts
Due: lint-app-api

Fix action button flickering and size change when loading.
  services/app-web/src/components/ActionButton/ActionButton.module.scss
  services/app-web/src/components/ActionButton/ActionButton.tsx
Due: lint-app-web

Update download button to use ActionButton component with loading state.
  services/app-web/src/components/DownloadButton/DownloadButton.module.scss
  services/app-web/src/components/DownloadButton/DownloadButton.test.tsx
  services/app-web/src/components/DownloadButton/DownloadButton.tsx
Due: lint-app-web

Remove unused download button scss.
  services/app-web/src/components/DownloadButton/DownloadButton.module.scss
Due: lint-app-web

Document warning banner.
  services/app-web/src/components/Banner/DocumentWarningBanner/DocumentWarningBanner.tsx
Due: lint-app-web

Show warning messages on bulk download URL error and skip zipping documents if viewing draft or previous submission.
  services/app-web/src/components/Banner/index.ts
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SupportingDocumentsSummarySection/SupportingDocumentsSummarySection.tsx
  services/app-web/src/components/index.ts
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
Due: lint-app-web

adding more keys
  services/postgres/serverless.yml
Due: none

Remove duplicate test
  services/app-web/src/components/DownloadButton/DownloadButton.test.tsx
Due: lint-app-web

MR-3435 updateRate updateContract (#1876)
  docs/technical-design/contract-rate-change-history.md
  docs/technical-design/contract-rate-types-naming.md
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/contractAndRates/rateTypes.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/findDraftRate.test.ts
  services/app-api/src/postgres/contractAndRates/findDraftRate.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/insertContract.test.ts
  services/app-api/src/postgres/contractAndRates/insertContract.ts
  services/app-api/src/postgres/contractAndRates/insertRate.test.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/submitContract.test.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
  services/app-api/src/testHelpers/contractAndRates/rateHelpers.ts
Due: lint-app-api

cleanup
  services/postgres/serverless.yml
Due: none

Removing mc review dev team from application.
  docs/Configuration.md
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/parameterStore/emailParameterStore/cmsDevTeamHelpEmail/getCmsDevTeamHelpEmail.ts
  services/app-api/src/parameterStore/emailParameterStore/emailParameterStore.ts
  services/app-api/src/parameterStore/emailParameterStore/index.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/parameterStoreHelpers.ts
  services/app-graphql/src/queries/fetchEmailSettings.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/Settings/EmailSettingsTables/EmailSettingsTables.tsx
  services/app-web/src/testHelpers/apolloMocks/emailGQLMock.ts
Due: lint-app-web, lint-app-api

Swap dev team email parameter store tests with help desk email.
  services/app-api/src/parameterStore/emailParameterStore/emailParameterStore.test.ts
Due: lint-app-api

One more reference to mc-review.
  services/app-web/src/pages/Settings/EmailSettingsTables/EmailSettingsTables.test.tsx
  services/app-web/src/testHelpers/apolloMocks/emailGQLMock.ts
Due: lint-app-web

remove default name. not sure why it's here?
  services/app-api/src/handlers/proto_to_db.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_RateRevisions.ts
Due: lint-app-api

Fix *FormEditable types and mock out tests in progress for visibility
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
Due: lint-app-web, lint-app-api

docs tweaks
  docs/technical-design/contract-rate-change-history.md
Due: none

MR-3405: Reference help desk email in system notification emails (#1867)
  docs/Configuration.md
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/newPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/etaTemplates/partialStateNeedAssistance.eta
  services/app-api/src/emailer/templateHelpers.test.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/parameterStore/emailParameterStore/cmsDevTeamHelpEmail/getCmsDevTeamHelpEmail.ts
  services/app-api/src/parameterStore/emailParameterStore/emailParameterStore.test.ts
  services/app-api/src/parameterStore/emailParameterStore/emailParameterStore.ts
  services/app-api/src/parameterStore/emailParameterStore/helpDeskEmail/getHelpDeskEmail.ts
  services/app-api/src/parameterStore/emailParameterStore/index.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/parameterStoreHelpers.ts
  services/app-graphql/src/queries/fetchEmailSettings.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/hooks/useStringConstants.ts
  services/app-web/src/pages/Settings/EmailSettingsTables/EmailSettingsTables.test.tsx
  services/app-web/src/pages/Settings/EmailSettingsTables/EmailSettingsTables.tsx
  services/app-web/src/testHelpers/apolloMocks/emailGQLMock.ts
Due: lint-app-web, lint-app-api

Move renderDownloadButton.
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SupportingDocumentsSummarySection/SupportingDocumentsSummarySection.tsx
Due: lint-app-web

Change download button back to link. Update tests.
  services/app-web/src/components/DownloadButton/DownloadButton.module.scss
  services/app-web/src/components/DownloadButton/DownloadButton.test.tsx
  services/app-web/src/components/DownloadButton/DownloadButton.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
Due: lint-app-web

Make ActuaryContact and StateContact optional fields
  services/app-api/prisma/migrations/20230816175926_contacts_fields_optional/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-web/src/common-code/healthPlanFormDataType/LockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/zodSchemas.ts
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
Due: lint-app-web, lint-app-api

MR-3573: Download all contracts button does not generate zip file on first click (#1859)
  services/app-web/src/components/ActionButton/ActionButton.module.scss
  services/app-web/src/components/ActionButton/ActionButton.tsx
  services/app-web/src/components/Banner/DocumentWarningBanner/DocumentWarningBanner.tsx
  services/app-web/src/components/Banner/index.ts
  services/app-web/src/components/DocumentWarning/InlineDocumentWarning/InlineDocumentWarning.module.scss
  services/app-web/src/components/DocumentWarning/InlineDocumentWarning/InlineDocumentWarning.tsx
  services/app-web/src/components/DocumentWarning/index.ts
  services/app-web/src/components/DownloadButton/DownloadButton.module.scss
  services/app-web/src/components/DownloadButton/DownloadButton.test.tsx
  services/app-web/src/components/DownloadButton/DownloadButton.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SupportingDocumentsSummarySection/SupportingDocumentsSummarySection.tsx
  services/app-web/src/components/index.ts
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
Due: lint-app-web

condition on output. stages fix.
  services/postgres/scripts/uploadScripts.ts
  services/postgres/serverless.yml
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
