Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Implement OAuth2Server class with token handling and error management
  services/app-api/src/oauth/__tests__/oauth2Server.test.ts
Due: lint-app-api

Update services/app-api/src/scripts/createTestOAuthClient.ts
  services/app-api/src/scripts/createTestOAuthClient.ts
Due: lint-app-api

Update services/app-api/src/oauth/oauth2Server.ts
  services/app-api/src/oauth/oauth2Server.ts
Due: lint-app-api

Enhance CustomOAuth2Server with improved error handling and JSON validation
  services/app-api/src/oauth/__tests__/oauth2Server.test.ts
  services/app-api/src/oauth/oauth2Server.ts
Due: lint-app-api

Refactor oauth2Server.ts for improved readability and consistency
  services/app-api/src/oauth/oauth2Server.ts
Due: lint-app-api

just contract or rate
  services/app-api/prisma/schema.prisma
Due: none

copy most of zip lambda to api
  services/app-api/prisma/schema.prisma
  services/app-api/src/s3/zip/generateZip.ts
  services/app-api/src/s3/zip/index.ts
Due: lint-app-api

Add note when Submission type selection is disabled.
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

MCR-5276: state cannot remove submitted rate by changing submission type (#3358)
  packages/mocks/src/apollo/contractPackageDataMock.ts
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

add the store funcs to resolver
  services/app-api/src/postgres/documents/index.ts
  services/app-api/src/postgres/documents/zip.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/s3/zip/generateZip.ts
Due: lint-app-api

routing for button
  packages/constants/src/routes.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/tealium/constants.ts
Due: lint-app-web

button added and testing
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

[MCR-5295] OAuth endpoint (#3350)
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-api/serverless.yml
  services/app-api/src/handlers/__tests__/oauth_token.test.ts
  services/app-api/src/handlers/oauth_token.ts
  services/app-api/src/oauth/__tests__/oauth2Server.test.ts
  services/app-api/src/oauth/oauth2Server.ts
  services/app-api/src/scripts/createTestOAuthClient.ts
Due: lint-app-api

Add document zip package model (#3354)
  services/app-api/prisma/migrations/20250516213559_add_document_zip_urls/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

better logging. only zip if docs exist
  services/app-api/src/resolvers/contract/submitContract.ts
Due: lint-app-api

Show incomplete banner for no contract actions
  services/app-web/src/pages/RateSummary/RateSummary.tsx
Due: lint-app-web

Show Missing contract action text. Update missing data styling for more spacing.
  services/app-web/src/components/DataDetail/DataDetail.module.scss
  services/app-web/src/components/DataDetail/DataDetail.tsx
  services/app-web/src/components/DataDetail/DataDetailMissingField/DataDetailMissingField.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web

Tests for missing contract actions.
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
Due: lint-app-web

updated url and button sizing
  packages/constants/src/routes.ts
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

generate zip for rate docs
  services/app-api/src/resolvers/rate/submitRate.ts
Due: lint-app-api

[MCR-4915] CMS sees undo withdraw button on submission summary (#3359)
  packages/constants/src/routes.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/tealium/constants.ts
Due: lint-app-web

Fix mock data and remove extra fetch.
  packages/mocks/src/apollo/contractPackageDataMock.ts
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
Due: lint-app-web

Fix key error in action buttons
  services/app-web/src/pages/RateSummary/RateSummary.tsx
Due: lint-app-web

add zod and resolver
  services/app-api/prisma/migrations/20250520204115_update_zip_sha256_required/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/ZipType.ts
  services/app-api/src/postgres/documents/zip.ts
  services/app-api/src/resolvers/contract/contractRevisionResolver.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

MCR-5293: cms sees orphan rates label on rate summary page (#3363)
  packages/mocks/src/apollo/contractPackageDataMock.ts
  services/app-web/src/components/DataDetail/DataDetail.module.scss
  services/app-web/src/components/DataDetail/DataDetail.tsx
  services/app-web/src/components/DataDetail/DataDetailMissingField/DataDetailMissingField.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
Due: lint-app-web

Enhance JWT library with OAuth token support and update third-party API authorizer
  services/app-api/src/handlers/third_party_API_authorizer.ts
  services/app-api/src/jwt/jwt.test.ts
  services/app-api/src/jwt/jwt.ts
  services/app-api/src/oauth/oauth2Server.ts
Due: lint-app-api

Add text when CHIP-only is disabled and update test
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

avoid json sanitize
  services/postgres/src/db_export.ts
Due: none

future PR
  services/postgres/src/db_export.ts
Due: none

sanitize name on import
  services/postgres/src/db_import.ts
Due: none

add other mocks and deal with them
  services/postgres/files/mock-m.csv
  services/postgres/files/mock-m.doc
  services/postgres/files/mock-m.docx
  services/postgres/files/mock-m.xls
  services/postgres/files/mock-m.xlsx
  services/postgres/files/mock-s.csv
  services/postgres/files/mock-s.doc
  services/postgres/files/mock-s.docx
  services/postgres/files/mock-s.xls
  services/postgres/files/mock-s.xlsx
  services/postgres/src/db_import.ts
Due: none

use mc-review.example.com
  services/postgres/src/db_export.ts
  services/postgres/src/db_import.ts
Due: none

routing
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

page, testing, mocks
  packages/mocks/src/apollo/withdrawContractGQLMock.ts
  services/app-web/src/pages/UndoSubmissionWithdraw/UndoSubmissionWithdraw.module.scss
  services/app-web/src/pages/UndoSubmissionWithdraw/UndoSubmissionWithdraw.test.tsx
  services/app-web/src/pages/UndoSubmissionWithdraw/UndoSubmissionWithdraw.tsx
Due: lint-app-web

success banner
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Update services/app-api/src/jwt/jwt.ts
  services/app-api/src/jwt/jwt.ts
Due: lint-app-api

Add unit tests for third-party API authorizer
  services/app-api/src/handlers/__tests__/third_party_API_authorizer.test.ts
Due: lint-app-api

Add text when CHIP-only is disabled and update test (#3366)
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Refactor unit tests for third-party API authorizer
  services/app-api/src/handlers/__tests__/third_party_API_authorizer.test.ts
Due: lint-app-api

Refactor withdraw submission emails
  services/app-api/src/emailer/emails/__snapshots__/sendWithdrawnSubmissionCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/sendWithdrawnSubmissionStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/sendWithdrawnSubmissionCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendWithdrawnSubmissionCMSEmail.ts
  services/app-api/src/emailer/emails/sendWithdrawnSubmissionStateEmail.ts
  services/app-api/src/emailer/etaTemplates/sendWithdrawnSubmissionCMSEmail.eta
  services/app-api/src/emailer/etaTemplates/sendWithdrawnSubmissionStateEmail.eta
  services/app-api/src/emailer/templateHelpers.ts
Due: lint-app-api

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
