Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Add statutoryRegulatoryAttestationDescription to schemas and types.
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-proto/src/health_plan_form_data.proto
  services/app-web/src/common-code/healthPlanFormDataType/LockedHealthPlanFormDataType.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/zodSchemas.ts
Due: lint-app-web, lint-app-api

Update API for statutoryRegulatoryAttestationDescription field
  services/app-api/src/domain-models/contractAndRates/convertContractWithRatesToHPP.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.ts
Due: lint-app-api

Add new `allFlags` method for API LaunchDarkly
  services/app-api/src/launchDarkly/launchDarkly.ts
  services/app-api/src/testHelpers/launchDarklyHelpers.ts
Due: lint-app-api

Update and add API tests.
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.test.ts
  services/app-api/src/resolvers/healthPlanPackage/contractAndRates/resolverHelper.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.test.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

Add help page section
  services/app-web/src/pages/Help/Help.tsx
Due: lint-app-web

Fix all form section legend and label styling and modify FilterDateRange.tsx.
  services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.module.scss
  services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

Add `statutoryRegulatoryAttestationDescription` input and display.
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/constants/statutoryRegulatoryAttestation.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
Due: lint-app-web

Add and update tests.
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
  services/cypress/support/stateSubmissionFormCommands.ts
  services/cypress/utils/apollo-test-utils.ts
Due: lint-app-web

Fix dashboard page header title capitalization
  services/app-web/src/constants/routes.ts
Due: lint-app-web

Update test name.
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
Due: lint-app-web

Fix log text.
  services/app-api/src/launchDarkly/launchDarkly.ts
Due: lint-app-api

Fix cypress tests.
  services/cypress/integration/smokeTest/smokeTest.spec.ts
  services/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
  services/cypress/integration/stateWorkflow/login/login.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/contractDetails.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/documents.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/newSubmission.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/reviewAndSubmit.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  services/cypress/support/loginCommands.ts
Due: none

Remove duplicate enums.
  services/app-graphql/src/schema.graphql
Due: none

Add concept of SectionCard to unify styles
  services/app-web/src/components/SectionCard/SectionCard.module.scss
  services/app-web/src/components/SectionCard/SectionCard.tsx
  services/app-web/src/components/SectionCard/index.ts
  services/app-web/src/styles/custom.scss
Due: lint-app-web

Use SectionCard on Rate Details. Also, add h3 headings where required in ticket
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert/SingleRateCert.tsx
Due: lint-app-web

Use SectionCard styles everywhere else to dry up SCSS styles
  services/app-web/src/components/SectionCard/SectionCard.module.scss
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SupportingDocumentsSummarySection/SupportingDocumentsSummarySection.tsx
  services/app-web/src/components/index.ts
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
Due: lint-app-web

Remove outdated styles - from what I can tell original use case from #1579 is not longer needed with further refactors we have done for labels + hint text
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert/SingleRateCert.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
Due: lint-app-web

Wrap rate summary section in SectionCard
  services/app-web/src/components/SectionCard/SectionCard.module.scss
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert/SingleRateCert.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
Due: lint-app-web

Use SectionCard with-sections on Contacts page
  services/app-web/src/components/SectionCard/SectionCard.module.scss
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
Due: lint-app-web

cleanup
  services/app-web/src/components/SectionCard/SectionCard.module.scss
Due: lint-app-web

Get ./dev clean to cover more cases, make a rebuild command to cover everything (including dev tool, scripts) after cleaning
  dev_tool/src/dev.ts
Due: none

Add jumpbox clone command to dev tool (#2054)
  .gitignore
  dev_tool/package.json
  dev_tool/src/aws.ts
  dev_tool/src/dev.ts
  dev_tool/src/flags.ts
  dev_tool/src/jumpbox.ts
  dev_tool/src/nodeWrappers.ts
  dev_tool/src/retry.ts
  docs/technical-design/howto-migrations.md
  services/postgres/README.md
  services/postgres/serverless.yml
  yarn.lock
Due: none

Fix graphQL schema errors and the graphQL explorer tool (#2057)
  services/app-graphql/src/schema.graphql
Due: none

Get RateDetails test passing again
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

Adjust questionResponse resolver to pass needed data to emailer, created base emailer function
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/QAStateEmail.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.ts
Due: lint-app-api

Update 438 attestation text box label text.
  services/app-web/src/constants/statutoryRegulatoryAttestation.ts
  services/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

Update 438 attestation text box label text. (#2063)
  services/app-web/src/constants/statutoryRegulatoryAttestation.ts
  services/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

grab additional data in createQuestion resolver to pass to emailer
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/QAStateEmail.ts
  services/app-api/src/emailer/emails/index.ts
  services/app-api/src/emailer/index.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.ts
Due: lint-app-api

copy tweak for attestation field
  services/app-web/src/constants/statutoryRegulatoryAttestation.ts
Due: lint-app-web

cypress copy change
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

cleanup from design review
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
Due: lint-app-web

cypress change
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

cypress re-run
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

rerun all jobs
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
