Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

MR-2672 Multi-rate styles enhancements (#2058)
  services/app-web/src/components/SectionCard/SectionCard.module.scss
  services/app-web/src/components/SectionCard/SectionCard.tsx
  services/app-web/src/components/SectionCard/index.ts
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SupportingDocumentsSummarySection/SupportingDocumentsSummarySection.tsx
  services/app-web/src/components/index.ts
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert/SingleRateCert.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
  services/app-web/src/styles/custom.scss
Due: lint-app-web

rename emailer function
  services/app-api/src/emailer/emails/newQuestionStateEmail.ts
  services/app-api/src/resolvers/questionResponse/indexQuestions.ts
Due: lint-app-api

add testing for new question email notification
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/newQuestionStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/index.ts
  services/app-api/src/emailer/emails/newQuestionStateEmail.test.ts
  services/app-api/src/emailer/etaTemplates/newQuestionStateEmail.eta
  services/app-api/src/emailer/index.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

Add emailer to config for createQuestionResolver
  services/app-api/src/resolvers/configureResolvers.ts
Due: lint-app-api

[MCR-3601] copy tweak for attestation field (#2067)
  services/app-web/src/constants/statutoryRegulatoryAttestation.ts
  services/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

fix api test and add unit test for creatQuestion resolver
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.ts
Due: lint-app-api

code clean up
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
Due: lint-app-api

Add failure case
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
  yarn.lock
Due: lint-app-api

adds meghan's pub key to auth_keys
  services/postgres/scripts/authorized_keys
Due: none

remove old snapshot
  services/app-api/src/emailer/emails/__snapshots__/newQuestionStateEmail.test.ts.snap
Due: lint-app-api

use a relative path import
  services/app-api/src/emailer/emails/newQuestionStateEmail.ts
Due: lint-app-api

adds meghan's pub key to auth_keys (#2073)
  services/postgres/scripts/authorized_keys
Due: none

change function name newQuestionStateEmail -> sendQuestionStateEmail
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/index.ts
  services/app-api/src/emailer/emails/sendQuestionStateEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionStateEmail.ts
  services/app-api/src/emailer/index.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

PR fixes for using contractwithrates instead of hpp
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/sendQuestionStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/sendQuestionStateEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionStateEmail.ts
  services/app-api/src/emailer/etaTemplates/sendQuestionStateEmail.eta
  services/app-api/src/emailer/templateHelpers.test.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

add period to sentence in email, refactor sesemailer
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/sendQuestionStateEmail.test.ts.snap
  services/app-api/src/emailer/etaTemplates/sendQuestionStateEmail.eta
Due: lint-app-api

throw error in test
  services/app-api/src/emailer/emails/sendQuestionStateEmail.test.ts
Due: lint-app-api

throw errors in test
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
Due: lint-app-api

throw errors in test
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
Due: lint-app-api

WIP: refactor emailer
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/index.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

update test emailer to fix api test
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

[MCR-2538] States are notified when CMS uploads questions about a submission (#2068)
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/sendQuestionStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/index.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionStateEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/etaTemplates/sendQuestionStateEmail.eta
  services/app-api/src/emailer/index.ts
  services/app-api/src/emailer/templateHelpers.test.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.ts
  services/app-api/src/resolvers/questionResponse/indexQuestions.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  yarn.lock
Due: lint-app-api

email template created
  services/app-api/src/emailer/etaTemplates/sendQuestionCMSEmail.eta
Due: lint-app-api

remove feature flag from resolvers
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/updateContract.test.ts
  services/app-api/src/resolvers/contract/updateContract.ts
  services/app-api/src/resolvers/contractAndRates/fetchRate.test.ts
  services/app-api/src/resolvers/contractAndRates/fetchRate.ts
  services/app-api/src/resolvers/contractAndRates/indexRates.ts
  services/app-api/src/resolvers/healthPlanPackage/createHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/createHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/fetchHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/fetchHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/indexHealthPlanPackages.test.ts
  services/app-api/src/resolvers/healthPlanPackage/indexHealthPlanPackages.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.test.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/indexQuestions.test.ts
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web, lint-app-api

remove feature flag from indexresolvers
  services/app-api/src/resolvers/contractAndRates/indexRates.test.ts
Due: lint-app-api

remove final references
  services/app-api/src/resolvers/healthPlanPackage/indexHealthPlanPackages.test.ts
  services/app-web/src/common-code/featureFlags/flags.ts
  services/cypress/integration/cmsWorkflow/rateReview.spec.ts
  services/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
  services/cypress/support/launchDarklyCommands.ts
Due: lint-app-web, lint-app-api

remove hpp db methods
  services/app-api/serverless.yml
  services/app-api/src/handlers/add_sha.test.ts
  services/app-api/src/handlers/add_sha.ts
  services/app-api/src/handlers/migrate_rate_documents.test.ts
  services/app-api/src/handlers/migrate_rate_documents.ts
  services/app-api/src/handlers/proto_to_db.test.ts
  services/app-api/src/handlers/proto_to_db.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_CleanupLastMigration.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_ContractId.test.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_ContractId.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_ContractRevisions.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_RateRevisions.ts
  services/app-api/src/postgres/healthPlanPackage/findAllHealthPlanPackagesByState.ts
  services/app-api/src/postgres/healthPlanPackage/findAllHealthPlanPackagesBySubmittedAt.ts
  services/app-api/src/postgres/healthPlanPackage/findAllRevisions.ts
  services/app-api/src/postgres/healthPlanPackage/findHealthPlanPackage.ts
  services/app-api/src/postgres/healthPlanPackage/healthPlanPackageHelpers.ts
  services/app-api/src/postgres/healthPlanPackage/index.ts
  services/app-api/src/postgres/healthPlanPackage/insertHealthPlanPackage.test.ts
  services/app-api/src/postgres/healthPlanPackage/insertHealthPlanPackage.ts
  services/app-api/src/postgres/healthPlanPackage/insertHealthPlanRevision.ts
  services/app-api/src/postgres/healthPlanPackage/updateHealthPlanRevision.ts
  services/app-api/src/postgres/index.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/healthPlanPackage/createHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.test.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

remove old sha fetching fixing code
  services/app-api/src/handlers/add_sha.ts
  services/app-api/src/resolvers/healthPlanPackage/contractAndRates/resolverHelpers.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.test.ts
Due: lint-app-api

get rid of the pb migrator
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/promote.yml
  docs/technical-design/database-diagram.md
  docs/technical-design/future-designs/qa-db.md
  docs/technical-design/howto-migrations.md
  services/app-api/scripts/prepare-prisma-layer.sh
  services/app-api/src/handlers/postgres_migrate.ts
  services/app-proto/README.md
  services/app-proto/package.json
  services/app-proto/protoMigrations/healthPlanFormDataMigrations/0000_initial_migration.ts
  services/app-proto/protoMigrations/healthPlanFormDataMigrations/0001_rate_id_migration.ts
  services/app-proto/protoMigrations/healthPlanFormDataMigrations/0002_rate_programs_migration.ts
  services/app-proto/protoMigrations/migrate_protos.ts
  services/app-proto/protoMigrations/test_migrate
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedWithALittleBitOfEverything.test.ts
Due: lint-app-web, lint-app-api

add new emailer function sendQuestionCMSEmail
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/index.ts
  services/app-api/src/emailer/emails/sendQuestionCMSEmail.ts
  services/app-api/src/emailer/etaTemplates/sendQuestionCMSEmail.eta
  services/app-api/src/emailer/generateURLs.ts
  services/app-api/src/emailer/index.ts
Due: lint-app-api

use sendQuestionCMSEmail in createQuestionResolver
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/sendQuestionCMSEmail.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.ts
Due: lint-app-api
