Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

use generic createFunction for postgres migrate. Move prisma migration layer to constructor
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

use generic createFunction for regenerateZips function
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

add inline comment to ignore detect-secrets precommit
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

add migrate protobuf lambda function to stack
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

set timeout for protobuf migration function to 15m due to AWS constraints
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

refactor: use ES6 shorthand for role parameter in Lambda options
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

Add CI test stats back (#3996)
  .github/workflows/deploy-cdk.yml
  README.md
Due: none

MCR-5916: New submission type page header fix (#3990)
  packages/constants/src/routes.ts
  services/app-web/src/components/Header/PageHeadingRow/StateHeading.tsx
  services/app-web/src/components/Header/index.ts
  services/app-web/src/hooks/useMemoizedHeaders.tsx
  services/app-web/src/hooks/useRouteParams.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/New/NewStateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/SharedSubmissionComponents/NewSubmissionForm/NewSubmissionForm.tsx
Due: lint-app-web

added programs (#3995)
  packages/submissions/src/statePrograms/statePrograms.json
Due: none

Change short term token to 30 min (#3979)
  services/app-api/src/handlers/__tests__/oauth_token.test.ts
  services/app-api/src/oauth/__tests__/oauth2Server.test.ts
  services/app-api/src/oauth/oauth2Server.ts
Due: lint-app-api

MCR-5853 Pre-signed S3 URL (#3977)
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/documents/generateUploadURL.test.ts
  services/app-api/src/resolvers/documents/generateUploadURL.ts
  services/app-api/src/resolvers/documents/uploadFileTypeMap.ts
  services/app-api/src/s3/s3Client.d.ts
  services/app-api/src/s3/s3Deployed.ts
  services/app-api/src/s3/s3Local.ts
  services/app-api/src/testHelpers/s3Helpers.ts
  services/app-graphql/src/mutations/generateUploadURL.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

limit is in place and added testing (#3984)
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROSubmissionDetails/EQROSubmissionDetails.test.tsx
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROSubmissionDetails/EQROSubmissionDetails.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/SubmissionType/SubmissionTypeSchema.ts
Due: lint-app-web

MCR-5786 Add Contract Type filter to the Submissions and rate reviews Dashboard (#3968)
  README.md
  services/app-web/src/components/ContractTable/ContractTable.stories.tsx
  services/app-web/src/components/ContractTable/ContractTable.test.tsx
  services/app-web/src/components/ContractTable/ContractTable.tsx
Due: lint-app-web

MCR-5893: Update OAuthClient Table to Distinguish API user write access (#3994)
  packages/mocks/src/apollo/oauthGQLMocks.ts
  services/app-api/prisma/migrations/20260122182452_add_scopes_column_to_o_auth_cleint/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/postgres/oauth/oauthClientStore.test.ts
  services/app-graphql/src/mutations/createOauthClient.graphql
  services/app-graphql/src/mutations/deleteOauthClient.graphql
  services/app-graphql/src/mutations/updateOauthClient.graphql
  services/app-graphql/src/queries/fetchOauthClients.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

copilot review comments
  services/app-api/src/handlers/migrate_s3_urls.ts
  services/infra-cdk/lib/stacks/app-api.ts
Due: lint-app-api

Revert state acronyms in dashboard filters
  services/app-web/src/components/ContractTable/ContractTable.test.tsx
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

fix last updated date logic
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
Due: lint-app-web

MCR-5894
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.test.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.test.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.ts
Due: lint-app-api

Fix change history for withdrawn submissions and dashboard selected filter formatting (#3997)
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
  services/app-web/src/components/ContractTable/ContractTable.test.tsx
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

MCR 5896 Fix CMS dashboard displaying incorrect programs on unlocked submissions (#4003)
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
Due: lint-app-web

set memory to 1024 and remove the NODE_PATH env so function will run in aws lambda
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

disabled APIAccess
  services/app-web/src/pages/APIAccess/APIAccess.test.tsx
  services/app-web/src/pages/APIAccess/APIAccess.tsx
  services/cypress/integration/thirdPartyAPIAccess/thirdPartyAPIAccess.spec.ts
Due: lint-app-web

removed createAPIKey files since its no longer needed
  services/app-api/src/resolvers/APIKey/createAPIKey.test.ts
  services/app-api/src/resolvers/APIKey/createAPIKey.ts
  services/app-api/src/resolvers/APIKey/index.ts
Due: lint-app-api

removed createAPIKeyResolver import
  services/app-api/src/resolvers/configureResolvers.ts
Due: lint-app-api

removed jwt code in favor of oauth jwt code and updated tests
  services/app-api/src/jwt/jwt.test.ts
  services/app-api/src/jwt/jwt.ts
Due: lint-app-api

removed jwt from third party authorizer
  services/app-api/src/handlers/__tests__/third_party_API_authorizer.test.ts
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

removed jwt from oauth flow
  services/app-api/src/handlers/__tests__/oauth_token.test.ts
  services/app-api/src/handlers/oauth_token.ts
Due: lint-app-api

removed variable and updated issuer name
  services/app-api/setupTests.ts
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

Change contract action updatedById as optional.
  packages/constants/src/contract.ts
  services/app-api/prisma/migrations/20260128050059_make_contract_action_user_optional/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/UserType.ts
  services/app-api/src/domain-models/contractAndRates/contractReviewActionType.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web, lint-app-api

Add not subject to review tag on dashboard
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/components/InfoTag/InfoTag.module.scss
  services/app-web/src/components/InfoTag/InfoTag.tsx
Due: lint-app-web

updates
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.test.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.test.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.ts
Due: lint-app-api

cleaned up logic
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.test.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.test.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.ts
Due: lint-app-api

addressing comments
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

reduce memory & timeout based on migration test. Set the STAGE_NAME env var
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

fixing mistake
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

insert review action for EQRO submission review determination.
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
Due: lint-app-api

Fix external api requests on local deployment.
  services/app-api/src/local-server.ts
Due: lint-app-api

still need this variable for testing
  services/app-api/setupTests.ts
Due: none

Fix external api requests on local deployment. (#4014)
  services/app-api/src/local-server.ts
Due: lint-app-api

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
