Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

remove unnecessary error code
  services/app-api/src/resolvers/user/updateCMSUser.ts
Due: lint-app-api

convert to graphql errors
  services/app-api/src/resolvers/user/updateCMSUser.ts
Due: lint-app-api

MR-2427: Create user audit table and hook up to updateCMSUser (#1603)
  docs/technical-design/error-handling.md
  services/app-api/prisma/migrations/20230406022336_add_user_audit_table/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/user/updateCmsUserProperties.ts
  services/app-api/src/resolvers/user/updateCMSUser.test.ts
  services/app-api/src/resolvers/user/updateCMSUser.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Validate migration transaction exists
  scripts/validate_migration.sh
  services/app-api/package.json
Due: none

Adjust timeout right after login to allow page load
  tests/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
Due: none

MR-2141 Copy updates to contract and rate file uploads (#1604)
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
  tests/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
Due: lint-app-web

Use shared variable to make it easier to change pathing
  services/app-web/src/styles/_uswds-theme.scss
Due: lint-app-web

do we have a sha
  services/app-web/src/common-code/sha/generateSha.ts
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/contexts/S3Context.tsx
  services/app-web/src/documentHelpers/makeDocumentDateLookupTable.test.ts
  services/app-web/src/s3/s3Amplify.ts
  services/app-web/src/s3/s3Client.d.ts
  services/app-web/src/setupTests.ts
Due: lint-app-web

MR-3173: State indicates the population served by contract action (#1599)
  services/app-api/src/postgres/healthPlanPackage/insertHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/createHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-graphql/src/schema.graphql
  services/app-proto/src/health_plan_form_data.proto
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/healthPlanFormDataType/LockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/index.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedHealthPlanFormDataSchema.ts
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/constants/healthPlanPackages.ts
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionTypeSchema.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
  tests/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
  tests/cypress/support/launchDarklyCommands.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web, lint-app-api

add log
  services/app-web/src/components/FileUpload/FileUpload.tsx
Due: lint-app-web

dont unit test for now
  .github/workflows/deploy.yml
Due: none

one warning
  services/app-web/.eslintrc
  services/app-web/package.json
  services/app-web/webpack.config.js
Due: none

add dangerjs to CI (test)
  .github/workflows/deploy.yml
  dangerfile.ts
  package.json
  yarn.lock
Due: none

don't import crypto
  services/app-web/src/common-code/sha/generateSha.ts
  services/app-web/src/setupTests.ts
Due: lint-app-web

remove fake webpack config
  services/app-web/.eslintrc
  services/app-web/webpack.config.js
Due: none

update for new signature
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
Due: lint-app-web

one more
  services/app-web/src/s3/s3Local.ts
Due: lint-app-web

more logging
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web

more logging still
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web

consolidate sha
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/contexts/S3Context.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/s3/s3Amplify.ts
  services/app-web/src/s3/s3Client.d.ts
  services/app-web/src/s3/s3Local.ts
Due: lint-app-web

don't overwrite tags
  services/uploads/src/lib/avScan.ts
Due: none

change aurora min capacity
  services/postgres/serverless.yml
Due: none

don't join if it doesn't exist
  dangerfile.ts
Due: none

Wrap packages across shared rates dropdown in feature flag again
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
Due: lint-app-web

add verifyMigrationTransactions
  dangerfile.ts
Due: none

check first and last line for begin/commit
  dangerfile.ts
Due: none

fail if migration is not wrapped
  dangerfile.ts
Due: none

test bad commit
  services/app-api/prisma/migrations/20230406022336_add_user_audit_table/migration.sql
Due: none

use main not master?
  .github/workflows/deploy.yml
Due: none

nope
  .github/workflows/deploy.yml
Due: none

debug the dangerfile
  dangerfile.ts
Due: none

spread instead
  dangerfile.ts
Due: none

more tokens
  .github/workflows/deploy.yml
Due: none

Initial commit
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/featureFlags/index.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionTypeSchema.ts
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

Initial commit
  docs/technical-design/launch-darkly-testing-approach.md
  services/app-api/src/launchDarkly/launchDarkly.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/testHelpers/launchDarklyHelpers.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
  tests/cypress/support/index.ts
  tests/cypress/support/launchDarklyCommands.ts
Due: lint-app-web, lint-app-api

change aurora min capacity (#1608)
  services/postgres/serverless.yml
Due: none

add danger-github-api-token
  .github/workflows/deploy.yml
Due: none

debug a bit
  .github/workflows/deploy.yml
Due: none

if pull_request?
  .github/workflows/deploy.yml
Due: none

removing last test on migration
  services/app-api/prisma/migrations/20230406022336_add_user_audit_table/migration.sql
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
