Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

add use audit table
  services/app-api/prisma/schema.prisma
Due: none

generate migration file
  services/app-api/prisma/migrations/20230403220812_add_user_audit_table/migration.sql
Due: none

Add population coverage question and feature flag to submission type form.
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Add population coverage question and feature flag to submission type form.
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
Due: lint-app-web

Update test mocks
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
Due: lint-app-web

Add population coverage definition.
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
Due: lint-app-web

Add populationCovered field to mocks.
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

Add test for population coverage question.
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
Due: lint-app-api

Change thrown error to GraphQL error.
  services/app-api/src/resolvers/healthPlanPackage/createHealthPlanPackage.ts
Due: lint-app-api

Update cypress test for population coverage question.
  tests/cypress/support/launchDarklyCommands.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: none

Add chip only flag to Q&A test.
  tests/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
Due: none

mr-2136 adjust contract upload help text
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

Update package.json and fix type in component.
  services/app-web/package.json
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  yarn.lock
Due: lint-app-web

kick off fresh build
  services/app-web/src/components/FileUpload/FileUpload.tsx
Due: lint-app-web

get rid of console statement
  services/app-web/src/components/FileUpload/FileUpload.tsx
Due: lint-app-web

update db when assignment changes
  services/app-api/prisma/migrations/20230405013928_add_user_audit_table/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/user/updateCmsUserProperties.ts
  services/app-api/src/resolvers/user/updateCMSUser.ts
Due: lint-app-api

Update react-table to 8.8.5 and fix type errors.
  services/app-web/package.json
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  yarn.lock
Due: lint-app-web

Remove unused deps and add cleanup
  services/app-web/.storybook/main.js
  services/app-web/package.json
  yarn.lock
Due: none

Revert yarn.lock to version on main
  yarn.lock
Due: none

fresh yarn install
  yarn.lock
Due: none

Update react-table to 8.8.5 and fix type errors. (#1600)
  services/app-web/package.json
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  yarn.lock
Due: lint-app-web

Update rate detail fragment key. Old key is not unique.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
Due: lint-app-web

add otel exception to s3 context
  services/app-web/src/contexts/S3Context.tsx
Due: lint-app-web

add to duplicate name error
  services/app-web/src/components/FileUpload/FileUpload.tsx
Due: lint-app-web

final updates and add tests
  services/app-api/src/postgres/user/updateCmsUserProperties.ts
  services/app-api/src/resolvers/user/updateCMSUser.test.ts
  services/app-api/src/resolvers/user/updateCMSUser.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

regenerate migration
  services/app-api/prisma/migrations/20230406022336_add_user_audit_table/migration.sql
Due: none

typo
  services/app-api/src/postgres/user/updateCmsUserProperties.ts
Due: lint-app-api

Address file upload help text adjustments
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
Due: lint-app-web

Update copy to latest change
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

Remove Aurora v1 resources (#1593)
  services/app-api/serverless.yml
  services/postgres/serverless.yml
Due: none

Fix bug with changing to CHIP-only population coverage then saving draft.
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Remove console info.
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
Due: lint-app-api

try/catch the retryWithBackoff
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web

lower case test name.
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
Due: lint-app-web

changes per feedback
  services/app-api/prisma/schema.prisma
  services/app-api/src/resolvers/user/updateCMSUser.ts
Due: lint-app-api

put some context
  services/app-web/src/otelHelpers/index.ts
  services/app-web/src/otelHelpers/tracingHelper.ts
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web

arity wrong
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web

fix tests
  docs/technical-design/error-handling.md
  services/app-api/src/resolvers/user/updateCMSUser.ts
Due: lint-app-api

Add more OTEL to s3 error paths (#1602)
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/contexts/S3Context.tsx
  services/app-web/src/otelHelpers/index.ts
  services/app-web/src/otelHelpers/tracingHelper.ts
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web
