Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

undo all dev tool work
  dev_tool/src/local/api.ts
  dev_tool/src/local/graphql.ts
Due: none

[MR-3576] Design and accessibility tweaks to required and optional labels (#1937)
  services/app-web/src/pages/StateSubmission/Contacts/ActuaryContactFields.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert/SingleRateCert.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

add validation and errors for the review and rate details pages + test
  services/app-web/src/components/FileUpload/helpers.ts
  services/app-web/src/components/FileUpload/index.ts
  services/app-web/src/formHelpers/validators.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web

wip
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryByState.ts
  services/app-api/src/resolvers/contractAndRates/index.ts
  services/app-api/src/resolvers/contractAndRates/indexRates.ts
Due: lint-app-api

Progress on API
  services/app-api/src/domain-models/healthPlanPackage.ts
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.ts
  services/app-api/src/postgres/contractAndRates/index.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contractAndRates/index.ts
  services/app-api/src/resolvers/contractAndRates/indexRates.test.ts
  services/app-api/src/resolvers/contractAndRates/indexRates.ts
  services/app-api/src/resolvers/contractAndRates/rateResolver.ts
  services/app-api/src/testHelpers/contractAndRates/gqlHelpers.ts
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Refactor variable sub with pkg for less confusion. Replace setting value with formData id to pkg id.
  services/app-web/src/pages/StateSubmission/RateDetails/PackagesWithSharedRates/PackagesWithSharedRates.tsx
Due: lint-app-web

Replace using getProgramsFromState with findStatePrograms and throwing errors in tests if programs are not found.
  services/app-api/src/postgres/contractAndRates/insertContract.test.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
  services/app-api/src/testHelpers/contractAndRates/rateHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/index.ts
  services/app-api/src/testHelpers/stateHelpers.ts
Due: lint-app-api

Fix imports
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/templateHelpers.test.ts
  services/app-api/src/postgres/contractAndRates/insertRate.test.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/user/updateCmsUserProperties.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
  services/app-api/src/testHelpers/launchDarklyHelpers.ts
Due: lint-app-api

Update contractsWithSharedRateRevision
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
Due: lint-app-api

Update tests for packages with shared rate certs.
  services/app-api/src/resolvers/healthPlanPackage/contractAndRates/resolverHelper.test.ts
  services/app-api/src/resolvers/healthPlanPackage/contractAndRates/resolverHelpers.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.test.ts
Due: lint-app-api

cypress re-run
  services/cypress/cypress.config.ts
Due: none

adjust copy for error message when there's no rate cert uploaded
  services/app-web/src/formHelpers/index.ts
  services/app-web/src/formHelpers/validators.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
Due: lint-app-web

pr fix: display Only one doc... error msg when multiple files uploaded
  services/app-web/src/formHelpers/validators.ts
Due: lint-app-web

pr fix: revert unneeded change to assertion for rate details test
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

pr fix: replace inline code with DataDetailMissing and update the component to be more easily reused
  services/app-web/src/components/DataDetail/DataDetailMissingField/DataDetailMissingField.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.module.scss
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
Due: lint-app-web

pr fix: don't display the only one doc.. error message on the review page is the submission is submitted
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
Due: lint-app-web

pr fix: remove mockContractAndRatesDraftWithDocuments and ensure error message displays only on unlocked submissions on the summary page
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.test.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web

[MCR-2625] Limit State Users to One File Upload for Rate Certs (#1942)
  services/app-web/src/components/DataDetail/DataDetailMissingField/DataDetailMissingField.tsx
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/components/FileUpload/helpers.ts
  services/app-web/src/components/FileUpload/index.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.module.scss
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.test.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/formHelpers/index.ts
  services/app-web/src/formHelpers/validators.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert/SingleRateCert.tsx
Due: lint-app-web

add migration to include mccrsid on the contract revisions table
  services/app-api/prisma/migrations/20230929155452_add_mccrs_id_to_contract_revisions_table/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

fixes in migrate. add DB reset at init.
  services/app-api/src/handlers/proto_to_db.test.ts
  services/app-api/src/handlers/proto_to_db.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_CleanupLastMigration.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_ContractRevisions.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_RateRevisions.test.ts
Due: lint-app-api

get app-web tests passing
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2023-09-28.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.test.tsx
  services/app-web/src/documentHelpers/makeDocumentDateLookupTable.test.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/testHelpers/apolloMocks/healthPlanPackageGQLMock.ts
Due: lint-app-web

use the prisma types in the test
  services/app-api/src/handlers/proto_to_db.test.ts
  services/app-api/src/handlers/proto_to_db.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_CleanupLastMigration.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_ContractRevisions.ts
Due: lint-app-api

Add `BUSINESSOWNER_USER` to Role table.
  services/app-api/prisma/migrations/20230929194337_add_business_owner_user_role/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

Add new Business Owner user to app.
  scripts/add_cypress_test_users.ts
  services/app-api/src/authn/cognitoAuthn.test.ts
  services/app-api/src/authn/cognitoAuthn.ts
  services/app-api/src/domain-models/UserType.d.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/domain-models/user.ts
  services/app-api/src/postgres/user/prismaDomainUser.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/email/fetchEmailSettings.ts
  services/app-api/src/resolvers/healthPlanPackage/fetchHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/indexHealthPlanPackages.ts
  services/app-api/src/resolvers/user/indexUsers.ts
  services/app-api/src/resolvers/user/updateCMSUser.ts
  services/app-graphql/src/queries/fetchCurrentUser.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/assets/images/shi-tong.png
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/localAuth/LocalLogin.tsx
  services/app-web/src/localAuth/LocalUserType.ts
  services/app-web/src/pages/Auth/Auth.test.tsx
  services/app-web/src/pages/Settings/Settings.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
Due: lint-app-web, lint-app-api

Fix local login user cards width.
  services/app-web/src/localAuth/LocalLogin.module.scss
Due: lint-app-web

get all tests passing:
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
Due: lint-app-api

address jason comments
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/postgres/contractAndRates/submitRate.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
Due: lint-app-api

Two wrongs don't make a right.
  services/app-api/src/resolvers/user/indexUsers.ts
Due: lint-app-api

fix up submit parsing
  services/app-api/src/domain-models/contractAndRates/convertContractWithRatesToHPP.ts
  services/app-api/src/resolvers/healthPlanPackage/indexHealthPlanPackages.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
Due: lint-app-web, lint-app-api

im adding the bad imports
  services/app-api/src/domain-models/contractAndRates/convertContractWithRatesToHPP.ts
Due: lint-app-api

add mccrsID to test helper to resolve api test failures
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
Due: lint-app-api

address comments
  services/app-api/src/postgres/contractAndRates/insertContract.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
  services/app-api/src/postgres/prismaDomainAdaptors.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
Due: lint-app-api

Fix some merging stuff.
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web, lint-app-api

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
