Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Fix unit test warnings and add tests for attestation question.
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
Due: lint-app-web

Add statutoryRegulatoryAttestation to postgres updateDraftContractWithRates handler.
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.test.ts
Due: lint-app-api

Update cypress test commands.
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

Missed some more mock data.
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/cypress/utils/apollo-test-utils.ts
Due: lint-app-api

Validate statutoryRegulatoryAttestation on submit.
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
Due: lint-app-api

Adjust padding-bottom more from design comment - want every section to have the same padding botto, with or without download buttonsm
  services/app-web/src/components/SectionHeader/SectionHeader.module.scss
Due: lint-app-web

Fix PageActions alignment - put globally scoped styles back inside targeted class
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
Due: lint-app-web

Add styles doc written during react-uswds migration
  docs/technical-design/future-designs/howto-style-css-scss.md
Due: none

Add MCR color scheme
  services/app-web/src/styles/mcrColors.scss
Due: lint-app-web

MCR colors setup. Add documentation tweaks
  docs/technical-design/howto-style-css-scss.md
  services/app-web/README.md
  services/app-web/src/styles/custom.scss
  services/app-web/src/styles/theme/_cms.scss
  services/app-web/src/styles/theme/_color.scss
Due: lint-app-web

Missed handler.
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
Due: lint-app-api

Mock `allFlags` method.
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

Add 438 attestation tests to ContractDetails
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
Due: lint-app-web

Fix test name.
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
Due: lint-app-web

Update one more cypress command
  services/app-web/src/constants/statutoryRegulatoryAttestation.ts
  services/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

Clean empty rates, fix hasMissingField UI for rate summary page (#2033)
  docs/technical-design/howto-migrations.md
  services/app-api/src/dataMigrations/_sampleTest.test.ts
  services/app-api/src/dataMigrations/dataMigrator.ts
  services/app-api/src/dataMigrations/migrations/20231106200334_fix_empty_rates.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/pages/SubmissionSummary/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/RateSummary/RateSummary.tsx
  services/app-web/src/pages/SubmissionSummary/RateSummary/index.ts
  services/app-web/src/pages/SubmissionSummary/index.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateGQLMocks.ts
  services/app-web/src/testHelpers/apolloMocks/userGQLMock.ts
  services/app-web/src/testHelpers/index.ts
  services/postgres/README.md
Due: lint-app-web, lint-app-api

fix issue with JAWS announcing current page on wrong breadcrumb
  services/app-web/src/components/Breadcrumbs/Breadcrumbs.tsx
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
  services/app-web/src/pages/MccrsId/MccrsId.tsx
Due: lint-app-web

Add links to guides.
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
Due: lint-app-web

add jumpbox clone command to dev tool
  dev_tool/package.json
  dev_tool/src/aws.ts
  dev_tool/src/dev.ts
  dev_tool/src/flags.ts
  dev_tool/src/jumpbox.ts
  dev_tool/src/nodeWrappers.ts
  dev_tool/src/retry.ts
  services/postgres/serverless.yml
  yarn.lock
Due: none

MCR-3588 Design tweaks (#2049)
  services/app-web/src/components/SectionHeader/SectionHeader.module.scss
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
Due: lint-app-web

MCR-3598 rate submission date (#2048)
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web

Update services/app-web/src/constants/statutoryRegulatoryAttestation.ts
  services/app-web/src/constants/statutoryRegulatoryAttestation.ts
Due: lint-app-web

Sort state filter options in alphabetical order.
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

Move attestation question error to the top.
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetailsSchema.ts
Due: lint-app-web

Fix test for text change.
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

MCR-3571: Sort state filter options in alphabetical order. (#2055)
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

address comments
  .gitignore
  dev_tool/src/aws.ts
  dev_tool/src/dev.ts
  dev_tool/src/jumpbox.ts
  dev_tool/src/nodeWrappers.ts
  docs/technical-design/howto-migrations.md
  services/postgres/README.md
  services/postgres/serverless.yml
Due: none

actually use the ssh key passed in
  dev_tool/src/jumpbox.ts
Due: none

make link required for breadcrumbs, use shared const for text and aria label
  services/app-web/src/components/Breadcrumbs/Breadcrumb.test.tsx
  services/app-web/src/components/Breadcrumbs/Breadcrumbs.module.scss
  services/app-web/src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  services/app-web/src/components/Breadcrumbs/Breadcrumbs.tsx
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponse.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

MCR-3600 & MCR-3605: 438 Attestation (#2050)
  services/app-api/prisma/migrations/20231113040740_add_statutory_regulatory_attestation/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/convertContractWithRatesToHPP.ts
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.test.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-proto/src/health_plan_form_data.proto
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/LockedHealthPlanFormDataType.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/zodSchemas.ts
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/constants/statutoryRegulatoryAttestation.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
  services/app-web/src/testHelpers/jestHelpers.tsx
  services/cypress/support/launchDarklyCommands.ts
  services/cypress/support/stateSubmissionFormCommands.ts
  services/cypress/utils/apollo-test-utils.ts
Due: lint-app-web, lint-app-api

[MCR-3625] MCCRS Record Number page a11y fixes (#2053)
  services/app-web/src/components/Breadcrumbs/Breadcrumb.test.tsx
  services/app-web/src/components/Breadcrumbs/Breadcrumbs.module.scss
  services/app-web/src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  services/app-web/src/components/Breadcrumbs/Breadcrumbs.tsx
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponse.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

statutoryRegulatoryAttestationDescription prisma migration
  services/app-api/prisma/migrations/20231115003842_add_statutory_regulatory_attestation_description/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
