Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Submission table component.
  services/app-web/src/components/FilterAccordion/index.ts
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.module.scss
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.stories.tsx
Due: lint-app-web

Add feature flag
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web

Submission table component
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
Due: lint-app-web

Export new components.
  services/app-web/src/components/Select/index.ts
  services/app-web/src/components/index.ts
Due: lint-app-web

Show table filters with feature flag.
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
Due: lint-app-web

Remove console log
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedWithALittleBitOfEverything.test.ts
Due: lint-app-web

MR-2844 Rates Across Subs should use radio buttons (#1364)
  services/app-web/src/components/InfoTag/InfoTag.module.scss
  services/app-web/src/components/InfoTag/InfoTag.stories.tsx
  services/app-web/src/components/InfoTag/InfoTag.test.tsx
  services/app-web/src/components/InfoTag/InfoTag.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/DocumentTag.test.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/DocumentTag.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.module.scss
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.module.scss
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
  services/app-web/src/styles/custom.scss
Due: lint-app-web

log out the params
  services/app-api/src/emailer/awsSES.ts
Due: lint-app-api

log out err
  services/app-api/src/emailer/awsSES.ts
Due: lint-app-api

change lambda invoke
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/handlers/email_submit.ts
Due: lint-app-api

more logging
  services/app-api/src/emailer/emailer.ts
Due: lint-app-api

Revert "MR-2362 Use @aws-sdk v3 clients across the codebase (#1300)"
  package.json
  scripts/add_cypress_test_users.ts
  scripts/destroy_stage.ts
  scripts/package.json
  scripts/tsconfig.json
  services/app-api/package.json
  services/app-api/scripts/prepare-prisma-layer.sh
  services/app-api/serverless.yml
  services/app-api/src/authn/cognitoAuthn.ts
  services/app-api/src/emailer/awsSES.ts
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/handlers/bulk_download.ts
  services/app-api/src/handlers/email_submit.ts
  services/app-api/src/handlers/postgres_migrate.ts
  services/app-api/src/parameterStore/awsParameterStore.ts
  services/app-api/src/secrets/secrets.ts
  services/app-web/package.json
  services/app-web/src/s3/s3Local.ts
  yarn.lock
Due: lint-app-web, lint-app-api

what comes out of the lambda invoke
  services/app-api/src/emailer/emailer.ts
Due: lint-app-api

add otel layer to email submit
  services/app-api/serverless.yml
Due: none

Chnage email domain name.
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: none

explicit types
  services/app-api/src/emailer/emailer.ts
Due: lint-app-api

input type on sendSESEmail
  services/app-api/src/emailer/awsSES.ts
Due: lint-app-api

comments
  services/app-api/src/emailer/emailer.ts
Due: lint-app-api

just send direct?
  services/app-api/src/emailer/emailer.ts
Due: lint-app-api

clean up the branch
  services/app-api/src/emailer/awsSES.ts
  services/app-api/src/emailer/emailer.ts
Due: lint-app-api

layer is default, no need to specify
  services/app-api/serverless.yml
Due: none

Fix SES email sending (#1370)
  services/app-api/src/emailer/awsSES.ts
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/handlers/email_submit.ts
Due: lint-app-api

move contract type buttons; sans cypress
  .vscode/launch.json
  services/app-api/src/postgres/insertHealthPlanPackage.test.ts
  services/app-api/src/postgres/insertHealthPlanPackage.ts
  services/app-api/src/resolvers/createHealthPlanPackage.test.ts
  services/app-api/src/resolvers/createHealthPlanPackage.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/pages/SubmissionSummary/__snapshots__/SubmissionSummary.test.tsx.snap
Due: lint-app-web, lint-app-api

one-liner after all
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetailsSchema.ts
Due: lint-app-web

go back to one stateprograms.json (#1350)
  scripts/import-programs.ts
  services/app-api/src/data/statePrograms.json
  services/app-api/src/handlers/reports.ts
  services/app-api/src/postgres/findPrograms.ts
  services/app-api/src/postgres/findStatePrograms.ts
  services/app-api/src/resolvers/healthPlanPackageResolver.ts
  services/app-api/src/resolvers/userResolver.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

[MR-2786] Draft of document based QA db design (#1335)
  docs/technical-design/database-diagram.md
  docs/technical-design/future-designs/index.md
  docs/technical-design/future-designs/qa-db.md
Due: none

get errors printing for the s3 streams
  services/app-api/src/handlers/bulk_download.ts
Due: lint-app-api

more error handling
  services/app-api/src/handlers/bulk_download.ts
Due: lint-app-api

try cypress hack
  .github/workflows/deploy.yml
Due: none

error a little outside
  services/app-api/src/handlers/bulk_download.ts
Due: lint-app-api

more logging
  services/app-api/src/handlers/bulk_download.ts
Due: lint-app-api

try and transform to readable
  services/app-api/src/handlers/bulk_download.ts
Due: lint-app-api

FilterSelect and FilterAccordion tests
  services/app-web/src/components/FilterAccordion/FilterAccordion.stories.tsx
  services/app-web/src/components/FilterAccordion/FilterSelect/FilterSelect.test.tsx
Due: lint-app-web

Add accordion and toggle clear filters inside FilterAccordion.
  services/app-web/src/components/FilterAccordion/FilterAccordion.tsx
Due: lint-app-web

Fix option list getting cut off and add testids for jest tests.
  services/app-web/src/components/FilterAccordion/FilterSelect/FilterSelect.tsx
Due: lint-app-web

FilterAccordion tests and storybook
  services/app-web/src/components/FilterAccordion/FilterAccordion.module.scss
  services/app-web/src/components/FilterAccordion/FilterAccordion.test.tsx
Due: lint-app-web

Use new filter components and display for no filter results.
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
Due: lint-app-web

HealthPlanPackageTable styles, storybook and tests.
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.module.scss
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.stories.tsx
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.test.tsx
Due: lint-app-web

Moved some State and CMS dashboard to table component tests.
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.test.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
Due: lint-app-web

FilterSelect story.
  services/app-web/src/components/FilterAccordion/FilterSelect/FilterSelect.stories.tsx
Due: lint-app-web

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
