Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Strip out more necessary fields.
  packages/mocks/src/apollo/contractPackageDataMock.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-graphql/src/fragments/strippedContractRevisionFragment.graphql
  services/app-graphql/src/queries/indexContractsStripped.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Refetch dashboard data to prevent pop in.
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
  services/app-web/src/hooks/useContractForm.ts
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.test.tsx
Due: lint-app-web

Update cypress
  services/cypress/support/commands.ts
  services/cypress/support/loginCommands.ts
  services/cypress/support/navigateCommands.ts
Due: none

Fix tests for updated query and data fields
  services/app-api/src/resolvers/contract/indexContractsStripped.test.ts
  services/app-web/src/pages/App/AppRoutes.test.tsx
Due: lint-app-web, lint-app-api

MCR-6041 & MCR-6042: Update headings (#4227)
  services/app-web/src/components/DocumentHeader/DocumentHeader.module.scss
  services/app-web/src/components/DocumentHeader/DocumentHeader.tsx
  services/app-web/src/components/FilterAccordion/FilterAccordion.module.scss
  services/app-web/src/components/FilterAccordion/FilterAccordion.tsx
  services/app-web/src/components/SectionHeader/SectionHeader.module.scss
  services/app-web/src/components/SectionHeader/SectionHeader.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/Settings/Settings.module.scss
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/SettingsTables/AutomatedEmailsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/DivisionAssignmentTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/OauthClientsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/SupportEmailsTable.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/app-web/src/styles/custom.scss
Due: lint-app-web

MCR-5144 speed up index contracts with index contracts stripped (#4225)
  packages/mocks/src/apollo/contractGQLMock.ts
  packages/mocks/src/apollo/contractPackageDataMock.ts
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/contractAndRates/revisionTypes.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/contractAndRates/findAllContractsStripped.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-api/src/resolvers/contract/contractRevisionResolver.ts
  services/app-api/src/resolvers/contract/indexContractsStripped.test.ts
  services/app-api/src/resolvers/contract/indexContractsStripped.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/codegen.yml
  services/app-graphql/src/fragments/strippedContractRevisionFragment.graphql
  services/app-graphql/src/queries/indexContractsStripped.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
  services/app-web/src/hooks/useContractForm.ts
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.test.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/cypress/support/commands.ts
  services/cypress/support/loginCommands.ts
  services/cypress/support/navigateCommands.ts
Due: lint-app-web, lint-app-api

fix otel instrumentation versions
  pnpm-lock.yaml
  services/app-api/package.json
Due: none

Add built-in prisma 7 otel spans (#4220)
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/otel/otel_handler.ts
  services/app-api/src/resolvers/attributeHelper.ts
  services/app-api/src/resolvers/contract/fetchContract.ts
  services/app-web/src/contexts/TraceContext.tsx
Due: lint-app-web, lint-app-api

fix copy and add tests for CMS user banner
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanners.test.tsx
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanners.tsx
Due: lint-app-web

hide heading styles at the root via a flag
  packages/common-code/src/featureFlags/flags.ts
  services/app-web/src/components/Typography/Typography.stories.tsx
  services/app-web/src/pages/App/AppBody.tsx
  services/app-web/src/styles/custom.scss
Due: lint-app-web

fix copy and add tests for CMS user banner (#4235)
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanners.test.tsx
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanners.tsx
Due: lint-app-web

Revert "MCR-6041 & MCR-6042: Update headings (#4227)"
  services/app-web/src/components/DocumentHeader/DocumentHeader.module.scss
  services/app-web/src/components/DocumentHeader/DocumentHeader.tsx
  services/app-web/src/components/FilterAccordion/FilterAccordion.module.scss
  services/app-web/src/components/FilterAccordion/FilterAccordion.tsx
  services/app-web/src/components/SectionHeader/SectionHeader.module.scss
  services/app-web/src/components/SectionHeader/SectionHeader.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/Settings/Settings.module.scss
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/SettingsTables/AutomatedEmailsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/DivisionAssignmentTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/OauthClientsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/SupportEmailsTable.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/app-web/src/styles/custom.scss
Due: lint-app-web

remove custom scss changes
  services/app-web/src/styles/custom.scss
Due: lint-app-web

Revert Heading Updates (#4236)
  services/app-web/src/components/DocumentHeader/DocumentHeader.module.scss
  services/app-web/src/components/DocumentHeader/DocumentHeader.tsx
  services/app-web/src/components/FilterAccordion/FilterAccordion.module.scss
  services/app-web/src/components/FilterAccordion/FilterAccordion.tsx
  services/app-web/src/components/SectionHeader/SectionHeader.module.scss
  services/app-web/src/components/SectionHeader/SectionHeader.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/Settings/Settings.module.scss
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/SettingsTables/AutomatedEmailsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/DivisionAssignmentTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/OauthClientsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/SupportEmailsTable.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/app-web/src/styles/custom.scss
Due: lint-app-web

add heading changes from prev prs
  services/app-web/src/components/DocumentHeader/DocumentHeader.module.scss
  services/app-web/src/components/DocumentHeader/DocumentHeader.tsx
  services/app-web/src/components/FilterAccordion/FilterAccordion.module.scss
  services/app-web/src/components/FilterAccordion/FilterAccordion.tsx
  services/app-web/src/components/SectionHeader/SectionHeader.module.scss
  services/app-web/src/components/SectionHeader/SectionHeader.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/components/Typography/Typography.stories.tsx
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/Settings/Settings.module.scss
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/SettingsTables/AutomatedEmailsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/DivisionAssignmentTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/OauthClientsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/SupportEmailsTable.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/app-web/src/styles/custom.scss
Due: lint-app-web

Add h4 overrides to common AccessibleAlertBanner.tsx component.
  services/app-web/src/components/Banner/AccessibleAlertBanner/AccessibleAlertBanner.module.scss
  services/app-web/src/components/Banner/AccessibleAlertBanner/AccessibleAlertBanner.tsx
  services/app-web/src/styles/custom.scss
Due: lint-app-web

Fix eqro banner heading level
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanners.tsx
Due: lint-app-web

Move submission success banner to Banners directory
  services/app-web/src/components/Banner/SubmissionSuccessBanner/SubmissionSuccessBanner.module.scss
  services/app-web/src/components/Banner/SubmissionSuccessBanner/SubmissionSuccessBanner.tsx
  services/app-web/src/components/Banner/index.ts
  services/app-web/src/pages/StateDashboard/StateDashboard.module.scss
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
Due: lint-app-web

adjust line height on the tag class
  services/app-web/src/styles/custom.scss
Due: lint-app-web

make regular tag semi bold
  services/app-web/src/styles/custom.scss
Due: lint-app-web

Add all banners to storybook
  services/app-web/src/components/Banner/AssignedStaffUpdateBanner/AssignedStaffUpdateBanner.stories.tsx
  services/app-web/src/components/Banner/DocumentWarningBanner/DocumentWarningBanner.stories.tsx
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanners.stories.tsx
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.stories.tsx
  services/app-web/src/components/Banner/IncompleteSubmissionBanner/IncompleteSubmissionBanner.stories.tsx
  services/app-web/src/components/Banner/NewOauthClientBanner/NewOauthClientBanner.stories.tsx
  services/app-web/src/components/Banner/PreviousSubmissionBanner/PreviousSubmissionBanner.stories.tsx
  services/app-web/src/components/Banner/RateWithdrawBanner/RateWithdrawBanner.stories.tsx
  services/app-web/src/components/Banner/StatusUpdatedBanner/StatusUpdatedBanner.stories.tsx
  services/app-web/src/components/Banner/SubmissionApprovedBanner/SubmissionApprovedBanner.stories.tsx
  services/app-web/src/components/Banner/SubmissionSuccessBanner/SubmissionSuccessBanner.stories.tsx
  services/app-web/src/components/Banner/SubmissionWithdrawWarningBanner/SubmissionWithdrawWarningBanner.stories.tsx
  services/app-web/src/components/Banner/SubmissionWithdrawnBanner/SubmissionWithdrawnBanner.stories.tsx
Due: lint-app-web

MCR-6038 Heading PR Fix (#4239)
  services/app-web/src/styles/custom.scss
Due: lint-app-web

Show review determination if not draft, unlocked and state user.
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/EQROSubmissionTypeSummarySection.tsx
Due: lint-app-web

Add unit test
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.test.tsx
Due: lint-app-web

Fix logic and add unit test.
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/EQROSubmissionTypeSummarySection.tsx
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.test.tsx
Due: lint-app-web

Fixes Invicti finding for missing header on frontend responses. Affects all environments (dev, val, prod).
  services/infra-cdk/lib/stacks/frontend-infra.ts
Due: none

initial commit - updating headings/stylings and tests
  services/app-web/src/components/ChangeHistory/ChangeHistory.module.scss
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
  services/app-web/src/components/DocumentHeader/DocumentHeader.module.scss
  services/app-web/src/components/DocumentHeader/DocumentHeader.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/EQROContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/EQROSubmissionTypeSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SummarySectionFields/SummarySectionFields.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.test.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.test.tsx
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Fix the top spacing for alert banner icons.
  services/app-web/src/components/Banner/AccessibleAlertBanner/AccessibleAlertBanner.module.scss
  services/app-web/src/components/Banner/DocumentWarningBanner/DocumentWarningBanner.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

MCR-5998: Eqro unlocked submission summary cms users (#4240)
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/EQROSubmissionTypeSummarySection.tsx
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.test.tsx
Due: lint-app-web

Apply suggestion from @JasonLin0991
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

MCR-6044: banner headings updates (#4238)
  services/app-web/src/components/Banner/AccessibleAlertBanner/AccessibleAlertBanner.module.scss
  services/app-web/src/components/Banner/AccessibleAlertBanner/AccessibleAlertBanner.tsx
  services/app-web/src/components/Banner/AssignedStaffUpdateBanner/AssignedStaffUpdateBanner.stories.tsx
  services/app-web/src/components/Banner/DocumentWarningBanner/DocumentWarningBanner.stories.tsx
  services/app-web/src/components/Banner/DocumentWarningBanner/DocumentWarningBanner.tsx
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanners.stories.tsx
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanners.tsx
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.stories.tsx
  services/app-web/src/components/Banner/IncompleteSubmissionBanner/IncompleteSubmissionBanner.stories.tsx
  services/app-web/src/components/Banner/NewOauthClientBanner/NewOauthClientBanner.stories.tsx
  services/app-web/src/components/Banner/PreviousSubmissionBanner/PreviousSubmissionBanner.stories.tsx
  services/app-web/src/components/Banner/RateWithdrawBanner/RateWithdrawBanner.stories.tsx
  services/app-web/src/components/Banner/StatusUpdatedBanner/StatusUpdatedBanner.stories.tsx
  services/app-web/src/components/Banner/SubmissionApprovedBanner/SubmissionApprovedBanner.stories.tsx
  services/app-web/src/components/Banner/SubmissionSuccessBanner/SubmissionSuccessBanner.module.scss
  services/app-web/src/components/Banner/SubmissionSuccessBanner/SubmissionSuccessBanner.stories.tsx
  services/app-web/src/components/Banner/SubmissionSuccessBanner/SubmissionSuccessBanner.tsx
  services/app-web/src/components/Banner/SubmissionWithdrawWarningBanner/SubmissionWithdrawWarningBanner.stories.tsx
  services/app-web/src/components/Banner/SubmissionWithdrawnBanner/SubmissionWithdrawnBanner.stories.tsx
  services/app-web/src/components/Banner/index.ts
  services/app-web/src/pages/StateDashboard/StateDashboard.module.scss
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/styles/custom.scss
Due: lint-app-web

disable caching in review envs
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/audit_s3.ts
  services/app-api/src/handlers/configuration.ts
  services/app-api/src/handlers/oauth_token.ts
  services/app-api/src/postgres/prismaClient.ts
Due: lint-app-api

add ttl to cache
  services/app-api/src/postgres/prismaClient.ts
Due: lint-app-api

add otel
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/configuration.ts
  services/app-api/src/postgres/prismaClient.ts
  services/app-api/src/secrets/secrets.ts
Due: lint-app-api

don't rotate on every review deploy
  services/app-api/src/handlers/configuration.ts
  services/app-api/src/postgres/prismaClient.ts
  services/app-api/src/secrets/secrets.ts
  services/postgres/src/logicalDatabaseManager.ts
Due: lint-app-api

co-pilot comments
  services/app-api/src/handlers/oauth_token.ts
  services/app-api/src/postgres/prismaClient.ts
  services/postgres/src/logicalDatabaseManager.ts
Due: lint-app-api

replace headings
  packages/constants/src/routes.ts
  services/app-web/src/components/FilterAccordion/FilterAccordion.tsx
  services/app-web/src/components/Tabs/Tabs.module.scss
  services/app-web/src/components/Tabs/Tabs.tsx
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
Due: lint-app-web

add h1, h2, and h5 to the home page
  services/app-web/src/components/Header/Header.module.scss
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
