Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

code cleanup
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Update services/app-graphql/src/schema.graphql
  services/app-graphql/src/schema.graphql
Due: none

Fix updateDraftContractRates resolver to check for concurrent update (#2534)
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.test.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/cypress/integration/cmsWorkflow/rateReview.spec.ts
  services/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
  services/cypress/support/apiCommands.ts
  services/cypress/support/index.ts
  services/cypress/utils/apollo-test-utils.ts
Due: lint-app-web, lint-app-api

tealium link event hooks.
  services/app-web/src/constants/tealium.ts
  services/app-web/src/hooks/useTealium.ts
  services/app-web/src/setupTests.ts
Due: lint-app-web

Tealium logging components.
  services/app-web/src/components/TealiumLogging/Button.tsx
  services/app-web/src/components/TealiumLogging/Link.tsx
  services/app-web/src/components/TealiumLogging/index.ts
  services/app-web/src/components/TealiumLogging/tealiamLoggingHelpers.ts
  services/app-web/src/components/index.ts
Due: lint-app-web

Update all Links to use tealium logging components.
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.tsx
  services/app-web/src/components/Banner/PreviousSubmissionBanner/PreviousSubmissionBanner.tsx
  services/app-web/src/components/Breadcrumbs/Breadcrumbs.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistoryV2.tsx
  services/app-web/src/components/DataDetail/DataDetailContactField/DataDetailContactField.tsx
  services/app-web/src/components/DownloadButton/DownloadButton.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlert.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertFailedRequest.tsx
  services/app-web/src/components/Footer/Footer.tsx
  services/app-web/src/components/Form/ErrorSummary/ErrorSummary.tsx
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.tsx
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/components/SectionHeader/SectionHeader.tsx
  services/app-web/src/components/SubmissionCard/SubmissionCard.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/pages/APIAccess/APIAccess.tsx
  services/app-web/src/pages/App/AppBody.tsx
  services/app-web/src/pages/Auth/Signup.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/Errors/GenericErrorPage.tsx
  services/app-web/src/pages/Landing/Landing.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QATable.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/PackagesWithSharedRates.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/SingleRateFormFields.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/V2/SubmissionSummaryV2.tsx
Due: lint-app-web

add unlockedContract resolvr
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/unlockedContractResolver.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Move all mutations inside transaction wrappers so we correctly throw and break the prisma transaction when something goes wrong
  services/app-api/src/postgres/contractAndRates/submitRate.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.ts
Due: lint-app-api

MCR-4143 add unlock contract (#2533)
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/unlockContractCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/unlockContractStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/index.ts
  services/app-api/src/emailer/emails/unlockContractCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockContractCMSEmail.ts
  services/app-api/src/emailer/emails/unlockContractStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockContractStateEmail.ts
  services/app-api/src/emailer/etaTemplates/unlockContractStateEmail.eta
  services/app-api/src/emailer/index.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/index.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/unlockContract.test.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/contract/unlockedContractResolver.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-graphql/codegen.yml
  services/app-graphql/src/mutations/submitContract.graphql
  services/app-graphql/src/mutations/unlockContract.graphql
  services/app-graphql/src/mutations/updateContractDraftRevision.graphql
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/Modal/V2/UnlockSubmitModalV2.tsx
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
Due: lint-app-web, lint-app-api

gotta await
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
Due: lint-app-api

wait on query here
  services/cypress/support/loginCommands.ts
Due: none

i think this makes it work
  services/cypress/integration/cmsWorkflow/rateReview.spec.ts
  services/cypress/support/apiCommands.ts
  services/cypress/support/index.ts
  services/cypress/utils/apollo-test-utils.ts
Due: none

Update all Buttons to use tealium logging components.
  services/app-web/src/components/ActionButton/ActionButton.tsx
  services/app-web/src/components/ExpandableText/ExpandableText.tsx
  services/app-web/src/components/FileUpload/FileListItem/FileListItem.tsx
  services/app-web/src/components/FileUpload/FileRow/FileRow.tsx
  services/app-web/src/components/FilterAccordion/FilterAccordion.tsx
  services/app-web/src/components/Modal/Modal.tsx
  services/app-web/src/components/TealiumLogging/Button.tsx
  services/app-web/src/hooks/useTealium.ts
  services/app-web/src/localAuth/LocalLogin.tsx
  services/app-web/src/pages/APIAccess/APIAccess.tsx
  services/app-web/src/pages/Auth/CheckAuth.tsx
  services/app-web/src/pages/Auth/CognitoLogin.tsx
  services/app-web/src/pages/Auth/ConfirmSignUp.tsx
  services/app-web/src/pages/Auth/Login.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponse.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/PageActions/PageActions.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/SingleRateFormFields.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
Due: lint-app-web

setup tests with mocks is not needed.
  services/app-web/src/components/ActionButton/ActionButton.test.tsx
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.test.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistory.test.tsx
  services/app-web/src/components/DataDetail/DataDetailContactField/DataDetailContactField.test.tsx
  services/app-web/src/components/DownloadButton/DownloadButton.test.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlert.test.tsx
  services/app-web/src/components/ExpandableText/ExpandableText.test.tsx
  services/app-web/src/components/FileUpload/FileItemList/FileItemsList.test.tsx
  services/app-web/src/components/FileUpload/FileProcessor/FileProcessor.test.tsx
  services/app-web/src/components/FileUpload/FileUpload.test.tsx
  services/app-web/src/components/Form/ErrorSummary/ErrorSummary.test.tsx
  services/app-web/src/components/Modal/Modal.test.tsx
  services/app-web/src/localAuth/LocalLogin.tsx
  services/app-web/src/setupTests.ts
Due: lint-app-web

Move all mutations inside transaction wrappers so we correctly throw … (#2544)
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/contractAndRates/submitRate.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.ts
Due: lint-app-api

fix tests
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/unlockRate.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.test.ts
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/testHelpers/apolloMocks/healthPlanPackageGQLMock.ts
Due: lint-app-web, lint-app-api

fix compile error
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/testHelpers/apolloMocks/healthPlanPackageGQLMock.ts
Due: lint-app-web

display historic program question for historic locked linked rates
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web

pr fixes
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web

MRC-4244: Bug fix for Showing an error on a submitted rate (#2547)
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web

Add centering step indicator to its own PR
  services/app-web/src/components/DynamicStepIndicator/DynamicStepIndicator.module.scss
Due: lint-app-web

programs changes july 2024
  docs/technical-design/howto-update-state-programs.md
  services/app-web/src/common-code/data/statePrograms.json
Due: lint-app-web

cleanup doc
  docs/technical-design/howto-update-state-programs.md
Due: none

draft ADR
  docs/architectural-decision-records/027-vite-for-web-build.md
Due: none

Refactor tealium initialization.
  services/app-web/src/components/ExpandableText/ExpandableText.test.tsx
  services/app-web/src/components/FileUpload/FileItemList/FileItemsList.test.tsx
  services/app-web/src/constants/tealium.ts
  services/app-web/src/contexts/TealiumContext.tsx
  services/app-web/src/hooks/index.ts
  services/app-web/src/hooks/useTealium.ts
  services/app-web/src/pages/App/App.tsx
  services/app-web/src/pages/App/AppBody.test.tsx
  services/app-web/src/pages/App/AppBody.tsx
  services/app-web/src/testHelpers/index.ts
  services/app-web/src/testHelpers/jestHelpers.tsx
  services/app-web/src/testHelpers/tealiumHelpers.ts
  services/cypress/package.json
Due: lint-app-web

use esbuild config. first pass.
  services/app-api/.eslintrc
  services/app-api/esbuild.config.js
  services/app-api/package.json
  services/app-api/serverless.yml
  services/app-api/src/handlers/apollo_gql.ts
  services/app-web/package.json
  services/github-oidc/package.json
  services/infra-api/package.json
  services/postgres/package.json
  services/ui/package.json
  services/uploads/package.json
  yarn.lock
Due: lint-app-api

add a gql loader
  services/app-api/esbuild.config.js
  services/app-api/package.json
  services/app-api/src/handlers/apollo_gql.ts
  yarn.lock
Due: lint-app-api

bump lockfile
  yarn.lock
Due: none

Move tealium stuff and cleanup
  services/app-web/src/components/ActionButton/ActionButton.tsx
  services/app-web/src/components/FileUpload/FileItemList/FileItemsList.test.tsx
  services/app-web/src/components/TealiumLogging/Button.tsx
  services/app-web/src/components/TealiumLogging/Link.tsx
  services/app-web/src/constants/index.ts
  services/app-web/src/contexts/TealiumContext.tsx
  services/app-web/src/hooks/useTealium.ts
  services/app-web/src/pages/App/App.tsx
  services/app-web/src/tealium/index.ts
  services/app-web/src/tealium/tealium.ts
  services/app-web/src/tealium/tealiumHelpers.ts
  services/app-web/src/testHelpers/jestHelpers.tsx
  services/app-web/src/testHelpers/tealiumHelpers.ts
Due: lint-app-web

draft ADR (#2553)
  docs/architectural-decision-records/027-vite-for-web-build.md
Due: none

change excludes
  services/app-api/esbuild.config.js
Due: none

update excludes
  services/app-api/esbuild.config.js
Due: none

revert
  services/app-api/esbuild.config.js
Due: none

remove old deps
  services/app-api/package.json
  yarn.lock
Due: none

remove webpack
  services/app-api/package.json
  services/app-api/webpack.config.js
Due: none

test without auto instrument
  services/app-api/package.json
  services/app-api/src/otel/otel_handler.ts
  yarn.lock
Due: lint-app-api

required here
  services/uploads/package.json
  yarn.lock
Due: none

Reimplement frontend code - calculate linked rates based on id comparison
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web

Backend validation - progress but tests failing
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.test.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
  services/app-web/src/gqlHelpers/contractsAndRates.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web, lint-app-api
