Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

remove deprecated language
  services/app-web/src/pages/StateSubmission/RateDetails/PackagesWithSharedRates.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
Due: lint-app-web

Fix issue with removing node and useTealium
  services/app-web/src/hooks/useTealium.ts
Due: lint-app-web

update state programs
  services/app-web/src/common-code/data/statePrograms.json
  services/app-web/src/localAuth/LocalLogin.tsx
Due: lint-app-web

fix api test
  services/app-api/src/resolvers/user/fetchCurrentUser.test.ts
Due: lint-app-api

Swap trace location in app.tsx
  services/app-web/src/pages/App/App.tsx
Due: lint-app-web

Change stage name array
  services/app-web/src/pages/App/App.tsx
Due: lint-app-web

cleanup
  services/app-web/src/contexts/TraceContext.tsx
Due: lint-app-web

MCR-4097 Fix frontend monitoring, add back error boundary fallback UI (#2433)
  .envrc
  README.md
  docs/Configuration.md
  docs/Technologies.md
  docs/technical-design/monitoring.md
  services/app-web/serverless.yml
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/components/PageHeading/PageHeading.module.scss
  services/app-web/src/components/PageHeading/PageHeading.stories.tsx
  services/app-web/src/components/PageHeading/PageHeading.test.tsx
  services/app-web/src/components/PageHeading/PageHeading.tsx
  services/app-web/src/components/PageHeading/index.ts
  services/app-web/src/components/index.ts
  services/app-web/src/configHelpers/envHelpers.ts
  services/app-web/src/hooks/useScript.ts
  services/app-web/src/hooks/useTealium.ts
  services/app-web/src/newRelic.ts
  services/app-web/src/pages/App/App.tsx
  services/app-web/src/pages/Errors/Error404Page.tsx
  services/app-web/src/pages/Errors/ErrorBoundaryRoot.tsx
  services/app-web/src/pages/Errors/ErrorFailedRequestPage.tsx
  services/app-web/src/pages/Errors/ErrorForbiddenPage.tsx
  services/app-web/src/pages/Errors/ErrorInvalidSubmissionStatusPage.tsx
  services/app-web/src/pages/Errors/GenericErrorPage.tsx
  services/app-web/src/pages/Settings/Settings.tsx
Due: lint-app-web

Create table for state programs
  services/app-api/prisma/migrations/20240517195439_create_state_program_table/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

add docs
  docs/technical-design/monitoring.md
Due: none

Some tests
  services/app-api/src/resolvers/rate/generateRateCertificationName.ts
Due: lint-app-api

Some tests
  services/app-api/src/resolvers/rate/generateRateCertificationName.test.ts
Due: lint-app-api

use proper env var now
  services/app-api/src/authn/thirdPartyAuthn.ts
Due: lint-app-api

add @types/jsonwebtoken to dev
  services/app-api/package.json
  yarn.lock
Due: none

bump qs
  services/app-web/package.json
  yarn.lock
Due: none

Fix local OTEL. Change OTEL to use tracer and ctx instead of span (#2447)
  .envrc
  docker-compose.yml
  docs/technical-design/monitoring.md
  otel-collector-config.yml
  services/app-api/package.json
  services/app-api/serverless.yml
  services/app-api/src/authn/thirdPartyAuthn.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/postgres_migrate.ts
  services/app-api/src/otel/otel_handler.ts
  services/app-api/src/resolvers/attributeHelper.ts
  services/app-api/src/resolvers/contract/fetchContract.ts
  services/app-api/src/resolvers/contract/updateContract.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.ts
  services/app-api/src/resolvers/email/fetchEmailSettings.ts
  services/app-api/src/resolvers/healthPlanPackage/createHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/fetchHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/healthPlanPackageResolver.ts
  services/app-api/src/resolvers/healthPlanPackage/indexHealthPlanPackages.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.ts
  services/app-api/src/resolvers/questionResponse/createQuestionResponse.ts
  services/app-api/src/resolvers/questionResponse/indexQuestions.ts
  services/app-api/src/resolvers/rate/fetchRate.ts
  services/app-api/src/resolvers/rate/indexRates.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-api/src/resolvers/rate/unlockRate.ts
  services/app-api/src/resolvers/user/fetchCurrentUser.ts
  services/app-api/src/resolvers/user/indexUsers.ts
  services/app-api/src/resolvers/user/updateCMSUser.ts
  services/app-web/package.json
  services/app-web/src/contexts/TraceContext.tsx
  services/app-web/src/pages/App/App.tsx
  yarn.lock
Due: lint-app-web, lint-app-api

Add rate number for admin users
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

add additional migration to relate statePrograms to states
  services/app-api/prisma/migrations/20240520225931_create_relation_to_stateCode_on_state_programs_table/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

additional pr fixes
  scripts/add_cypress_test_users.ts
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web

MCR-3903: Rate name does not include submission id (#2444)
  services/app-api/src/resolvers/contract/updateDraftContractRates.ts
  services/app-api/src/resolvers/rate/generateRateCertificationName.test.ts
  services/app-api/src/resolvers/rate/generateRateCertificationName.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
Due: lint-app-web, lint-app-api

temp skip test to deploy to review app
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
Due: lint-app-web

completely remove old programs this rate covers field on summary pages
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web

revert need to deprecate existing rateProgramIDs field
  services/app-api/prisma/migrations/20240515153923_deprecate_existing_rate_program_i_ds_column/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/parseContractAndRates.test.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/unlockRate.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.test.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-api/src/testHelpers/rateDataMocks.ts
  services/app-graphql/src/mutations/submitContract.graphql
  services/app-graphql/src/mutations/submitRate.graphql
  services/app-graphql/src/mutations/unlockRate.graphql
  services/app-graphql/src/mutations/updateDraftContractRates.graphql
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/rateDetailsHelpers.ts
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web, lint-app-api

add modified file with deprecatedRateProgramIDs no longer referenced
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web

MCR-4045: Create table for state programs (#2450)
  services/app-api/prisma/migrations/20240517195439_create_state_program_table/migration.sql
  services/app-api/prisma/migrations/20240520225931_create_relation_to_stateCode_on_state_programs_table/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

Ran lerna repair and updated json files.
  lerna.json
  nx.json
  package.json
Due: none

Add rate number for admin users (#2451)
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

Revert "add modified file with deprecatedRateProgramIDs no longer referenced"
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web

Revert "revert need to deprecate existing rateProgramIDs field"
  services/app-api/prisma/migrations/20240515153923_deprecate_existing_rate_program_i_ds_column/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/parseContractAndRates.test.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/unlockRate.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.test.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-api/src/testHelpers/rateDataMocks.ts
  services/app-graphql/src/mutations/submitContract.graphql
  services/app-graphql/src/mutations/submitRate.graphql
  services/app-graphql/src/mutations/unlockRate.graphql
  services/app-graphql/src/mutations/updateDraftContractRates.graphql
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/rateDetailsHelpers.ts
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web, lint-app-api

Revert "completely remove old programs this rate covers field on summary pages"
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web

group aws-sdk updates
  .github/dependabot.yml
Due: none

use groups instead
  .github/dependabot.yml
Due: none

add prisma grouping
  .github/dependabot.yml
Due: none

group otel
  .github/dependabot.yml
Due: none

change cf invalidate for vm2 vuln
  services/app-web/package.json
  services/app-web/serverless.yml
  yarn.lock
Due: none

Add back reverted changes for displaying programs field on rate summary page
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web

fix issue seen in review app for historic submisions
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
