Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

react infra then app
  .github/workflows/deploy-cdk.yml
  services/infra-cdk/bin/frontend-app.ts
  services/infra-cdk/bin/frontend-infra.ts
Due: none

move cognito up
  .github/workflows/deploy-cdk.yml
Due: none

zip cleanup
  docs/technical-design/creating-and-testing-endpoints.md
  services/app-api/serverless.yml
  services/app-api/src/handlers/bulk_download.ts
  services/app-api/src/handlers/migrate_document_zips.ts
  services/app-api/src/zip/generateZip.ts
Due: lint-app-api

proper refs for infra stack
  scripts/get-cdk-config.sh
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

updated imports, moved styling, removed v2 naming
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.module.scss
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/index.ts
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.test.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/index.ts
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

[MCR-5494] delete orphaned summary section components (#3600)
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.stories.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/index.ts
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.stories.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.stories.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.stories.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/index.ts
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.stories.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/index.ts
  services/app-web/src/components/index.ts
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContactsSummarySection.stories.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContactsSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContactsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContractDetailsSummarySection.stories.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContractDetailsSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContractDetailsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.module.scss
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.stories.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/index.ts
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.test.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/index.ts
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

template error
  services/app-api/serverless.yml
Due: none

Update sechub-jira-sync.yml
  .github/workflows/sechub-jira-sync.yml
Due: none

create migration for populating dateAdded field
  services/app-api/prisma/migrations/20250902183557_populate_date_added_for_contract_and_rate_docs/migration.sql
Due: none

Update lock file
  pnpm-lock.yaml
Due: none

fix imports for frontend-app
  services/infra-cdk/bin/frontend-app.ts
  services/infra-cdk/lib/stacks/frontend-app.ts
Due: none

Security Sync Fix (#3618)
  .github/workflows/sechub-jira-sync.yml
Due: none

run the migrations
  .github/workflows/deploy-cdk.yml
  services/infra-cdk/lib/stacks/app-api.ts
  services/infra-cdk/lib/stacks/postgres.ts
Due: none

move collector into bundle
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

Add id to Document type
  services/app-graphql/src/schema.graphql
Due: none

Clean up document and Q&A fragments
  services/app-graphql/src/fragments/documentFragment.graphql
  services/app-graphql/src/fragments/questionFragment.graphql
  services/app-graphql/src/fragments/questionResponseFragment.graphql
  services/app-graphql/src/fragments/questionsEdgeFragment.graphql
  services/app-graphql/src/mutations/createContractQuestion.graphql
  services/app-graphql/src/mutations/createContractQuestionResponse.graphql
  services/app-graphql/src/mutations/createRateQuestion.graphql
  services/app-graphql/src/mutations/createRateQuestionResponse.graphql
Due: none

Add id to documents of Q&A domain types.
  services/app-api/src/domain-models/QuestionResponseType.ts
  services/app-api/src/domain-models/QuestionsType.ts
Due: lint-app-api

Update mocks
  packages/mocks/src/apollo/contractPackageDataMock.ts
  packages/mocks/src/apollo/documentDataMock.ts
  packages/mocks/src/apollo/questionResponseDataMocks.ts
  packages/mocks/src/apollo/rateDataMock.ts
Due: none

Update tests
  services/app-api/src/postgres/questionResponse/insertContractQuestionResponse.ts
  services/app-api/src/resolvers/contract/contractResolver.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/questionResolver.test.ts
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.test.ts
Due: lint-app-api

Clean up Q&A domain types.
  services/app-api/src/domain-models/QuestionResponseType.ts
  services/app-api/src/domain-models/QuestionsType.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/questionResponse/findAllQuestionsByContract.ts
  services/app-api/src/postgres/questionResponse/findAllQuestionsByRate.ts
  services/app-api/src/postgres/questionResponse/insertContractQuestion.ts
  services/app-api/src/postgres/questionResponse/insertRateQuestion.ts
  services/app-api/src/postgres/questionResponse/insertRateQuestionResponse.ts
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.ts
Due: lint-app-api

Update mock
  packages/mocks/src/apollo/questionResponseGQLMock.ts
Due: none

Make document id optional
  services/app-graphql/src/schema.graphql
  services/app-web/src/hooks/useDocument.tsx
Due: lint-app-web

Fix link styling
  services/app-web/src/components/ZipDownloadLink/ZipDownloadLink.module.scss
  services/app-web/src/components/ZipDownloadLink/ZipDownloadLink.tsx
Due: lint-app-web

get vals from ssm
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

proper fallback
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

Add line height for word wrapping
  services/app-web/src/components/SectionHeader/SectionHeader.module.scss
Due: lint-app-web

remove helper functions
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
Due: lint-app-api

external module
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

try paths
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

delete migration
  services/app-api/prisma/migrations/20250902183557_populate_date_added_for_contract_and_rate_docs/migration.sql
Due: none

test nodeModules
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

extract
  .github/workflows/deploy-cdk.yml
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

remove unused outputs
  .github/workflows/deploy-cdk.yml
Due: none

add cypress in
  .github/workflows/deploy-cdk.yml
Due: none

refactor naming
  .github/workflows/deploy-cdk.yml
  services/infra-cdk/bin/app-api.ts
  services/infra-cdk/bin/cognito.ts
  services/infra-cdk/bin/network.ts
  services/infra-cdk/bin/postgres.ts
  services/infra-cdk/lib/config/shared.ts
Due: none

Add four new programs to TN
  packages/hpp/src/data/statePrograms.json
Due: none

Add four new programs to TN (#3629)
  packages/hpp/src/data/statePrograms.json
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
