Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Match styles to Figma for all tables
  services/app-web/src/components/Tabs/Tabs.module.scss
  services/app-web/src/pages/Settings/CMSUsersTable/CMSUsersTable.tsx
  services/app-web/src/pages/Settings/EmailSettingsTables/EmailSettingsTables.tsx
  services/app-web/src/pages/Settings/Settings.module.scss
  services/app-web/src/pages/Settings/Settings.tsx
  services/app-web/src/pages/Settings/SettingsErrorAlert.tsx
Due: lint-app-web

Add tests
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/testHelpers/apolloMocks/emailGQLMock.ts
Due: lint-app-web

cleanup
  services/app-web/src/pages/Settings/SettingsErrorAlert.tsx
  services/app-web/src/testHelpers/apolloMocks/emailGQLMock.ts
Due: lint-app-web

update types
  services/app-graphql/src/queries/indexUsers.graphql
  services/app-graphql/src/schema.graphql
Due: none

add types
  .vscode/tasks.json
  services/app-api/prisma/schema.prisma
  services/app-api/src/authn/cognitoAuthn.ts
  services/app-api/src/domain-models/UserType.d.ts
  services/app-api/src/postgres/user/prismaDomainUser.ts
  services/app-web/src/localAuth/LocalUserType.ts
Due: lint-app-web, lint-app-api

divisionAssignment migration
  services/app-api/prisma/migrations/20230322140639_add_division_assignment/migration.sql
Due: none

Fix error message typo
  services/app-api/src/resolvers/email/fetchEmailSettings.ts
Due: lint-app-api

checkout av def file cleaning
  services/uploads/src/lib/updateAVDefinitions.ts
Due: none

add stage to env
  services/uploads/serverless.yml
Due: none

missing env vars
  services/uploads/serverless.yml
Due: none

remove the files
  services/uploads/src/lib/updateAVDefinitions.ts
Due: none

fix tagset value. invalid chars.
  services/uploads/src/deps/clamAV/clamAV.ts
Due: none

guess ',' isn't allowed either
  services/uploads/src/deps/clamAV/clamAV.ts
Due: none

cleanup
  services/uploads/src/lib/updateAVDefinitions.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: none

Throw GraphQL errors when sending emails failed.
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.ts
Due: lint-app-api

Refactor modifying cache after creating new package.
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Cleanup
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Do not allow email errors to block submit/resubmit/unlock.
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
Due: lint-app-web

Updating mock failures and make hardcoded graphql errors.
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/constants/errors.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanPackageGQLMock.ts
Due: lint-app-web

Get recent styles work using new variables
  services/app-web/.storybook/main.js
  services/app-web/package.json
  services/app-web/src/pages/GraphQLExplorer/GraphQLExplorer.module.scss
  services/app-web/src/pages/QuestionResponse/QATable/QATable.module.scss
  services/app-web/src/pages/QuestionResponse/QuestionResponse.module.scss
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.module.scss
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  yarn.lock
Due: lint-app-web

Fix test typo
  services/app-api/src/resolvers/email/fetchEmailSettings.test.ts
Due: lint-app-api

updating with division assignment
  docs/technical-design/creating-endpoints.md
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/user/updateUserAssignedState.ts
  services/app-api/src/resolvers/user/updateCMSUser.ts
  services/app-graphql/src/mutations/updateCMSUser.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/localAuth/LocalUserType.ts
Due: lint-app-web, lint-app-api

Update Apollo Explorer tool section for the embedded version.
  docs/technical-design/creating-endpoints.md
Due: none

Fix grammar and formatting.
  docs/technical-design/creating-endpoints.md
Due: none

fixes in layer :2
  services/uploads/serverless.yml
Due: none

try default config
  services/uploads/src/lambdas/avDownloadDefinitions.ts
  services/uploads/src/lambdas/avScan.ts
  services/uploads/src/lib/otel.ts
Due: none

add type check to resolver
  services/app-api/src/domain-models/DivisionType.d.ts
  services/app-api/src/domain-models/division.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/resolvers/user/updateCMSUser.ts
Due: lint-app-api

rename update method
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/user/index.ts
  services/app-api/src/postgres/user/updateCmsUserProperties.ts
  services/app-api/src/resolvers/user/updateCMSUser.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

Move apollo error codes to testHelpers.
  services/app-web/src/constants/errors.ts
  services/app-web/src/testHelpers/apolloMocks/apolloErrorCodeMocks.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanPackageGQLMock.ts
Due: lint-app-web

TMPCMT
  services/app-api/prisma/migrations/20230314231756_add_rates_tables/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/postgres/contractAndRates/rates.test.ts
  services/app-api/src/postgres/contractAndRates/rates.ts
Due: lint-app-api

call succeeds component hangs
  services/app-api/src/resolvers/user/updateCMSUser.ts
  services/app-web/src/pages/Settings/CMSUsersTable/CMSUsersTable.tsx
Due: lint-app-web, lint-app-api

fix promote
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
Due: none

MR-3116: Email errors should not block submit, unlock and resubmit to complete. (#1565)
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.ts
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
  services/app-web/src/constants/errors.ts
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/testHelpers/apolloMocks/apolloErrorCodeMocks.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanPackageGQLMock.ts
Due: lint-app-web, lint-app-api

fix promote (#1570)
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
