Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

MCR-6076 Do not display D-SNP question for CHIP only submissions (#4348)
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.test.ts
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.ts
  services/app-api/src/resolvers/contract/updateContractDraftRevision.test.ts
  services/app-api/src/resolvers/contract/updateContractDraftRevision.ts
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ContractDetails/ContractDetailsSchema.ts
Due: lint-app-web, lint-app-api

bump version.
  .github/dependabot.yml
  pnpm-lock.yaml
  services/infra-cdk/package.json
Due: none

modify route from contactus to contact-us
  packages/constants/src/routes.ts
  services/app-web/src/pages/App/AppRoutes.test.tsx
Due: lint-app-web

add feature flag for resources nav bar and pages
  packages/common-code/src/featureFlags/flags.ts
Due: none

add rate array query
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.test.ts
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.ts
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-api/src/resolvers/rate/indexRates.ts
Due: lint-app-api

MCR-6103: Update submit contract resolver for chip only submissions (#4347)
  services/app-api/src/emailer/emails/__snapshots__/unlockContractStateEmail.test.ts.snap
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.test.ts
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web, lint-app-api

assert only those rates came back
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.test.ts
  services/app-api/src/resolvers/rate/indexRates.test.ts
Due: lint-app-api

MCR-6115: update ma programs nickname and add storybook components (#4354)
  packages/submissions/src/statePrograms/statePrograms.json
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.stories.tsx
Due: lint-app-web

add to api changelog
  API_Changelog.md
Due: none

add feature flag for resources pages and nav bar mcr-6200
  packages/common-code/src/featureFlags/flags.ts
Due: none

Add query to support rate arrays (#4359)
  API_Changelog.md
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.test.ts
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.ts
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-api/src/resolvers/rate/indexRates.ts
Due: lint-app-api

fix capitalization in routes
  packages/constants/src/routes.ts
Due: none

add query for updated since date
  API_Changelog.md
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.test.ts
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.ts
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-api/src/resolvers/rate/indexRates.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

updated since on revisions
  API_Changelog.md
  services/app-api/src/postgres/contractAndRates/findAllRatesStripped.ts
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.ts
  services/app-api/src/resolvers/rate/indexRatesStripped.ts
Due: lint-app-api

add resubmit test
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.test.ts
Due: lint-app-api

address copilot
  services/app-api/src/postgres/contractAndRates/findAllRatesStripped.test.ts
  services/app-api/src/postgres/contractAndRates/findAllRatesStripped.ts
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.ts
  services/app-api/src/resolvers/rate/indexRates.ts
  services/app-api/src/resolvers/rate/indexRatesStripped.test.ts
  services/app-api/src/resolvers/rate/indexRatesStripped.ts
Due: lint-app-api

address review status action
  services/app-api/src/postgres/contractAndRates/findAllRatesStripped.ts
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.test.ts
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.ts
Due: lint-app-api

place resources pages behind feature flag
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/tealium/constants.ts
Due: lint-app-web

simplify renderUniversalRoutes
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

MCR-6087 Add placeholder pages and routing for Contact us and Resources pages (#4353)
  packages/common-code/src/featureFlags/flags.ts
  packages/constants/src/routes.ts
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/ContactUs/ContactUs.tsx
  services/app-web/src/pages/Resources/Resources.tsx
  services/app-web/src/tealium/constants.ts
Due: lint-app-web

Upgrade to 18.3.1 to get ready for 19 migration.
  packages/otel/package.json
  pnpm-lock.yaml
  services/app-web/package.json
  services/local-launch-darkly/package.json
Due: none

Update test to no longer use deprecated dep
  services/app-web/src/components/FileUpload/FileItemList/FileItemsList.test.tsx
  services/app-web/src/components/FileUpload/FileItemList/__snapshots__/FileItemsList.test.tsx.snap
Due: lint-app-web

AIFA-038: Confirm document metadata and PDF eligibility rules
  docs/ai-validation-poc-brief.md
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/app-api/src/resolvers/validation/validationDocumentEligibility.test.ts
  services/app-api/src/resolvers/validation/validationDocumentEligibility.ts
Due: lint-app-api

Refactor otel logging with wrapper and fix log name.
  services/app-api/src/resolvers/contract/undoWithdrawContract.ts
  services/app-api/src/resolvers/contract/withdrawContract.ts
Due: lint-app-api

AIFA-039: Add prod-shaped large-submission evaluation fixture
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/evaluation/dateValidationCorpus.test.ts
  services/ai-form-augmentation/src/evaluation/dateValidationCorpus.ts
  services/ai-form-augmentation/src/evaluation/dateValidationEvaluation.ts
  services/ai-form-augmentation/src/evaluation/index.ts
  services/ai-form-augmentation/src/evaluation/runDateValidationEvaluation.test.ts
  services/ai-form-augmentation/src/evaluation/runDateValidationEvaluation.ts
  services/ai-form-augmentation/src/handlers/index.ts
  services/ai-form-augmentation/src/handlers/validationHandler.ts
Due: none

Add unit tests
  services/app-api/src/resolvers/contract/undoWithdrawContract.test.ts
  services/app-api/src/resolvers/contract/withdrawContract.test.ts
Due: lint-app-api

Add withdraw and undo withdraw buttons to page. Add unit tests
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.tsx
Due: lint-app-web

AIFA-040: Filter unsupported validation documents before worker execution
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/app-api/src/resolvers/validation/triggerValidation.test.ts
  services/app-api/src/resolvers/validation/triggerValidation.ts
  services/app-api/src/resolvers/validation/validationDocumentEligibility.ts
  services/app-api/src/resolvers/validation/validationDocumentKeys.ts
Due: lint-app-api

Update packages
  packages/otel/package.json
  services/app-web/package.json
  services/local-launch-darkly/package.json
Due: none

Remove breaking change
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/DatePicker.tsx
Due: lint-app-web

Add unit test
  services/app-api/src/resolvers/contract/withdrawContract.test.ts
Due: lint-app-api

AIFA-041: Add document-level failure isolation and processing diagnostics
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/handlers/validationHandler.ts
  services/ai-form-augmentation/src/index.ts
  services/ai-form-augmentation/src/results/index.ts
  services/ai-form-augmentation/src/results/validationResultArtifact.test.ts
  services/ai-form-augmentation/src/results/validationResultArtifact.ts
  services/ai-form-augmentation/src/status/statusArtifact.test.ts
  services/ai-form-augmentation/src/status/statusArtifact.ts
  services/app-api/src/resolvers/validation/triggerValidation.test.ts
  services/app-api/src/resolvers/validation/triggerValidation.ts
Due: lint-app-api

AIFA-042: Add bounded document indexing concurrency
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/evaluation/dateValidationEvaluation.ts
  services/ai-form-augmentation/src/evaluation/runDateValidationEvaluation.test.ts
  services/ai-form-augmentation/src/evaluation/runDateValidationEvaluation.ts
  services/ai-form-augmentation/src/handlers/index.ts
  services/ai-form-augmentation/src/handlers/validationHandler.test.ts
  services/ai-form-augmentation/src/handlers/validationHandler.ts
Due: none

AIFA-043: Add large-batch OCR safety valve
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/evaluation/dateValidationEvaluation.ts
  services/ai-form-augmentation/src/evaluation/runDateValidationEvaluation.test.ts
  services/ai-form-augmentation/src/evaluation/runDateValidationEvaluation.ts
  services/ai-form-augmentation/src/handlers/validationHandler.test.ts
  services/ai-form-augmentation/src/handlers/validationHandler.ts
  services/ai-form-augmentation/src/parsing/index.ts
  services/ai-form-augmentation/src/parsing/localOcrPdfExtractor.ts
  services/ai-form-augmentation/src/parsing/pdfParser.ts
  services/ai-form-augmentation/src/parsing/pdfTextExtractor.ts
  services/ai-form-augmentation/src/parsing/types.ts
  services/ai-form-augmentation/src/results/validationResultArtifact.ts
Due: none

Upgrade react-uswds, uswds and focus-trap-react
  pnpm-lock.yaml
  services/app-web/package.json
Due: none

Configure vite for uswds v3
  services/app-web/lint-staged.config.js
  services/app-web/src/index.scss
  services/app-web/src/styles/overrides.scss
  services/app-web/src/styles/uswdsImports.scss
  services/app-web/src/styles/uswdsSettings.scss
  services/app-web/vite.config.ts
Due: lint-app-web

Update types
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/DatePicker.stories.tsx
  services/app-web/src/components/Form/CustomDateRangePicker/CustomDateRangePicker.tsx
  services/app-web/src/components/Form/FieldCharacterCount/FieldCharacterCount.test.tsx
  services/app-web/src/components/Form/FieldCharacterCount/FieldCharacterCount.tsx
  services/app-web/src/components/Form/FieldDropdown/FieldDropdown.tsx
  services/app-web/src/components/Modal/Modal.tsx
  services/app-web/src/components/MultiColumnGrid/MultiColumnGrid.tsx
  services/app-web/src/components/TealiumLogging/Link.tsx
  services/app-web/src/localAuth/AddLocalUser.tsx
  services/app-web/src/pages/Auth/ConfirmSignUp.tsx
  services/app-web/src/pages/Auth/Login.tsx
  services/app-web/src/pages/Auth/Signup.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestionsForm.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponseForm.tsx
  services/app-web/src/pages/RateWithdraw/RateWithdraw.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
  services/app-web/src/pages/Settings/Oauth/CreateOauthClient.tsx
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROContractDetails/EQROContractDetails.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/SharedSubmissionComponents/NewSubmissionForm/NewSubmissionForm.tsx
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
  services/app-web/src/pages/SubmissionWithdraw/SubmissionWithdraw.tsx
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.tsx
  services/app-web/src/pages/UndoSubmissionWithdraw/UndoSubmissionWithdraw.tsx
Due: lint-app-web
