Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Add useErrorSummary hook, start to add error handling to UploadQuestions
  services/app-web/src/hooks/useErrorSummary.ts
  services/app-web/src/hooks/useFileUpload.ts
  services/app-web/src/pages/QuestionsAnswers/UploadQuestions/UploadQuestions.tsx
Due: lint-app-web

Both API and client-side should fail for attempting to add question with zero files.
  services/app-api/src/resolvers/questionAnswers/createQuestion.ts
  services/app-web/src/pages/QuestionsAnswers/UploadQuestions/UploadQuestions.tsx
Due: lint-app-web, lint-app-api

Add styles
  services/app-web/src/pages/QuestionsAnswers/UploadQuestions/UploadQuestions.module.scss
  services/app-web/src/pages/QuestionsAnswers/UploadQuestions/UploadQuestions.tsx
Due: lint-app-web

try non-virus
  tests/cypress/integration/stateWorkflow/virusScan/virusScan.spec.ts
Due: none

bump layer version
  services/app-api/serverless.yml
Due: none

fix up otel package versions
  services/app-api/package.json
  services/app-web/package.json
  yarn.lock
Due: none

virus again
  tests/cypress/integration/stateWorkflow/virusScan/virusScan.spec.ts
Due: none

tweak tests
  package.json
  services/uploads/jest.config.ts
  services/uploads/src/jestGlobalSetup.ts
  test.sh
Due: none

match packages to otel layer
  services/app-api/package.json
  services/app-web/package.json
  yarn.lock
Due: none

change batch span processor
  services/app-web/package.json
  services/app-web/src/contexts/TraceContext.tsx
Due: lint-app-web

compare file hash
  services/uploads/src/clamAV.ts
  services/uploads/src/s3.ts
Due: none

add error handling k Please enter the commit message for your changes. Lines starting
  services/app-api/src/handlers/otel_proxy.ts
Due: lint-app-api

change collector address
  services/app-api/collector.yml
Due: none

fix collector config
  services/app-api/collector.yml
Due: none

new layers just released
  services/app-api/serverless.yml
  services/uploads/serverless.yml
Due: none

bump packages for latest layer
  services/app-api/package.json
  services/app-web/package.json
  yarn.lock
Due: none

Add basic tests
  services/app-web/src/pages/QuestionsAnswers/UploadQuestions/UploadQuestions.test.tsx
  services/app-web/src/pages/QuestionsAnswers/UploadQuestions/UploadQuestions.tsx
  services/app-web/src/testHelpers/apolloMocks/questionAnswerGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/userGQLMock.ts
Due: lint-app-web

add processors
  services/app-api/collector.yml
Due: none

fix missing path
  services/uploads/src/deps/clamAV/clamAV.test.ts
  services/uploads/src/jestGlobalSetup.ts
Due: none

increase timeout
  services/uploads/jest.config.ts
Due: none

syntax?
  services/app-api/collector.yml
Due: none

aws being weird
  otel-collector-config.yml
  services/app-api/collector.yml
Due: none

change extensions
  services/app-api/collector.yml
Due: none

sha in web upload
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
Due: lint-app-web

Add back check for data !== undefined
  services/app-web/src/pages/QuestionsAnswers/UploadQuestions/UploadQuestions.tsx
Due: lint-app-web

batch unsupported
  otel-collector-config.yml
  services/app-api/collector.yml
Due: none

Try SimpleSpanProcessor on web
  services/app-web/src/contexts/TraceContext.tsx
Due: lint-app-web

debug a little
  services/app-api/src/handlers/otel_proxy.ts
Due: lint-app-api

console info
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
Due: lint-app-web

move config
  services/app-web/serverless.yml
Due: none

Test out if we can configure buckets on demand for amplify
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web

otel proxy
  services/app-api/serverless.yml
Due: none

Add permissions for qa bucket in app-api serverless
  services/app-api/serverless.yml
Due: none

try batch again
  services/app-api/src/handlers/otel_proxy.ts
  services/app-web/src/contexts/TraceContext.tsx
Due: lint-app-web, lint-app-api

use simplespan. batch fails
  services/app-web/src/contexts/TraceContext.tsx
Due: lint-app-web

log sha to ui
  services/app-web/src/components/FileUpload/FileUpload.tsx
Due: lint-app-web

add qa uploads to ui-auth
  services/ui-auth/serverless.yml
Due: none

the arn not the name
  services/ui-auth/serverless.yml
Due: none

wip
  services/app-web/src/components/SubmissionSummarySection/SupportingDocumentsSummarySection/SupportingDocumentsSummarySection.tsx
  services/app-web/src/contexts/S3Context.tsx
  services/app-web/src/index.tsx
  services/app-web/src/pages/QuestionsAnswers/UploadQuestions/UploadQuestions.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/s3/s3Amplify.ts
  services/app-web/src/s3/s3Client.d.ts
  services/app-web/src/s3/s3Local.ts
Due: lint-app-web

Fix up last usage of s3 functions to also handle bucketname
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/index.tsx
Due: lint-app-web
