Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Copy changes.
  services/app-web/src/pages/QuestionResponse/QuestionResponse.tsx
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/SettingsTables/DivisionAssignmentTable.tsx
Due: lint-app-web

Remove settings link for State users and add tests.
  services/app-web/src/components/Header/Header.test.tsx
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.tsx
Due: lint-app-web

MCR-4262: cms and admin see link to email settings in header (#2740)
  services/app-web/src/components/Header/Header.module.scss
  services/app-web/src/components/Header/Header.test.tsx
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.tsx
  services/cypress/integration/stateWorkflow/login/login.spec.ts
  services/cypress/support/loginCommands.ts
Due: lint-app-web

Refactor cognitoAuth to return Errors, unify logout handling for various cases
  services/app-web/src/components/Header/Header.tsx
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/contexts/S3Context.tsx
  services/app-web/src/localAuth/LocalLogin.tsx
  services/app-web/src/pages/Auth/Auth.test.tsx
  services/app-web/src/pages/Auth/Login.test.tsx
  services/app-web/src/pages/Auth/Login.tsx
  services/app-web/src/pages/Auth/Signup.tsx
  services/app-web/src/pages/Auth/cognitoAuth.ts
  services/app-web/src/pages/Landing/Landing.test.tsx
  services/app-web/src/pages/Landing/Landing.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

Pull change off prod, keep on lower env
  services/app-web/src/tealium/tealium.ts
Due: lint-app-web

make modal close more snappy
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

cleanup
  services/app-web/src/pages/Auth/cognitoAuth.ts
Due: lint-app-web

Don't allow continue session if timer elapsed (but logout failed due to machine sleep
  services/app-web/src/components/Modal/SessionTimeoutModal.tsx
Due: lint-app-web

Also update copy when session expired but modal still open
  services/app-web/src/components/Modal/SessionTimeoutModal.tsx
Due: lint-app-web

Pull change off prod, keep on lower env (#2748)
  services/app-web/src/tealium/tealium.ts
Due: lint-app-web

add contract API to state dashboard. update unit test
  services/app-web/src/components/ContractTable/ContractTable.module.scss
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/components/ContractTable/index.ts
  services/app-web/src/components/index.ts
  services/app-web/src/pages/StateDashboard/StateDashboard.test.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web

update cypress
  services/cypress/support/commands.ts
  services/cypress/support/loginCommands.ts
Due: none

fix unit test
  services/app-web/src/pages/App/AppRoutes.test.tsx
Due: lint-app-web

MCR-3849 Fix session timeout (#2719)
  docs/technical-design/feature-brief-session-expiration.md
  docs/technical-design/tealium-logging.md
  pnpm-lock.yaml
  services/app-web/package.json
  services/app-web/src/components/Header/Header.test.tsx
  services/app-web/src/components/Header/Header.tsx
  services/app-web/src/components/Modal/Modal.module.scss
  services/app-web/src/components/Modal/Modal.test.tsx
  services/app-web/src/components/Modal/Modal.tsx
  services/app-web/src/components/Modal/ModalOpenButton/ModalOpenButton.test.tsx
  services/app-web/src/components/Modal/ModalOpenButton/ModalOpenButton.tsx
  services/app-web/src/components/Modal/SessionTimeoutModal.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.module.scss
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
  services/app-web/src/components/Modal/index.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/UnlockRateButton.tsx
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/contexts/PageContext.tsx
  services/app-web/src/contexts/S3Context.tsx
  services/app-web/src/localAuth/LocalLogin.tsx
  services/app-web/src/pages/App/App.tsx
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/Auth/Auth.test.tsx
  services/app-web/src/pages/Auth/Login.test.tsx
  services/app-web/src/pages/Auth/Login.tsx
  services/app-web/src/pages/Auth/Signup.tsx
  services/app-web/src/pages/Auth/cognitoAuth.ts
  services/app-web/src/pages/Landing/Landing.test.tsx
  services/app-web/src/pages/Landing/Landing.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

disable introspec and apollo browser in val/prod
  services/app-api/src/handlers/apollo_gql.ts
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web, lint-app-api

fix banner bug
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/pages/Auth/cognitoAuth.ts
Due: lint-app-web

func to determine if gql explorer allowed
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

fix banner bug (#2754)
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/pages/Auth/cognitoAuth.ts
Due: lint-app-web

try to disable admin create user in prod/val
  services/ui-auth/serverless.yml
Due: none

MCR-4265 & MCR-4268: cms or admin can select an analyst to assign to a state (#2746)
  services/app-web/src/components/FormContainer/FormContainer.module.scss
  services/app-web/src/components/Select/FieldSelect/FieldSelect.test.tsx
  services/app-web/src/components/Select/FieldSelect/FieldSelect.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.module.scss
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.test.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/testHelpers/apolloMocks/userGQLMock.ts
Due: lint-app-web

Copy changes. (#2747)
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/SettingsTables/DivisionAssignmentTable.tsx
Due: lint-app-web

Disable Apollo Browser and introspection queries in val (#2753)
  services/app-api/src/handlers/apollo_gql.ts
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web, lint-app-api

fix lockfile for dependabot
  pnpm-lock.yaml
Due: none

test in this branch
  services/ui-auth/serverless.yml
Due: none

use indexContracts API for submissions dashboard
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
Due: lint-app-web, lint-app-api

update unit test
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
Due: lint-app-web

replace healthplanpackagetable with contract table fully
  services/app-web/src/components/ContractTable/ContractTable.stories.tsx
  services/app-web/src/components/ContractTable/ContractTable.test.tsx
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.module.scss
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/components/HealthPlanPackageTable/index.ts
Due: lint-app-web

update cypress
  services/cypress/support/loginCommands.ts
Due: none

use contract api mock in app routes test
  services/app-web/src/pages/App/AppRoutes.test.tsx
Due: lint-app-web

fix imports
  services/app-web/src/components/index.ts
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

fix import
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
Due: lint-app-web

add new state assignments by state api
  services/app-api/src/postgres/postgresErrors.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/state/updateStateAssignedUsers.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.test.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/mutations/updateStateAssignmentsByState.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

MCR-4139: add contract API to state dashboard (#2752)
  services/app-web/src/components/ContractTable/ContractTable.module.scss
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/components/ContractTable/index.ts
  services/app-web/src/components/index.ts
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.test.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/cypress/support/commands.ts
  services/cypress/support/loginCommands.ts
Due: lint-app-web

update non prod urls
  services/app-web/src/tealium/tealium.ts
Due: lint-app-web

update urls
  services/app-web/src/tealium/tealium.ts
Due: lint-app-web

add temp logging
  services/app-web/src/tealium/tealium.ts
Due: lint-app-web

remove logging
  services/app-web/src/tealium/tealium.ts
Due: lint-app-web

fix import issue, other unit test issue wip
  services/app-web/src/components/index.ts
Due: lint-app-web

fix up old tests to be more strict
  services/app-api/src/resolvers/user/updateStateAssignment.test.ts
Due: lint-app-api
