Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

fix initial loading issue
  services/app-web/src/hooks/useContractForm.ts
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

fix commented out test
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
Due: lint-app-web

code clean up
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

add auto instrument
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-api/src/otel/otel_handler.ts
Due: lint-app-api

fix remaining skipped test
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.test.tsx
Due: lint-app-web

styles cleanup
  services/app-web/src/components/FormContainer/FormContainer.module.scss
  services/app-web/src/components/FormContainer/FormContainer.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRate.module.scss
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

revert changes
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
Due: lint-app-web

downcase extensions uploaded with ALLCAPS
  services/app-web/src/components/FileUpload/FileUpload.tsx
Due: lint-app-web

downcase the ext in the s3Amplify client
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web

Downcase file extensions uploaded with ALLCAPS (#2664)
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web

Add more user data to updatedBy in GraphQL schema.
  services/app-graphql/src/mutations/createContract.graphql
  services/app-graphql/src/mutations/createHealthPlanPackage.graphql
  services/app-graphql/src/mutations/submitContract.graphql
  services/app-graphql/src/mutations/submitHealthPlanPackage.graphql
  services/app-graphql/src/mutations/submitRate.graphql
  services/app-graphql/src/mutations/unlockContract.graphql
  services/app-graphql/src/mutations/unlockHealthPlanPackage.graphql
  services/app-graphql/src/mutations/unlockRate.graphql
  services/app-graphql/src/mutations/updateContract.graphql
  services/app-graphql/src/mutations/updateContractDraftRevision.graphql
  services/app-graphql/src/mutations/updateDraftContractRates.graphql
  services/app-graphql/src/mutations/updateHealthPlanFormData.graphql
  services/app-graphql/src/mutations/withdrawAndReplaceRedundantRate.graphql
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/queries/fetchContractWithQuestions.graphql
  services/app-graphql/src/queries/fetchHealthPlanPackage.graphql
  services/app-graphql/src/queries/fetchHealthPlanPackageWithQuestions.graphql
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/queries/indexContracts.graphql
  services/app-graphql/src/queries/indexHealthPlanPackages.graphql
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
Due: none

Refactor user schemas.
  services/app-api/src/domain-models/UserType.ts
Due: lint-app-api

Update updateInfo type
  services/app-api/src/domain-models/HealthPlanPackageType.ts
  services/app-api/src/domain-models/contractAndRates/updateInfoType.ts
Due: lint-app-api

Update resolvers, helpers and emailers.
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/healthPlanPackage.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/unlockContractCMSEmail.ts
  services/app-api/src/emailer/emails/unlockContractStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/replaceRateOnContract.ts
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/postgres/contractAndRates/submitRate.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.ts
Due: lint-app-api

Fix api tests
  services/app-api/src/domain-models/QuestionResponseType.ts
  services/app-api/src/domain-models/QuestionsType.ts
  services/app-api/src/domain-models/healthPlanPackage.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockContractCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockContractStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/resolvers/contract/withdrawAndReplaceRedundantRate.test.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
Due: lint-app-api

Add helper and update mocks
  services/app-web/src/components/Banner/index.ts
  services/app-web/src/gqlHelpers/index.ts
  services/app-web/src/gqlHelpers/userHelpers.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanPackageGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web

Refactor banners to take less props and display updatedby name.
  services/app-web/src/components/Banner/RateWithdrawnBanner/RateWithdrawnBanner.tsx
  services/app-web/src/components/Banner/SubmissionUnlockedBanner/SubmissionUnlockedBanner.stories.tsx
  services/app-web/src/components/Banner/SubmissionUnlockedBanner/SubmissionUnlockedBanner.test.tsx
  services/app-web/src/components/Banner/SubmissionUnlockedBanner/SubmissionUnlockedBanner.tsx
  services/app-web/src/components/Banner/SubmissionUpdatedBanner/SubmissionUpdatedBanner.stories.tsx
  services/app-web/src/components/Banner/SubmissionUpdatedBanner/SubmissionUpdatedBanner.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/StateSubmission/PageBannerAlerts.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Display updatedBy name based on user role.
  services/app-web/src/components/ChangeHistory/ChangeHistoryV2.tsx
Due: lint-app-web

Add test for Change history
  services/app-web/src/components/ChangeHistory/ChangeHistory.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web

moving packages
  pnpm-lock.yaml
  services/app-web/package.json
  services/infra-api/package.json
  services/postgres/package.json
  services/ui-auth/package.json
Due: none

update ContractDetails page to use contract API
  services/app-web/src/hooks/useContractForm.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

move packages. bump husky
  package.json
  pnpm-lock.yaml
  services/cypress/package.json
Due: none

More small tweaks
  services/app-api/src/resolvers/rate/generateRateCertificationName.ts
  services/app-web/src/pages/LinkYourRates/LinkRateSelect/LinkRateSelect.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRate.module.scss
Due: lint-app-web, lint-app-api

get all tests passing
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/submitContractAndOrRates.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractRates.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.ts
Due: lint-app-api

cleanup
  services/app-web/src/pages/ReplaceRate/ReplaceRate.module.scss
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
Due: lint-app-web

add typescript-eslint matches
  .github/dependabot.yml
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-web/package.json
Due: none

missing types
  pnpm-lock.yaml
  services/app-web/package.json
Due: none

add cypress for types where needed
  pnpm-lock.yaml
  services/app-web/package.json
Due: none

add dso metrics action
  .github/workflows/send-dso-metrics.yml
Due: none

add unit test data
  .github/workflows/send-dso-metrics.yml
Due: none

get role correct
  .github/workflows/send-dso-metrics.yml
Due: none

missing cypress package here
  package.json
  pnpm-lock.yaml
Due: none

Use the same mailto helpdesk string across banners
  services/app-web/src/components/Banner/DocumentWarningBanner/DocumentWarningBanner.tsx
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlert.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertFailedRequest.tsx
  services/app-web/src/components/Footer/Footer.tsx
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.test.tsx
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.tsx
  services/app-web/src/hooks/useStringConstants.ts
  services/app-web/src/pages/Errors/GenericErrorPage.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.tsx
Due: lint-app-web

Remove flag
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponse.test.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.test.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Clean up lint errors in app-web
  services/app-web/src/components/Banner/DocumentWarningBanner/DocumentWarningBanner.tsx
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.tsx
  services/app-web/src/components/Banner/UserAccountWarningBanner/UserAccountWarningBanner.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlert.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertFailedRequest.tsx
  services/app-web/src/components/FileUpload/UploadErrorAlert/UploadErrorAlert.tsx
  services/app-web/src/components/PoliteErrorMessage/PoliteErrorMessage.tsx
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/contexts/TealiumContext.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponse.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/tealium/tealium.ts
Due: lint-app-web

Add fetchMcReviewSettings, rename updateCMSUser.
  services/app-graphql/src/mutations/updateDivisionAssignment.graphql
  services/app-graphql/src/mutations/updateStateAssignments.graphql
  services/app-graphql/src/queries/fetchMcReviewSettings.graphql
  services/app-graphql/src/schema.graphql
Due: none

Rename updateCMSUser to updateDivisionAssignment.
  services/app-api/src/resolvers/user/updateDivisionAssignment.test.ts
  services/app-api/src/resolvers/user/updateDivisionAssignment.ts
  services/app-web/src/gqlHelpers/updateDivisionAssignment.ts
Due: lint-app-web, lint-app-api

Add two new resolvers.
  services/app-api/src/domain-models/index.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.test.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.ts
  services/app-api/src/resolvers/settings/index.ts
  services/app-api/src/resolvers/user/index.ts
  services/app-api/src/resolvers/user/updateStateAssignments.test.ts
  services/app-api/src/resolvers/user/updateStateAssignments.ts
  services/app-web/src/gqlHelpers/index.ts
Due: lint-app-web, lint-app-api

Update domain types
  services/app-api/src/domain-models/StateType.ts
  services/app-api/src/domain-models/UserType.ts
  services/app-api/src/testHelpers/userHelpers.ts
Due: lint-app-api
