Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Remove protobuf tests
  services/app-web/src/common-code/proto/healthPlanFormDataProto/__tests__/toLatestProtoVersion.test.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/writeUpdatedProtos.test.ts
Due: lint-app-web

More test fixes
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.test.tsx
  services/app-web/src/components/SubmissionCard/SubmissionCard.test.tsx
  services/app-web/src/pages/App/AppBody.test.tsx
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/Auth/Login.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/Errors/ErrorBoundaryRoot.test.tsx
  services/app-web/src/pages/Landing/Landing.test.tsx
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/RateEdit/RateEdit.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/Settings/CMSUsersTable/CMSUsersTable.test.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/rateDetailsHelpers.test.ts
Due: lint-app-web

fix for crypto stuff
  services/app-web/.eslintrc
  services/app-web/jest.config.ts
  services/app-web/package.json
  services/app-web/src/setupTests.ts
  yarn.lock
Due: lint-app-web

revert package
  services/app-web/package.json
  yarn.lock
Due: none

avoid importing s3 files from app-web into app-api
  services/app-api/src/resolvers/shared/genericDocumentResolver.ts
  services/app-api/src/s3/helpers.ts
  services/app-api/src/s3/index.ts
  services/app-api/src/s3/s3Amplify.ts
  services/app-api/src/s3/s3Client.d.ts
  services/app-api/src/s3/s3Error.ts
  services/app-api/src/s3/s3Local.ts
Due: lint-app-api

wip debug memory leak
  services/app-api/src/resolvers/shared/genericDocumentResolver.ts
Due: lint-app-api

run import programs script (#2496)
  services/app-web/src/common-code/data/statePrograms.json
Due: lint-app-web

Adjust mccrs ID url (#2497)
  services/app-web/src/pages/SubmissionSummary/V2/SubmissionSummaryV2.tsx
Due: lint-app-web

avoid circular import
  services/app-api/src/s3/s3Client.d.ts
Due: lint-app-api

remove import
  services/app-api/src/resolvers/shared/genericDocumentResolver.ts
Due: lint-app-api

cleanup code
  services/app-api/src/resolvers/shared/genericDocumentResolver.ts
Due: lint-app-api

Adjust logic for visiblity of deprecated rate program field (#2499)
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
Due: lint-app-web

feed through the env vars for app-api
  services/app-api/serverless.yml
  services/app-api/src/resolvers/shared/genericDocumentResolver.ts
Due: lint-app-api

try the 3.0.x versions
  services/app-api/scripts/prepare-prisma-layer.sh
Due: none

beging moving s3 client intialization to apollo_gql
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/shared/genericDocumentResolver.ts
Due: lint-app-api

generate the bin
  services/app-api/scripts/prepare-prisma-layer.sh
Due: none

fix api test
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

remove unneeded imports
  services/app-api/src/resolvers/shared/genericDocumentResolver.ts
Due: lint-app-api

bump openssl
  .github/workflows/deploy.yml
Due: none

fix generation and promote
  .github/workflows/promote.yml
  services/app-api/prisma/schema.prisma
Due: none

remove amplify s3 client from app-api
  services/app-api/src/s3/index.ts
  services/app-api/src/s3/s3Amplify.ts
  services/app-api/src/s3/s3Local.ts
Due: lint-app-api

remove comments
  services/app-api/scripts/prepare-prisma-layer.sh
Due: none

Upgrade to Node 20 (#2500)
  .github/actions/setup_env/action.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  .nvmrc
  services/app-api/prisma/schema.prisma
  services/app-api/scripts/prepare-prisma-layer.sh
  services/app-api/serverless.yml
  services/app-web/.eslintrc
  services/app-web/jest.config.ts
  services/app-web/package.json
  services/app-web/serverless.yml
  services/app-web/src/localAuth/localAuth.test.ts
  services/app-web/src/setupTests.ts
  services/infra-api/serverless.yml
  services/storybook/serverless.yml
  services/ui-auth/serverless.yml
  services/ui/serverless.yml
  services/uploads/serverless.yml
  yarn.lock
Due: lint-app-web

Revert "remove amplify s3 client from app-api"
  services/app-api/src/s3/index.ts
  services/app-api/src/s3/s3Amplify.ts
  services/app-api/src/s3/s3Local.ts
Due: lint-app-api

remove s3 amplify from app-api
  services/app-api/src/s3/index.ts
  services/app-api/src/s3/s3Amplify.ts
  services/app-api/src/s3/s3Local.ts
Due: lint-app-api

fix tests where classes have changed
  services/app-web/src/components/ActionButton/ActionButton.test.tsx
  services/app-web/src/components/ExpandableText/ExpandableText.test.tsx
  services/app-web/src/pages/Auth/Auth.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
Due: lint-app-web

fix graphql schema to return downloadURL in document queries and mutations
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-graphql/src/mutations/submitContract.graphql
  services/app-graphql/src/mutations/unlockRate.graphql
  services/app-graphql/src/mutations/updateDraftContractRates.graphql
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

use correct s3client type in setting up resolver and tests
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

Fix test s3URLs for submit contract
  services/app-api/src/postgres/contractAndRates/prismaToDomainModel.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.test.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.test.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/testHelpers/contractDataMocks.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-api/src/testHelpers/rateDataMocks.ts
Due: lint-app-api

fix uploadsdocumenttable test
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.test.tsx
Due: lint-app-web

Fix some build issues - svg import works but is also types happy - use vi.importActual for formik in tests
  services/app-web/src/components/Form/FieldDropdown/FieldDropdown.test.tsx
  services/app-web/src/components/Form/FieldRadio/FieldRadio.test.tsx
  services/app-web/src/components/Form/FieldTextInput/FieldTextInput.test.tsx
  services/app-web/src/components/Form/FieldTextarea/FieldTextarea.test.tsx
  services/app-web/src/components/Header/EmptyHeader.tsx
  services/app-web/src/components/Header/Header.tsx
  services/app-web/src/components/Logo/Logo.stories.tsx
  services/app-web/src/components/Select/PackageSelect/PackageSelect.test.tsx
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.test.tsx
Due: lint-app-web

More test fixes
  services/app-web/src/components/SubmissionCard/SubmissionCard.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
Due: lint-app-web

add s3 client mock for test
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/shared/genericDocumentResolver.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/s3Helpers.ts
Due: lint-app-api

More test fixes
  services/app-web/src/components/Form/FieldCheckbox/FieldCheckbox.test.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/localAuth/localAuth.test.ts
  services/app-web/src/pages/Auth/Auth.test.tsx
Due: lint-app-web

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
