Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

no glacier
  services/infra-cdk/lib/constructs/storage/secure-s3-bucket.ts
Due: none

lambda for storage class change
  services/app-api/src/handlers/restore_glacier_files.ts
  services/infra-cdk/lib/stacks/app-api.ts
Due: lint-app-api

add tests for isValidDateString
  packages/dates/src/calendarDate.test.ts
Due: none

no glacier here, just IA to standard
  services/app-api/src/handlers/restore_ia_to_standard.ts
  services/infra-cdk/lib/constructs/storage/secure-s3-bucket.ts
  services/infra-cdk/lib/stacks/app-api.ts
Due: lint-app-api

refactor tests for it.each syntax
  packages/dates/src/calendarDate.test.ts
Due: none

update start and end date error message
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ContractDetails/ContractDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/RateDetails/RateDetailsSchema.ts
Due: lint-app-web

MCR-5981 Fix date range datePicker allows partial date input (#4129)
  packages/dates/src/calendarDate.test.ts
  packages/dates/src/calendarDate.ts
  services/app-web/src/formHelpers/validators.ts
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROContractDetails/EQROContractDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ContractDetails/ContractDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/RateDetails/RateDetailsSchema.ts
Due: lint-app-web

copilot comments
  services/app-api/src/handlers/restore_ia_to_standard.ts
Due: lint-app-api

Update services/app-api/src/handlers/restore_ia_to_standard.ts
  services/app-api/src/handlers/restore_ia_to_standard.ts
Due: lint-app-api

fix jsdoc
  services/app-api/src/handlers/restore_ia_to_standard.ts
Due: lint-app-api

Remove lifecycle rules on s3 (#4150)
  services/app-api/src/handlers/restore_ia_to_standard.ts
  services/infra-cdk/lib/constructs/storage/secure-s3-bucket.ts
  services/infra-cdk/lib/stacks/app-api.ts
Due: lint-app-api

bug fixed
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.tsx
Due: lint-app-web

Update zip regeneration lambda to use new s3 columns (#4139)
  services/app-api/src/handlers/migrate_s3_urls.ts
  services/app-api/src/resolvers/contract/submitContract.zipGeneration.test.ts
  services/app-api/src/resolvers/documentHelpers.test.ts
  services/app-api/src/resolvers/documentHelpers.ts
  services/app-api/src/resolvers/documents/documentZipPackageResolver.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
  services/app-api/src/resolvers/rate/submitRate.zipGeneration.test.ts
  services/app-api/src/testHelpers/s3Helpers.ts
  services/app-api/src/zip/generateZip.test.ts
  services/app-api/src/zip/generateZip.ts
Due: lint-app-api

Fix override property name.
  services/app-api/src/domain-models/contractAndRates/contractRateOverrideTypes.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
Due: lint-app-api

Ignore fake secrets in unit tests
  services/app-api/src/resolvers/documentHelpers.test.ts
Due: lint-app-api

Sync lock file
  pnpm-lock.yaml
Due: none

Increase test timeout
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

Reduce test run times instead of increasing timeouts
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/testHelpers/jestRateHelpers.tsx
  services/app-web/src/testHelpers/userEventHelpers.ts
Due: lint-app-web

add alaska test program
  packages/submissions/src/statePrograms/statePrograms.json
Due: none

Reduced test times, but still need timeout.
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

Increase timeout again. Reduction did not work.
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

remove layer downloads
  .github/workflows/deploy-cdk.yml
  .github/workflows/promote-cdk.yml
Due: none

remove dead code
  .gitignore
  services/app-api/scripts/prepare-prisma-layer.sh
  services/infra-cdk/README.md
  services/infra-cdk/lib/stacks/app-api.ts
  services/infra-cdk/lib/stacks/constants.ts
  services/infra-cdk/lib/stacks/index.ts
  services/infra-cdk/lib/stacks/lambda-layers.ts
Due: none

fix cypress
  services/cypress/integration/adminWorkflow/settings.spec.ts
Due: none

only exclude American Samoa in prod
  services/app-api/src/postgres/contractAndRates/findAllContractsWithHistoryBySubmitInfo.ts
Due: lint-app-api

add back in comment about adr 019
  services/app-api/src/postgres/contractAndRates/findAllContractsWithHistoryBySubmitInfo.ts
Due: lint-app-api

MCR-6021: add Alaska test program (#4157)
  packages/submissions/src/statePrograms/statePrograms.json
  services/app-api/src/postgres/contractAndRates/findAllContractsWithHistoryBySubmitInfo.ts
  services/cypress/integration/adminWorkflow/settings.spec.ts
Due: lint-app-api

IA to standard perms for fix
  services/infra-cdk/lib/stacks/app-api.ts
  services/infra-cdk/lib/stacks/uploads.ts
Due: none

remove prisma externalModules, we use it now
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

use lambda env prisma, not layer now
  services/app-api/src/dataMigrations/dataMigrator.ts
  services/app-api/src/dataMigrations/migrations/20231026123042_test_migrator_works.ts
  services/app-api/src/handlers/postgres_migrate.ts
  services/infra-cdk/lib/stacks/app-api.ts
Due: lint-app-api

account principal
  services/infra-cdk/lib/stacks/uploads.ts
Due: none

Update services/infra-cdk/lib/stacks/uploads.ts
  services/infra-cdk/lib/stacks/uploads.ts
Due: none

Update services/infra-cdk/lib/stacks/app-api.ts
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

copilot fixes
  services/infra-cdk/lib/stacks/uploads.ts
Due: none

more copilot suggestions
  services/infra-cdk/lib/stacks/uploads.ts
Due: none

selective bundling. use js wasm engine
  services/app-api/prisma/schema.prisma
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

bug fix
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.tsx
Due: lint-app-web

prisma 7 pkg
  pnpm-lock.yaml
  services/postgres/package.json
Due: none

Add a add local user page
  services/app-web/src/localAuth/AddLocalUser.tsx
Due: lint-app-web
