Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

MR-3117: Fix multiple concurrent mutations (#1715)
  services/app-web/src/common-code/debounce/debounce.ts
  services/app-web/src/components/ActionButton/ActionButton.tsx
  services/app-web/src/hooks/index.ts
  services/app-web/src/hooks/useDebouncedMutation.ts
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponse.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
Due: lint-app-web

Basic setup for Supporting Docs on Rates (#1730)
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/templateHelpers.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-proto/src/health_plan_form_data.proto
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.test.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/zodSchemas.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/documentHelpers/makeDocumentDateLookupTable.test.ts
  services/app-web/src/documentHelpers/makeDocumentKeyLookupList.test.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanPackageGQLMock.ts
Due: lint-app-web, lint-app-api

Increase timeout for updateHealthPlanFormDataMutation.
  services/cypress/integration/stateWorkflow/stateSubmissionForm/newSubmission.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  services/cypress/support/navigateCommands.ts
  services/cypress/support/questionResponseCommands.ts
Due: none

Increase timeout for updateHealthPlanFormDataMutation. (#1736)
  services/cypress/integration/stateWorkflow/stateSubmissionForm/newSubmission.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  services/cypress/support/navigateCommands.ts
  services/cypress/support/questionResponseCommands.ts
Due: none

include modules false
  services/app-api/serverless.yml
  services/app-api/webpack.config.js
Due: none

A test for `react-error-boundary` and `ErrorBoundaryRoot` component.
  services/app-web/src/pages/Errors/ErrorBoundaryRoot.test.tsx
Due: lint-app-web

Test names.
  services/app-web/src/pages/Errors/ErrorBoundaryRoot.test.tsx
Due: lint-app-web

allowlist
  services/app-api/webpack.config.js
Due: none

new commit
  services/app-api/webpack.config.js
Due: none

tests passing with new isRemoval implementation
  services/app-api/prisma/migrations/20230606210829_add_isremoval_flag/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/postgres/contractAndRates/findContract.test.ts
  services/app-api/src/postgres/contractAndRates/findContract.ts
  services/app-api/src/postgres/contractAndRates/findDraftContract.test.ts
  services/app-api/src/postgres/contractAndRates/findDraftContract.ts
  services/app-api/src/postgres/contractAndRates/findRate.test.ts
  services/app-api/src/postgres/contractAndRates/findRate.ts
  services/app-api/src/postgres/contractAndRates/submitContract.test.ts
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/postgres/contractAndRates/submitRateRevision.ts
  services/app-api/src/testHelpers/errorHelpers.ts
  services/app-api/src/testHelpers/index.ts
Due: lint-app-api

MR-3411: submitContract tests (#1706)
  .vscode/launch.json
  services/app-api/src/postgres/contractAndRates/submitContract.test.ts
  services/app-api/src/postgres/contractAndRates/submitContract.ts
Due: lint-app-api

fix test up
  services/app-api/src/postgres/contractAndRates/submitContract.test.ts
Due: lint-app-api

remove invalidatedBy db bits
  docs/technical-design/database-diagram.md
  services/app-api/prisma/migrations/20230612222743_remove_invalided_by/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/postgres/contractAndRates/submitRateRevision.ts
Due: lint-app-api

the simple case
  services/app-api/serverless.yml
  services/app-api/src/handlers/migrate_rate_documents.ts
Due: lint-app-api

add transactions
  services/app-api/prisma/migrations/20230510150748_add_contract_and_rate_tables/migration.sql
  services/app-api/prisma/migrations/20230606210829_add_isremoval_flag/migration.sql
  services/app-api/prisma/migrations/20230612222743_remove_invalided_by/migration.sql
Due: none

second case
  services/app-api/src/handlers/migrate_rate_documents.ts
Due: lint-app-api

Typo and commit to rerun tests.
  services/app-web/src/pages/Errors/ErrorBoundaryRoot.test.tsx
Due: lint-app-web

fix yml
  services/app-api/serverless.yml
  services/app-api/src/handlers/migrate_rate_documents.ts
Due: lint-app-api

lerna change
  lerna.json
Due: none

lerna is at 7 now
  package.json
Due: none

fix `handlePopulationCoveredClick`
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

bump yarn.lock
  yarn.lock
Due: none

second test
  services/app-api/src/handlers/migrate_rate_documents.test.ts
Due: lint-app-api

add csp
  services/app-web/.eslintrc
  services/app-web/public/index.html
Due: none

Update dev dependencies.
  services/app-web/package.json
  yarn.lock
Due: none

inline chunk in envrc
  .envrc
Due: none

inline chunk
  .envrc
Due: none

bump lerna
  lerna.json
  package.json
Due: none

use npx to call our local lerna
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/promote.yml
  dev
  package.json
  run_build.sh
  yarn.lock
Due: none

fix scope
  .github/workflows/deploy.yml
Due: none

fix webpack
  services/app-api/webpack.config.js
Due: none

move back to main for merge
  .github/workflows/deploy.yml
Due: none

Upgrade Lerna to 7 (#1742)
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/promote.yml
  dev
  lerna.json
  package.json
  run_build.sh
  yarn.lock
Due: none

testing config from local
  services/app-api/serverless.yml
  services/app-api/webpack.config.js
Due: none

revert webpack config
  services/app-api/webpack.config.js
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
Due: lint-app-web

force prisma exclude
  services/app-api/serverless.yml
Due: none

upgrade prisma
  services/app-api/package.json
  yarn.lock
Due: none

bring down maxcapacity jic
  services/postgres/serverless.yml
Due: none

fix aws cred call order
  .github/workflows/destroy.yml
Due: none

Refactor destroy action call order (#1747)
  .github/workflows/destroy.yml
  services/postgres/serverless.yml
Due: none
