Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Fixes Invicti finding for missing header on frontend responses. Affects all environments (dev, val, prod). (#4242)
  services/infra-cdk/lib/stacks/frontend-infra.ts
Due: none

update vertical padding for h2
  services/app-web/src/components/Tabs/Tabs.module.scss
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.module.scss
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.module.scss
Due: lint-app-web

final fixes to subject to review header
  services/app-web/src/components/Banner/AccessibleAlertBanner/AccessibleAlertBanner.tsx
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanners.tsx
  services/app-web/src/components/DocumentHeader/DocumentHeader.module.scss
  services/app-web/src/components/DocumentHeader/DocumentHeader.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.tsx
Due: lint-app-web

clean up
  services/app-web/src/components/DocumentHeader/DocumentHeader.module.scss
Due: lint-app-web

clean up
  services/app-web/src/components/DocumentHeader/DocumentHeader.tsx
Due: lint-app-web

Create base sdp tables
  dev_tool/src/dev.ts
  prisma.config.ts
  services/app-api/prisma/migrations/20260330120000_add_sdp_tables/migration.sql
  services/app-api/prisma/migrations/20260330153845_create_sdp_tables/migration.sql
  services/app-api/prisma/migrations/migration_lock.toml
  services/app-api/prisma/schema.prisma
Due: none

add sdps to domain types
  services/app-api/src/domain-models/DocumentType.ts
  services/app-api/src/domain-models/QuestionsType.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/contractAndRates/revisionTypes.ts
  services/app-api/src/domain-models/contractAndRates/sdpTypes.ts
  services/app-api/src/domain-models/index.ts
Due: lint-app-api

Add sdp to graphql schema
  services/app-graphql/src/schema.graphql
Due: none

add h1, h2, h5 headings to home page elements
  services/app-web/src/components/Header/Header.module.scss
  services/app-web/src/components/Header/Header.test.tsx
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.test.tsx
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

Apply document warning banner specific styles
  services/app-web/src/components/Banner/DocumentWarningBanner/DocumentWarningBanner.module.scss
  services/app-web/src/components/Banner/DocumentWarningBanner/DocumentWarningBanner.tsx
Due: lint-app-web

Override uswds 1.01 rem font size.
  services/app-web/src/components/Banner/AccessibleAlertBanner/AccessibleAlertBanner.module.scss
Due: lint-app-web

Remove margins on li elements. Add top margin to ul
  services/app-web/src/components/Banner/Banner.module.scss
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanners.tsx
Due: lint-app-web

pass validation prop so we do not have a necessary p tag
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanners.tsx
Due: lint-app-web

Revert "add h1, h2, h5 headings to home page elements"
  services/app-web/src/components/Header/Header.module.scss
  services/app-web/src/components/Header/Header.test.tsx
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.test.tsx
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

fix failing cypress test
  services/cypress/integration/cmsWorkflow/submissionReview.spec.ts
Due: none

addressing feedback
  services/app-web/src/components/Banner/Banner.module.scss
  services/app-web/src/components/ExpandableText/ExpandableText.tsx
Due: lint-app-web

Update services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

updating casing in unit tests
  services/app-web/src/components/ExpandableText/ExpandableText.test.tsx
Due: lint-app-web

createSDP endpoint and submission detail form page
  packages/constants/src/routes.ts
  services/app-api/prisma/migrations/20260330120000_add_sdp_tables/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/contractSubmissionType.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/contractAndRates/revisionTypes.ts
  services/app-api/src/domain-models/contractAndRates/sdpFormDataTypes.ts
  services/app-api/src/domain-models/contractAndRates/sdpTypes.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/contractAndRates/insertContract.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/sdp/insertSDP.test.ts
  services/app-api/src/postgres/sdp/insertSDP.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/createContract.ts
  services/app-api/src/resolvers/sdp/createSDP.ts
  services/app-api/src/testHelpers/contractDataMocks.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/Header/PageHeadingRow/StateHeading.tsx
  services/app-web/src/hooks/useMemoizedHeaders.tsx
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPSubmissionDetails/SDPSubmissionDetails.tsx
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPSubmissionDetails/SDPSubmissionDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPSubmissionDetails/index.ts
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/SDPSubmission/index.ts
  services/app-web/src/pages/StateSubmission/SharedSubmissionComponents/NewSubmissionForm/NewSubmissionForm.test.tsx
  services/app-web/src/pages/StateSubmission/SharedSubmissionComponents/NewSubmissionForm/NewSubmissionForm.tsx
Due: lint-app-web, lint-app-api

fix failing test
  services/cypress/integration/cmsWorkflow/submissionReview.spec.ts
Due: none

expand data models for many to many relationship with contracts and sdps
  services/app-api/prisma/migrations/20260330153845_create_sdp_tables/migration.sql
  services/app-api/prisma/migrations/20260330170000_expand_sdp_revision_table/migration.sql
  services/app-api/prisma/migrations/20260330183000_add_contract_sdp_join_table/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/contractAndRates/relatedSubmissionTypes.ts
  services/app-api/src/domain-models/contractAndRates/sdpTypes.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/sdp/insertSDP.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPSubmissionDetails/SDPSubmissionDetails.tsx
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPSubmissionDetails/SDPSubmissionDetailsSchema.ts
Due: lint-app-web, lint-app-api

Remove protobuf references and deps
  services/app-api/eslint.config.ts
  services/app-api/package.json
  services/app-graphql/src/schema.graphql
Due: none

Update lock file
  pnpm-lock.yaml
Due: none

add h1, h2, and h5 heading to home page
  services/app-web/src/components/Header/Header.module.scss
  services/app-web/src/components/Header/Header.test.tsx
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.test.tsx
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

add ui fro SDP details: file upload and linking a contract
  services/app-web/src/pages/LinkYourRates/LinkContractSelect/LinkContractSelect.tsx
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPDetails/SDPDetails.tsx
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPDetails/index.ts
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPSubmissionDetails/SDPSubmissionDetails.tsx
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPSubmissionDetails/index.ts
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/SDPSubmission/index.ts
Due: lint-app-web

fix cypress test
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

fix margins for h2
  services/app-web/src/pages/Landing/Landing.module.scss
Due: lint-app-web

add state contacts and review and submit pages
  packages/constants/src/routes.ts
  services/app-api/prisma/migrations/20260330193000_add_sdp_documents_table/migration.sql
  services/app-api/prisma/migrations/20260330194500_ensure_sdp_document_table_exists/migration.sql
  services/app-api/prisma/migrations/20260330203000_add_sdp_state_contacts_table/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/contractAndRates/sdpFormDataTypes.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/sdp/insertSDP.ts
  services/app-api/src/postgres/sdp/updateSDP.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/sdp/updateSDP.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/mutations/createSDP.graphql
  services/app-graphql/src/mutations/updateSDP.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/hooks/useRouteParams.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPDetails/SDPDetails.tsx
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPDetails/index.ts
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPReviewSubmit/SDPReviewSubmit.module.scss
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPReviewSubmit/SDPReviewSubmit.tsx
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPReviewSubmit/index.ts
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPSubmissionDetails/SDPSubmissionDetails.tsx
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/SDPSubmission/index.ts
  services/app-web/src/pages/StateSubmission/index.ts
Due: lint-app-web, lint-app-api

update review submit styling
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPReviewSubmit/SDPReviewSubmit.module.scss
  services/app-web/src/pages/StateSubmission/SDPSubmission/SDPReviewSubmit/SDPReviewSubmit.tsx
Due: lint-app-web

fix duplicate wording
  services/app-api/src/postgres/contractAndRates/undoWithdrawContract.ts
  services/app-api/src/resolvers/contract/undoWithdrawContract.test.ts
Due: lint-app-api

containing fix to expandable scss file
  services/app-web/src/components/ExpandableText/ExpandableText.module.scss
  services/app-web/src/components/ExpandableText/ExpandableText.tsx
Due: lint-app-web

Use constants for repeated text
  packages/constants/src/contract.ts
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
  services/app-web/src/components/ContractTable/ContractTable.tsx
Due: lint-app-web

Refactor banner to render resubmissions.
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanners.test.tsx
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanners.tsx
Due: lint-app-web

Update banner rendering
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.tsx
Due: lint-app-web

[MCR-5778] Addressing Design Feedback (#4249)
  services/app-web/src/components/Banner/Banner.module.scss
  services/app-web/src/components/ExpandableText/ExpandableText.module.scss
  services/app-web/src/components/ExpandableText/ExpandableText.test.tsx
  services/app-web/src/components/ExpandableText/ExpandableText.tsx
Due: lint-app-web

removed unneeded css
  services/app-web/src/components/Banner/Banner.module.scss
Due: lint-app-web

removed unneeded css (#4254)
  services/app-web/src/components/Banner/Banner.module.scss
Due: lint-app-web

Remove any remaining protobuf deps and code (#4250)
  pnpm-lock.yaml
  services/app-api/eslint.config.ts
  services/app-api/package.json
  services/app-graphql/src/schema.graphql
Due: none

Add storybook banners
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanners.stories.tsx
Due: lint-app-web

fix duplicate wording in unlock history message(#4252)
  services/app-api/src/postgres/contractAndRates/undoWithdrawContract.ts
  services/app-api/src/resolvers/contract/undoWithdrawContract.test.ts
Due: lint-app-api
