Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

fix error boundary test
  services/app-web/src/pages/Errors/ErrorBoundaryRoot.test.tsx
  services/app-web/src/pages/Errors/ErrorBoundaryRoot.tsx
Due: lint-app-web

fix action button test
  services/app-web/src/components/ActionButton/ActionButton.test.tsx
Due: lint-app-web

Auth route wrapper test cleanup
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
Due: lint-app-web

fix combobox
  services/app-web/src/pages/ReplaceRate/ReplaceRate.test.tsx
Due: lint-app-web

Cypress change
  services/cypress/support/questionResponseCommands.ts
Due: none

UserAccountWarningBanner stores its own data
  services/app-web/src/components/Banner/UserAccountWarningBanner/UserAccountWarningBanner.stories.tsx
  services/app-web/src/components/Banner/UserAccountWarningBanner/UserAccountWarningBanner.tsx
Due: lint-app-web

Renaming - change QuestionResponse to ContractQuestionResponse
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/index.ts
  services/app-web/src/pages/QuestionResponse/index.ts
  services/app-web/src/pages/SubmissionSideNav/RateSummarySideNav.test.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.test.tsx
Due: lint-app-web

Use same question response tables for contract and rates
  services/app-web/src/pages/QuestionResponse/QATable/StateQuestionResponseTable.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
Due: lint-app-web

Unify response form and styles
  services/app-web/src/pages/QuestionResponse/QuestionResponse.module.scss
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/questionResponseHelpers.ts
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadContractResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadRateResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponseForm.tsx
Due: lint-app-web

Sync up questions form and round numbers
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/index.ts
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/questionResponseHelpers.ts
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadContractQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestionsForm.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadContractResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadRateResponse.tsx
Due: lint-app-web

remove the minor patch group
  .github/dependabot.yml
Due: none

Update and add helpers for rate questions
  services/app-api/src/emailer/generateURLs.ts
  services/app-api/src/emailer/templateHelpers.ts
Due: lint-app-api

add email function for CMS rate question and tests.
  services/app-api/src/emailer/emails/__snapshots__/sendRateQuestionCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/sendQuestionCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.ts
  services/app-api/src/emailer/etaTemplates/sendRateQuestionCMSEmail.eta
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

Add sending CMS emails when creating new rate question and tests
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.ts
Due: lint-app-api

Update tests with better dates.
  services/app-web/src/pages/QuestionResponse/RateQuestionResponse.test.tsx
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web

Sort questions in rounds array.
  services/app-web/src/pages/QuestionResponse/QATable/CMSQuestionResponseTable.tsx
Due: lint-app-web

Convert answered/unanswered questions to just array of questions and sort by created at.
  services/app-web/src/pages/QuestionResponse/QATable/StateQuestionResponseTable.tsx
Due: lint-app-web

MCR-4428: CMS new rate question email (#2890)
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/sendRateQuestionCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/sendQuestionCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.ts
  services/app-api/src/emailer/etaTemplates/sendRateQuestionCMSEmail.eta
  services/app-api/src/emailer/generateURLs.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

remove the minor patch group (#2888)
  .github/dependabot.yml
Due: none

MCR-4480 FIX: Add sorting after organizing questions. (#2893)
  services/app-web/src/pages/QuestionResponse/QATable/CMSQuestionResponseTable.tsx
  services/app-web/src/pages/QuestionResponse/QATable/StateQuestionResponseTable.tsx
  services/app-web/src/pages/QuestionResponse/RateQuestionResponse.test.tsx
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web

update choice and add some more choices
  docs/architectural-decision-records/029-push-submissions-into-salesforce.md
Due: none

create new emailer template function and test for rate question responses for cms
  services/app-api/src/emailer/emails/__snapshots__/sendRateQuestionResponseCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.ts
  services/app-api/src/emailer/etaTemplates/sendRateQuestionResponseCMSEmail.eta
Due: lint-app-api

new rate response state email function
  services/app-api/src/emailer/emails/sendRateQuestionResponseStateEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseStateEmail.ts
  services/app-api/src/emailer/etaTemplates/sendRateQuestionResponseStateEmail.eta
Due: lint-app-api

Pull out common code and put function into emailer
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/sendRateQuestionStateEmail.ts
  services/app-api/src/emailer/templateHelpers.test.ts
  services/app-api/src/emailer/templateHelpers.ts
Due: lint-app-api

Send state email on new rate response.
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.ts
Due: lint-app-api

update createRateQuestionResponse resolver and connect new email function to emailer
  services/app-api/src/domain-models/contractAndRates/rateTypes.ts
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/index.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.ts
Due: lint-app-api

Add cypress tests for QA by rates
  services/cypress/fixtures/documents/questions_for_rate.pdf
  services/cypress/fixtures/documents/response_to_questions_for_rate.pdf
  services/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
  services/cypress/support/apiCommands.ts
  services/cypress/support/commands.ts
  services/cypress/support/launchDarklyCommands.ts
  services/cypress/support/loginCommands.ts
  services/cypress/support/questionResponseCommands.ts
Due: none

Fix configure resolvers
  services/app-api/src/resolvers/configureResolvers.ts
Due: lint-app-api

tweak pooling
  services/app-api/src/secrets/secrets.ts
Due: lint-app-api

Integrate Kelsey feedback on round display
  services/app-web/src/pages/QuestionResponse/QAUploadFormSummary/QAUploadFormSummary.tsx
  services/app-web/src/pages/QuestionResponse/QAUploadFormSummary/index.ts
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/questionResponseHelpers.ts
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestionsForm.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadContractResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponseForm.tsx
Due: lint-app-web

Remove unused components
  services/app-web/src/pages/QuestionResponse/QATable/QATable.test.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QATable.tsx
Due: lint-app-web

Display question table on responses and styles - Add QuestionDisplayTable - Fix up hierarchy of styles - allow consistent overrides of sidebar color based on if its a form page or not
  services/app-web/src/constants/routes.ts
  services/app-web/src/pages/QuestionResponse/QATable/CMSQuestionResponseTable.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QuestionDisplayTable.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QuestionResponseRound.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.module.scss
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/index.ts
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/questionResponseHelpers.ts
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadContractResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadRateResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponseForm.tsx
  services/app-web/src/pages/SubmissionSideNav/RateSummarySideNav.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.module.scss
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/app-web/src/pages/SubmissionSideNav/helpers.ts
Due: lint-app-web

Update template, adjust emailer function, and fix tests.
  services/app-api/src/emailer/emails/__snapshots__/sendRateQuestionResponseStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/sendRateQuestionResponseStateEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseStateEmail.ts
  services/app-api/src/emailer/emails/sendRateQuestionStateEmail.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
Due: lint-app-api

Fix up test data.
  services/app-api/src/emailer/emails/sendRateQuestionResponseStateEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionStateEmail.test.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

Remove type.
  services/cypress/support/commands.ts
Due: none

begin adding email test to resolver
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
Due: lint-app-api

Add addl test to resolver
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
Due: lint-app-api

MCR-4427: state rate question response email (#2902)
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/sendRateQuestionResponseStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/sendRateQuestionResponseStateEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseStateEmail.ts
  services/app-api/src/emailer/etaTemplates/sendRateQuestionResponseStateEmail.eta
  services/app-api/src/emailer/templateHelpers.test.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api
