Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Fix filter logging.
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/tealium/tealiumHelpers.ts
Due: lint-app-web

Analytics bugfix (#2806)
  docs/technical-design/tealium-logging.md
  services/app-web/src/common-code/data/dataUtilities.test.ts
  services/app-web/src/common-code/data/dataUtilities.ts
  services/app-web/src/common-code/data/index.ts
  services/app-web/src/components/ChangeHistory/ChangeHistoryV2.tsx
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/components/DataDetail/DataDetailContactField/DataDetailContactField.tsx
  services/app-web/src/components/FilterAccordion/FilterAccordion.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
  services/app-web/src/components/PoliteErrorMessage/PoliteErrorMessage.tsx
  services/app-web/src/components/TealiumLogging/Link.tsx
  services/app-web/src/hooks/useTealium.ts
  services/app-web/src/pages/App/App.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/pages/StateDashboard/SubmissionSuccessMessage.tsx
  services/app-web/src/tealium/constants.ts
  services/app-web/src/tealium/index.ts
  services/app-web/src/tealium/tealium.ts
  services/app-web/src/tealium/tealiumHelpers.ts
  services/app-web/src/tealium/types.ts
  services/app-web/src/testHelpers/tealiumHelpers.ts
Due: lint-app-web

Copy fix
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
Due: lint-app-web

more debug
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

refactor handle scan
  services/app-web/src/contexts/S3Context.tsx
Due: lint-app-web

guess it requires a throw
  services/app-web/src/contexts/S3Context.tsx
Due: lint-app-web

expand cypress test a bit
  services/cypress/integration/stateWorkflow/virusScan/virusScan.spec.ts
Due: none

fix the find by text
  services/cypress/integration/stateWorkflow/virusScan/virusScan.spec.ts
Due: none

try more precise removal
  services/cypress/integration/stateWorkflow/virusScan/virusScan.spec.ts
Due: none

Copy fix (#2812)
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
Due: lint-app-web

don't track eslint. we're too far behind
  .github/dependabot.yml
Due: none

Copy fix (#2814)
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
Due: lint-app-web

disable automatic grouping of dependabot
  .github/dependabot.yml
Due: none

verify rate zip exists/download it
  services/cypress/integration/cmsWorkflow/rateReview.spec.ts
Due: none

revert
  services/cypress/integration/cmsWorkflow/rateReview.spec.ts
Due: none

Create fetchContractWithQuestions query helper.
  services/app-api/src/resolvers/contract/contractResolver.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.test.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-api/src/testHelpers/index.ts
Due: lint-app-api

indenting
  .github/dependabot.yml
Due: none

cleanup
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

WIP: submitContract resolver updated for Contract API, emailers updated to accept contracts
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/index.ts
  services/app-api/src/emailer/emails/newContractCMSEmail.ts
  services/app-api/src/emailer/emails/newContractStateEmail.ts
  services/app-api/src/emailer/emails/resubmitContractCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitContractStateEmail.ts
  services/app-api/src/emailer/index.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
Due: lint-app-api

Ungroup "npm_and_yarn" dependabot (#2815)
  .github/dependabot.yml
Due: none

Fixes for file upload when virus is present (#2805)
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/contexts/S3Context.tsx
  services/app-web/src/s3/s3Error.ts
  services/cypress/integration/cmsWorkflow/rateReview.spec.ts
  services/cypress/integration/stateWorkflow/virusScan/virusScan.spec.ts
Due: lint-app-web

PR comments
  docs/technical-design/database-diagram.md
Due: none

formatting
  docs/technical-design/database-diagram.md
Due: none

add test for resubmitContractStateEmailer
  services/app-api/src/emailer/emails/__snapshots__/resubmitContractStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/resubmitContractStateEmail.test.ts
  services/app-api/src/emailer/etaTemplates/resubmitContractStateEmail.eta
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

add test for resubmitContractCMSEmail
  services/app-api/src/emailer/emails/__snapshots__/resubmitContractCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/resubmitContractCMSEmail.test.ts
  services/app-api/src/emailer/etaTemplates/resubmitContractCMSEmail.eta
Due: lint-app-api

Update formatCalendarDate to handle date display in ET.
  services/app-web/src/common-code/dateHelpers/calendarDate.ts
Due: lint-app-web

Contract and Rate initiallySubmittedAt returns DateTime
  services/app-graphql/src/schema.graphql
Due: none

Update dates to display in ET time and update tests to factor in timezone.
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.test.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web

Fix linked rates not showing document date added.
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.ts
  services/app-web/src/components/FileUpload/FileProcessor/FileProcessor.tsx
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/pages/StateSubmission/RateDetails/LinkedRateSummary.tsx
Due: lint-app-web

Add MIME checks to uploads avScan service (#2787)
  pnpm-lock.yaml
  services/app-api/src/postgres/state/findStateAssignedUsers.ts
  services/app-web/src/components/ChangeHistory/ChangeHistoryV2.tsx
  services/app-web/src/components/DataDetail/DataDetailContactField/DataDetailContactField.tsx
  services/app-web/src/components/FilterAccordion/FilterAccordion.tsx
  services/app-web/src/components/Header/Header.tsx
  services/app-web/src/components/Modal/SessionTimeoutModal.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
  services/app-web/src/components/TealiumLogging/Link.tsx
  services/app-web/src/pages/App/App.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.test.tsx
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/SettingsCells/SettingsCells.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
  services/uploads/.eslintrc
  services/uploads/jest.config.ts
  services/uploads/package.json
  services/uploads/src/deps/clamAV/clamAV.test.ts
  services/uploads/src/deps/clamAV/clamAV.ts
  services/uploads/src/deps/clamAV/testData/badDummy.pdf
  services/uploads/src/deps/clamAV/testData/badExcel.xls
  services/uploads/src/deps/clamAV/testData/badList.csv
  services/uploads/src/deps/clamAV/testData/badMimeCheck.docx
  services/uploads/src/deps/clamAV/testData/goodList.csv
  services/uploads/src/deps/s3.ts
  services/uploads/src/lambdas/avAuditFiles.ts
  services/uploads/src/lib/auditUploads.test.ts
  services/uploads/src/lib/avScan.test.ts
  services/uploads/src/lib/avScan.ts
  services/uploads/src/lib/scanFiles.test.ts
  services/uploads/src/lib/scanFiles.ts
  services/uploads/src/lib/updateAVDefinitions.test.ts
  services/uploads/src/lib/updateAVDefinitions.ts
  services/uploads/src/vitestGlobalSetup.ts
  services/uploads/vitest.config.ts
Due: lint-app-web, lint-app-api

don't remove, tag metadata
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web

Return undefined
  services/app-web/src/formHelpers/formatters.ts
Due: lint-app-web

Add test for newContractCMSEmail
  services/app-api/src/emailer/emails/__snapshots__/newContractCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/newContractCMSEmail.test.ts
  services/app-api/src/emailer/emails/newContractCMSEmail.ts
  services/app-api/src/emailer/etaTemplates/newContractCMSEmail.eta
Due: lint-app-api

Add format date helper for date with time.
  services/app-web/src/common-code/dateHelpers/calendarDate.ts
Due: lint-app-web

Fix import
  services/app-api/src/testHelpers/gqlContractHelpers.ts
Due: lint-app-api

Update emails to use ET calendar date on timestamp dates.
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/sendQuestionCMSEmail.ts
  services/app-api/src/emailer/emails/sendQuestionResponseCMSEmail.ts
  services/app-api/src/emailer/emails/sendQuestionResponseStateEmail.ts
  services/app-api/src/emailer/emails/sendQuestionStateEmail.ts
  services/app-api/src/emailer/emails/unlockContractCMSEmail.ts
  services/app-api/src/emailer/emails/unlockContractStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
Due: lint-app-api

Update API tests for grpahql schema change
  services/app-api/src/resolvers/contract/indexContracts.test.ts
Due: lint-app-api

Update banners to use formatDateTime helper
  services/app-web/src/common-code/dateHelpers/formatBannerDate.ts
  services/app-web/src/common-code/dateHelpers/index.ts
  services/app-web/src/components/Banner/RateWithdrawnBanner/RateWithdrawnBanner.tsx
  services/app-web/src/components/Banner/SubmissionUnlockedBanner/SubmissionUnlockedBanner.test.tsx
  services/app-web/src/components/Banner/SubmissionUnlockedBanner/SubmissionUnlockedBanner.tsx
  services/app-web/src/components/Banner/SubmissionUpdatedBanner/SubmissionUpdatedBanner.tsx
Due: lint-app-web

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
