Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Add mostRecentDate utility, fix mocks even more
  services/app-web/src/common-code/dateHelpers/index.ts
  services/app-web/src/common-code/dateHelpers/mostRecentDate.test.ts
  services/app-web/src/common-code/dateHelpers/mostRecentDate.ts
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web

Fix app crash on improper use of getTime, also make the app wide ErrorBoundary look better
  services/app-web/src/common-code/dateHelpers/mostRecentDate.ts
  services/app-web/src/components/Header/EmptyHeader.tsx
  services/app-web/src/pages/Errors/ErrorBoundaryRoot.tsx
  services/app-web/src/pages/Errors/Errors.module.scss
Due: lint-app-web

Clarify the typing slightly, this won't really be resolved till we start having types for dates on the frontend besides any
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
Due: lint-app-web

fix sb domain cert
  services/storybook/serverless.yml
Due: none

try bash build
  run_build.sh
  services/app-web/package.json
Due: none

shorter print
  run_build.sh
Due: none

conditional instrumentation
  run_build.sh
Due: none

try variable
  run_build.sh
Due: none

fix sb domain cert (#1116)
  services/storybook/serverless.yml
Due: none

dollar sign
  run_build.sh
Due: none

remove brackets
  run_build.sh
Due: none

think I got the syntax
  run_build.sh
Due: none

try running from package.json
  .github/workflows/deploy.yml
  run_build.sh
  services/app-web/package.json
Due: none

inspect folders
  .github/workflows/deploy.yml
Due: none

restore lines
  .github/workflows/deploy.yml
Due: none

fix yaml syntax
  .github/workflows/deploy.yml
Due: none

Add last updated to CMS Dashboard (#1111)
  services/app-web/src/common-code/dateHelpers/index.ts
  services/app-web/src/common-code/dateHelpers/mostRecentDate.test.ts
  services/app-web/src/common-code/dateHelpers/mostRecentDate.ts
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/State.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/index.ts
  services/app-web/src/components/Header/EmptyHeader.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/pages/Errors/ErrorBoundaryRoot.tsx
  services/app-web/src/pages/Errors/Errors.module.scss
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/testHelpers/apolloHelpers.tsx
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  tests/cypress/integration/cmsWorkflow/viewSubmission.spec.ts
  tests/cypress/support/loginCommands.ts
Due: lint-app-web

get things running cleanly inside of protoMigrations
  .gitignore
  services/app-api/package.json
  services/app-api/protoMigrations/healthPlanFormDataMigrations/0001_add_one_month.ts
  services/app-api/protoMigrations/migrate_protos.ts
  services/app-api/protoMigrations/test_migrate
  services/app-api/protoMigrations/tests/protos/_ran_migrations
  services/app-api/protoMigrations/tests/protos/unlockedWithALittleBitOfEverything-2022-07-01.proto
  services/app-api/protoMigrations/tests/protos/unlockedWithALittleBitOfEverything.test.ts
  services/app-api/protoMigrations/tsconfig.json
Due: none

get things running cleanly inside of protoMigrations
  services/app-api/protoMigrations/migrate_protos.ts
Due: none

dynamically nload migrations
  services/app-api/protoMigrations/migrate_protos.ts
Due: none

reset test proto to baseline
  services/app-api/protoMigrations/tests/protos/_ran_migrations
  services/app-api/protoMigrations/tests/protos/unlockedWithALittleBitOfEverything-2022-07-01.proto
Due: none

get rid of unnecessary checkout
  .github/workflows/deploy.yml
  run_build.sh
Due: none

maybe not so unnecessary
  .github/workflows/deploy.yml
Due: none

Generating types based on featureFlags.
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web

helper function for useClient jest spyOn.
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

Add ldUseClientSpy to configure feature flags for tests and enable all tests
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

Remove random string from test name.
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

Throwing error and comment about clearing mocks.
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

get writing new files in place
  services/app-api/protoMigrations/healthPlanFormDataMigrations/0001_add_one_month.ts
  services/app-api/protoMigrations/tests/protos/unlockedWithALittleBitOfEverything-2022-07-01.proto
  services/app-api/protoMigrations/tsconfig.json
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/healthPlanFormDataEncoding.test.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/basicHealthPlanFormData-2022-07-01.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/basicLockedHealthPlanFormData-2022-07-01.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/contractAmendedOnly-2022-07-01.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/contractOnly-2022-07-01.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/newHealthPlanFormData-2022-07-01.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-07-01.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-08-16.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithContacts-2022-07-01.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithDocuments-2022-07-01.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithFullContracts-2022-07-01.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithFullRates-2022-07-01.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedWithALittleBitOfEverything.test.ts
Due: lint-app-web

test against actual dates instead of the 0 indexed months
  services/app-web/src/common-code/proto/healthPlanFormDataProto/healthPlanFormDataEncoding.test.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedWithALittleBitOfEverything.test.ts
Due: lint-app-web

make migrate-protos configurable
  services/app-api/protoMigrations/migrate_protos.ts
Due: none

MR-860: Use CalendarDate where appropriate (#1069)
  services/app-api/src/emailer/emails/__snapshots__/newPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/resubmitPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/unlockPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/updateHealthPlanFormData.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/parameterStoreHelpers.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/common-code/dateHelpers/calendarDate.ts
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/LockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.test.ts
  services/app-web/src/common-code/healthPlanFormDataType/index.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedHealthPlanFormDataSchema.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedWithALittleBitOfEverything.test.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/formHelpers/formatters.test.ts
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web, lint-app-api

migrate old data
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/_ran_migrations
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-08-15.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-08-16.proto
Due: lint-app-web

fix gitignore
  .gitignore
Due: none

copy fix
  services/app-api/protoMigrations/healthPlanFormDataMigrations/0001_add_one_month.ts
Due: none

copy proto gen files into migration script
  services/app-proto/package.json
Due: none

MR-2460: Unit testing with Launch Darkly flags (#1121)
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

Move emailParameterStore.ts to emailParameterStore folder.
  services/app-api/src/parameterStore/emailParameterStore/emailParameterStore.ts
Due: lint-app-api

Move getStateAnalystsEmails and test to its own directory.
  services/app-api/src/parameterStore/emailParameterStore/stateAnalystsEmails/getStateAnalystsEmails.test.ts
  services/app-api/src/parameterStore/emailParameterStore/stateAnalystsEmails/getStateAnalystsEmails.ts
Due: lint-app-api

Add new parameter store functions for rate and reviewer emails.
  services/app-api/src/parameterStore/emailParameterStore/cmsReviewSharedEmails/getCmsReviewSharedEmails.ts
  services/app-api/src/parameterStore/emailParameterStore/index.ts
  services/app-api/src/parameterStore/emailParameterStore/ratesReviewSharedEmails/getRatesReviewSharedEmails.ts
Due: lint-app-api

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
