Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

issue with the main export
  services/app-api/src/handlers/add_sha.ts
Due: lint-app-api

use npx for call
  services/output.sh
Due: none

setup env here
  .github/workflows/deploy.yml
Due: none

no env
  .github/workflows/deploy.yml
Due: none

try to skip code gen
  .github/actions/setup_env/action.yml
  .github/workflows/deploy.yml
Due: none

fix up imports on cypress
  services/cypress/support/apiCommands.ts
  services/cypress/support/index.ts
  services/cypress/support/launchDarklyCommands.ts
  services/cypress/utils/apollo-test-utils.ts
Due: none

cypress copy to common code gen
  .github/workflows/deploy.yml
Due: none

get the right name
  .github/workflows/deploy.yml
Due: none

no install on cypress step
  .github/workflows/deploy.yml
Due: none

Add more logs
  services/app-api/src/handlers/migrate_rate_documents.ts
Due: lint-app-api

even more consoles
  services/app-api/src/handlers/migrate_rate_documents.ts
Due: lint-app-api

Move form data to revision tables.
  services/app-api/prisma/schema.prisma
Due: none

Wrap awaited functions in try catch
  services/app-api/src/handlers/migrate_rate_documents.ts
Due: lint-app-api

Cleanup further, fix for loop bug
  services/app-api/src/handlers/migrate_rate_documents.ts
Due: lint-app-api

Supporting docs migration: Add even more consoles for context (#1792)
  services/app-api/src/handlers/migrate_rate_documents.ts
Due: lint-app-api

make dev hybrid commands not rely on built in serverless (#1790)
  dev_tool/src/serverless.ts
  services/output.sh
Due: none

fix auth test local
  services/app-web/src/pages/Auth/Auth.test.tsx
Due: lint-app-web

Add form data fields into Contract and Rate tables.
  services/app-api/prisma/migrations/20230706184600_add_form_data_to_contract_and_rate_tables/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

Update contract and rates functions and tests for new database tables.
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/findDraftContract.test.ts
  services/app-api/src/postgres/contractAndRates/findDraftContract.ts
  services/app-api/src/postgres/contractAndRates/findDraftRate.test.ts
  services/app-api/src/postgres/contractAndRates/findDraftRate.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/insertContract.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/submitContract.test.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.ts
  services/app-api/src/postgres/prismaTypes.ts
Due: lint-app-api

Update error message.
  services/app-api/src/postgres/contractAndRates/insertRate.ts
Due: lint-app-api

TMPCMT
  services/app-api/prisma/migrations/20230314231756_add_rates_tables/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/postgres/contractAndRates/rates.test.ts
  services/app-api/src/postgres/contractAndRates/rates.ts
Due: lint-app-api

does zod help us here
  services/app-api/prisma/migrations/20230328205608_more_changes/migration.sql
  services/app-api/prisma/migrations/20230328232137_add_join_table/migration.sql
  services/app-api/src/postgres/contractAndRates/rates.test.ts
  services/app-api/src/postgres/contractAndRates/zodDomainTypes.ts
Due: lint-app-api

TMPCMT
  services/app-api/package.json
  services/app-api/prisma/migrations/20230314231756_add_rates_tables/migration.sql
  services/app-api/prisma/migrations/20230328205608_more_changes/migration.sql
  services/app-api/prisma/migrations/20230328232137_add_join_table/migration.sql
  services/app-api/prisma/migrations/20230329230405_add_rates_tables/migration.sql
  services/app-api/prisma/migrations/20230330001338_add_connection/migration.sql
  services/app-api/src/postgres/contractAndRates/ioDomainTypes.ts
  services/app-api/src/postgres/contractAndRates/rates.test.ts
  services/app-api/src/postgres/contractAndRates/zodDomainTypes.ts
  yarn.lock
Due: lint-app-api

some typing that is working
  services/app-api/prisma/migrations/20230406083854_add_full_table/migration.sql
  services/app-api/prisma/migrations/20230406084525_optional_modifications/migration.sql
  services/app-api/src/postgres/contractAndRates/ioDomainTypes.ts
  services/app-api/src/postgres/contractAndRates/rates.test.ts
  services/app-api/src/postgres/contractAndRates/vanillaDomainTypes.ts
  services/app-api/src/postgres/contractAndRates/zodDomainTypes.ts
  services/app-api/src/postgres/contractAndRates/zodLimitedTypes.ts
  services/app-api/src/resolvers/contractAndRates/fetchContract.test.ts
  services/app-api/src/resolvers/contractAndRates/fetchContract.ts
  services/app-graphql/src/queries/fetchContractPackage.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

its working
  services/app-api/prisma/migrations/20230426222652_add_actions_table/migration.sql
  services/app-api/prisma/migrations/20230428231941_update_info_table/migration.sql
  services/app-api/prisma/migrations/20230505184747_add_invalidated_by/migration.sql
  services/app-api/src/postgres/contractAndRates/createContractRevision.ts
  services/app-api/src/postgres/contractAndRates/createRateRevision.ts
  services/app-api/src/postgres/contractAndRates/dbConstants.ts
  services/app-api/src/postgres/contractAndRates/findContract.test.ts
  services/app-api/src/postgres/contractAndRates/findContract.ts
  services/app-api/src/postgres/contractAndRates/rates.test.ts
  services/app-api/src/postgres/contractAndRates/submitContractRevision.ts
  services/app-api/src/postgres/contractAndRates/submitRateRevision.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

make draft saving work consistently
  services/app-api/prisma/migrations/20230508174551_add_draft_relationships/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/postgres/contractAndRates/createContractRevision.ts
  services/app-api/src/postgres/contractAndRates/createRateRevision.ts
  services/app-api/src/postgres/contractAndRates/findContract.test.ts
  services/app-api/src/postgres/contractAndRates/submitContractRevision.ts
  services/app-api/src/postgres/contractAndRates/submitRateRevision.ts
Due: lint-app-api

drop stuff
  services/app-api/prisma/migrations/20230509150842_drop_experimental_tables/migration.sql
  services/app-api/src/postgres/contractAndRates/createContractRevision.ts
  services/app-api/src/postgres/contractAndRates/createRateRevision.ts
  services/app-api/src/postgres/contractAndRates/findContract.test.ts
  services/app-api/src/postgres/contractAndRates/findContract.ts
  services/app-api/src/postgres/contractAndRates/submitContractRevision.ts
  services/app-api/src/postgres/contractAndRates/submitRateRevision.ts
Due: lint-app-api

add full contract ops
  services/app-api/prisma/migrations/20230509212722_make_updaters_users/migration.sql
  services/app-api/src/postgres/contractAndRates/createContractRevision.ts
  services/app-api/src/postgres/contractAndRates/createRateRevision.ts
  services/app-api/src/postgres/contractAndRates/findContract.test.ts
  services/app-api/src/postgres/contractAndRates/findContract.ts
  services/app-api/src/postgres/contractAndRates/submitContractRevision.ts
  services/app-api/src/postgres/contractAndRates/submitRateRevision.ts
  services/app-api/src/postgres/contractAndRates/updateContractDraft.ts
Due: lint-app-api

get rid of old contract stuff
  services/app-api/src/postgres/contractAndRates/createContractRevision.ts
  services/app-api/src/postgres/contractAndRates/findContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateContractDraft.ts
Due: lint-app-api

clear out experimental stuff
  services/app-api/src/postgres/contractAndRates/dbConstants.ts
  services/app-api/src/postgres/contractAndRates/findContract.test.ts
  services/app-api/src/postgres/contractAndRates/ioDomainTypes.ts
  services/app-api/src/postgres/contractAndRates/rates.test.ts
  services/app-api/src/postgres/contractAndRates/rates.ts
  services/app-api/src/postgres/contractAndRates/vanillaDomainTypes.ts
  services/app-api/src/postgres/contractAndRates/zodDomainTypes.ts
  services/app-api/src/postgres/contractAndRates/zodLimitedTypes.ts
Due: lint-app-api

pull out types
  services/app-api/src/postgres/contractAndRates/createRateRevision.ts
  services/app-api/src/postgres/contractAndRates/findContract.ts
  services/app-api/src/postgres/contractAndRates/submitRateRevision.ts
  services/app-api/src/postgres/contractAndRates/updateContractDraft.ts
Due: lint-app-api

port all but finding to rates
  services/app-api/src/postgres/contractAndRates/createRateRevision.ts
  services/app-api/src/postgres/contractAndRates/findContract.test.ts
  services/app-api/src/postgres/contractAndRates/findContract.ts
  services/app-api/src/postgres/contractAndRates/submitRateRevision.ts
  services/app-api/src/postgres/contractAndRates/updateRateDraft.ts
Due: lint-app-api

use must
  services/app-api/src/postgres/contractAndRates/findContract.test.ts
Due: lint-app-api

remove most consoles
  services/app-api/src/postgres/contractAndRates/findContract.test.ts
  services/app-api/src/postgres/contractAndRates/submitRateRevision.ts
  services/app-api/src/postgres/contractAndRates/updateContractDraft.ts
  services/app-api/src/postgres/contractAndRates/updateRateDraft.ts
Due: lint-app-api

find Rates too
  services/app-api/src/postgres/contractAndRates/findRate.test.ts
  services/app-api/src/postgres/contractAndRates/findRate.ts
  services/app-api/src/postgres/contractAndRates/submitRateRevision.ts
  services/app-api/src/postgres/contractAndRates/updateContractDraft.ts
  services/app-api/src/postgres/contractAndRates/updateRateDraft.ts
Due: lint-app-api

get into shape for a PR
  services/app-api/prisma/migrations/20230329230405_add_rates_tables/migration.sql
  services/app-api/prisma/migrations/20230330001338_add_connection/migration.sql
  services/app-api/prisma/migrations/20230406083854_add_full_table/migration.sql
  services/app-api/prisma/migrations/20230406084525_optional_modifications/migration.sql
  services/app-api/prisma/migrations/20230426222652_add_actions_table/migration.sql
  services/app-api/prisma/migrations/20230428231941_update_info_table/migration.sql
  services/app-api/prisma/migrations/20230505184747_add_invalidated_by/migration.sql
  services/app-api/prisma/migrations/20230508174551_add_draft_relationships/migration.sql
  services/app-api/prisma/migrations/20230509150842_drop_experimental_tables/migration.sql
  services/app-api/prisma/migrations/20230509212722_make_updaters_users/migration.sql
  services/app-api/src/postgres/contractAndRates/findContract.ts
  services/app-api/src/postgres/contractAndRates/findRate.test.ts
  services/app-api/src/postgres/contractAndRates/findRate.ts
  services/app-api/src/postgres/contractAndRates/submitRateRevision.ts
  services/app-api/src/postgres/contractAndRates/updateRateDraft.ts
  services/app-api/src/resolvers/contractAndRates/fetchContract.test.ts
  services/app-api/src/resolvers/contractAndRates/fetchContract.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

clean up pr
  services/app-api/package.json
  services/app-graphql/src/queries/fetchContractPackage.graphql
  services/app-graphql/src/schema.graphql
  yarn.lock
Due: none

add find contract draft
  services/app-api/src/postgres/contractAndRates/findContract.test.ts
Due: lint-app-api

tests passing with new isRemoval implementation
  services/app-api/src/postgres/contractAndRates/findContract.test.ts
  services/app-api/src/postgres/contractAndRates/findContract.ts
  services/app-api/src/postgres/contractAndRates/findRate.test.ts
  services/app-api/src/postgres/contractAndRates/findRate.ts
  services/app-api/src/postgres/contractAndRates/submitRateRevision.ts
Due: lint-app-api

remove invalidatedBy db bits
  services/app-api/src/postgres/contractAndRates/submitRateRevision.ts
Due: lint-app-api
