Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

move pnpm overrides to workspace file & ignore linter on gitPreferHttps
  package.json
  pnpm-workspace.yaml
Due: none

allow all pnpm builds for packaging cdk function using nodeModules:prisma
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

Exclude CDK output from pnpm workspaces
  pnpm-workspace.yaml
Due: none

install pinned node version prior to installing pnpm
  .github/actions/setup_env/action.yml
Due: none

code clean up
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.test.ts
Due: lint-app-api

Add caching and fix banner spacing on prev summary page
  services/app-web/src/components/Banner/PreviousSubmissionBanner/PreviousSubmissionBanner.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.module.scss
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.tsx
Due: lint-app-web

Add EQRO prev summary page
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/EQROSubmissionTypeSummarySection.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/EQROSubmissionRevisionSummary/EQROSubmissionRevisionSummary.tsx
Due: lint-app-web

Add routing to EQRO prev submission page
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/EQROSubmissionRevisionSummary/index.ts
  services/app-web/src/pages/SubmissionRevisionSummary/RevisionSummaryRoutes.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/index.ts
Due: lint-app-web

MCR-6266: Update pnpm to v11 (#4498)
  .github/actions/setup_env/action.yml
  package.json
  pnpm-workspace.yaml
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

Clear mocks after each test in AuthenticatedRouteWrapper
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
Due: lint-app-web

Add another unit test
  services/app-web/src/components/Banner/PreviousSubmissionBanner/PreviousSubmissionBanner.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/EQROSubmissionRevisionSummary/EQROSubmissionRevisionSummary.test.tsx
Due: lint-app-web

Add what was missed by --ours during merge conflict
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.ts
  services/app-api/src/resolvers/oauthClient/deleteOauthClient.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.ts
Due: lint-app-api

MCR-6012 & MCR-3511: Update vitest (#4511)
  packages/common-code/package.json
  packages/common-code/vitest.config.ts
  packages/dates/package.json
  packages/dates/vitest.config.ts
  packages/helpers/package.json
  packages/helpers/vitest.config.ts
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-api/src/authn/cognitoAuthn.test.ts
  services/app-api/src/handlers/__tests__/oauth_token.test.ts
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-api/src/resolvers/contract/indexContractsStripped.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.ts
  services/app-api/src/resolvers/rate/fetchRate.ts
  services/app-api/src/resolvers/rate/indexRatesStripped.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.ts
  services/app-api/src/zip/generateZip.test.ts
  services/app-api/vitest.config.ts
  services/app-web/package.json
  services/app-web/src/components/ActionButton/ActionButton.test.tsx
  services/app-web/src/pages/Auth/Login.test.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
  services/app-web/src/setupTests.ts
  services/app-web/vite.config.ts
Due: lint-app-web, lint-app-api

Add check for url param spoofing
  services/app-web/src/pages/SubmissionRevisionSummary/EQROSubmissionRevisionSummary/EQROSubmissionRevisionSummary.test.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/EQROSubmissionRevisionSummary/EQROSubmissionRevisionSummary.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.test.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.tsx
Due: lint-app-web

add more missing from --ours during merge conflict
  services/app-api/src/resolvers/oauthClient/createOauthClient.ts
  services/app-api/src/resolvers/oauthClient/updateOauthClient.ts
Due: lint-app-api

Fix flaky cypress command
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

Configure S3 bucket cleanup for review environments
  services/infra-cdk/lib/stacks/frontend-infra.ts
Due: none

Disable CloudFront logging for review environments
  services/infra-cdk/lib/stacks/frontend-infra.ts
Due: none

fix pre-existing small bugs in code to satisfy codex
  services/app-api/src/resolvers/contract/updateContract.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.ts
Due: lint-app-api

Improve error handling in submitRate resolver
  services/app-api/src/resolvers/rate/submitRate.ts
Due: lint-app-api

Add error logging to contract resolvers
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-api/src/resolvers/contract/reverseApproveContract.ts
  services/app-api/src/resolvers/contract/updateContractDraftRevision.ts
Due: lint-app-api

use filter for eventbridge rule & use cf imports for db/secret names
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

Add rotation notifier Lambda
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

move rotation notifier lambda code into app-api/src/handlers
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-api/src/handlers/rotation_notifier.ts
  services/infra-cdk/lib/stacks/app-api.ts
Due: lint-app-api

process all lambdas before throwing error if any failures occur
  services/app-api/src/handlers/rotation_notifier.ts
Due: lint-app-api

Update OTEL mutations to use withResolverSpan wrapper (#4502)
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-api/src/resolvers/contract/createContract.ts
  services/app-api/src/resolvers/contract/reverseApproveContract.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/contract/updateContract.ts
  services/app-api/src/resolvers/contract/updateContractDraftRevision.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.ts
  services/app-api/src/resolvers/documents/generateUploadURL.ts
  services/app-api/src/resolvers/oauthClient/createOauthClient.ts
  services/app-api/src/resolvers/oauthClient/deleteOauthClient.ts
  services/app-api/src/resolvers/oauthClient/updateOauthClient.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-api/src/resolvers/rate/undoWithdrawRate.ts
  services/app-api/src/resolvers/rate/unlockRate.ts
  services/app-api/src/resolvers/rate/withdrawRate.ts
  services/app-api/src/resolvers/settings/updateEmailSettings.ts
  services/app-api/src/resolvers/user/updateDivisionAssignment.ts
  services/app-api/src/resolvers/user/updateStateAssignment.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.ts
Due: lint-app-api

Expose S3 bucket name and key in document queries
  services/app-api/src/resolvers/documents/fetchDocument.ts
  services/app-graphql/src/fragments/contractRevisionFragment.graphql
  services/app-graphql/src/fragments/documentFragment.graphql
  services/app-graphql/src/fragments/rateRevisionFragment.graphql
  services/app-graphql/src/queries/fetchDocument.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

MCR-6079: Add rotation notifier Lambda (#4437)
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-api/src/handlers/rotation_notifier.ts
  services/infra-cdk/lib/stacks/app-api.ts
Due: lint-app-api

Add s3BucketName and s3Key to question response test fixtures
  services/app-api/src/resolvers/contract/contractResolver.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.test.ts
Due: lint-app-api

Update contract question test expectations for S3 fields
  services/app-api/src/resolvers/questionResponse/createContractQuestion.test.ts
  services/app-api/src/testHelpers/documentHelpers.ts
Due: lint-app-api

MCR-6241: Remove prod block for oauth writes (#4513)
  services/app-api/src/authorization/oauthAuthorization.test.ts
  services/app-api/src/authorization/oauthAuthorization.ts
Due: lint-app-api

MCR-6023: Expose S3 bucket name and key in document queries (#4522)
  services/app-api/src/resolvers/contract/contractResolver.test.ts
  services/app-api/src/resolvers/documents/fetchDocument.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.test.ts
  services/app-api/src/testHelpers/documentHelpers.ts
  services/app-graphql/src/fragments/contractRevisionFragment.graphql
  services/app-graphql/src/fragments/documentFragment.graphql
  services/app-graphql/src/fragments/rateRevisionFragment.graphql
  services/app-graphql/src/queries/fetchDocument.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

MCR-6278: Configure S3 bucket cleanup for review environments (#4520)
  services/infra-cdk/lib/stacks/frontend-infra.ts
Due: none

MCR-6275: users can view eqro previous submission page (#4514)
  services/app-web/src/components/Banner/PreviousSubmissionBanner/PreviousSubmissionBanner.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/EQROSubmissionTypeSummarySection.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/EQROSubmissionRevisionSummary/EQROSubmissionRevisionSummary.test.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/EQROSubmissionRevisionSummary/EQROSubmissionRevisionSummary.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/EQROSubmissionRevisionSummary/index.ts
  services/app-web/src/pages/SubmissionRevisionSummary/RevisionSummaryRoutes.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.module.scss
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.test.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/index.ts
  services/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

Add Datadog monitoring infrastructure with OpenTofu
  .github/workflows/deploy-datadog-monitors.yml
  .github/workflows/promote-cdk.yml
  infra/datadog/.gitignore
  infra/datadog/environments/dev.tfvars
  infra/datadog/environments/prod.tfvars
  infra/datadog/environments/val.tfvars
  infra/datadog/main.tf
  infra/datadog/monitors.tf
  infra/datadog/variables.tf
  services/infra-cdk/bin/datadog-infra.ts
  services/infra-cdk/lib/stacks/datadog-infra.ts
  services/infra-cdk/lib/stacks/index.ts
Due: none

feat(emails): add CHIP-only email templates and route HEALTH_PLAN submissions to them
  services/app-api/src/emailer/emails/newContractCMSEmail.ts
  services/app-api/src/emailer/emails/newContractStateEmail.ts
  services/app-api/src/emailer/emails/resubmitContractCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitContractStateEmail.ts
  services/app-api/src/emailer/etaTemplates/newChipOnlyCMSEmail.eta
  services/app-api/src/emailer/etaTemplates/newChipOnlyStateEmail.eta
  services/app-api/src/emailer/etaTemplates/resubmitChipOnlyCMSEmail.eta
  services/app-api/src/emailer/etaTemplates/resubmitChipOnlyStateEmail.eta
Due: lint-app-api

feat(submitContract): short-circuit CHIP-only submissions to NOT_SUBJECT_TO_REVIEW
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
Due: lint-app-api

feat(modal): add RESUBMIT_CHIP_ONLY type and extract ChipOnlyModalDescription
  services/app-web/src/components/Modal/ModalBodyContent/ChipOnlyModalDescription.tsx
  services/app-web/src/components/Modal/ModalBodyContent/index.ts
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
Due: lint-app-web

fix(ReviewSubmit): select RESUBMIT_CHIP_ONLY for unlocked CHIP-only HEALTH_PLAN
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ReviewSubmit/ReviewSubmit.test.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ReviewSubmit/ReviewSubmit.tsx
Due: lint-app-web

feat(EQRO): extend CHIP-only behavior to EQRO submissions
  services/app-api/src/emailer/emails/newEQROContractCMSEmail.ts
  services/app-api/src/emailer/emails/newEqroContractStateEmail.ts
  services/app-api/src/emailer/emails/sendEQROContractResubmitCMSEmail.ts
  services/app-api/src/emailer/emails/sendEQROContractResubmitStateEmail.ts
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROReviewSubmit/EQROReviewSubmit.test.tsx
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROReviewSubmit/EQROReviewSubmit.tsx
Due: lint-app-web, lint-app-api

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
