Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

better ordering of diagram
  docs/technical-design/database-diagram.md
Due: none

config type error
  services/app-api/src/resolvers/debounce.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.ts
  services/app-web/src/pages/StateSubmission/PageActions/PageActions.tsx
Due: lint-app-web, lint-app-api

Revert back to local directories in cypress folders.
  services/cypress/cypress.config.ts
Due: none

Set CI specific cypress configs.
  .github/workflows/deploy.yml
Due: none

There can only be one.
  .github/workflows/deploy.yml
Due: none

Try using env configs.
  .github/workflows/deploy.yml
Due: none

Add CI only configuration for cypress from the move to services.
  .github/workflows/deploy.yml
Due: none

Adjust cypress package version.
  package.json
  yarn.lock
Due: none

cleanup for gha
  services/app-api/scripts/invoke-migrate-lambda.sh
Due: none

need to copy zod to layer
  services/app-api/scripts/prepare-prisma-layer.sh
  services/app-web/package.json
  yarn.lock
Due: none

Maybe we don't need is-ci
  package.json
  yarn.lock
Due: none

fixing versions
  services/app-api/package.json
  services/app-proto/package.json
  services/app-web/package.json
  services/github-oidc/package.json
  services/infra-api/package.json
  services/postgres/package.json
  services/ui/package.json
  services/uploads/package.json
  yarn.lock
Due: none

fix up promote and match the two
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
Due: none

make sure prisma stays the same
  services/app-api/package.json
  yarn.lock
Due: none

more matching packages cleanup
  services/app-web/package.json
Due: none

make sure as few things change as possible
  services/app-api/package.json
  services/app-proto/package.json
  services/app-web/package.json
  services/github-oidc/package.json
  services/infra-api/package.json
  services/postgres/package.json
  services/ui/package.json
  services/uploads/package.json
  yarn.lock
Due: none

cleanup
  services/app-api/webpack.config.js
Due: none

No longer need is-ci
  package.json
Due: none

Fix comments.
  services/cypress/support/launchDarklyCommands.ts
Due: none

dont lose it
  services/app-api/src/resolvers/debounce.ts
  services/app-api/src/resolvers/healthPlanPackage/index.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.ts
  services/app-web/src/common-code/debounce/debounce.ts
  services/app-web/src/hooks/index.ts
  services/app-web/src/hooks/useDebounce.ts
  services/app-web/src/hooks/useDebouncedMutation.ts
  services/app-web/src/pages/StateSubmission/PageActions/PageActions.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
Due: lint-app-web, lint-app-api

Forgot yarn.lock
  yarn.lock
Due: none

Update cypress in promote
  .github/workflows/promote.yml
Due: none

return the result
  services/app-api/scripts/invoke-migrate-lambda.sh
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

cleanup error returns
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

break it one last time
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

Update cypress in promote (#1681)
  .github/workflows/promote.yml
Due: none

tidy returns
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

errmsg not error
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

done testing
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

clean up test
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
Due: lint-app-web

update test
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.ts
Due: lint-app-api

ignore cypress output
  .gitignore
Due: none

cleanup and gitignore
  .gitignore
  services/app-api/src/resolvers/healthPlanPackage/index.ts
  services/app-web/src/hooks/useDebounce.ts
  services/app-web/src/hooks/useDebouncedMutation.ts
  services/app-web/src/pages/StateSubmission/PageActions/PageActions.tsx
Due: lint-app-web, lint-app-api

add console error
  services/app-api/src/handlers/add_sha.ts
Due: lint-app-api
