Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Remove uswds warnings from logs
  services/app-web/vite.config.ts
Due: none

Add local Datadog API key configuration (#4501)
  .envrc
Due: none

fix division logic
  services/app-web/src/pages/QuestionResponse/QATable/CMSQuestionResponseTable.tsx
Due: lint-app-web

Check status before unlock and update test
  services/app-api/src/resolvers/contract/unlockContract.test.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  skills/skill-api/references/05-submit-unlock-resubmit.md
Due: lint-app-api

fix(launchDarkly): merge default flag values in localLDService.allFlags
  services/app-api/src/launchDarkly/launchDarkly.ts
Due: lint-app-api

feat(modal): add SUBMIT_CHIP_ONLY modal type for CHIP-only submissions
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
Due: lint-app-web

feat(ReviewSubmit): select SUBMIT_CHIP_ONLY modal for CHIP submissions when flag is enabled
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ReviewSubmit/ReviewSubmit.test.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ReviewSubmit/ReviewSubmit.tsx
Due: lint-app-web

refactor(ContractTable): extract getConsolidatedContractStatusText helper
  services/app-web/src/components/ContractTable/ContractTable.test.tsx
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/components/ContractTable/index.ts
Due: lint-app-web

feat(SubmissionTypeSummarySection): show review decision with CHIP-only override text
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SummarySectionFields/SummarySectionFields.tsx
Due: lint-app-web

feat(ChangeHistory): show review decision for CHIP-only HEALTH_PLAN submissions
  services/app-web/src/components/ChangeHistory/ChangeHistory.test.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
Due: lint-app-web

feat(SubmissionSummary): display status tag and CHIP-only submission banner
  services/app-web/src/components/Banner/ChipOnlySubmissionBanner/ChipOnlySubmissionBanner.module.scss
  services/app-web/src/components/Banner/ChipOnlySubmissionBanner/ChipOnlySubmissionBanner.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

add blocking questions upload urls for non-authorized users
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

Remove extra $ in string literal
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

add migration for contract document override
  services/app-api/prisma/migrations/20260520161321_add_contract_document_override/migration.sql
Due: none

Upgrade vitest and related packages to v4.1.7
  packages/common-code/package.json
  packages/dates/package.json
  packages/helpers/package.json
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-web/package.json
  services/app-web/vite.config.ts
Due: none

Replace waitFor with act in timer-dependent tests
  services/app-web/src/components/ActionButton/ActionButton.test.tsx
  services/app-web/src/pages/Auth/Login.test.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
Due: lint-app-web

update fetchRate test since doing the full merge of override data
  services/app-api/src/resolvers/rate/fetchRate.test.ts
Due: lint-app-api

Add logging and throw GQL errors in field level resolvers.
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-api/src/resolvers/contract/contractRevisionResolver.ts
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/resolvers/documents/documentZipPackageResolver.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.ts
  services/app-api/src/resolvers/questionResponse/questionResolver.ts
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.ts
  services/app-api/src/resolvers/rate/rateResolver.ts
  services/app-api/src/resolvers/shared/genericDocumentResolver.ts
  services/app-api/src/resolvers/user/indexUsers.ts
Due: lint-app-api

Update skills to include info about field level resolvers
  skills/skill-api/SKILL.md
Due: none

Fix Vitest configuration and session timeout test flakiness
  packages/common-code/vitest.config.ts
  packages/dates/vitest.config.ts
  packages/helpers/vitest.config.ts
  services/app-api/vitest.config.ts
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
  services/app-web/vite.config.ts
Due: lint-app-web

Convert arrow functions to regular functions in vi.mock
  services/app-api/src/authn/cognitoAuthn.test.ts
  services/app-api/src/handlers/__tests__/oauth_token.test.ts
  services/app-api/src/zip/generateZip.test.ts
Due: lint-app-api

cypress fixes
  services/cypress/integration/adminWorkflow/undoUnlockedSubmission.spec.ts
  services/cypress/integration/stateWorkflow/submissionSummary.spec.ts
Due: none

Remove prod block for OAuth writes
  services/app-api/src/authorization/oauthAuthorization.ts
Due: lint-app-api

Import warning
  services/app-api/src/authorization/oauthAuthorization.ts
Due: lint-app-api

Remove per-test clearInterval workaround
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
  services/app-web/src/setupTests.ts
Due: lint-app-web

Add 4 tests covering contract document overrides
  services/app-api/src/postgres/contractAndRates/overrideContractData.test.ts
Due: lint-app-api

Remove prod block test
  services/app-api/src/authorization/oauthAuthorization.test.ts
Due: lint-app-api

Thread contractDocuments and supportingDocuments through contractOverridesToDomainModel
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
Due: lint-app-api

Add mergeContractRevisionOverrides / mergeRateRevisionOverrides
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/submitContractAndOrRates.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
Due: lint-app-api

prevent documentID collision between rate docs and supporting docs
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/submitContractAndOrRates.ts
Due: lint-app-api

add documentation on the new gap where zip download links aren't being regenerated for document overrides
  services/app-api/src/postgres/contractAndRates/overrideContractData.ts
  skills/skill-api/references/10-revision-overrides.md
Due: lint-app-api

ensure document override is persisted during unlock and resubmit
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/submitContractAndOrRates.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
Due: lint-app-api

Add test coverage for contract document overrides
  services/app-api/src/postgres/contractAndRates/unlockContract.override.test.ts
Due: lint-app-api

remove route check no longer needed
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadContractQuestions.tsx
Due: lint-app-web

Modify graphQL query resolvers to use OTEL wrapper (#4512)
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-api/src/resolvers/contract/indexContractsStripped.ts
  services/app-api/src/resolvers/documents/fetchDocument.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.ts
  services/app-api/src/resolvers/rate/fetchRate.ts
  services/app-api/src/resolvers/rate/indexRates.ts
  services/app-api/src/resolvers/rate/indexRatesStripped.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.ts
  services/app-api/src/resolvers/user/fetchCurrentUser.ts
  services/app-api/src/resolvers/user/indexUsers.ts
Due: lint-app-api

MCR-6034 Hide the ability to add questions for DMCP and OACT users (#4496)
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/QuestionResponse/QATable/CMSQuestionResponseTable.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadContractQuestions.tsx
Due: lint-app-web

use latest version on pnpm setup action
  .github/actions/setup_env/action.yml
Due: none

pin pnpm version in package.json & remove pnpm version for gh action workflow
  .github/actions/setup_env/action.yml
  package.json
Due: none

use pnpm-workspace for pnpm configs
  .github/actions/setup_env/action.yml
  pnpm-workspace.yaml
Due: none
