Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

test move proto migrator to app-proto
  services/app-api/scripts/prepare-prisma-layer.sh
  services/app-api/webpack.config.js
  services/app-proto/package.json
  services/app-proto/protoMigrations/README.md
  services/app-proto/protoMigrations/healthPlanFormDataMigrations/0000_initial_migration.ts
  services/app-proto/protoMigrations/lib/migrator.ts
  services/app-proto/protoMigrations/migrate_protos.ts
  services/app-proto/protoMigrations/test_migrate
  services/app-proto/tsconfig.json
Due: none

fix path imports
  services/app-api/src/handlers/postgres_migrate.ts
  services/app-proto/protoMigrations/lib/migrator.ts
Due: lint-app-api

fix excludes
  services/app-api/webpack.config.js
Due: none

types ok
  services/app-api/src/handlers/reports.ts
  services/app-api/src/postgres/generateReports.ts
Due: lint-app-api

working in browser
  services/app-api/src/handlers/reports.ts
  services/app-web/src/components/Reports/Reports.module.scss
  services/app-web/src/components/Reports/Reports.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web, lint-app-api

Throw error when trying to convert Rate cert doc to contract cert doc.
  services/app-api/src/resolvers/updateHealthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/index.ts
Due: lint-app-web, lint-app-api

convertRateSupportingDocs tests.
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.test.ts
Due: lint-app-web

MR-2566: Rate-supporting documents not converting to Contract-supporting when switching submission types (#1157)
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/updateHealthPlanFormData.test.ts
  services/app-api/src/resolvers/updateHealthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.test.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/index.ts
  services/app-web/src/components/FileUpload/FileUpload.tsx
Due: lint-app-web, lint-app-api

add to tsconfig
  services/app-api/tsconfig.json
  services/app-api/webpack.config.js
Due: none

change root dir
  services/app-api/tsconfig.json
Due: none

fix up prisma generate layer
  .github/workflows/deploy.yml
Due: none

fix order of calls
  .github/workflows/deploy.yml
Due: none

change protogen for layer
  .github/workflows/deploy.yml
Due: none

remove dup code gen
  services/app-api/scripts/prepare-prisma-layer.sh
Due: none

bump depth
  .github/workflows/deploy.yml
Due: none

Do not display links for initial submission when unlocked.
  services/app-web/src/components/ChangeHistory/ChangeHistory.test.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
Due: lint-app-web

remove debug
  services/app-api/scripts/prepare-prisma-layer.sh
Due: none

depth for debugging
  .github/workflows/deploy.yml
Due: none

just revisions no types
  services/app-api/src/handlers/reports.ts
  services/app-api/src/postgres/generateReports.ts
Due: lint-app-api

Remove console.log
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
Due: lint-app-web

Replace visit with navigateFormByDirectLink helper.
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
Due: none

needs docs and tests
  services/app-api/src/handlers/reports.ts
  services/app-api/src/postgres/getAllRevisions.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-web/src/components/Reports/Reports.tsx
  tsconfig.json
Due: lint-app-web, lint-app-api

use toDomain
  services/app-api/src/handlers/reports.ts
Due: lint-app-api

some cleanup
  services/app-api/src/domain-models/DataExport.ts
  services/app-api/src/handlers/reports.ts
  services/app-api/src/postgres/dataExport.ts
  services/app-api/src/postgres/getAllRevisions.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/dataExport.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/queries/dataExport.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

bump error to force rebuild
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

add simple tests
  services/app-web/src/components/Reports/Reports.test.tsx
  services/app-web/src/components/Reports/__snapshots__/Reports.test.tsx.snap
  tests/cypress/integration/cmsWorkflow/generateReport.spec.ts
  tests/cypress/support/loginCommands.ts
Due: lint-app-web

update snapshot
  services/app-web/src/components/Reports/__snapshots__/Reports.test.tsx.snap
Due: lint-app-web

add auth to endpoint
  services/app-api/serverless.yml
Due: none

Add updated architecture.svg
  .images/architecture.png
  .images/architecture.svg
Due: none

Add updated architecture.svg (#1171)
  .images/architecture.png
  .images/architecture.svg
Due: none

fix: Previous submission link visibility, copy changes on landing, submission type pages (#1160)
  services/app-web/src/components/ChangeHistory/ChangeHistory.test.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
  services/app-web/src/pages/Landing/Landing.tsx
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  tests/cypress/integration/cmsWorkflow/viewSubmission.spec.ts
  tests/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contractDetails.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/documents.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/newSubmission.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/reviewAndSubmit.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  tests/cypress/support/dashboardCommands.ts
  tests/cypress/support/index.ts
  tests/cypress/support/navigateCommands.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

try prisma as dependency
  services/app-api/package.json
Due: none

that wasnt it
  services/app-api/package.json
Due: none

add prisma layer
  services/app-api/serverless.yml
Due: none

try without auth
  services/app-api/serverless.yml
Due: none

increase timeout
  services/app-api/serverless.yml
Due: none

does timeout 60 make a difference
  services/app-api/serverless.yml
Due: none

try keeping libquery
  services/app-api/scripts/prepare-prisma-layer.sh
Due: none

check our output for debug
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

Add a technical design folder, use snake case for folder names
  docs/architectural-decision-records/001-dev_ts-for-local-dev.md
  docs/architectural-decision-records/002-deploy-infra-with-serverless.md
  docs/architectural-decision-records/003-deploy-automatically-to-prod.md
  docs/architectural-decision-records/004-use-dynamodb-for-now.md
  docs/architectural-decision-records/005-frontend-a11y-toolset.md
  docs/architectural-decision-records/006-automated-testing-approach.md
  docs/architectural-decision-records/007-move-to-postgres.md
  docs/architectural-decision-records/008-form-data-serialization.md
  docs/architectural-decision-records/009-data-serialization-framework.md
  docs/architectural-decision-records/010-prisma-for-postgres.md
  docs/architectural-decision-records/011-typescript-error-handling.md
  docs/architectural-decision-records/012-custom-error-types.md
  docs/architectural-decision-records/013-open-source-mc-review.md
  docs/architectural-decision-records/014-use-uswds-design-system.md
  docs/architectural-decision-records/015-use-cypress-audit-for-pa11y.md
  docs/architectural-decision-records/016-use-launch-darkly-for-feature-flags.md
  docs/architectural-decision-records/016-use-otel-for-monitoring.md
  docs/architectural-decision-records/017-feature-flag-lifecycles.md
  docs/architectural-decision-records/018-changing-form-over-time.md
  docs/technical-design/AuthContext.md
  docs/technical-design/designPatterns.md
  docs/technical-design/submissionDiagram.md
  docs/technical-design/testingApproach.md
  services/app-proto/README.md
Due: none
