Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

cleanup based on comments
  README.md
  dev_tool/src/dev.ts
  dev_tool/src/local/api.ts
  dev_tool/src/local/graphql.ts
  dev_tool/src/local/index.ts
  dev_tool/src/local/proto.ts
  dev_tool/src/local/storybook.ts
  dev_tool/src/local/uploads.ts
  dev_tool/src/local/web.ts
  dev_tool/src/test/uploads.ts
  dev_tool/src/test/web.ts
  services/uploads/src/deps/clamAV/clamAV.test.ts
  services/uploads/src/lib/auditUploads.test.ts
Due: none

binary encoding
  tests/cypress/integration/stateWorkflow/virusScan/virusScan.spec.ts
Due: none

increase timeout
  tests/cypress/integration/stateWorkflow/virusScan/virusScan.spec.ts
Due: none

revert tests to original
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/uploads/src/clamAV.ts
  services/uploads/src/s3.ts
  tests/cypress/integration/cmsWorkflow/generateReport.spec.ts
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  tests/cypress/integration/cmsWorkflow/viewSubmission.spec.ts
  tests/cypress/integration/promoteWorkflow/promote.spec.ts
  tests/cypress/integration/smokeTest/smokeTest.spec.ts
  tests/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
  tests/cypress/integration/stateWorkflow/login/login.spec.ts
  tests/cypress/integration/stateWorkflow/questionsAnswers/questionAnswers.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contractDetails.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/documents.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/newSubmission.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/reviewAndSubmit.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
Due: lint-app-web

change viewport ratio
  cypress.config.ts
Due: none

Make sure we pass bucketname string not the CONST string
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web

add node otel tracing to avScan
  services/uploads/package.json
  services/uploads/src/avScan.ts
  yarn.lock
Due: none

add otel collecter env var
  services/uploads/serverless.yml
Due: none

update promote workflow
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/promote.yml
  services/github-oidc/README.md
Due: none

change import for jotai
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
Due: lint-app-web

add license key
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
Due: none

add webpack config
  services/uploads/serverless.yml
Due: none

fix up packages, sdk not importing
  services/uploads/package.json
  services/uploads/src/avScan.ts
  yarn.lock
Due: none

Rename QuestionAnswers to QuestionsResponses
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/questionResponses/findAllQuestionsByHealthPlanPackage.ts
  services/app-api/src/postgres/questionResponses/index.ts
  services/app-api/src/postgres/questionResponses/insertQuestion.ts
  services/app-api/src/postgres/questionResponses/questionHelpers.ts
  services/app-api/src/resolvers/questionAnswers/index.ts
  services/app-api/src/resolvers/questionResponses/createQuestion.test.ts
  services/app-api/src/resolvers/questionResponses/createQuestion.ts
  services/app-api/src/resolvers/questionResponses/index.ts
  services/app-api/src/resolvers/questionResponses/indexQuestions..ts
  services/app-api/src/resolvers/questionResponses/indexQuestions.test.ts
  services/app-web/src/constants/routes.ts
  services/app-web/src/constants/tealium.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/QuestionsAnswers/index.ts
  services/app-web/src/pages/QuestionsResponses/QuestionsResponses.test.tsx
  services/app-web/src/pages/QuestionsResponses/UploadQuestions/UploadQuestions.test.tsx
  services/app-web/src/pages/QuestionsResponses/UploadQuestions/UploadQuestions.tsx
  services/app-web/src/pages/QuestionsResponses/UploadQuestions/index.ts
  services/app-web/src/pages/QuestionsResponses/index.ts
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.test.tsx
  tests/cypress/integration/stateWorkflow/questionsResponses/questionResponses.spec.ts
Due: lint-app-web, lint-app-api

Cleanup and integrate @rswerve comments
  services/app-web/src/contexts/S3Context.tsx
  services/app-web/src/hooks/useFileUpload.ts
Due: lint-app-web

Rename QuestionAnswers to QuestionsResponses
  services/app-web/src/pages/QuestionsResponses/QATable/QATable.module.scss
  services/app-web/src/pages/QuestionsResponses/QATable/QATable.test.tsx
  services/app-web/src/pages/QuestionsResponses/QATable/QATable.tsx
  services/app-web/src/pages/QuestionsResponses/QuestionsResponses.module.scss
Due: lint-app-web

fetch health plan with questions query
  services/app-graphql/src/queries/fetchHealthPlanPackage.graphql
  services/app-graphql/src/queries/fetchHealthPlanPackageWithQuestions.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/gqlHelpers/fetchHealthPlanPackageWrapper.ts
  services/app-web/src/gqlHelpers/index.ts
Due: lint-app-web

Move querying questions to healthPlanPackageResolver.
  services/app-api/src/postgres/healthPlanPackage/findHealthPlanPackage.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/healthPlanPackage/fetchHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/healthPlanPackageResolver.ts
Due: lint-app-api

Display questions on QA page and tests.
  services/app-web/src/pages/QuestionsAnswers/QuestionsAnswers.tsx
  services/app-web/src/pages/QuestionsResponses/QuestionsResponses.test.tsx
  services/app-web/src/pages/QuestionsResponses/QuestionsResponses.tsx
Due: lint-app-web

switch fetch package queries and update tests.
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.test.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
Due: lint-app-web

Add QA helpers.
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web

Remove necessary code.
  services/app-api/src/postgres/healthPlanPackage/healthPlanPackageHelpers.ts
Due: lint-app-api

Fix export
  services/app-api/src/domain-models/QuestionsType.ts
Due: lint-app-api

Add QA mocks. Fix imports.
  services/app-web/src/pages/QuestionsResponses/QATable/QATable.test.tsx
  services/app-web/src/pages/QuestionsResponses/QuestionsResponses.test.tsx
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/questionAnswerDataMocks.ts
  services/app-web/src/testHelpers/apolloMocks/questionAnswerGQLMock.ts
Due: lint-app-web

no node externals on this service
  services/uploads/webpack.config.js
Due: none

fix up packages. switch sdk
  services/uploads/package.json
  services/uploads/src/avScan.ts
  yarn.lock
Due: none

Simplify useFileUpload state management more, remove effect rely on derived state directly
  services/app-web/src/hooks/useFileUpload.ts
  services/app-web/src/pages/QuestionsAnswers/UploadQuestions/UploadQuestions.tsx
Due: lint-app-web

Fix MR-2997, that viewport handling was from when this field was on contract details page
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

change method
  services/uploads/package.json
  services/uploads/src/avScan.ts
Due: none

put stage in uploads env
  services/uploads/serverless.yml
Due: none

Embed graphql into app.
  services/app-api/package.json
  services/app-api/src/handlers/apollo_gql.ts
  services/app-web/package.json
  services/app-web/src/constants/routes.ts
  services/app-web/src/constants/tealium.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/GraphQLExplorer/GraphQLExplorer.module.scss
  services/app-web/src/pages/GraphQLExplorer/GraphQLExplorer.tsx
  yarn.lock
Due: lint-app-web, lint-app-api

pull init into func
  services/uploads/src/avScan.ts
Due: none

catch some error cases in otel
  services/uploads/src/avScan.ts
Due: none

default to light mode.
  services/app-web/src/pages/GraphQLExplorer/GraphQLExplorer.tsx
Due: lint-app-web

add wait for fetching packages with questions query.
  tests/cypress/support/dashboardCommands.ts
  tests/cypress/support/loginCommands.ts
Due: none

fix url check.
  tests/cypress/support/loginCommands.ts
Due: none

wip
  services/app-api/src/resolvers/user/indexUsers.ts
  services/app-web/src/constants/routes.ts
  services/app-web/src/constants/tealium.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/Settings/Settings.tsx
Due: lint-app-web, lint-app-api

hallelujah types are working
  services/app-web/src/pages/Settings/Settings.tsx
Due: lint-app-web

pull out path from url.
  tests/cypress/support/loginCommands.ts
Due: none

fix pulling out path from url.
  tests/cypress/support/loginCommands.ts
Due: none
