Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

keys
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web

add the lambda, vpc, and connections to aurora
  services/app-api/serverless.yml
  services/app-api/src/handlers/audit_s3.ts
  services/app-api/src/postgres/documents/findAllDocuments.ts
  services/app-api/src/postgres/documents/index.ts
  services/app-api/src/postgres/postgresStore.ts
Due: lint-app-api

add the zod type
  services/app-api/src/domain-models/DocumentType.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/documents/findAllDocuments.ts
Due: lint-app-api

Tests WIP - copy over all HPP tests, start to convert. Move some tests to unlock that are more unlock related
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/unlockContract.test.ts
Due: lint-app-api

Add Salesfroce model docs
  docs/contract-rate-non-revision-design.md
Due: none

use zod parser
  services/app-api/src/postgres/documents/findAllDocuments.ts
Due: lint-app-api

Renaming things, adding upload question and response
  services/app-web/src/constants/routes.ts
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponse.tsx
  services/app-web/src/tealium/constants.ts
Due: lint-app-web

cleanup
  services/app-web/src/constants/routes.ts
Due: lint-app-web

Make root qa route be named contracts
  services/app-api/src/emailer/generateURLs.ts
  services/app-web/src/constants/routes.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.test.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.test.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/app-web/src/tealium/constants.ts
Due: lint-app-web, lint-app-api

refactor for contract + rate docs
  services/app-api/src/domain-models/DocumentType.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/documents/findAllDocuments.ts
Due: lint-app-api

debug
  services/app-api/src/postgres/documents/findAllDocuments.ts
Due: lint-app-api

Refactor - pull out UploadQuestionsForm
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadContractQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadContractQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestionsForm.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/index.ts
  services/app-web/src/pages/QuestionResponse/index.ts
Due: lint-app-web

Add basic upload rate questions UI
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/index.ts
Due: lint-app-web

Move graphql fragments into fragments directory and only define them once.
  services/app-graphql/codegen.yml
  services/app-graphql/src/fragments/questionResponseFragment.graphql
  services/app-graphql/src/fragments/questionsEdgeFragment.graphql
  services/app-graphql/src/fragments/updateInformationFragment.graphql
  services/app-graphql/src/fragments/userFragments.graphql
  services/app-graphql/src/mutations/createContract.graphql
  services/app-graphql/src/mutations/createHealthPlanPackage.graphql
  services/app-graphql/src/mutations/createRateQuestion.graphql
  services/app-graphql/src/mutations/createRateQuestionResponse.graphql
  services/app-graphql/src/mutations/submitContract.graphql
  services/app-graphql/src/mutations/submitHealthPlanPackage.graphql
  services/app-graphql/src/mutations/submitRate.graphql
  services/app-graphql/src/mutations/unlockContract.graphql
  services/app-graphql/src/mutations/unlockHealthPlanPackage.graphql
  services/app-graphql/src/mutations/unlockRate.graphql
  services/app-graphql/src/mutations/updateContract.graphql
  services/app-graphql/src/mutations/updateContractDraftRevision.graphql
  services/app-graphql/src/mutations/updateDivisionAssignment.graphql
  services/app-graphql/src/mutations/updateDraftContractRates.graphql
  services/app-graphql/src/mutations/updateHealthPlanFormData.graphql
  services/app-graphql/src/mutations/updateStateAssignment.graphql
  services/app-graphql/src/mutations/updateStateAssignmentsByState.graphql
  services/app-graphql/src/mutations/withdrawAndReplaceRedundantRate.graphql
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/queries/fetchContractWithQuestions.graphql
  services/app-graphql/src/queries/fetchCurrentUser.graphql
  services/app-graphql/src/queries/fetchHealthPlanPackage.graphql
  services/app-graphql/src/queries/fetchHealthPlanPackageWithQuestions.graphql
  services/app-graphql/src/queries/fetchMcReviewSettings.graphql
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/queries/fetchRateWithQuestions.graphql
  services/app-graphql/src/queries/indexContractsForDashboard.graphql
  services/app-graphql/src/queries/indexHealthPlanPackages.graphql
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/queries/indexRatesForDashboard.graphql
  services/app-graphql/src/queries/indexUsers.graphql
Due: none

Setup routes for rate Q&A page
  services/app-web/src/constants/routes.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/tealium/constants.ts
Due: lint-app-web

add docs
  docs/contract-rate-non-revision-design.md
Due: none

typo
  services/app-graphql/codegen.yml
Due: none

Clean up
  services/app-web/src/pages/QuestionResponse/QATable/QATable.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.tsx
Due: lint-app-web

Move helpers to common directory.
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/questionResponseHelpers.ts
Due: lint-app-web

Add dynamic rate Q&A links
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.test.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
Due: lint-app-web

State Q&A by rate page
  services/app-web/src/components/SectionHeader/SectionHeader.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.module.scss
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/index.ts
  services/app-web/src/pages/QuestionResponse/RateQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/RateQuestionResponse.tsx
  services/app-web/src/testHelpers/apolloMocks/rateGQLMocks.ts
Due: lint-app-web

Fix import
  services/app-web/src/pages/QuestionResponse/QATable/QATable.test.tsx
Due: lint-app-web

Use Division from gqlClient
  services/app-web/src/localAuth/LocalUserType.ts
  services/app-web/src/pages/QuestionResponse/QATable/QATable.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/index.ts
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/questionResponseHelpers.ts
  services/app-web/src/pages/QuestionResponse/RateQuestionResponse.tsx
Due: lint-app-web

address comments
  docs/contract-rate-non-revision-design.md
  services/app-graphql/src/schema.graphql
Due: none

Keep sidenav width static.
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.module.scss
Due: lint-app-web

name id
  docs/contract-rate-non-revision-design.md
Due: none

Add fragments directory to readme
  services/app-graphql/README.md
Due: none

fix the union here
  services/app-api/src/domain-models/DocumentType.ts
  services/app-api/src/postgres/documents/findAllDocuments.ts
Due: lint-app-api

add contract supporting docs
  services/app-api/src/domain-models/DocumentType.ts
  services/app-api/src/postgres/documents/findAllDocuments.ts
Due: lint-app-api

Add tests
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/index.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateGQLMocks.ts
Due: lint-app-web

Add route and feature flag
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

add relationships
  docs/contract-rate-non-revision-design.md
Due: none

wip: submit modal working, need to add more cases to parseContract and validations
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.ts
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/resolvers/contract/submitContract.ts
Due: lint-app-api

code cleanup
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.ts
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
Due: lint-app-api

rate supporting docs
  services/app-api/src/domain-models/DocumentType.ts
  services/app-api/src/postgres/documents/findAllDocuments.ts
Due: lint-app-api

contract question docs
  services/app-api/src/domain-models/DocumentType.ts
  services/app-api/src/postgres/documents/findAllDocuments.ts
Due: lint-app-api

add contract question resposne docs
  services/app-api/src/domain-models/DocumentType.ts
  services/app-api/src/postgres/documents/findAllDocuments.ts
Due: lint-app-api

rate question + response docs
  services/app-api/src/domain-models/DocumentType.ts
  services/app-api/src/postgres/documents/findAllDocuments.ts
Due: lint-app-api

More tests progress
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadContractQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.tsx
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/questionResponseGQLMock.ts
Due: lint-app-web

Fix parsing for linked rates case
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.ts
  services/app-api/src/resolvers/contract/submitContract.ts
Due: lint-app-api

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
