Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Update body with h3 element and styles
  services/app-api/src/emailer/emails/__snapshots__/newEQROContractCMSEmail.test.ts.snap
  services/app-api/src/emailer/etaTemplates/newEQROContractCMSEmail.eta
Due: lint-app-api

Show horizontal line for empty list
  services/app-web/src/components/DataDetail/DataDetailCheckboxList/DataDetailCheckboxList.tsx
Due: lint-app-web

Update test
  services/app-web/src/components/DataDetail/DataDetailCheckboxList/DataDetailCheckboxList.test.tsx
  services/app-web/src/components/DataDetail/DataDetailCheckboxList/DataDetailCheckboxList.tsx
Due: lint-app-web

MCR-5729: CMS users receive EQRO submissions emails subject to review (#3926)
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/newEQROContractCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/newEQROContractCMSEmail.test.ts
  services/app-api/src/emailer/emails/newEQROContractCMSEmail.ts
  services/app-api/src/emailer/etaTemplates/newEQROContractCMSEmail.eta
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

MCR-5788: add contract type column to the dashboard (#3931)
  services/app-web/src/components/ContractTable/ContractTable.test.tsx
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
Due: lint-app-web

fix applicationurl import/export
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

MCR-5728: Fixes from prod/design review (#3936)
  services/app-web/src/components/DataDetail/DataDetailCheckboxList/DataDetailCheckboxList.test.tsx
  services/app-web/src/components/DataDetail/DataDetailCheckboxList/DataDetailCheckboxList.tsx
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROContractDetails/EQROContractDetails.tsx
Due: lint-app-web

styling fixes
  services/app-api/src/emailer/emails/__snapshots__/newEqroContractStateEmail.test.ts.snap
  services/app-api/src/emailer/etaTemplates/newEqroContractStateEmail.eta
Due: lint-app-api

merge issue
  services/app-api/src/resolvers/contract/submitContract.ts
Due: lint-app-api

couple small fixes
  services/app-api/src/emailer/emails/__snapshots__/newEqroContractStateEmail.test.ts.snap
  services/app-api/src/emailer/etaTemplates/newEqroContractStateEmail.eta
Due: lint-app-api

this should be it
  services/app-api/src/emailer/emails/__snapshots__/newEqroContractStateEmail.test.ts.snap
  services/app-api/src/emailer/etaTemplates/newEqroContractStateEmail.eta
Due: lint-app-api

padding
  services/app-api/src/emailer/emails/__snapshots__/newEqroContractStateEmail.test.ts.snap
  services/app-api/src/emailer/etaTemplates/newEqroContractStateEmail.eta
Due: lint-app-api

done
  services/app-api/src/emailer/emails/__snapshots__/newEqroContractStateEmail.test.ts.snap
  services/app-api/src/emailer/etaTemplates/newEqroContractStateEmail.eta
Due: lint-app-api

fix applicationurl import/export (#3937)
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

use SSM tunnel and docker to download db dump
  dev_tool/src/aws.ts
  dev_tool/src/jumpbox.ts
  pnpm-lock.yaml
Due: none

update lockfile
  pnpm-lock.yaml
Due: none

use spawnSync
  dev_tool/src/jumpbox.ts
Due: none

docker ps checks
  dev_tool/src/jumpbox.ts
Due: none

pgpass file cleanup
  dev_tool/src/jumpbox.ts
Due: none

check ssm errors
  dev_tool/src/jumpbox.ts
Due: none

add ssm process check before kill
  dev_tool/src/jumpbox.ts
Due: none

add cloudwatch INFO logs on api gateway
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

add an app security group to replace default
  services/infra-cdk/bin/app-api.ts
  services/infra-cdk/bin/postgres.ts
  services/infra-cdk/lib/stacks/app-api.ts
  services/infra-cdk/lib/stacks/network.ts
  services/infra-cdk/lib/stacks/postgres.ts
Due: none

add default outbound
  services/infra-cdk/lib/stacks/network.ts
Due: none

Add program to MA
  packages/submissions/src/statePrograms/statePrograms.json
Due: none

Add program to MA (#3946)
  packages/submissions/src/statePrograms/statePrograms.json
Due: none

add entry validation test for EQRO provision fields
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROContractDetails/EQROContractDetails.test.tsx
Due: lint-app-web

synth the network stack
  services/infra-cdk/bin/postgres.ts
Due: none

add network dep to app-api
  services/infra-cdk/bin/app-api.ts
Due: none

import from network instead
  services/infra-cdk/bin/app-api.ts
  services/infra-cdk/bin/postgres.ts
  services/infra-cdk/lib/stacks/app-api.ts
  services/infra-cdk/lib/stacks/postgres.ts
Due: none

fixed tag
  services/app-api/src/emailer/etaTemplates/newEqroContractStateEmail.eta
Due: lint-app-api

add validation tests for provisions
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROContractDetails/EQROContractDetails.test.tsx
Due: lint-app-web

add divider at the top of Provisions div
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
Due: lint-app-web

template
  services/app-api/src/emailer/emails/__snapshots__/newEqroContractStateEmail.test.ts.snap
Due: lint-app-api

[MCR-5730] State users receive EQRO submission emails (#3930)
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/newEqroContractStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/index.ts
  services/app-api/src/emailer/emails/newEqroContractStateEmail.test.ts
  services/app-api/src/emailer/emails/newEqroContractStateEmail.ts
  services/app-api/src/emailer/etaTemplates/newEqroContractStateEmail.eta
  services/app-api/src/emailer/index.ts
  services/app-api/src/resolvers/contract/submitContract.ts
Due: lint-app-api

dashboard now display state acronyms
  packages/common-code/src/formatters/index.ts
  packages/common-code/src/formatters/stateNameToCode.ts
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

add region and better error logging
  dev_tool/src/dev.ts
  dev_tool/src/jumpbox.ts
Due: none
