Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

refactor
  .github/workflows/validate-prs.yml
Due: none

change perms
  .github/workflows/validate-prs.yml
Due: none

test a breaking commit
  .github/workflows/validate-prs.yml
  services/app-api/prisma/migrations/20230406022336_add_user_audit_table/migration.sql
Due: none

getobjectcommand
  services/app-api/src/handlers/add_sha.ts
Due: lint-app-api

fix it
  services/app-api/prisma/migrations/20230406022336_add_user_audit_table/migration.sql
Due: none

more logging
  services/app-api/src/handlers/add_sha.ts
Due: lint-app-api

truncate bucket name
  services/app-api/src/handlers/add_sha.ts
Due: lint-app-api

Validate that migrations are wrapped in transactions (#1607)
  .github/github-lock.sh
  .github/workflows/deploy.yml
  .github/workflows/validate-prs.yml
  dangerfile.ts
  docs/architectural-decision-records/022-use-dangerjs-for-code-conventions
  package.json
  scripts/validate_migration.sh
  services/app-api/package.json
  yarn.lock
Due: none

remove http from serverless
  services/app-api/serverless.yml
Due: none

light refactors
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

prepend allusers/ to key
  services/app-api/src/handlers/add_sha.ts
Due: lint-app-api

parsekey
  services/app-api/src/handlers/add_sha.ts
Due: lint-app-api

logging in postgres
  services/app-api/src/handlers/add_sha.ts
  services/app-api/src/postgres/healthPlanPackage/updateHealthPlanRevision.ts
Due: lint-app-api

stringify postgres log
  services/app-api/src/postgres/healthPlanPackage/updateHealthPlanRevision.ts
Due: lint-app-api

new push
  services/app-api/src/postgres/healthPlanPackage/updateHealthPlanRevision.ts
Due: lint-app-api

update toprotobuffer
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
Due: lint-app-web

Move cypress tests to services
  cypress.config.ts
  services/cypress/cypress.config.ts
  services/cypress/fixtures/documents/eicar_com.pdf
  services/cypress/fixtures/documents/how-to-open-source.pdf
  services/cypress/fixtures/documents/questions_for_submission.pdf
  services/cypress/fixtures/documents/response_to_questions_for_submission.pdf
  services/cypress/fixtures/documents/testing.csv
  services/cypress/fixtures/documents/testing.docx
  services/cypress/fixtures/documents/trussel-guide.pdf
  services/cypress/fixtures/images/trussel-guide-screenshot.png
  services/cypress/integration/cmsWorkflow/generateReport.spec.ts
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  services/cypress/integration/cmsWorkflow/viewSubmission.spec.ts
  services/cypress/integration/promoteWorkflow/promote.spec.ts
  services/cypress/integration/smokeTest/smokeTest.spec.ts
  services/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
  services/cypress/integration/stateWorkflow/login/login.spec.ts
  services/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/contractDetails.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/documents.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/newSubmission.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/reviewAndSubmit.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  services/cypress/integration/stateWorkflow/virusScan/virusScan.spec.ts
  services/cypress/package.json
  services/cypress/support/commands.ts
  services/cypress/support/dashboardCommands.ts
  services/cypress/support/e2e.ts
  services/cypress/support/index.ts
  services/cypress/support/launchDarklyCommands.ts
  services/cypress/support/loginCommands.ts
  services/cypress/support/navigateCommands.ts
  services/cypress/support/questionResponseCommands.ts
  services/cypress/support/stateSubmissionFormCommands.ts
  services/cypress/support/userSettingCommands.ts
  services/cypress/tsconfig.json
  services/cypress/utils/graphql-test-utils.ts
  services/fixtures/stores/featureFlagStore.json
Due: none

Update cypress directory.
  .codeclimate.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  .gitignore
  README.md
  dev_tool/src/dev.ts
  dev_tool/src/test/browser.ts
  docs/technical-design/launch-darkly-testing-approach.md
Due: none

Fix package.json coverage scripts from the change in cypress location.
  package.json
Due: none

Change directory
  dev_tool/src/test/browser.ts
Due: none

Add otel record exception to handler
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

cleanup
  services/app-api/serverless.yml
  services/app-api/src/handlers/add_sha.ts
Due: lint-app-api

remove log
  services/app-api/src/postgres/healthPlanPackage/updateHealthPlanRevision.ts
Due: lint-app-api

add line
  services/app-api/src/postgres/healthPlanPackage/updateHealthPlanRevision.ts
Due: lint-app-api

parse url for bucket
  services/app-api/src/handlers/add_sha.ts
Due: lint-app-api

more modular
  services/app-api/src/handlers/add_sha.ts
Due: lint-app-api

Set working directory for Cypress -- Chrome
  .github/workflows/deploy.yml
Due: none

Add cypress to root.
  package.json
  yarn.lock
Due: none

Remove working directory
  .github/workflows/deploy.yml
Due: none

Add working directory.
  .github/workflows/deploy.yml
Due: none

spawnSync
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

its working
  services/app-api/prisma/migrations/20230426222652_add_actions_table/migration.sql
  services/app-api/prisma/migrations/20230428231941_update_info_table/migration.sql
  services/app-api/prisma/migrations/20230505184747_add_invalidated_by/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/postgres/contractAndRates/createContractRevision.ts
  services/app-api/src/postgres/contractAndRates/createRateRevision.ts
  services/app-api/src/postgres/contractAndRates/dbConstants.ts
  services/app-api/src/postgres/contractAndRates/findContract.test.ts
  services/app-api/src/postgres/contractAndRates/findContract.ts
  services/app-api/src/postgres/contractAndRates/rates.test.ts
  services/app-api/src/postgres/contractAndRates/submitContractRevision.ts
  services/app-api/src/postgres/contractAndRates/submitRateRevision.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

use spawnSync over execSync
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

Update working directory.
  .github/workflows/deploy.yml
Due: none

break the command for a test
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

change status code. log the end
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

add tests
  services/app-api/src/handlers/add_sha.test.ts
Due: lint-app-api

Add additional copy change MR-3177 from Jane
  services/app-web/src/constants/healthPlanPackages.ts
Due: lint-app-web

Unit tests passing.
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

Initial commit - with basic tests sketched
  services/app-web/src/common-code/healthPlanFormDataType/FederalAuthorities.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/index.ts
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/constants/healthPlanPackages.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web
