Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

add missing sub
  services/github-oidc/serverless.yml
Due: none

move mocks
  packages/hpp/src/healthPlanFormDataMocks/index.ts
  packages/mocks/package.json
  packages/mocks/src/apollo/apiKeyGQLMocks.ts
  packages/mocks/src/apollo/apolloErrorCodeMocks.ts
  packages/mocks/src/apollo/contractGQLMock.ts
  packages/mocks/src/apollo/contractPackageDataMock.ts
  packages/mocks/src/apollo/documentDataMock.ts
  packages/mocks/src/apollo/emailGQLMock.ts
  packages/mocks/src/apollo/healthPlanFormDataMock.ts
  packages/mocks/src/apollo/healthPlanPackageGQLMock.ts
  packages/mocks/src/apollo/index.ts
  packages/mocks/src/apollo/questionResponseDataMocks.ts
  packages/mocks/src/apollo/questionResponseGQLMock.ts
  packages/mocks/src/apollo/rateDataMock.ts
  packages/mocks/src/apollo/rateGQLMocks.ts
  packages/mocks/src/apollo/replaceRateGQLMocks.ts
  packages/mocks/src/apollo/stateMock.ts
  packages/mocks/src/apollo/updateUserMock.ts
  packages/mocks/src/apollo/userGQLMock.ts
  packages/mocks/tsconfig.json
  pnpm-lock.yaml
  services/app-graphql/codegen.yml
Due: none

helpers now builds
  packages/helpers/package.json
  packages/helpers/src/document/makeDocumentDateLookupTable.test.ts
  packages/helpers/src/document/makeDocumentKeyLookupList.test.ts
  pnpm-lock.yaml
Due: none

common code builds
  packages/common-code/src/ContractType.ts
  packages/common-code/src/ContractTypeProvisions.ts
  packages/helpers/src/index.ts
  packages/hpp/src/healthPlanFormDataType/index.ts
Due: none

rename otel package
  packages/helpers/package.json
  packages/helpers/src/gql/apolloErrors.ts
  packages/helpers/src/gql/fetchHealthPlanPackageWrapper.ts
  packages/helpers/src/gql/healthPlanPackages.ts
  packages/helpers/src/gql/mutationWrappersForUserFriendlyErrors.ts
  packages/otel/package.json
  packages/otel/src/index.ts
  packages/otel/src/tracingHelper.ts
  packages/otel/tsconfig.json
  pnpm-lock.yaml
Due: none

Add sts:AssumeRole to DSO metrics role (#2716)
  .github/workflows/send-dso-metrics.yml
  services/github-oidc/serverless.yml
Due: none

Update ADR
  docs/architectural-decision-records/028-updated-frontend-a11y-toolset.md
Due: none

Replace depreciated command
  services/cypress/integration/stateWorkflow/stateSubmissionForm/accessiblility.spec.ts
Due: none

Skipping violations and made tickets to address them.
  services/cypress/support/accessibilityCommands.ts
Due: none

Update doc
  services/cypress/README.md
Due: none

MCR-3080: bring back a11y tests in ci (#2715)
  docs/architectural-decision-records/028-updated-frontend-a11y-toolset.md
  package.json
  pnpm-lock.yaml
  services/cypress/README.md
  services/cypress/cypress.config.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/accessiblility.spec.ts
  services/cypress/package.json
  services/cypress/support/accessibilityCommands.ts
  services/cypress/support/e2e.ts
  services/cypress/support/index.ts
  services/cypress/support/launchDarklyCommands.ts
  services/cypress/support/loginCommands.ts
  services/cypress/support/questionResponseCommands.ts
  services/cypress/tsconfig.json
Due: none

fix index in packages
  packages/common-code/src/index.ts
  packages/common-code/src/sha/index.ts
  packages/mocks/src/index.ts
Due: none

finish package import cleanup
  packages/common-code/src/dateHelpers/dayjs.d.ts
  packages/common-code/src/dateHelpers/dayjs.ts
  packages/common-code/tsconfig.json
  packages/helpers/src/gql/index.ts
  packages/hpp/src/data/index.ts
  packages/hpp/src/healthPlanFormDataType/index.ts
  packages/hpp/src/healthPlanSubmissionHelpers/index.ts
  packages/hpp/src/index.ts
  packages/mocks/src/apollo/index.ts
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-api/src/resolvers/user/userResolver.ts
  services/app-api/src/testHelpers/launchDarklyHelpers.ts
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.tsx
  services/app-web/src/components/Banner/RateWithdrawnBanner/RateWithdrawnBanner.tsx
  services/app-web/src/components/Banner/SubmissionUnlockedBanner/SubmissionUnlockedBanner.tsx
  services/app-web/src/components/Banner/SubmissionUpdatedBanner/SubmissionUpdatedBanner.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistoryV2.tsx
  services/app-web/src/components/FileUpload/FileListItem/FileListItem.tsx
  services/app-web/src/components/FileUpload/FileRow/FileRow.tsx
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/components/Modal/V2/UnlockSubmitModalV2.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web, lint-app-api

hide supporting docs page based on feature flag (#2718)
  services/app-api/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/constants/index.ts
  services/app-web/src/constants/routes.ts
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web, lint-app-api

Add supporting docs field to contract details page w styling
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

update cypress test
  services/cypress/integration/cmsWorkflow/submissionReview.spec.ts
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/submissionForm.spec.ts
  services/cypress/integration/stateWorkflow/submissionSummary.spec.ts
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

fix unit test
  .envrc
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
Due: lint-app-web

fix lockfile
  pnpm-lock.yaml
Due: none

fix lockfile (#2721)
  pnpm-lock.yaml
Due: none

bump memory for zip in prod
  services/app-api/serverless.yml
Due: none

add test for supporting docs behind flag
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

bump memory for zip in prod (#2723)
  services/app-api/serverless.yml
Due: none

syntax fix
  services/app-api/serverless.yml
Due: none

Cleanup modals - inherit from base Modal - create SessionTimeoutModal as own component - simplify styles - removing V2 naming from UnlockResubmitModal
  services/app-web/src/components/Modal/Modal.module.scss
  services/app-web/src/components/Modal/Modal.tsx
  services/app-web/src/components/Modal/SessionTimeoutModal.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.module.scss
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
  services/app-web/src/components/Modal/index.ts
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
Due: lint-app-web

Bring back changes from PR #2159
  docs/technical-design/feature-brief-session-expiration.md
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

Add IdleTimer - add to package.json - remove session timeout custom timekeeping, props from AuthContext - add IdleTimer to AuthenticatedRouteWrapper - start to add tests
  docs/technical-design/feature-brief-session-expiration.md
  pnpm-lock.yaml
  services/app-web/package.json
  services/app-web/src/components/Header/Header.tsx
  services/app-web/src/components/Modal/Modal.tsx
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

Add cross-tab support
  services/app-web/src/components/Modal/SessionTimeoutModal.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

Fix countdown
  services/app-web/src/components/Modal/SessionTimeoutModal.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

Get existing tests passing
  services/app-web/src/components/Header/Header.test.tsx
  services/app-web/src/components/Header/Header.tsx
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/localAuth/LocalLogin.tsx
  services/app-web/src/pages/Auth/Auth.test.tsx
  services/app-web/src/pages/Auth/Login.tsx
  services/app-web/src/pages/Auth/cognitoAuth.ts
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

Add more mocked out tests
  services/app-web/src/components/Modal/SessionTimeoutModal.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

Handle cases where timeout countdown and session duration are set to incompatible values
  docs/technical-design/feature-brief-session-expiration.md
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

Get s3Context to manually check auth if it fails and user logged out
  services/app-web/src/components/Header/Header.tsx
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/contexts/S3Context.tsx
  services/app-web/src/pages/App/App.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

Fixup AuthneticatedRouteWrapper tests
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
Due: lint-app-web

Add new settings outlet routes and update /settings route for redirect.
  services/app-web/src/constants/routes.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/tealium/constants.ts
Due: lint-app-web

Refactor settings page with sidenav and updated component names.
  services/app-web/src/pages/Settings/CMSUsersTable/CMSUserTable.test.tsx
  services/app-web/src/pages/Settings/CMSUsersTable/CMSUsersTable.test.tsx
  services/app-web/src/pages/Settings/EmailSettingsTables/EmailSettingsTables.test.tsx
  services/app-web/src/pages/Settings/EmailSettingsTables/EmailSettingsTables.tsx
  services/app-web/src/pages/Settings/Settings.module.scss
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/Settings.tsx
  services/app-web/src/pages/Settings/SettingsTables/AutomatedEmailsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/DivisionAssignmentTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/SupportEmailsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/index.ts
Due: lint-app-web

Minor formatting
  services/app-web/src/components/ErrorAlert/ContactSupportLink.tsx
Due: lint-app-web

Fix cypress tests.
  services/cypress/integration/adminWorkflow/settings.spec.ts
  services/cypress/support/commands.ts
Due: none

syntax fix (#2724)
  services/app-api/serverless.yml
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
