Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

FilterDateRange and RateTable tests.
  services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
Due: lint-app-web

Reset url on rate table tests.
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
Due: lint-app-web

Cleanup
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

Adjust explainMissingData logic
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web

Add clean empty rates as a dataMigration
  services/app-api/src/dataMigrations/migrations/20231026124562_clean_empty_rates.ts
  services/postgres/README.md
Due: lint-app-api

fix issue with JAWS not calling out active tab
  services/app-web/src/components/Tabs/Tabs.tsx
Due: lint-app-web

Further styling cleanup for rate summary/dashboard (#2022)
  services/app-web/package.json
  services/app-web/src/components/SectionHeader/SectionHeader.module.scss
  services/app-web/src/components/SectionHeader/SectionHeader.stories.tsx
  services/app-web/src/components/SectionHeader/SectionHeader.test.tsx
  services/app-web/src/components/SectionHeader/SectionHeader.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.stories.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.stories.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.stories.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.stories.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SupportingDocumentsSummarySection/SupportingDocumentsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/SupportingDocumentsSummarySection/SupportingDocumentsSummarySection.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.tsx
  yarn.lock
Due: lint-app-web

Remove DateRangePicker from `react-uswds`
  services/app-web/src/components/DateRangePicker/DateRangePicker.stories.tsx
  services/app-web/src/components/DateRangePicker/DateRangePicker.test.tsx
  services/app-web/src/components/DateRangePicker/DateRangePicker.tsx
  services/app-web/src/components/index.ts
Due: lint-app-web

Refactor FilterDateRange picker for date validation and error display.
  services/app-web/src/common-code/dateHelpers/dayjs.ts
  services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.test.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

Tests caught an oopsie!
  services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
Due: lint-app-web

Move DatePicker to FilterDateRange and comments
  services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/Calendar.stories.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/Calendar.test.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/Calendar.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/DatePicker.stories.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/DatePicker.test.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/DatePicker.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/Day.stories.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/Day.test.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/Day.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/MonthPicker.stories.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/MonthPicker.test.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/MonthPicker.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/YearPicker.stories.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/YearPicker.test.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/YearPicker.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/constants.ts
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/i18n.ts
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/utils.test.ts
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/utils.tsx
  services/app-web/src/components/index.ts
Due: lint-app-web

Remove /reports endpoint, lambda, route, and page.
  services/app-api/package.json
  services/app-api/serverless.yml
  services/app-api/src/handlers/reports.ts
  services/app-web/src/components/Reports/Reports.module.scss
  services/app-web/src/components/Reports/Reports.test.tsx
  services/app-web/src/components/Reports/Reports.tsx
  services/app-web/src/components/Reports/__snapshots__/Reports.test.tsx.snap
  services/app-web/src/constants/routes.ts
  services/app-web/src/constants/tealium.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/cypress/integration/cmsWorkflow/generateReport.spec.ts
  yarn.lock
Due: lint-app-web, lint-app-api

pr fixes
  services/app-web/src/components/Tabs/Tabs.module.scss
  services/app-web/src/components/Tabs/Tabs.tsx
Due: lint-app-web

Cleanup and add docs
  docs/technical-design/howto-migrations.md
  services/app-api/src/dataMigrations/_sampleTest.ts
  services/app-api/src/dataMigrations/dataMigrator.ts
  services/app-api/src/dataMigrations/migrations/20231026124562_clean_empty_rates.ts
  services/app-api/src/dataMigrations/migrations/20231106200334_fix_empty_rates.ts
  services/postgres/README.md
Due: lint-app-api

Enable Q&A cypress tests.
  services/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
  services/cypress/support/apiCommands.ts
Due: none

Connect QA to Contracts (#2027)
  services/app-api/prisma/migrations/20231031204348_migrate_questions_to_contracts/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/QuestionsType.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/questionResponse/findAllQuestionsByContract.ts
  services/app-api/src/postgres/questionResponse/index.ts
  services/app-api/src/postgres/questionResponse/insertQuestion.ts
  services/app-api/src/resolvers/healthPlanPackage/healthPlanPackageResolver.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.ts
  services/app-api/src/resolvers/questionResponse/createQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/indexQuestions.test.ts
  services/app-api/src/resolvers/questionResponse/indexQuestions.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/mutations/createQuestion.graphql
  services/app-graphql/src/queries/fetchHealthPlanPackageWithQuestions.graphql
  services/app-graphql/src/queries/indexQuestions.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
  services/app-web/src/gqlHelpers/useIndexQuestionsQueryWrapper.ts
  services/app-web/src/pages/QuestionResponse/QATable/QATable.test.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QATable.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestions.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/testHelpers/apolloMocks/questionResponseDataMocks.ts
  services/app-web/src/testHelpers/apolloMocks/questionResponseGQLMock.ts
  services/app-web/src/testHelpers/jestHelpers.tsx
  services/app-web/src/testHelpers/s3Helpers.ts
  services/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
  services/cypress/support/apiCommands.ts
Due: lint-app-web, lint-app-api

fix trace name for indexHPP and add some prospective logging
  services/app-api/src/resolvers/attributeHelper.ts
  services/app-api/src/resolvers/healthPlanPackage/indexHealthPlanPackages.ts
Due: lint-app-api

MCR-2635: Deprecate /reports endpoint (#2032)
  services/app-api/package.json
  services/app-api/serverless.yml
  services/app-api/src/handlers/reports.ts
  services/app-web/src/components/Reports/Reports.module.scss
  services/app-web/src/components/Reports/Reports.test.tsx
  services/app-web/src/components/Reports/Reports.tsx
  services/app-web/src/components/Reports/__snapshots__/Reports.test.tsx.snap
  services/app-web/src/constants/routes.ts
  services/app-web/src/constants/tealium.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/cypress/integration/cmsWorkflow/generateReport.spec.ts
  yarn.lock
Due: lint-app-web, lint-app-api

update state program list
  services/app-web/src/common-code/data/statePrograms.json
Due: lint-app-web

update documentation for updating state programs
  docs/technical-design/howto-update-state-programs.md
  scripts/import-programs.ts
Due: none

Add unit tests for RateSummary, add test for explainMissingData behavior
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/pages/SubmissionSummary/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/RateSummary/RateSummary.tsx
  services/app-web/src/pages/SubmissionSummary/RateSummary/index.ts
  services/app-web/src/pages/SubmissionSummary/index.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateGQLMocks.ts
  services/app-web/src/testHelpers/apolloMocks/userGQLMock.ts
  services/app-web/src/testHelpers/index.ts
Due: lint-app-web

Fix test data.
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
  services/app-api/src/testHelpers/contractAndRates/rateHelpers.ts
Due: lint-app-api

minor change to rate, no effect on tests.
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
Due: lint-app-api

Disconnect draft rate revisions from contract.
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
Due: lint-app-api

manually add ids for newly created programs
  services/app-web/src/common-code/data/statePrograms.json
Due: lint-app-web

update documentation
  docs/technical-design/howto-update-state-programs.md
Due: none

fix api test
  services/app-api/src/resolvers/user/fetchCurrentUser.test.ts
Due: lint-app-api

Update services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.tsx
Due: lint-app-web

Find another way to fix error logs for re-renders in tests
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
Due: lint-app-web

align items end to fix alignment when displaying errors
  services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.module.scss
  services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.tsx
Due: lint-app-web

Fix filter to filter only on start date. Other PR change requests.
  services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.module.scss
  services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.tsx
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/Settings/CMSUsersTable/CMSUsersTable.tsx
Due: lint-app-web

Combine test into one.
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
Due: lint-app-web

Add a comment.
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
