Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Use custom is method for headers.
  services/app-api/src/oauth/oauth2Server.ts
Due: lint-app-api

pin version to 5.3.1
  pnpm-lock.yaml
  services/cypress/package.json
Due: none

debug gha setup
  .github/actions/setup_env/action.yml
Due: none

fix syntax issue
  .github/actions/setup_env/action.yml
Due: none

Override usa-hint color.
  services/app-web/src/components/FileUpload/FileUpload.module.scss
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/styles/overrides.scss
Due: lint-app-web

Update and add mcr colors and add a new global style
  services/app-web/src/styles/custom.scss
  services/app-web/src/styles/mcrColors.scss
Due: lint-app-web

Use AccessibleSelect
  services/app-web/src/components/FilterAccordion/FilterSelect/FilterSelect.tsx
  services/app-web/src/components/Select/PackageSelect/PackageSelect.tsx
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.tsx
  services/app-web/src/components/Select/index.ts
  services/app-web/src/pages/LinkYourRates/LinkRateSelect/LinkRateSelect.tsx
  services/app-web/src/pages/Settings/SettingsTables/DivisionAssignmentTable.tsx
Due: lint-app-web

Use use-hint and mcr-note for appropriate text.
  services/app-web/src/components/Form/FieldTextarea/FieldTextarea.tsx
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.tsx
  services/app-web/src/components/Select/FieldSelect/FieldSelect.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateFormFields.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Debug: temp disable cache
  .github/actions/setup_env/action.yml
Due: none

Zip files on submit (#3362)
  services/app-api/package.json
  services/app-api/prisma/migrations/20250520204115_update_zip_sha256_required/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/serverless.yml
  services/app-api/src/domain-models/ZipType.ts
  services/app-api/src/handlers/__tests__/oauth_token.test.ts
  services/app-api/src/postgres/documents/index.ts
  services/app-api/src/postgres/documents/zip.test.ts
  services/app-api/src/postgres/documents/zip.ts
  services/app-api/src/postgres/oauth/oauthClientStore.test.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/contractRevisionResolver.ts
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/resolvers/contract/submitContract.zipGeneration.test.ts
  services/app-api/src/resolvers/documents/documentZipPackageResolver.test.ts
  services/app-api/src/resolvers/documents/documentZipPackageResolver.ts
  services/app-api/src/resolvers/documents/index.ts
  services/app-api/src/resolvers/rate/rateRevisionResolver.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-api/src/resolvers/rate/submitRate.zipGeneration.test.ts
  services/app-api/src/testHelpers/s3Helpers.ts
  services/app-api/src/zip/generateZip.test.ts
  services/app-api/src/zip/generateZip.ts
  services/app-api/src/zip/index.ts
  services/app-graphql/src/fragments/contractRevisionFragment.graphql
  services/app-graphql/src/fragments/rateRevisionFragment.graphql
  services/app-graphql/src/schema.graphql
  services/uploads/src/lib/scanFiles.ts
Due: lint-app-api

debug display aws amplify version in pipeline
  .github/actions/setup_env/action.yml
Due: none

check install version with pnpm
  .github/actions/setup_env/action.yml
Due: none

clean cypress cache
  .github/workflows/deploy.yml
Due: none

Use navigate command instead of looking for class to get to dashboard.
  services/cypress/integration/stateWorkflow/stateSubmissionForm/accessibility.spec.ts
  services/cypress/integration/stateWorkflow/submissionSummary.spec.ts
  services/cypress/support/index.ts
  services/cypress/support/navigateCommands.ts
Due: none

check app api url
  .github/workflows/deploy.yml
Due: none

update syntax
  .github/workflows/deploy.yml
Due: none

[MCR-5339] Admin users can see a list of Oauth users (#3406)
  packages/constants/src/routes.ts
  packages/mocks/src/apollo/index.ts
  packages/mocks/src/apollo/oauthGQLMocks.ts
  services/app-graphql/src/fragments/oauthUserFragment.graphql
  services/app-web/src/index.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/Settings.tsx
  services/app-web/src/pages/Settings/SettingsTables/OauthClientsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/index.ts
  services/app-web/src/tealium/constants.ts
Due: lint-app-web

revert logging changes
  .github/actions/setup_env/action.yml
  .github/workflows/deploy.yml
Due: none

MCR-5357: form field instructions color contrast (#3450)
  services/app-web/src/components/FileUpload/FileUpload.module.scss
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/components/FilterAccordion/FilterSelect/FilterSelect.tsx
  services/app-web/src/components/Form/FieldTextarea/FieldTextarea.tsx
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.tsx
  services/app-web/src/components/Select/AccessibleSelect/AccessibleSelect.tsx
  services/app-web/src/components/Select/FieldSelect/FieldSelect.tsx
  services/app-web/src/components/Select/PackageSelect/PackageSelect.tsx
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.tsx
  services/app-web/src/components/Select/index.ts
  services/app-web/src/pages/LinkYourRates/LinkRateSelect/LinkRateSelect.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
  services/app-web/src/pages/Settings/SettingsTables/DivisionAssignmentTable.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateFormFields.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/styles/custom.scss
  services/app-web/src/styles/mcrColors.scss
  services/app-web/src/styles/overrides.scss
  services/cypress/integration/stateWorkflow/stateSubmissionForm/accessibility.spec.ts
  services/cypress/integration/stateWorkflow/submissionSummary.spec.ts
  services/cypress/support/index.ts
  services/cypress/support/navigateCommands.ts
Due: lint-app-web

Create new banner for new OAuth clients
  services/app-web/src/components/Banner/NewOauthClientBanner/NewOauthClientBanner.tsx
  services/app-web/src/components/Banner/index.ts
Due: lint-app-web

Add Create OAuth client button
  services/app-web/src/pages/Settings/SettingsTables/OauthClientsTable.tsx
Due: lint-app-web

Add context and banner for OAuth clients
  packages/constants/src/routes.ts
  services/app-web/src/pages/Settings/Settings.tsx
Due: lint-app-web

Update routing and setting new OAuth client banner data
  services/app-web/src/pages/Settings/Oauth/CreateOauthClient.tsx
Due: lint-app-web

Update tests
  packages/mocks/src/apollo/oauthGQLMocks.ts
  services/app-web/src/pages/Settings/Oauth/CreateOauthClient.test.tsx
Due: lint-app-web

fix: Add state assignments to OAuth client test users
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.test.ts
Due: lint-app-api

test: Clean up OAuth clients before fetch all test to ensure isolation
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.test.ts
Due: lint-app-api

Restrict routes to admin users.
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

fix header casing
  services/app-web/src/pages/Settings/Oauth/CreateOauthClient.tsx
Due: lint-app-web

test: Simplify fetch all OAuth clients test to avoid state assignments complexity
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.test.ts
Due: lint-app-api

Add correct hint color for contrast
  services/app-web/src/pages/Settings/Oauth/CreateOauthClient.tsx
Due: lint-app-web

Fix breadcrumb and use correct link component.
  services/app-web/src/pages/Settings/Oauth/CreateOauthClient.tsx
  services/app-web/src/pages/Settings/SettingsTables/OauthClientsTable.tsx
Due: lint-app-web

Remove user.stateAssignments on OAuthClient graphql type because of array method errors.
  packages/mocks/src/apollo/oauthGQLMocks.ts
  services/app-graphql/src/fragments/oauthUserFragment.graphql
Due: none

Add OAuth authorization functions and tests
  services/app-api/src/authorization/oauthAuthorization.test.ts
  services/app-api/src/authorization/oauthAuthorization.ts
  services/app-api/src/handlers/__tests__/third_party_API_authorizer.test.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/oauth_token.ts
  services/app-api/src/handlers/third_party_API_authorizer.ts
  services/app-api/src/jwt/jwt.test.ts
  services/app-api/src/jwt/jwt.ts
  services/app-api/src/oauth/oauth2Server.ts
  services/app-api/src/postgres/oauth/oauthClientStore.ts
  services/app-api/src/resolvers/contract/fetchContract.test.ts
  services/app-api/src/resolvers/contract/fetchContract.ts
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-api/src/resolvers/oauthClient/createOauthClient.ts
  services/app-api/src/resolvers/oauthClient/deleteOauthClient.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.test.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.ts
  services/app-api/src/resolvers/oauthClient/updateOauthClient.ts
  services/app-api/src/resolvers/oauthClient/userMapping.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/fetchRate.ts
  services/app-api/src/resolvers/rate/indexRates.ts
Due: lint-app-api

Add stateAssignments back in.
  services/app-graphql/src/fragments/oauthUserFragment.graphql
Due: none

Revert changes
  packages/mocks/src/apollo/oauthGQLMocks.ts
  services/app-graphql/src/fragments/oauthUserFragment.graphql
Due: none

Add OAuth authorization functions and tests (#3451)
  services/app-api/src/authorization/oauthAuthorization.test.ts
  services/app-api/src/authorization/oauthAuthorization.ts
  services/app-api/src/handlers/__tests__/third_party_API_authorizer.test.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/oauth_token.ts
  services/app-api/src/handlers/third_party_API_authorizer.ts
  services/app-api/src/jwt/jwt.test.ts
  services/app-api/src/jwt/jwt.ts
  services/app-api/src/oauth/oauth2Server.ts
  services/app-api/src/postgres/oauth/oauthClientStore.ts
  services/app-api/src/resolvers/contract/fetchContract.test.ts
  services/app-api/src/resolvers/contract/fetchContract.ts
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-api/src/resolvers/oauthClient/createOauthClient.ts
  services/app-api/src/resolvers/oauthClient/deleteOauthClient.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.test.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.ts
  services/app-api/src/resolvers/oauthClient/updateOauthClient.ts
  services/app-api/src/resolvers/oauthClient/userMapping.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/fetchRate.ts
  services/app-api/src/resolvers/rate/indexRates.ts
Due: lint-app-api

changed h5 to p
  services/app-web/src/components/FileUpload/FileUpload.tsx
Due: lint-app-web

Remove necessary resolver
  services/app-api/src/resolvers/configureResolvers.ts
Due: lint-app-api
