Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

clear lint errors
  services/app-web/src/pages/LinkYourRates/LinkRateSelect.tsx
Due: lint-app-web

cleanup
  services/app-api/src/resolvers/contract/withdrawAndReplaceRedundantRate.test.ts
  services/app-api/src/resolvers/contract/withdrawAndReplaceRedundantRate.ts
  services/app-api/src/resolvers/rate/indexRates.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Enhance S3 bucket policies for sechub (#2640)
  services/infra-api/serverless.yml
  services/postgres/serverless.yml
Due: none

Revert "Enhance S3 bucket policies for sechub (#2640)"
  services/infra-api/serverless.yml
  services/postgres/serverless.yml
Due: none

Add withdraw rate banner to rate summary page.
  services/app-web/src/components/Banner/RateWithdrawnBanner/RateWithdrawnBanner.tsx
  services/app-web/src/components/Banner/index.ts
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
Due: lint-app-web

Add react hooks linter
  pnpm-lock.yaml
  services/app-web/.eslintrc
  services/app-web/package.json
Due: none

Fix cancel button, write more React tests, fixup helpers
  services/app-web/src/pages/ReplaceRate/ReplaceRate.test.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/documentDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/userGQLMock.ts
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

cleanup - get other tests passing again in new paradigm
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
Due: lint-app-web

Test banner content
  services/app-web/src/components/Banner/RateWithdrawnBanner/RateWithdrawnBanner.tsx
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
Due: lint-app-web

MCR-4302: Fix GraphQL explorer tool (#2639)
  services/app-web/src/pages/GraphQLExplorer/GraphQLExplorer.tsx
Due: lint-app-web

Cleanup tests again after merge
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
Due: lint-app-web

Don't include withdrawn rates in filter
  services/app-web/src/pages/LinkYourRates/LinkRateSelect.tsx
Due: lint-app-web

Cleanup tests more
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

MCR-4222: CMS and States see withdrawn label on Rate Summary Page (#2642)
  services/app-web/src/components/Banner/RateWithdrawnBanner/RateWithdrawnBanner.tsx
  services/app-web/src/components/Banner/index.ts
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
Due: lint-app-web

MCR-4152 MCR-4231: Add form, LinkRateSelect, and action buttons to replace rate (#2638)
  pnpm-lock.yaml
  services/app-api/src/resolvers/contract/withdrawAndReplaceRedundantRate.test.ts
  services/app-api/src/resolvers/contract/withdrawAndReplaceRedundantRate.ts
  services/app-api/src/resolvers/rate/indexRates.ts
  services/app-graphql/src/schema.graphql
  services/app-web/.eslintrc
  services/app-web/package.json
  services/app-web/src/components/Select/RateSelect/RateSelect.module.scss
  services/app-web/src/components/Select/Select.module.scss
  services/app-web/src/pages/LinkYourRates/LinkRateSelect.tsx
  services/app-web/src/pages/LinkYourRates/LinkYourRates.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRate.module.scss
  services/app-web/src/pages/ReplaceRate/ReplaceRate.test.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/documentDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/userGQLMock.ts
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web, lint-app-api

fix initial values issue, wip
  services/app-api/src/resolvers/contract/updateContractDraftRevision.ts
  services/app-web/src/hooks/useContractForm.ts
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web, lint-app-api

fix value for programs
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.tsx
Due: lint-app-web

fix web test
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Fix clear dropdown selection
  services/app-web/src/pages/LinkYourRates/LinkRateSelect.tsx
Due: lint-app-web

Add errors and pull out Yup schema
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRateSchema.ts
Due: lint-app-web

Cleanup
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
Due: lint-app-web

Add test for errors.
  services/app-web/src/pages/ReplaceRate/ReplaceRate.test.tsx
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/replaceRateGQLMocks.ts
Due: lint-app-web

Move error up
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
Due: lint-app-web

Add error summary and test for it.
  services/app-web/src/pages/ReplaceRate/ReplaceRate.test.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
Due: lint-app-web

code cleanup
  services/app-web/src/hooks/useContractForm.ts
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Fix combobox error focus.
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
Due: lint-app-web

check if we have entries. use .error
  services/uploads/src/deps/clamAV/clamAV.ts
Due: none

code cleanup for submissionType page
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

bump otel layer to latest
  services/app-api/serverless.yml
  services/uploads/serverless.yml
Due: none

cypress changes, wip
  services/cypress/support/navigateCommands.ts
Due: none

cypress wip
  services/cypress/integration/stateWorkflow/submissionSummary.spec.ts
  services/cypress/support/navigateCommands.ts
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

Call indexRates filtered by stateCode
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-graphql/src/queries/indexRates.graphql
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
  services/app-web/src/pages/LinkYourRates/LinkRateSelect/LinkRateSelect.tsx
  services/app-web/src/pages/LinkYourRates/LinkYourRates.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
Due: lint-app-web, lint-app-api

fix multi-rate submission
  services/app-api/src/postgres/contractAndRates/replaceRateOnContract.ts
Due: lint-app-api

keep limiting by stateCode
  services/app-api/src/resolvers/rate/indexRates.ts
  services/app-web/src/pages/LinkYourRates/LinkRateSelect/LinkRateSelect.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
Due: lint-app-web, lint-app-api

test cypress
  services/cypress/integration/stateWorkflow/submissionSummary.spec.ts
  services/cypress/support/navigateCommands.ts
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

Filter by stateCode
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.test.ts
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.ts
  services/app-api/src/postgres/contractAndRates/index.ts
  services/app-api/src/postgres/postgresStore.ts
Due: lint-app-api

update unit test
  services/app-api/src/resolvers/contract/updateContractDraftRevision.ts
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web, lint-app-api

MCR-4131: Admin must add an update reason (#2644)
  services/app-web/src/pages/LinkYourRates/LinkRateSelect.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRate.test.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRateSchema.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/replaceRateGQLMocks.ts
Due: lint-app-web

Clean up test helpers chaos
  services/app-api/src/resolvers/contract/indexContracts.test.ts
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-api/src/resolvers/rate/indexRates.ts
  services/app-api/src/testHelpers/contractDataMocks.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-api/src/testHelpers/index.ts
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
Due: lint-app-web, lint-app-api

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
