Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Sync lock file
  pnpm-lock.yaml
Due: none

Sync lock file (#4040)
  pnpm-lock.yaml
Due: none

fix NOT_SUBJECT_TO_REVIEW status, add tests
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.tsx
Due: lint-app-web

MCR-5779 CMS users can unlock EQRO submission (#4032)
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROReviewSubmit/EQROReviewSubmit.tsx
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.tsx
Due: lint-app-web

MCR-5910 Update Third Party Write Access (#4031)
  services/app-api/src/authn/thirdPartyAuthn.ts
  services/app-api/src/authorization/oauthAuthorization.test.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/oauth/__tests__/oauth2Server.test.ts
  services/app-api/src/resolvers/contract/fetchContract.test.ts
  services/app-api/src/resolvers/documents/fetchDocument.test.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.test.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.test.ts
  services/app-api/src/resolvers/user/fetchCurrentUser.ts
  services/app-graphql/src/queries/indexUsers.graphql
  services/cypress/integration/thirdPartyAPIAccess/thirdPartyAPIAccess.spec.ts
  services/cypress/support/apiCommands.ts
  services/cypress/support/index.ts
Due: lint-app-api

abstracted function
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

[MCR-5932] Filtering for Virginia results in results for both Virginia and West Virginia (#4033)
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

removed copy
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

removed copy (#4041)
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

Update storybook too
  pnpm-lock.yaml
  services/app-web/package.json
Due: none

unused scripts + wrappers
  scripts/aws
  scripts/collect_ci_runtime_stats.ts
  scripts/ctkey-wrapper
  scripts/get-changed-services/action.yml
  scripts/get-changed-services/index.ts
  scripts/permission_boundaries.sh
  scripts/serverless
  scripts/sls
Due: none

remove neverthrow
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-api/src/authn/authn.ts
  services/app-api/src/authn/cognitoAuthn.test.ts
  services/app-api/src/authn/cognitoAuthn.ts
  services/app-api/src/authn/localAuthn.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/resolvers/documents/generateUploadURL.ts
Due: lint-app-api

fix error check
  services/app-api/src/authn/cognitoAuthn.ts
Due: lint-app-api

comments from copilot
  services/app-api/src/authn/cognitoAuthn.ts
  services/app-api/src/authn/localAuthn.ts
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

Remove neverthrow (#4045)
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-api/src/authn/authn.ts
  services/app-api/src/authn/cognitoAuthn.test.ts
  services/app-api/src/authn/cognitoAuthn.ts
  services/app-api/src/authn/localAuthn.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/resolvers/documents/generateUploadURL.ts
Due: lint-app-api

first pass oauthCanWrite logic
  services/app-api/src/authorization/oauthAuthorization.ts
Due: lint-app-api

added optional chaining
  services/app-api/src/authorization/oauthAuthorization.ts
Due: lint-app-api

Persist s3Bucket and s3Key on mutations (#4034)
  packages/helpers/src/s3URLEncoding.ts
  services/app-api/src/domain-models/DocumentType.ts
  services/app-api/src/domain-models/QuestionsType.ts
  services/app-api/src/domain-models/ZipType.ts
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/documents/zip.test.ts
  services/app-api/src/postgres/documents/zip.ts
  services/app-api/src/postgres/questionResponse/insertContractQuestion.ts
  services/app-api/src/postgres/questionResponse/insertContractQuestionResponse.ts
  services/app-api/src/postgres/questionResponse/insertRateQuestion.ts
  services/app-api/src/postgres/questionResponse/insertRateQuestionResponse.ts
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/resolvers/contract/updateContractDraftRevision.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.ts
  services/app-api/src/resolvers/documentHelpers.test.ts
  services/app-api/src/resolvers/documentHelpers.ts
  services/app-api/src/resolvers/documents/documentZipPackageResolver.ts
  services/app-api/src/resolvers/documents/fetchDocument.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.ts
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-api/src/resolvers/shared/genericDocumentResolver.ts
  services/app-api/src/s3/helpers.ts
  services/app-api/src/s3/index.ts
  services/app-api/src/zip/generateZip.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

fix bucket name in migration
  services/app-api/prisma/schema.prisma
  services/app-api/src/handlers/migrate_s3_urls.ts
Due: lint-app-api

ignore prisma depbot
  .github/dependabot.yml
Due: none

handle zip file paths properly
  services/app-api/src/s3/helpers.ts
Due: lint-app-api

add test fix parsing
  services/app-api/src/s3/helpers.test.ts
  services/app-api/src/s3/helpers.ts
Due: lint-app-api

more fixes before merge
  services/app-api/src/s3/helpers.test.ts
Due: lint-app-api

addres copilot comments
  services/app-api/src/handlers/__tests__/migrate_s3_urls.test.ts
  services/app-api/src/handlers/migrate_s3_urls.ts
Due: lint-app-api

Fix parseKey to handle zip files properly (#4052)
  services/app-api/src/s3/helpers.test.ts
  services/app-api/src/s3/helpers.ts
Due: lint-app-api

state email setup
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/unlockEQROStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/index.ts
  services/app-api/src/emailer/emails/unlockEQROStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockEQROStateEmail.ts
  services/app-api/src/emailer/etaTemplates/unlockEQROStateEmail.eta
  services/app-api/src/emailer/index.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
Due: lint-app-api

correcting contract type
  services/app-api/src/emailer/emails/unlockEQROStateEmail.ts
Due: lint-app-api

Fix bucket name in s3URL migration (#4051)
  services/app-api/prisma/schema.prisma
  services/app-api/src/handlers/__tests__/migrate_s3_urls.test.ts
  services/app-api/src/handlers/migrate_s3_urls.ts
Due: lint-app-api

cms email setup
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/unlockEQROCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/index.ts
  services/app-api/src/emailer/emails/unlockEQROCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockEQROCMSEmail.ts
  services/app-api/src/emailer/etaTemplates/unlockEQROEmail.eta
  services/app-api/src/emailer/index.ts
Due: lint-app-api

fixed test name
  services/app-api/src/emailer/emails/unlockEQROStateEmail.test.ts
Due: lint-app-api

fixing stale snapshot
  services/app-api/src/emailer/emails/__snapshots__/unlockEQROStateEmail.test.ts.snap
Due: lint-app-api

updating stale snapshot
  services/app-api/src/emailer/emails/__snapshots__/unlockEQROStateEmail.test.ts.snap
Due: lint-app-api

add link and new text to eqro submission success banner
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.module.scss
  services/app-web/src/pages/StateDashboard/StateDashboard.test.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/pages/StateDashboard/SubmissionSuccessMessage.tsx
Due: lint-app-web

Update storybook.
  pnpm-lock.yaml
  services/app-web/package.json
Due: none

updated resolvers
  services/app-api/src/authorization/oauthAuthorization.test.ts
  services/app-api/src/authorization/oauthAuthorization.ts
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-api/src/resolvers/contract/undoWithdrawContract.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/contract/withdrawContract.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.ts
Due: lint-app-api

renamed to canOauthWrite to match existing patterns
  services/app-api/src/authorization/oauthAuthorization.test.ts
  services/app-api/src/authorization/oauthAuthorization.ts
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-api/src/resolvers/contract/undoWithdrawContract.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/contract/withdrawContract.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.ts
Due: lint-app-api

naming convention clean up
  services/app-api/src/authorization/oauthAuthorization.test.ts
  services/app-api/src/authorization/oauthAuthorization.ts
Due: lint-app-api

ignore prisma depbot (#4062)
  .github/dependabot.yml
Due: none

Update packages
  services/app-web/package.json
Due: none

Updated lock file
  pnpm-lock.yaml
Due: none
