Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

POC - form pages handle own API.
  services/app-web/src/pages/RateEdit/RateEdit.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/pages/StateSubmission/index.ts
Due: lint-app-web

POC - how tests need to change. Refactor SubmissionType
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
Due: lint-app-web

Use linked rates feature flag for rate details
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
Due: lint-app-web

add more to the contract schema
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-api/src/resolvers/contract/fetchContract.ts
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Removing FE cacheing from application (#2268)
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
  services/app-web/src/gqlHelpers/fetchHealthPlanPackageWrapper.ts
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

WIP
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
Due: lint-app-web

drop the draftContracts bit
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/schema.graphql
Due: none

Write ContractDetails tests
  services/app-web/src/hooks/useHealthPlanPackageForm.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanPackageGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web

Write ContractDetails tests
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.ts
  services/app-api/src/resolvers/healthPlanPackage/fetchHealthPlanPackage.ts
  services/app-web/src/gqlHelpers/apolloQueryWrapper.ts
  services/app-web/src/gqlHelpers/fetchHealthPlanPackageWrapper.ts
  services/app-web/src/hooks/useHealthPlanPackageForm.ts
  services/app-web/src/hooks/useRouteParams.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageGQLMock.ts
Due: lint-app-web, lint-app-api

fix tests for reviewsubmit -> RateDetailsSummarySection
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/RateDetailsSummarySectionV2.stories.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/SubmissionSummarySection.module.scss
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web

Sync up RateDetails tests
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
Due: lint-app-web

add the draftRate to fetch contract resolver
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-api/src/resolvers/contract/fetchContract.test.ts
  services/app-api/src/resolvers/contract/fetchContract.ts
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/queries/fetchRate.graphql
Due: lint-app-api

Get tests green - lets check cypress now
  services/app-web/src/pages/RateEdit/RateEdit.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.test.tsx
Due: lint-app-web

add V2 version of component, storybook and test for SubmissionTypeSummarySection
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/SubmissionTypeSummarySectionV2.stories.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/SubmissionTypeSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/SubmissionTypeSummarySectionV2.tsx
Due: lint-app-web

Fix local only crash from app-api tests putting bad data in local dev
  services/app-web/src/common-code/s3URLEncoding.ts
Due: lint-app-web

Header design fix for MCR-3771
  services/app-web/src/components/Header/Header.module.scss
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
Due: lint-app-web

MCR-3826 adjust width so StepIndicator fills screen
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
Due: lint-app-web

don't allow states to access each others things
  services/app-api/src/resolvers/contract/fetchContract.test.ts
  services/app-api/src/resolvers/contract/fetchContract.ts
Due: lint-app-api

More changes for MCR-3862 to unify containers
  services/app-web/src/components/DynamicStepIndicator/DynamicStepIndicator.module.scss
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.module.scss
Due: lint-app-web

add the remaining fragments
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Fix step indicator align
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.tsx
Due: lint-app-web

Fix s3Encoding tests
  services/app-web/src/common-code/s3URLEncoding.test.ts
Due: lint-app-web

Cleanup lint errors
  services/app-web/src/gqlHelpers/apolloQueryWrapper.ts
  services/app-web/src/gqlHelpers/fetchHealthPlanPackageWrapper.ts
  services/app-web/src/hooks/useHealthPlanPackageForm.ts
Due: lint-app-web

Remove API logic from StateSubmissionForm and onto individual form pages (#2276)
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.ts
  services/app-api/src/resolvers/healthPlanPackage/fetchHealthPlanPackage.ts
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/gqlHelpers/apolloQueryWrapper.ts
  services/app-web/src/gqlHelpers/fetchHealthPlanPackageWrapper.ts
  services/app-web/src/hooks/index.ts
  services/app-web/src/hooks/useHealthPlanPackageForm.ts
  services/app-web/src/hooks/useRouteParams.tsx
  services/app-web/src/pages/RateEdit/RateEdit.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.test.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/ErrorOrLoadingPage.tsx
  services/app-web/src/pages/StateSubmission/PageBannerAlerts.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/pages/StateSubmission/index.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanPackageGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web, lint-app-api

Unify ReviewSubmit, fixup padding, add gray background for form pages
  services/app-web/src/components/DynamicStepIndicator/DynamicStepIndicator.module.scss
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.module.scss
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
Due: lint-app-web

lerna repair for breaking changes
  lerna.json
  nx.json
  package.json
Due: none

MCR-3771, MCR-3862 further design feedback (#2282)
  services/app-web/src/common-code/s3URLEncoding.test.ts
  services/app-web/src/common-code/s3URLEncoding.ts
  services/app-web/src/components/DynamicStepIndicator/DynamicStepIndicator.module.scss
  services/app-web/src/components/Header/Header.module.scss
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.module.scss
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
Due: lint-app-web

wip push of contractdetailssummarysection and common code helpers
  services/app-graphql/src/schema.graphql
  services/app-web/src/common-code/ContractType.ts
  services/app-web/src/common-code/ContractTypeProvisions.ts
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/ContractDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/ContractDetailsSummarySectionV2.tsx
Due: lint-app-web

fixes 99% of the ContractDetailsSummarySectionV2 test
  services/app-web/src/common-code/ContractTypeProvisions.ts
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/ContractDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/ContractDetailsSummarySectionV2.tsx
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
Due: lint-app-web

Add storybook file for contractdetails
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/ContractDetailsSummarySectionV2.stories.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/ContractDetailsSummarySectionV2.tsx
Due: lint-app-web

fix contractdetails storybook
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/ContractDetailsSummarySectionV2.stories.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/ContractDetailsSummarySectionV2.tsx
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
Due: lint-app-web

from code review. rename to fetchContractWithRates
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/fetchContract.test.ts
  services/app-api/src/resolvers/contract/fetchContract.ts
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

createdAt and updatedAt required
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
Due: lint-app-web

Revert "from code review. rename to fetchContractWithRates"
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/fetchContract.test.ts
  services/app-api/src/resolvers/contract/fetchContract.ts
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

always return null here
  services/app-api/src/resolvers/contract/contractResolver.ts
Due: lint-app-api

Add fetchContract resolver for contracts in DRAFT (#2283)
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-api/src/resolvers/contract/fetchContract.test.ts
  services/app-api/src/resolvers/contract/fetchContract.ts
  services/app-graphql/codegen.yml
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
Due: lint-app-web, lint-app-api

created component, test and storybook for ContactsSummarySection, updated graphql schema to match stateContacts for hpp with titleRole field
  services/app-graphql/src/mutations/submitRate.graphql
  services/app-graphql/src/mutations/unlockRate.graphql
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/DataDetail/DataDetailContactField/DataDetailContactField.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/ContactsSummarySectionV2.stories.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/ContactsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/ContactsSummarySectionV2.tsx
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
Due: lint-app-web

add rate updaters
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractRates.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.test.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/mutations/updateDraftContractRates.graphql
Due: lint-app-api

Use error summary on each form. Start to add multi-rate functionality back
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/SingleRateCertV2.tsx
Due: lint-app-web

add uploads tables back to rateDetailsSummary add functionality for draft and submitted rates
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/RateDetailsSummarySectionV2.stories.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web
