Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

throw error
  services/app-api/src/authn/thirdPartyAuthn.ts
Due: lint-app-api

re-implement restriction by ip address in authorizer lambda
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

remove changes to authn that are no longer needed
  services/app-api/src/authn/authn.ts
Due: lint-app-api

update error handling, alert with otel
  services/app-api/src/authn/thirdPartyAuthn.ts
Due: lint-app-api

resolve issue with apollo_gql expecting error returned for userfetcher
  services/app-api/src/authn/thirdPartyAuthn.ts
Due: lint-app-api

update existing tech design doc to include some MMM discovery doc language
  docs/templates/technical-design-discussion-template.md
Due: none

wip
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert/SingleRateCert.tsx
Due: lint-app-web

Start to add RateDetailsV2
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/pages/StateSubmission/Contacts/ActuaryContactFields.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert/SingleRateCertV2.tsx
Due: lint-app-web

wip
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsV2.tsx
Due: lint-app-web

add flag to side nav
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
Due: lint-app-web

wip
  package.json
  services/app-web/src/pages/RateEdit/RateEdit.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsV2.tsx
Due: lint-app-web

MCR-3836 - Modify app-api to process request from the 3rd party authorizer (#2171)
  docs/technical-design/third_party_api_access.md
  services/app-api/src/authn/index.ts
  services/app-api/src/authn/thirdPartyAuthn.ts
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

add temp logs for debugging in dev
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

temp remove otel for debugging
  services/app-api/src/authn/thirdPartyAuthn.ts
Due: lint-app-api

Add nx to gitignore
  .gitignore
Due: none

Fix up types
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-web/src/formHelpers/formatters.ts
Due: lint-app-web, lint-app-api

add additional logs for logged reading host error
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

Add otel logging back
  services/app-api/src/authn/thirdPartyAuthn.ts
Due: lint-app-api

respond to comments
  services/app-web/src/index.tsx
  services/app-web/src/pages/APIAccess/APIAccess.module.scss
  services/app-web/src/pages/APIAccess/APIAccess.test.tsx
  services/app-web/src/pages/APIAccess/APIAccess.tsx
  services/app-web/src/pages/App/App.tsx
  services/app-web/src/pages/App/AppBody.test.tsx
  services/app-web/src/pages/App/AppBody.tsx
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

linter cleanup
  services/app-web/src/gqlHelpers/apolloErrors.ts
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
Due: lint-app-web

additional temp logging
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

add error handling for if host is undefined
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

finish testing API KEY
  services/app-web/src/pages/APIAccess/APIAccess.test.tsx
  services/app-web/src/pages/APIAccess/APIAccess.tsx
  services/app-web/src/testHelpers/apolloMocks/apiKeyGQLMocks.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/cypress/integration/thirdPartyAPIAccess/thirdPartyAPIAccess.spec.ts
Due: lint-app-web

move json parse into try/catch
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

temp hardcode host to debug
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

add additional logs
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

move to amazon linux 2023 and LTS clamav
  services/uploads/src/avLayer/build/build.sh
  services/uploads/src/avLayer/build/oldbuild.sh
  services/uploads/src/avLayer/dockerbuild.sh
Due: none

Add API Key Generation Page (#2218)
  services/app-web/src/constants/routes.ts
  services/app-web/src/constants/tealium.ts
  services/app-web/src/gqlHelpers/apolloErrors.ts
  services/app-web/src/index.tsx
  services/app-web/src/pages/APIAccess/APIAccess.module.scss
  services/app-web/src/pages/APIAccess/APIAccess.test.tsx
  services/app-web/src/pages/APIAccess/APIAccess.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/RateEdit/RateEdit.test.tsx
  services/app-web/src/pages/RateEdit/RateEdit.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/app-web/src/pages/SubmissionSummary/RateSummary/RateSummary.test.tsx
  services/app-web/src/testHelpers/apolloMocks/apiKeyGQLMocks.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/cypress/integration/thirdPartyAPIAccess/thirdPartyAPIAccess.spec.ts
Due: lint-app-web

remove old build script
  services/uploads/src/avLayer/build/oldbuild.sh
Due: none

parse host for event headers
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

attempt to read only first header
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

Workaround actuary contacts types
  services/app-graphql/src/mutations/unlockRate.graphql
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/formHelpers/formatters.ts
Due: lint-app-web

Fix React console error about bad setState call in RateSummary
  services/app-web/src/pages/SubmissionSummary/RateSummary/RateSummary.tsx
Due: lint-app-web

try the multValue header instead
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

move ip address check to thirdPartyAuthn function
  services/app-api/src/authn/thirdPartyAuthn.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

fix typo, better error message
  services/app-api/src/authn/thirdPartyAuthn.ts
Due: lint-app-api

better error message
  services/app-api/src/authn/thirdPartyAuthn.ts
Due: lint-app-api

fix ip address to pull from event and not context
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

temp log allowed ip address
  services/app-api/src/authn/thirdPartyAuthn.ts
Due: lint-app-api

Wip to show what I'm doing
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/RateSubmission/RateEdit/RateEdit.test.tsx
  services/app-web/src/pages/RateSubmission/RateEdit/RateEdit.tsx
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/RateSummary/index.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsV2.tsx
  services/app-web/src/pages/SubmissionSummary/index.ts
Due: lint-app-web
