Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

fix remaining merge issue
  services/cypress/integration/stateWorkflow/submissionSummary.spec.ts
Due: none

update state programs
  docs/technical-design/howto-update-state-programs.md
  scripts/import-programs.ts
  services/app-api/src/common-code/data/statePrograms.json
  services/app-web/src/common-code/data/statePrograms.json
Due: lint-app-web, lint-app-api

add example for updating app-api
  docs/technical-design/howto-update-state-programs.md
Due: none

revert bad merge
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

cypress
  services/cypress/integration/stateWorkflow/submissionSummary.spec.ts
Due: none

updates to state programs
  services/app-api/src/common-code/data/statePrograms.json
  services/app-web/src/common-code/data/statePrograms.json
Due: lint-app-web, lint-app-api

fix typo
  docs/technical-design/howto-update-state-programs.md
Due: none

Add edit links
  services/app-web/src/pages/Settings/Settings.tsx
  services/app-web/src/pages/Settings/SettingsCells/SettingsCells.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/pages/Settings/index.ts
Due: lint-app-web

fix casing bug
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
Due: lint-app-web

Fix up column names and add tests
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
Due: lint-app-web

Create ModalOpenButton and store activModalID in page context
  services/app-web/src/components/Modal/Modal.test.tsx
  services/app-web/src/components/Modal/Modal.tsx
  services/app-web/src/components/Modal/ModalOpenButton/ModalOpenButton.test.tsx
  services/app-web/src/components/Modal/ModalOpenButton/ModalOpenButton.tsx
  services/app-web/src/components/Modal/SessionTimeoutModal.tsx
  services/app-web/src/components/Modal/index.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/UnlockRateButton.tsx
  services/app-web/src/contexts/PageContext.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Get only one modal at a time behavior working
  services/app-web/src/components/Modal/Modal.tsx
  services/app-web/src/components/Modal/ModalOpenButton/ModalOpenButton.tsx
  services/app-web/src/contexts/PageContext.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

Get only one modal at a time behavior working
  services/app-web/src/components/Modal/Modal.tsx
  services/app-web/src/contexts/PageContext.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

MCR-4264 Add actual edit links to dashbaord (#2738)
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/Settings.tsx
  services/app-web/src/pages/Settings/SettingsCells/SettingsCells.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/pages/Settings/index.ts
Due: lint-app-web

Add more async handling - try to address CI only unit test flakes
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
Due: lint-app-web

MCR-4409: update state programs (#2737)
  docs/technical-design/howto-update-state-programs.md
  scripts/import-programs.ts
  services/app-api/src/common-code/data/statePrograms.json
  services/app-web/src/common-code/data/statePrograms.json
Due: lint-app-web, lint-app-api

add logging to otel
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
Due: lint-app-web

MCR-4137: Contacts page uses contract api (#2731)
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/cypress/integration/cmsWorkflow/submissionReview.spec.ts
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/submissionForm.spec.ts
  services/cypress/integration/stateWorkflow/submissionSummary.spec.ts
Due: lint-app-web

update inline tealium domain
  services/app-web/src/tealium/tealium.ts
Due: lint-app-web

Lint cleanup
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

MCR-4451: update tealium script (#2739)
  services/app-web/src/tealium/tealium.ts
Due: lint-app-web

build dir for constants rm
  packages/constants/build/errors.d.ts
  packages/constants/build/errors.js
  packages/constants/build/errors.js.map
  packages/constants/build/healthPlanPackages.d.ts
  packages/constants/build/healthPlanPackages.js
  packages/constants/build/healthPlanPackages.js.map
  packages/constants/build/index.d.ts
  packages/constants/build/index.js
  packages/constants/build/index.js.map
  packages/constants/build/localStorage.d.ts
  packages/constants/build/localStorage.js
  packages/constants/build/localStorage.js.map
  packages/constants/build/modifiedProvisions.d.ts
  packages/constants/build/modifiedProvisions.js
  packages/constants/build/modifiedProvisions.js.map
  packages/constants/build/routes.d.ts
  packages/constants/build/routes.js
  packages/constants/build/routes.js.map
  packages/constants/build/statutoryRegulatoryAttestation.d.ts
  packages/constants/build/statutoryRegulatoryAttestation.js
  packages/constants/build/statutoryRegulatoryAttestation.js.map
Due: none

Get doubleclick bug addressed
  services/app-web/src/components/Modal/SessionTimeoutModal.tsx
Due: lint-app-web

Add link to mc-review setting page and drop down for sign out.
  services/app-web/src/components/Header/Header.module.scss
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.tsx
Due: lint-app-web

Update tests.
  services/app-web/src/components/Header/Header.test.tsx
  services/cypress/integration/stateWorkflow/login/login.spec.ts
  services/cypress/support/loginCommands.ts
Due: lint-app-web

Remove a check that wasn't needed.
  services/cypress/integration/stateWorkflow/login/login.spec.ts
Due: none

Log dropdown selection.
  services/app-web/src/components/Select/FieldSelect/FieldSelect.tsx
Due: lint-app-web

Fetch DMCO users, populate dropdown options, and add tests.
  services/app-web/src/pages/QuestionResponse/QuestionResponse.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.test.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
  services/app-web/src/testHelpers/apolloMocks/userGQLMock.ts
Due: lint-app-web

Code review comments and cleanup
  docs/technical-design/tealium-logging.md
  services/app-web/src/components/Modal/SessionTimeoutModal.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

Cleanup
  services/app-web/src/components/FormContainer/FormContainer.module.scss
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
Due: lint-app-web

Update select component to take defaultValue.
  services/app-web/src/components/Select/FieldSelect/FieldSelect.tsx
Due: lint-app-web

speed up index rates by removing document calls
  dev_tool/src/dev.ts
  dev_tool/src/local/api.ts
  pnpm-lock.yaml
  services/app-graphql/src/queries/indexContracts.graphql
  services/app-graphql/src/queries/indexRatesForDashboard.graphql
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
Due: lint-app-web

add profiling docs
  docs/technical-design/howto-profile-app-api.md
Due: none

fix tests to use new query
  services/app-web/src/testHelpers/apolloMocks/rateGQLMocks.ts
Due: lint-app-web

make all the tests work
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.test.tsx
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/rateGQLMocks.ts
Due: lint-app-web

Fix test
  services/app-web/src/components/Select/FieldSelect/FieldSelect.test.tsx
Due: lint-app-web

Show errors when trying to save without assignments.
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.module.scss
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.test.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
Due: lint-app-web

Define menu items in render
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.tsx
Due: lint-app-web

Pull userEvent from renderWithProdivers
  services/app-web/src/components/Header/Header.test.tsx
Due: lint-app-web
