Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

WIP
  services/app-web/src/components/FormContainer/FormContainer.module.scss
  services/app-web/src/pages/ReplaceRate/ReplaceRate.module.scss
  services/app-web/src/styles/custom.scss
  services/app-web/src/styles/overrides.scss
Due: lint-app-web

add missing ''
  .github/workflows/send-dso-metrics.yml
Due: none

add gqlgen for common-code
  packages/common-code/package.json
  pnpm-lock.yaml
  services/app-graphql/codegen.yml
Due: none

fix error summary
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

add back additional test for docs
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
Due: lint-app-web

add dayjs
  packages/common-code/package.json
  packages/common-code/tsconfig.json
  pnpm-lock.yaml
Due: none

need these helpers too
  packages/gql-helpers/package.json
  packages/gql-helpers/src/apolloErrors.ts
  packages/gql-helpers/src/apolloQueryWrapper.ts
  packages/gql-helpers/src/contractsAndRates.ts
  packages/gql-helpers/src/fetchHealthPlanPackageWrapper.ts
  packages/gql-helpers/src/healthPlanPackages.ts
  packages/gql-helpers/src/index.ts
  packages/gql-helpers/src/mutationWrappersForUserFriendlyErrors.ts
  packages/gql-helpers/src/updateCMSUser.ts
  packages/gql-helpers/src/useIndexQuestionsQueryWrapper.ts
  packages/gql-helpers/src/userHelpers.ts
  packages/gql-helpers/tsconfig.json
  packages/otel-helpers/package.json
  packages/otel-helpers/src/index.ts
  packages/otel-helpers/src/tracingHelper.ts
  packages/otel-helpers/tsconfig.json
  pnpm-lock.yaml
Due: none

more build outputs
  .gitignore
  package.json
  packages/gql-helpers/package.json
  packages/gql-helpers/src/apolloErrors.ts
  packages/otel-helpers/package.json
  pnpm-lock.yaml
Due: none

add missing '' (#2688)
  .github/workflows/send-dso-metrics.yml
Due: none

build issues
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContractDetailsSummarySection.test.tsx
  services/app-web/src/testHelpers/apolloMocks/updateInfoMocks.ts
Due: lint-app-web

fix unit test for stateSubmissionForm
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
Due: lint-app-web

update cypress
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
Due: none

feels convoluted but ok
  .github/workflows/send-dso-metrics.yml
Due: none

fix and clean up remaining contract detail tests
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

more interdependencies
  packages/constants/build/errors.d.ts
  packages/constants/build/errors.js
  packages/constants/build/errors.js.map
  packages/constants/build/healthPlanPackages.d.ts
  packages/constants/build/healthPlanPackages.js
  packages/constants/build/healthPlanPackages.js.map
  packages/constants/build/index.d.ts
  packages/constants/build/index.js
  packages/constants/build/index.js.map
  packages/constants/build/localStorage.d.ts
  packages/constants/build/localStorage.js
  packages/constants/build/localStorage.js.map
  packages/constants/build/modifiedProvisions.d.ts
  packages/constants/build/modifiedProvisions.js
  packages/constants/build/modifiedProvisions.js.map
  packages/constants/build/routes.d.ts
  packages/constants/build/routes.js
  packages/constants/build/routes.js.map
  packages/constants/build/statutoryRegulatoryAttestation.d.ts
  packages/constants/build/statutoryRegulatoryAttestation.js
  packages/constants/build/statutoryRegulatoryAttestation.js.map
  packages/constants/package.json
  packages/constants/src/errors.ts
  packages/constants/src/healthPlanPackages.ts
  packages/constants/src/index.ts
  packages/constants/src/localStorage.ts
  packages/constants/src/modifiedProvisions.ts
  packages/constants/src/routes.ts
  packages/constants/src/statutoryRegulatoryAttestation.ts
  packages/constants/tsconfig.json
  packages/gql-helpers/src/contractsAndRates.ts
  packages/gql-helpers/tsconfig.json
  packages/otel-helpers/package.json
  packages/otel-helpers/tsconfig.json
  pnpm-lock.yaml
  services/app-graphql/codegen.yml
Due: none

Design review - every error alert has a heading, message and many have additional remeditation. Can be two lines
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlert.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertFailedRequest.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertScheduledMaintenance.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertSignIn.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertSiteUnavailable.tsx
  services/app-web/src/components/ErrorAlert/ErrorRemediations.tsx
  services/app-web/src/components/Modal/Modal.tsx
  services/app-web/src/components/Modal/V2/UnlockSubmitModalV2.tsx
Due: lint-app-web

Design review - link to help desk says email help desk instead of let us know
  services/app-web/src/components/Banner/DocumentWarningBanner/DocumentWarningBanner.tsx
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.tsx
  services/app-web/src/components/ErrorAlert/ContactSupportLink.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlert.stories.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertScheduledMaintenance.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertSiteUnavailable.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertValidationError.tsx
  services/app-web/src/components/ErrorAlert/ErrorRemediations.tsx
  services/app-web/src/components/Footer/Footer.tsx
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.tsx
  services/app-web/src/pages/Errors/GenericErrorPage.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.tsx
Due: lint-app-web

code cleanup
  services/app-web/src/hooks/useContractForm.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Change updateStateAssignments resolver permissions.
  services/app-api/src/resolvers/user/updateStateAssignments.ts
Due: lint-app-api

Update comment and some error handling.
  services/app-api/src/postgres/user/updateCmsUserProperties.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.ts
Due: lint-app-api

Update `updateStateAssignments` to `updateStateAssignment`
  services/app-api/src/postgres/state/findAllSupportedStates.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.test.ts
  services/app-api/src/resolvers/user/index.ts
  services/app-api/src/resolvers/user/updateStateAssignment.test.ts
  services/app-api/src/resolvers/user/updateStateAssignment.ts
  services/app-graphql/src/mutations/updateStateAssignment.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

rerun
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
Due: lint-app-web

fix app-web deploy error?
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
Due: lint-app-web

Copy change for state analyst setting page.
  services/app-web/src/pages/Settings/EmailSettingsTables/EmailAnalystsTable.tsx
Due: lint-app-web

decouple healthPlanFormData types
  packages/common-code/package.json
  packages/common-code/src/ContractType.ts
  packages/common-code/src/proto/healthPlanFormDataProto/healthPlanFormDataEncoding.test.ts
  packages/common-code/src/proto/healthPlanFormDataProto/protoBase64.test.ts
  packages/common-code/src/proto/healthPlanFormDataProto/toDomain.ts
  packages/common-code/src/proto/healthPlanFormDataProto/toLatestVersion.ts
  packages/common-code/src/proto/healthPlanFormDataProto/toProtoBuffer.ts
  packages/document-helpers/package.json
  packages/document-helpers/src/getAllDocuments.ts
  packages/document-helpers/src/index.ts
  packages/document-helpers/src/makeDocumentDateLookupTable.test.ts
  packages/document-helpers/src/makeDocumentDateLookupTable.ts
  packages/document-helpers/src/makeDocumentKeyLookupList.test.ts
  packages/document-helpers/src/makeDocumentKeyLookupList.ts
  packages/document-helpers/tsconfig.json
  packages/gql-helpers/src/fetchHealthPlanPackageWrapper.ts
  packages/types/package.json
  packages/types/src/data/statePrograms.json
  packages/types/src/healthPlanFormDataMocks/healthPlanFormData.ts
  packages/types/src/healthPlanFormDataMocks/index.ts
  packages/types/src/healthPlanFormDataType/FederalAuthorities.ts
  packages/types/src/healthPlanFormDataType/HealthPlanFormDataType.ts
  packages/types/src/healthPlanFormDataType/LockedHealthPlanFormDataType.ts
  packages/types/src/healthPlanFormDataType/ModifiedProvisions.ts
  packages/types/src/healthPlanFormDataType/State.ts
  packages/types/src/healthPlanFormDataType/StateCodeType.ts
  packages/types/src/healthPlanFormDataType/UnlockedHealthPlanFormDataType.ts
  packages/types/src/healthPlanFormDataType/dayjs.ts
  packages/types/src/healthPlanFormDataType/findStatePrograms.ts
  packages/types/src/healthPlanFormDataType/healthPlanFormData.test.ts
  packages/types/src/healthPlanFormDataType/healthPlanFormData.ts
  packages/types/src/healthPlanFormDataType/index.ts
  packages/types/src/healthPlanSubmissionHelpers/provisions.test.ts
  packages/types/src/healthPlanSubmissionHelpers/provisions.ts
  packages/types/tsconfig.json
  pnpm-lock.yaml
  services/app-proto/package.json
Due: none

reenable some tests
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
Due: lint-app-api

wow it builds
  packages/types/src/healthPlanPackages.ts
  packages/types/src/modifiedProvisions.ts
  packages/types/src/proto/healthPlanFormDataProto/README.md
  packages/types/src/proto/healthPlanFormDataProto/healthPlanFormDataEncoding.test.ts
  packages/types/src/proto/healthPlanFormDataProto/index.ts
  packages/types/src/proto/healthPlanFormDataProto/protoBase64.test.ts
  packages/types/src/proto/healthPlanFormDataProto/protoBase64.ts
  packages/types/src/proto/healthPlanFormDataProto/testData/_ran_migrations
  packages/types/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-08-19.proto
  packages/types/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-10-21.proto
  packages/types/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-10-26.proto
  packages/types/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-11-07.proto
  packages/types/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-12-19.proto
  packages/types/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2023-05-19.proto
  packages/types/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2023-07-17.proto
  packages/types/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2023-09-28.proto
  packages/types/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2023-12-09.proto
  packages/types/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2024-07-10.proto
  packages/types/src/proto/healthPlanFormDataProto/toDomain.ts
  packages/types/src/proto/healthPlanFormDataProto/toLatestVersion.ts
  packages/types/src/proto/healthPlanFormDataProto/toProtoBuffer.ts
  packages/types/src/proto/healthPlanFormDataProto/zodSchemas.ts
  packages/types/src/testHelpers/healthPlanFormDataMock.ts
  packages/types/src/testHelpers/stateMock.ts
Due: none

these didn't stage
  .gitignore
  packages/common-code/src/ContractTypeProvisions.ts
  packages/common-code/src/proto/healthPlanFormDataProto/README.md
  packages/common-code/src/proto/healthPlanFormDataProto/healthPlanFormDataEncoding.test.ts
  packages/common-code/src/proto/healthPlanFormDataProto/index.ts
  packages/common-code/src/proto/healthPlanFormDataProto/protoBase64.test.ts
  packages/common-code/src/proto/healthPlanFormDataProto/protoBase64.ts
  packages/common-code/src/proto/healthPlanFormDataProto/testData/_ran_migrations
  packages/common-code/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-08-19.proto
  packages/common-code/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-10-21.proto
  packages/common-code/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-10-26.proto
  packages/common-code/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-11-07.proto
  packages/common-code/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-12-19.proto
  packages/common-code/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2023-05-19.proto
  packages/common-code/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2023-07-17.proto
  packages/common-code/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2023-09-28.proto
  packages/common-code/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2023-12-09.proto
  packages/common-code/src/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2024-07-10.proto
  packages/common-code/src/proto/healthPlanFormDataProto/toDomain.ts
  packages/common-code/src/proto/healthPlanFormDataProto/toLatestVersion.ts
  packages/common-code/src/proto/healthPlanFormDataProto/toProtoBuffer.ts
  packages/common-code/src/proto/healthPlanFormDataProto/zodSchemas.ts
  packages/constants/build/healthPlanPackages.d.ts
  packages/constants/build/index.d.ts
  packages/constants/build/index.js
  packages/constants/build/index.js.map
  packages/constants/build/modifiedProvisions.d.ts
  packages/constants/src/healthPlanPackages.ts
  packages/constants/src/index.ts
  packages/constants/src/modifiedProvisions.ts
  packages/gql-helpers/package.json
  packages/types/package.json
  packages/types/src/healthPlanFormDataType/healthPlanFormData.test.ts
  packages/types/src/healthPlanSubmissionHelpers/provisions.test.ts
  packages/types/src/healthPlanSubmissionHelpers/provisions.ts
  pnpm-lock.yaml
  services/app-graphql/codegen.yml
  services/app-proto/package.json
Due: none

fix workspace declaration
  packages/common-code/package.json
  pnpm-lock.yaml
Due: none

Fix tests flake due to shallow copy of user mock
  services/app-web/src/components/ErrorAlert/ErrorAlert.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.tsx
  services/app-web/src/testHelpers/apolloMocks/questionResponseDataMocks.ts
  services/app-web/src/testHelpers/apolloMocks/userGQLMock.ts
Due: lint-app-web

Adjust withEmphasis and add tests
  services/app-web/src/components/ErrorAlert/ErrorAlert.test.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlert.tsx
  services/app-web/src/components/ErrorAlert/ErrorRemediations.tsx
Due: lint-app-web

Simplify logic for using validation fail alert - this is just about the submit missing field message
  services/app-web/src/components/Modal/V2/UnlockSubmitModalV2.tsx
Due: lint-app-web

code fix for stateContacts and scrollTo for docs
  services/app-web/src/hooks/useContractForm.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

Fix graphql explorer for local deployment.
  services/app-web/src/pages/GraphQLExplorer/GraphQLExplorer.tsx
Due: lint-app-web

Rename State table `users` to `assignedCMSUsers` and add migration.
  services/app-api/prisma/migrations/20240823143847_rename_state_users_to_state_assigned_cms_users/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/StateType.ts
  services/app-api/src/domain-models/UserType.ts
  services/app-api/src/postgres/state/findAllSupportedStates.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.test.ts
  services/app-graphql/src/queries/fetchMcReviewSettings.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/Settings/EmailSettingsTables/EmailSettingsTables.tsx
  services/app-web/src/testHelpers/apolloMocks/mcReviewSettingsGQLMocks.ts
Due: lint-app-web, lint-app-api

Fix some tests
  services/app-api/src/resolvers/user/indexUsers.test.ts
  services/app-api/src/resolvers/user/updateStateAssignment.test.ts
Due: lint-app-api

fixup lint error
  services/app-web/src/components/ErrorAlert/ErrorRemediations.tsx
Due: lint-app-web

pr fixes
  services/app-web/src/hooks/useContractForm.ts
Due: lint-app-web
