Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Pass in id and name prop and remove jsx fragment.
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
Due: lint-app-web

Move prop spread to bottom.
  services/app-web/src/components/ProgramSelect/ProgramSelect.tsx
Due: lint-app-web

Tealium loading from head tag
  .envrc
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  .vscode/settings.json
  docs/Configuration.md
  services/app-api/serverless.yml
  services/app-web/serverless.yml
  services/app-web/src/constants/tealium.ts
  services/app-web/src/hooks/useCurrentRoute.ts
  services/app-web/src/hooks/useScript.ts
  services/app-web/src/hooks/useTealium.ts
  services/app-web/src/index.tsx
  services/app-web/src/pages/App/AppBody.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

Cleanup - Load async tag with inline script, following BLAST docs - Get page heading in page_name. - Do not use tealium effects on local dev at all for now
  services/app-web/src/hooks/useScript.ts
  services/app-web/src/hooks/useTealium.ts
Due: lint-app-web

Cleanup env and comments
  .envrc
  .github/workflows/promote.yml
  docs/Configuration.md
  services/app-api/serverless.yml
  services/app-web/serverless.yml
  services/app-web/src/hooks/useTealium.ts
  services/app-web/src/index.tsx
Due: lint-app-web

Fix program select focuses submission name (#1094)
  services/app-web/src/components/ProgramSelect/ProgramSelect.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Mock tealium so AppBody tests pass
  services/app-web/src/hooks/index.ts
  services/app-web/src/pages/App/AppBody.test.tsx
Due: lint-app-web

Update generateRateName to handle rate cert programs.
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
Due: lint-app-web

Update generateRateName tests.
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.test.ts
Due: lint-app-web

Update arguments for generateRateName and adjust test.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
Due: lint-app-web

Move generateRateName to resolvers, pass to emailer and update tests.
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

generate rate name and pass to emailer.
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.ts
Due: lint-app-api

Fix tealiumEnv
  services/app-web/src/constants/tealium.ts
  services/app-web/src/hooks/useTealium.ts
Due: lint-app-web

wip cypress coverage generated
  .gitignore
  package.json
  services/app-web/package.json
  tests/cypress/plugins/index.ts
  tests/cypress/support/index.ts
  yarn.lock
Due: none

remove console log
  services/app-web/src/components/FileUpload/FileProcessor/FileProcessor.tsx
Due: lint-app-web

Require `name` prop and change `id`
  services/app-web/src/components/ProgramSelect/ProgramSelect.stories.tsx
  services/app-web/src/components/ProgramSelect/ProgramSelect.test.tsx
  services/app-web/src/components/ProgramSelect/ProgramSelect.tsx
Due: lint-app-web

Refactor forming errors passed to `ErrorSummary` component
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Enable feature flag.
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
Due: lint-app-web

ADR: Form Changing Over Time (#1072)
  docs/ADRs/018-changing-form-over-time.md
Due: none

Fix cms no defined error in Cypress
  services/app-web/src/hooks/useTealium.ts
Due: lint-app-web

Turn to arrow to a function for getTealiumEnv
  services/app-web/src/constants/tealium.ts
Due: lint-app-web

Add unique id and move aria-label prop.
  services/app-web/src/components/ProgramSelect/ProgramSelect.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Fix error order
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

change featureFlag parameter to showScript
  services/app-web/src/hooks/useScript.ts
Due: lint-app-web

Change rateProgramIDs to empty array.
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.test.ts
Due: lint-app-web

Add default rate program id.
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

Change argument name.
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
Due: lint-app-web

Fix finding rate programs and default programs when not found.
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.ts
Due: lint-app-api

Fix test and add new test to for defaulting rate programs.
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
Due: lint-app-api

Add comment.
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
Due: lint-app-web

[MR-2485] Program selection combobox not focused when error clicked (#1099)
  services/app-web/src/components/FileUpload/FileProcessor/FileProcessor.tsx
  services/app-web/src/components/ProgramSelect/ProgramSelect.stories.tsx
  services/app-web/src/components/ProgramSelect/ProgramSelect.test.tsx
  services/app-web/src/components/ProgramSelect/ProgramSelect.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Fix rateProgramIDs in helper.
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

Refactor to find programs from combined rateProgramIDs and programIDs.
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.ts
Due: lint-app-api

[MR-2462] Add Tealium (#1095)
  .vscode/settings.json
  services/app-web/src/constants/tealium.ts
  services/app-web/src/hooks/index.ts
  services/app-web/src/hooks/useCurrentRoute.ts
  services/app-web/src/hooks/useScript.ts
  services/app-web/src/hooks/useTealium.ts
  services/app-web/src/pages/App/AppBody.test.tsx
  services/app-web/src/pages/App/AppBody.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/types/index.d.ts
Due: lint-app-web

Refactor test name.
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
Due: lint-app-api

Pull in changes from quickstart
  services/uploads/src/antivirus.js
  services/uploads/src/clamav.js
  services/uploads/src/constants.js
Due: none

Remove unused sts
  services/uploads/src/antivirus.js
Due: none

use path.join
  services/uploads/src/antivirus.js
Due: none

test bump cypress
  .github/workflows/deploy.yml
Due: none

Bump cypress from 9.7.0 to 10.3.1
  package.json
  yarn.lock
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
