Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

fix promote clamav
  .github/workflows/promote.yml
  README.md
Due: none

fix promote clamav (#2604)
  .github/workflows/promote.yml
  README.md
Due: none

MCR-4329 & MCR-4330: inline error, alert, checkbox, and radio tagging (#2601)
  services/app-web/src/components/Banner/DocumentWarningBanner/DocumentWarningBanner.tsx
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.tsx
  services/app-web/src/components/Banner/UserAccountWarningBanner/UserAccountWarningBanner.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlert.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertFailedRequest.tsx
  services/app-web/src/components/ExpandableText/ExpandableText.test.tsx
  services/app-web/src/components/FileUpload/FileItemList/FileItemsList.test.tsx
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/components/FileUpload/UploadErrorAlert/UploadErrorAlert.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.tsx
  services/app-web/src/components/Form/FieldCheckbox/FieldCheckbox.stories.tsx
  services/app-web/src/components/Form/FieldCheckbox/FieldCheckbox.test.tsx
  services/app-web/src/components/Form/FieldCheckbox/FieldCheckbox.tsx
  services/app-web/src/components/Form/FieldDropdown/FieldDropdown.tsx
  services/app-web/src/components/Form/FieldRadio/FieldRadio.stories.tsx
  services/app-web/src/components/Form/FieldRadio/FieldRadio.test.tsx
  services/app-web/src/components/Form/FieldRadio/FieldRadio.tsx
  services/app-web/src/components/Form/FieldTextInput/FieldTextInput.tsx
  services/app-web/src/components/Form/FieldTextarea/FieldTextarea.tsx
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.tsx
  services/app-web/src/components/Modal/V2/UnlockSubmitModalV2.tsx
  services/app-web/src/components/PoliteErrorMessage/PoliteErrorMessage.test.tsx
  services/app-web/src/components/PoliteErrorMessage/PoliteErrorMessage.tsx
  services/app-web/src/hooks/useTealium.ts
  services/app-web/src/pages/Auth/Login.tsx
  services/app-web/src/pages/LinkYourRates/LinkYourRates.tsx
  services/app-web/src/pages/StateSubmission/Contacts/ActuaryContactFields.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateFormFields.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/tealium/index.ts
  services/app-web/src/tealium/tealium.ts
  services/app-web/src/testHelpers/tealiumHelpers.ts
Due: lint-app-web

Fix dev clean
  dev_tool/package.json
  package.json
  scripts/package.json
  services/app-api/package.json
  services/app-web/package.json
  services/cypress/package.json
  services/uploads/package.json
Due: none

fix container for cypress in promote
  .github/workflows/promote.yml
Due: none

fix script in dev
  dev_tool/src/dev.ts
Due: none

fix container for cypress in promote (#2608)
  .github/workflows/promote.yml
Due: none

Testing dev scripts (#2607)
  dev_tool/package.json
  dev_tool/src/dev.ts
  package.json
  scripts/package.json
  services/app-api/package.json
  services/app-web/package.json
  services/cypress/package.json
  services/uploads/package.json
Due: none

update for contractRevs
  services/app-api/src/emailer/emails/sendQuestionCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionCMSEmail.ts
  services/app-api/src/emailer/emails/sendQuestionResponseCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionResponseCMSEmail.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestionResponse.test.ts
Due: lint-app-api

test with install false
  .github/workflows/deploy.yml
Due: none

change the cache location for containers
  .github/actions/setup_env/action.yml
Due: none

remove revision.revisions
  services/app-api/src/domain-models/contractAndRates/baseContractRateTypes.ts
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/contractAndRates/convertContractWithRatesToHPP.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/contractAndRates/rateTypes.ts
  services/app-api/src/domain-models/contractAndRates/revisionTypes.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/unlockContractCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/unlockContractStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/sendQuestionCMSEmail.ts
  services/app-api/src/emailer/emails/sendQuestionResponseCMSEmail.ts
  services/app-api/src/emailer/emails/sendQuestionResponseStateEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionResponseStateEmail.ts
  services/app-api/src/emailer/emails/sendQuestionStateEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionStateEmail.ts
  services/app-api/src/emailer/emails/unlockContractCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockContractCMSEmail.ts
  services/app-api/src/emailer/emails/unlockContractStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockContractStateEmail.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

cleanup
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/contractAndRates/revisionTypes.ts
Due: lint-app-api

cleanup the parsersWithHistory
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
Due: lint-app-api

pr fixes
  services/app-api/src/domain-models/DivisionType.ts
  services/app-api/src/domain-models/QuestionResponseType.ts
  services/app-api/src/domain-models/QuestionsType.ts
  services/app-api/src/domain-models/StateType.ts
  services/app-api/src/domain-models/UserType.ts
  services/app-api/src/domain-models/contractAndRates/baseContractRateTypes.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/contractResolver.test.ts
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-api/src/resolvers/contract/fetchContract.ts
  services/app-api/src/resolvers/contract/fetchContractWithQuestions.ts
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-graphql/src/queries/fetchContractWithQuestions.graphql
Due: lint-app-api

update the emails for contract
  services/app-api/src/emailer/emails/unlockContractCMSEmail.test.ts
  services/app-api/src/emailer/templateHelpers.ts
Due: lint-app-api

Fix cypress bin cache location (#2612)
  .github/actions/setup_env/action.yml
  .github/workflows/deploy.yml
Due: none

Add command to configure and open Cypress to run against review app.
  dev_tool/src/dev.ts
  dev_tool/src/test/browser.ts
  dev_tool/src/test/index.ts
  docs/technical-design/howto-run-cypress-against-review-app.md
  services/cypress/README.md
  services/cypress/cypress.config.ts
Due: none

pr fixes
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-web/src/pages/Settings/EmailSettingsTables/EmailSettingsTables.tsx
Due: lint-app-web, lint-app-api

Import function instead.
  dev_tool/src/test/browser.ts
Due: none

Add conflict for commands.
  dev_tool/src/dev.ts
Due: none

Cleanup
  dev_tool/src/dev.ts
Due: none

no ~ expansion?
  .github/actions/setup_env/action.yml
Due: none

Revert COGNITO env var names to match yaml.
  dev_tool/src/test/browser.ts
  services/cypress/cypress.config.ts
Due: none

delete some more dead code
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
Due: lint-app-api

let it install if it can't find it
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
Due: none

fix console info text.
  dev_tool/src/test/browser.ts
Due: none

bump cypress for cache
  pnpm-lock.yaml
  services/cypress/package.json
Due: none

Another cypress cache fix (#2615)
  .github/actions/setup_env/action.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  pnpm-lock.yaml
  services/cypress/package.json
Due: none

remove authz validation from contractResolver
  services/app-api/src/resolvers/contract/contractResolver.ts
Due: lint-app-api

MCR-4279: prevent oact from getting emails about non risked based contracts (#2603)
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionCMSEmail.ts
  services/app-api/src/emailer/emails/sendQuestionResponseCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionResponseCMSEmail.ts
  services/app-api/src/emailer/emails/unlockContractCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/templateHelpers.test.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestionResponse.test.ts
  services/app-web/src/pages/Settings/EmailSettingsTables/EmailSettingsTables.tsx
Due: lint-app-web, lint-app-api

[MCR-4188] contract API for index contracts and fetch contract with questions (#2593)
  services/app-api/src/domain-models/DivisionType.ts
  services/app-api/src/domain-models/QuestionResponseType.ts
  services/app-api/src/domain-models/QuestionsType.ts
  services/app-api/src/domain-models/StateType.ts
  services/app-api/src/domain-models/UserType.ts
  services/app-api/src/domain-models/contractAndRates/baseContractRateTypes.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/contractResolver.test.ts
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-api/src/resolvers/contract/indexContracts.test.ts
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-graphql/src/queries/fetchContractWithQuestions.graphql
  services/app-graphql/src/queries/indexContracts.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

MCR-4317 add admin cypress tests for Settings - on fresh branch (#2606)
  scripts/add_cypress_test_users.ts
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/localAuth/LocalLogin.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/Settings/CMSUsersTable/CMSUsersTable.tsx
  services/cypress/integration/adminWorkflow/settings.spec.ts
  services/cypress/utils/apollo-test-utils.ts
Due: lint-app-web

fix lockfile from merge
  pnpm-lock.yaml
Due: none

fix lockfile from merge (#2623)
  pnpm-lock.yaml
Due: none

update SubmissionType to use contract API
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Move dev tool to pnpm
  dev
  dev_tool/package.json
  dev_tool/src/dev.ts
  dev_tool/src/local/api.ts
  dev_tool/src/local/graphql.ts
  dev_tool/src/local/postgres.ts
  dev_tool/src/local/proto.ts
  dev_tool/src/local/s3.ts
  dev_tool/src/local/storybook.ts
  dev_tool/src/local/web.ts
  dev_tool/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: none

move lerna to pnpm in ci
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/promote.yml
  README.md
  dev
  lerna.json
  nx.json
  run_build.sh
Due: none

fix proto generate in prisma step
  .github/workflows/deploy.yml
Due: none
