Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

MCR-4472: update Tealium staging urls (#2766)
  services/app-web/src/tealium/tealium.ts
Due: lint-app-web

fix uploads tests. use vitest.
  pnpm-lock.yaml
  services/uploads/.eslintrc
  services/uploads/jest.config.ts
  services/uploads/package.json
  services/uploads/src/deps/clamAV/clamAV.test.ts
  services/uploads/src/deps/clamAV/clamAV.ts
  services/uploads/src/deps/s3.ts
  services/uploads/src/lambdas/avAuditFiles.ts
  services/uploads/src/lib/auditUploads.test.ts
  services/uploads/src/lib/avScan.test.ts
  services/uploads/src/lib/scanFiles.test.ts
  services/uploads/src/lib/scanFiles.ts
  services/uploads/src/lib/updateAVDefinitions.test.ts
  services/uploads/src/lib/updateAVDefinitions.ts
  services/uploads/src/vitestGlobalSetup.ts
  services/uploads/vitest.config.ts
Due: none

add some mime type checks btwn file and ending
  services/uploads/src/deps/s3.ts
  services/uploads/src/lib/scanFiles.ts
Due: none

Adjust header log - should be default not error
  services/app-web/src/components/Header/Header.tsx
  services/app-web/src/components/Modal/SessionTimeoutModal.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

MCR-4140 CMS submissions dashboard uses contract api (#2759)
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-web/src/components/ContractTable/ContractTable.stories.tsx
  services/app-web/src/components/ContractTable/ContractTable.test.tsx
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.module.scss
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/components/HealthPlanPackageTable/index.ts
  services/app-web/src/components/index.ts
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/cypress/support/loginCommands.ts
Due: lint-app-web, lint-app-api

Security Finding: Disallow user creation on val/prod (#2758)
  services/ui-auth/serverless.yml
Due: none

wip, use contractAPI on submissionSideNav
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
Due: lint-app-web

Revert "Security Finding: Disallow user creation on val/prod (#2758)"
  services/ui-auth/serverless.yml
Due: none

Revert "MCR-4140 CMS submissions dashboard uses contract api (#2759)"
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.module.scss
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.stories.tsx
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.test.tsx
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/components/HealthPlanPackageTable/index.ts
  services/app-web/src/components/index.ts
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/cypress/support/loginCommands.ts
Due: lint-app-web, lint-app-api

Revert "MCR-4140 CMS submissions dashboard uses contract api (#2759)" (#2771)
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.module.scss
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.stories.tsx
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.test.tsx
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/components/HealthPlanPackageTable/index.ts
  services/app-web/src/components/index.ts
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/cypress/support/loginCommands.ts
Due: lint-app-web, lint-app-api

fix indexContracts timeout
  services/app-graphql/src/queries/indexContractsForDashboard.graphql
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
Due: lint-app-web

fix unit test
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
Due: lint-app-web

working, types are wrong
  services/app-graphql/src/schema.graphql
  services/app-web/src/constants/errors.ts
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.test.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
  services/app-web/src/testHelpers/apolloMocks/userGQLMock.ts
Due: lint-app-web

respond to PR comments
  services/app-api/src/postgres/state/updateStateAssignedUsers.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.test.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.ts
Due: lint-app-api

update state analyst by state (#2767)
  services/app-api/src/postgres/postgresErrors.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/state/updateStateAssignedUsers.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.test.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/mutations/updateStateAssignmentsByState.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Revert "Revert "MCR-4140 CMS submissions dashboard uses contract api (#2759)"…"
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-web/src/components/ContractTable/ContractTable.stories.tsx
  services/app-web/src/components/ContractTable/ContractTable.test.tsx
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.module.scss
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/components/HealthPlanPackageTable/index.ts
  services/app-web/src/components/index.ts
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/cypress/support/loginCommands.ts
Due: lint-app-web, lint-app-api

pull in changes for indexContractsForDashboard
  services/app-graphql/src/queries/indexContractsForDashboard.graphql
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
Due: lint-app-web

change FieldSelect value type to match Option type
  services/app-web/src/components/Select/FieldSelect/FieldSelect.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
Due: lint-app-web

untypo
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
Due: lint-app-web

WIP
  services/app-api/src/postgres/state/findStateAssignedUsers.ts
  services/app-api/src/postgres/state/updateStateAssignedUsers.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

update cypress
  services/cypress/support/commands.ts
  services/cypress/support/loginCommands.ts
Due: none

pull users from db for create question
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

delete indexContract unused
  services/app-graphql/src/queries/indexContracts.graphql
Due: none

get correct analysts for other three resovlers
  services/app-api/src/emailer/emails/unlockContractCMSEmail.ts
  services/app-api/src/emailer/emails/unlockContractStateEmail.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/unlockContract.test.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestionResponse.ts
Due: lint-app-api

Save Analyst in settings page (#2779)
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/Select/FieldSelect/FieldSelect.tsx
  services/app-web/src/constants/errors.ts
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.test.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
  services/app-web/src/testHelpers/apolloMocks/userGQLMock.ts
Due: lint-app-web

MCR-4140: fix indexContract API timeout and Revert rollback of CMS dashboard contract API updates (#2778)
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-graphql/src/queries/indexContracts.graphql
  services/app-graphql/src/queries/indexContractsForDashboard.graphql
  services/app-web/src/components/ContractTable/ContractTable.stories.tsx
  services/app-web/src/components/ContractTable/ContractTable.test.tsx
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.module.scss
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/components/HealthPlanPackageTable/index.ts
  services/app-web/src/components/index.ts
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/cypress/support/commands.ts
  services/cypress/support/loginCommands.ts
Due: lint-app-web, lint-app-api

Add full name to display
  services/app-web/src/pages/Settings/Settings.tsx
  services/app-web/src/pages/Settings/SettingsCells/SettingsCells.tsx
  services/app-web/src/pages/Settings/SettingsCells/index.ts
  services/app-web/src/pages/Settings/SettingsTables/AutomatedEmailsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/index.ts
  services/app-web/src/pages/Settings/index.ts
Due: lint-app-web

Banner is displaying
  services/app-web/src/components/Banner/AssignedStaffUpdateBanner/AssignedStaffUpdateBanner.tsx
  services/app-web/src/components/Banner/Banner.module.scss
  services/app-web/src/constants/routes.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
  services/app-web/src/pages/Settings/Settings.tsx
  services/app-web/src/pages/Settings/SettingsCells/SettingsCells.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/pages/Settings/index.ts
Due: lint-app-web

refetch when route changes
  services/app-web/src/pages/Settings/Settings.tsx
Due: lint-app-web

Don't add re-added users to remove list
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
  services/app-web/src/pages/Settings/Settings.tsx
Due: lint-app-web

Fix the margin on banner
  services/app-web/src/components/Banner/Banner.module.scss
Due: lint-app-web

Fixup tests
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.test.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
Due: lint-app-web

Send emails to state analysts configured in db when FF is on (#2780)
  services/app-api/src/emailer/emails/unlockContractCMSEmail.ts
  services/app-api/src/emailer/emails/unlockContractStateEmail.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/state/findStateAssignedUsers.ts
  services/app-api/src/postgres/state/updateStateAssignedUsers.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/unlockContract.test.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.ts
  services/app-api/src/resolvers/questionResponse/createQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestionResponse.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Force refreshSession failures to display timeout, doesn matter if we thought we were logged in
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

update unit test
  services/app-web/src/pages/QuestionResponse/QuestionResponse.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.test.tsx
  services/app-web/src/testHelpers/apolloMocks/apolloErrorCodeMocks.ts
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web

update qa pages to consume contract
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponse.tsx
Due: lint-app-web

add mime type check test
  pnpm-lock.yaml
  services/uploads/package.json
  services/uploads/src/deps/clamAV/testData/dummyMimeCheck.docx
  services/uploads/src/deps/s3.ts
  services/uploads/src/lib/avScan.test.ts
  services/uploads/src/lib/avScan.ts
  services/uploads/src/lib/scanFiles.ts
Due: none

fix questionResponse test
  services/app-web/src/pages/QuestionResponse/QuestionResponse.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
Due: lint-app-web

update unit test for uploadQuestions
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestions.test.tsx
Due: lint-app-web

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
