Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

correct upload path
  .github/workflows/deploy.yml
Due: none

name artifact
  .github/workflows/deploy.yml
Due: none

why doesnt cc like it
  .github/workflows/deploy.yml
Due: none

Move findPrograms to emailer functions.
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.ts
Due: lint-app-api

Remove `findProgramsHelper` function and CHIP program from `mockMNState`
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

Use Set to remove duplicates and form Array.
  services/app-api/src/emailer/templateHelpers.ts
Due: lint-app-api

Bump @storybook/preset-create-react-app from 4.1.1 to 4.1.2 (#1106)
  services/app-web/package.json
  yarn.lock
Due: none

Remove console log of file type.
  services/app-web/src/components/FileUpload/FileProcessor/FileProcessor.tsx
Due: lint-app-web

Test not using set constructor.
  services/app-api/src/emailer/templateHelpers.ts
Due: lint-app-api

upload all test json artifacts
  .github/workflows/deploy.yml
Due: none

fix cypress json path
  .github/workflows/deploy.yml
Due: none

try downloading artifacts
  .github/workflows/deploy.yml
Due: none

new store function.
  services/app-api/src/postgres/getStatePrograms.ts
Due: lint-app-api

Pass state programs to emailer functions with getStatePrograms store
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.ts
Due: lint-app-api

Add getStatePrograms().
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

function finds state programs from package programs ids
  services/app-api/src/emailer/templateHelpers.ts
Due: lint-app-api

Rename submission argument to pkg.
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
Due: lint-app-web

Export getStatePrograms
  services/app-api/src/postgres/index.ts
Due: lint-app-api

Update testEmailer arguments and add mock MS state.
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

Add state program to emailer functions.
  services/app-api/src/emailer/emailer.ts
Due: lint-app-api

Emailer functions to find package programs and error handling
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
Due: lint-app-api

Update emailer function tests.
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
Due: lint-app-api

Fix test
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
Due: lint-app-api

try to generate combined report
  .github/workflows/deploy.yml
Due: none

upload combined coverage
  .github/workflows/deploy.yml
Due: none

Create FeatureFlagType type from featureFlags values.
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web

remove feature flags, bring in tests
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web

Cleanup and start to fill in Cypress test
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/testHelpers/apolloHelpers.tsx
  tests/cypress/integration/cmsWorkflow/viewSubmission.spec.ts
Due: lint-app-web

Adjust comments
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
Due: lint-app-web

[MR-2237] Rate name shows the programs the rate cert applies to (#1096)
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/newPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/newPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/resubmitPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/resubmitPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/unlockPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/unlockPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-api/src/emailer/index.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/postgres/findPrograms.ts
  services/app-api/src/postgres/getStatePrograms.ts
  services/app-api/src/postgres/index.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/createHealthPlanPackage.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.test.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
Due: lint-app-web, lint-app-api

do temp cypress merge
  .github/workflows/deploy.yml
Due: none

put cypress merge in reports directly
  .github/workflows/deploy.yml
Due: none

run all tests locally
  package.json
Due: none

Get proto migrations running in db
  .gitignore
  scripts/migrate_protos/migrate_protos.ts
  scripts/migrate_protos/test_migrate
  services/app-api/prisma/migrations/20220810135639_add_proto_migrations_table/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/protoMigrations/migrate_protos.ts
  services/app-api/protoMigrations/test_migrate
  services/app-api/protoMigrations/tsconfig.json
Due: none

Cleanup typing in mocks, bring state and program types into common code
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/State.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/index.ts
Due: lint-app-web

Cypress tests passing
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  tests/cypress/integration/cmsWorkflow/viewSubmission.spec.ts
  tests/cypress/support/loginCommands.ts
Due: none

comment out test
  cypress.config.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
Due: lint-app-web

remove instrumentation for prod
  .github/workflows/deploy.yml
  services/app-web/package.json
Due: none

Address code review
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web

remove prod instrument flag
  services/app-web/package.json
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
