Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

fix typo
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web

update error lang to match design update
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
Due: lint-app-web

change cf invalidate for vm2 vuln (#2459)
  services/app-web/package.json
  services/app-web/serverless.yml
  yarn.lock
Due: none

reset deprectatedRateProgramIDs on update rates and display missing info on reviewSubmit
  .envrc
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
Due: lint-app-web, lint-app-api

reset envrc
  .envrc
Due: none

fix issue with deprecatedRateProgramIDs not being reset
  services/app-api/src/postgres/contractAndRates/prismaContractRateAdaptors.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web, lint-app-api

Group some dependabot updates (#2466)
  .github/dependabot.yml
Due: none

add unit test for rateDetailsSummarySection
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
Due: lint-app-web

update singleratesummarysection test
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web

code clean up
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web

lint fix
  dev_tool/src/flags.ts
Due: none

pr fix to simplify logic for missing data
  services/app-web/src/components/DataDetail/DataDetail.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web

clean up code
  services/app-web/src/components/DataDetail/DataDetail.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.test.tsx
Due: lint-app-web

Reset deprectatedRateProgramIDs on resubmitted submissions (#2468)
  services/app-api/src/postgres/contractAndRates/prismaContractRateAdaptors.ts
  services/app-web/src/components/DataDetail/DataDetail.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
Due: lint-app-web, lint-app-api

Clear out packagesWithSharedRateCerts on update.
  services/app-web/src/pages/StateSubmission/RateDetails/V2/rateDetailsHelpers.ts
Due: lint-app-web

Jest passing
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2024-05-31.proto
  services/app-web/src/components/ChangeHistory/index.ts
  services/app-web/src/components/Modal/index.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
Due: lint-app-web

Clean up imports
  services/app-web/src/components/Modal/V2/UnlockSubmitModalV2.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateFormFields.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContactsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContractDetailsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/cypress/support/index.ts
  services/cypress/support/navigateCommands.ts
  services/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

add pearl's key to authroized keys
  services/postgres/scripts/authorized_keys
Due: none

Remove packagesWithSharedRateCerts in RateFormDataInput GraphQL type.
  services/app-graphql/src/schema.graphql
Due: none

Update V2 API and tests to no longer take packagesWithSharedRateCerts.
  services/app-api/src/postgres/contractAndRates/prismaContractRateAdaptors.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.test.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-api/src/testHelpers/rateDataMocks.ts
  services/app-web/src/pages/StateSubmission/RateDetails/V2/rateDetailsHelpers.ts
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
Due: lint-app-web, lint-app-api

add pearl's key to authroized keys (#2476)
  services/postgres/scripts/authorized_keys
Due: none

move some things to vitest
  .github/workflows/deploy.yml
  dev_tool/src/test/api.ts
  dev_tool/src/test/web.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-web/package.json
  services/app-web/src/testHelpers/jestHelpers.tsx
  services/app-web/tsconfig.json
  services/app-web/vite.config.ts
  yarn.lock
Due: lint-app-web, lint-app-api

move components to vitest
  services/app-web/src/components/ActionButton/ActionButton.test.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistoryV2.test.tsx
  services/app-web/src/components/ExpandableText/ExpandableText.test.tsx
  services/app-web/src/components/FileUpload/FileItemList/FileItemsList.test.tsx
  services/app-web/src/components/FileUpload/FileItemList/__snapshots__/FileItemsList.test.tsx.snap
  services/app-web/src/components/FileUpload/FileProcessor/FileProcessor.test.tsx
  services/app-web/src/components/FileUpload/FileUpload.test.tsx
  services/app-web/src/components/FilterAccordion/FilterAccordion.test.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/FilterDateRange.test.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/Calendar.test.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/DatePicker.test.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/Day.test.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/MonthPicker.test.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/YearPicker.test.tsx
  services/app-web/src/components/Form/ErrorSummary/ErrorSummary.test.tsx
  services/app-web/src/components/Form/FieldCheckbox/FieldCheckbox.test.tsx
  services/app-web/src/components/Form/FieldDropdown/FieldDropdown.test.tsx
  services/app-web/src/components/Form/FieldRadio/FieldRadio.test.tsx
  services/app-web/src/components/Form/FieldTextInput/FieldTextInput.test.tsx
  services/app-web/src/components/Form/FieldTextarea/FieldTextarea.test.tsx
  services/app-web/src/components/Header/Header.test.tsx
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.test.tsx
  services/app-web/src/components/Modal/Modal.test.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/components/Select/PackageSelect/PackageSelect.test.tsx
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.test.tsx
Due: lint-app-web

move pages to vitest
  services/app-web/src/pages/APIAccess/APIAccess.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.test.tsx
  services/app-web/src/pages/StateSubmission/PageActions/PageActions.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContactsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/SubmissionTypeSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
Due: lint-app-web

Combine form specs into one submissionForm spec. Tests passing
  services/app-web/src/pages/SubmissionSummary/V2/SubmissionSummaryV2.tsx
  services/cypress/integration/cmsWorkflow/submissionReview.spec.ts
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/accessiblility.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/contractDetails.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/documents.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/newSubmission.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/reviewAndSubmit.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/submissionForm.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  services/cypress/integration/stateWorkflow/submissionSummary.spec.ts
  services/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

Fixing rateReview test right now feels like a waste of effort until we are solidly on the new API
  services/cypress/integration/cmsWorkflow/rateReview.spec.ts
  services/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
  services/cypress/support/apiCommands.ts
  services/cypress/support/index.ts
  services/cypress/utils/apollo-test-utils.ts
Due: none

MCR-4196: updating rates with packages with shared rates causes system error (#2477)
  services/app-api/src/postgres/contractAndRates/prismaContractRateAdaptors.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.test.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-api/src/testHelpers/rateDataMocks.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/StateSubmission/RateDetails/V2/rateDetailsHelpers.ts
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
Due: lint-app-web, lint-app-api

hide header and footer from graphql explorer page
  services/app-web/src/pages/GraphQLExplorer/GraphQLExplorer.module.scss
Due: lint-app-web

contain lack of footer and header to graphql explorer route
  services/app-web/src/components/Footer/Footer.tsx
  services/app-web/src/components/Header/Header.tsx
  services/app-web/src/pages/GraphQLExplorer/GraphQLExplorer.module.scss
Due: lint-app-web

Update, add and fix helpers.
  services/app-web/src/common-code/ContractTypeProvisions.ts
  services/app-web/src/components/DataDetail/DataDetail.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/userGQLMock.ts
Due: lint-app-web

Fix 404 page when helpdesk users click on unlocked submission.
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
Due: lint-app-web

Use `explainMissingData` prop instead of calculating in component.
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContactsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/SubmissionTypeSummarySectionV2.tsx
Due: lint-app-web

Use `explainMissingData` prop. Fix fields not showing missing data and some showing for CMS users.
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web

Add prop to summary section tests
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/SubmissionTypeSummarySectionV2.test.tsx
Due: lint-app-web

Add help desk user to `explainMissingData` and fix test from an error in helper function.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web

Pass in `explainMissingData` to summary section components.
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/SubmissionSummary/V2/SubmissionSummaryV2.tsx
Due: lint-app-web

Add tests for missing data error notifications.
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.test.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummaryV2.test.tsx
  services/app-web/src/pages/SubmissionSummary/V2/SubmissionSummaryV2.test.tsx
Due: lint-app-web
