Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

only make this server in dev val prod
  services/uploads/serverless.yml
Due: none

bump and test
  services/uploads/serverless.yml
Due: none

bump ami
  services/uploads/serverless.yml
Due: none

user data clamav latest LTS
  services/uploads/serverless.yml
Due: none

Set up page action buttons properly, updateRate not available yet
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/RateSubmission/RateEdit/RateEdit.tsx
  services/app-web/src/pages/StateSubmission/FormContainer.tsx
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert/SingleRateCertV2.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
Due: lint-app-web, lint-app-api

cleanup
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsV2.tsx
Due: lint-app-web

cleanup
  package.json
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
Due: lint-app-web

Pass rateID not revision id to submit. Fix cacheing
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsV2.tsx
Due: lint-app-web

Move file nesting to combine all V2 in one folder
  services/app-web/src/pages/RateSubmission/RateEdit/RateEdit.tsx
  services/app-web/src/pages/StateSubmission/Contacts/ActuaryContactFields.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/PackagesWithSharedRates.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/SingleRateCertV2.tsx
Due: lint-app-web

Add basic test and todos for all the untested paths
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
Due: lint-app-web

Cleanup app-web tests
  services/app-web/src/pages/RateEdit/RateEdit.test.tsx
  services/app-web/src/pages/RateEdit/RateEdit.tsx
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web

app-api tests passing
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-graphql/src/mutations/submitRate.graphql
  services/app-graphql/src/schema.graphql
  services/app-proto/src/health_plan_form_data.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/zodSchemas.ts
Due: lint-app-web, lint-app-api

MCR-3813 Restricting rate access to each respective state (#2228)
  services/app-api/src/resolvers/rate/fetchRate.ts
  services/app-web/src/pages/Errors/ErrorForbiddenPage.tsx
  services/app-web/src/pages/RateEdit/RateEdit.tsx
  services/app-web/src/pages/SubmissionSummary/RateSummary/RateSummary.tsx
Due: lint-app-web, lint-app-api

Fix test id and help cypress out
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
Due: lint-app-web

update code and cypress test so that failure is expected against deployed environments
  services/app-api/src/authn/thirdPartyAuthn.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/cypress/cypress.config.ts
  services/cypress/integration/thirdPartyAPIAccess/thirdPartyAPIAccess.spec.ts
Due: lint-app-api

fix up clamav configs
  services/uploads/serverless.yml
Due: none

log authorizer
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

Revert "log authorizer"
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

added testing to verify presence of sidenav on submission summary page
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
Due: lint-app-web

wip on indexRates
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
Due: lint-app-api

add ip check to authorizer
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

add all keys to user data
  services/uploads/serverless.yml
Due: none

Readme
  services/uploads/README.md
Due: none

move ip address check to apollo middleware, other pr fixes
  docs/Configuration.md
  services/app-api/serverless.yml
  services/app-api/src/authn/thirdPartyAuthn.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/third_party_API_authorizer.ts
  services/cypress/integration/thirdPartyAPIAccess/thirdPartyAPIAccess.spec.ts
Due: lint-app-api

remove undefined from authn
  services/app-api/src/authn/authn.ts
Due: lint-app-api

add clamd.conf to the layer
  services/uploads/src/avLayer/build/build.sh
  services/uploads/src/avLayer/build/clamd.conf
Due: none

update so that ip address check uses includes
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

MCR-3839 restrict 3rd party API access by IP address (#2195)
  .envrc
  docs/Configuration.md
  services/app-api/serverless.yml
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/third_party_API_authorizer.ts
  services/cypress/cypress.config.ts
  services/cypress/integration/thirdPartyAPIAccess/thirdPartyAPIAccess.spec.ts
Due: lint-app-api

bump lambda layer
  services/uploads/serverless.yml
Due: none

fix path name
  services/uploads/serverless.yml
Due: none

do the scan remote
  services/uploads/src/deps/clamAV/clamAV.ts
Due: none

fix indexRates minus test that rely on changes to contracts
  services/app-api/src/resolvers/rate/indexRates.test.ts
Due: lint-app-api

drop the wait just to see
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web

Address @macrael code review
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/pages/RateEdit/RateEdit.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
Due: lint-app-web

Think I can remove null-coalescing work now as well
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
Due: lint-app-web

let's do it live!
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web

some is better than none here I guess
  services/app-web/src/s3/s3Amplify.ts
Due: lint-app-web

Start generating rate names for standalone rate submits
  services/app-api/src/domain-models/nullstoUndefined.ts
  services/app-api/src/resolvers/rate/generateRateCertificationName.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Fixup app-api tests, don't mess with id-only submit log path
  services/app-api/src/resolvers/rate/submitRate.ts
Due: lint-app-api
