Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

update remaining test s3URLs to be a valid format
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionResponseStateEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/templateHelpers.test.ts
  services/app-api/src/resolvers/healthPlanPackage/contractAndRates/resolverHelper.test.ts
  services/app-api/src/testHelpers/s3Helpers.ts
Due: lint-app-api

Add grouped dependabot updates
  .github/dependabot.yml
Due: none

Storybook loading...
  services/app-web/.storybook/main.ts
  services/app-web/package.json
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/Calendar.stories.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/Day.stories.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/MonthPicker.stories.tsx
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/YearPicker.stories.tsx
Due: lint-app-web

Update snapshot.
  services/app-web/src/components/FileUpload/FileItemList/__snapshots__/FileItemsList.test.tsx.snap
Due: lint-app-web

mock s3client in indexRates resolver tests
  services/app-api/src/resolvers/rate/indexRates.test.ts
Due: lint-app-api

Another fix.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
Due: lint-app-web

Fix scss errors around calc
  services/app-web/src/components/Spinner/Spinner.module.scss
Due: lint-app-web

back out of eslint change
  services/app-web/.eslintrc
Due: none

add additional info to log
  services/app-api/src/s3/helpers.ts
Due: lint-app-api

Other cleanup - address more dart sass 2 warnings - address warning about circular imports on fileupload stories - test build-storybook - fix centering of step indicator
  services/app-web/package.json
  services/app-web/src/components/DynamicStepIndicator/DynamicStepIndicator.module.scss
  services/app-web/src/components/FileUpload/FileUpload.stories.tsx
  services/app-web/src/components/Select/RateSelect/RateSelect.module.scss
  services/app-web/src/components/Select/Select.module.scss
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
Due: lint-app-web

update remaining test s3 urls
  services/app-api/src/resolvers/healthPlanPackage/fetchHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/indexQuestions.test.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

remove proto tests
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
Due: lint-app-web

bump apollo/client to fix types
  services/app-web/package.json
  yarn.lock
Due: none

fix submitRate test
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/postgres/contractAndRates/prismaContractRateAdaptors.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-graphql/codegen.yml
Due: lint-app-api

update serverless var names
  services/app-api/serverless.yml
Due: none

fix serverless for deployed environments
  services/app-api/serverless.yml
Due: none

update serverless
  services/app-api/serverless.yml
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

revert bucket name
  services/app-api/serverless.yml
Due: none

remove arn from bucket name
  services/app-api/serverless.yml
Due: none

Upgrade react-router and clear out types workarounds
  services/app-web/package.json
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummaryV2.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  yarn.lock
Due: lint-app-web

Add tests
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.test.tsx
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web

update bucket name
  services/app-api/serverless.yml
Due: none

Add more tests
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
Due: lint-app-api

temp remove email submit
  services/app-api/serverless.yml
Due: none

Remove unused code paths - this is rewritten anyway in parseXWithHistory functions
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
Due: lint-app-api

temp use qa bucket
  services/app-api/serverless.yml
Due: none

Fix submitRate tests
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/testHelpers/documentHelpers.ts
  services/app-api/src/testHelpers/index.ts
Due: lint-app-api

wip
  services/app-api/serverless.yml
Due: none

fix lockfile
  services/app-web/package.json
  yarn.lock
Due: none

Fix fillOutLinkedRate to link to another rate.
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

Use new API to create a rate.
  services/cypress/support/apiCommands.ts
  services/cypress/utils/apollo-test-utils.ts
Due: none

Add test for submit, unlock, and resubmit linked rate submission.
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

Change isRateProgram from string to boolean.
  services/cypress/utils/apollo-test-utils.ts
Due: none

bump more packages
  services/cypress/package.json
  yarn.lock
Due: none

Add another rate to `createAndSubmitContractWithRates` API command.
  services/cypress/support/apiCommands.ts
  services/cypress/utils/apollo-test-utils.ts
Due: none

fix apollo fetch errors
  services/app-web/package.json
  services/cypress/package.json
  yarn.lock
Due: none

fixing for now
  services/app-web/src/components/FileUpload/FileUpload.tsx
Due: lint-app-web

fix serverless validatioin issue
  services/app-api/serverless.yml
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/s3/s3Local.ts
Due: lint-app-api

fix test
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

Update `createAndSubmitContractWithRates` to return Contract instead of HPP.
  services/cypress/support/apiCommands.ts
  services/cypress/support/index.ts
  services/cypress/utils/apollo-test-utils.ts
Due: none
