Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

MCR-4612: Approval Modal Working with API (#2936)
  services/app-api/src/postgres/contractAndRates/approveContract.ts
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/Banner/UserAccountWarningBanner/UserAccountWarningBanner.stories.tsx
  services/app-web/src/components/Banner/UserAccountWarningBanner/UserAccountWarningBanner.tsx
  services/app-web/src/constants/errors.ts
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QuestionResponseRound.tsx
  services/app-web/src/pages/QuestionResponse/QAUploadFormSummary/QAUploadFormSummary.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.tsx
  services/app-web/src/pages/SubmissionSideNav/RateSummarySideNav.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.module.scss
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web, lint-app-api

set -e and fail
  .github/workflows/deploy.yml
Due: none

Fix flakey web-unit test and API testS3Client imports (#2940)
  services/app-api/src/resolvers/contract/indexContracts.test.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/unlockContract.test.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.test.ts
  services/app-api/src/resolvers/contract/withdrawAndReplaceRedundantRate.test.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/resolvers/rate/unlockRate.test.ts
  services/app-web/src/components/FileUpload/FileUpload.test.tsx
Due: lint-app-web, lint-app-api

Remove Q&A by rates flag (#2938)
  services/app-api/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/SubmissionSideNav/RateSummarySideNav.test.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.test.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/cypress/support/launchDarklyCommands.ts
Due: lint-app-web, lint-app-api

test catching failure in app-api in CI
  services/app-api/src/authn/cognitoAuthn.test.ts
Due: lint-app-api

add approval badge to CMS dashboard with sort order updated
  services/app-graphql/src/queries/indexContractsForDashboard.graphql
  services/app-web/src/components/ContractTable/ContractTable.module.scss
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/components/InfoTag/InfoTag.module.scss
  services/app-web/src/components/InfoTag/InfoTag.tsx
  services/app-web/src/constants/contract.ts
  services/app-web/src/constants/index.ts
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
Due: lint-app-web

Update email template and fix unit test
  services/app-api/src/emailer/emails/__snapshots__/sendQuestionStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/sendRateQuestionStateEmail.test.ts.snap
  services/app-api/src/emailer/etaTemplates/sendQuestionStateEmail.eta
  services/app-api/src/postgres/contractAndRates/approveContract.test.ts
Due: lint-app-api

Update response upload document help text
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponseForm.tsx
Due: lint-app-web

Add longer timeout to fix flaky test.
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

get packages to most recent
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-web/jest.config.ts
  services/app-web/package.json
  services/uploads/package.json
Due: none

remove failing test test
  services/app-api/src/authn/cognitoAuthn.test.ts
Due: lint-app-api

MCR-4624: update copy on rate Q&A (#2943)
  services/app-api/src/emailer/emails/__snapshots__/sendQuestionStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/sendRateQuestionStateEmail.test.ts.snap
  services/app-api/src/emailer/etaTemplates/sendQuestionStateEmail.eta
  services/app-api/src/postgres/contractAndRates/approveContract.test.ts
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponseForm.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web, lint-app-api

statedashboard test updated
  services/app-web/src/pages/StateDashboard/StateDashboard.test.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web

add test for CMS dashboard, fix cypress
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
Due: lint-app-web

design fix
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

remove commented out code
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
Due: lint-app-web

disable unlock button for approved submissions
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

MCR-4592 design fixes for approve modal (#2946)
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

test takes 45s on local
  services/app-api/src/resolvers/contract/submitContract.test.ts
Due: lint-app-api

Add new banner component
  services/app-web/src/components/Banner/SubmissionApprovedBanner/SubmissionApprovedBanner.tsx
  services/app-web/src/components/Banner/index.ts
Due: lint-app-web

Order reviewStatusActions by latest first.
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
Due: lint-app-api

create a synthesized field for status vs reviewStatus
  services/app-api/src/domain-models/contractAndRates/baseContractRateTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/contractAndRates/statusType.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-graphql/src/fragments/contractFieldsFragment.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanPackageGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web, lint-app-api

Change FormatToEasternTime to PacificTime
  services/app-api/src/common-code/dateHelpers/calendarDate.ts
  services/app-web/src/common-code/dateHelpers/calendarDate.ts
  services/app-web/src/common-code/dateHelpers/formatBannerDate.ts
  services/app-web/src/common-code/dateHelpers/index.ts
  services/app-web/src/components/Banner/SubmissionUnlockedBanner/SubmissionUnlockedBanner.test.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistory.test.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistoryV2.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.test.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummaryV2.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: lint-app-web, lint-app-api

Add updated tag colors
  services/app-web/src/components/ContractTable/ContractTable.module.scss
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/components/InfoTag/InfoTag.module.scss
  services/app-web/src/components/InfoTag/InfoTag.tsx
Due: lint-app-web

Add approval test mock
  services/app-web/src/testHelpers/apolloMocks/approveContractMocks.ts
Due: lint-app-web

Show approval banner
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Tests for approval function, approval banner, and refactor iterable tests.
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
Due: lint-app-web

Fix contract question response file upload hint.
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponseForm.tsx
Due: lint-app-web

test command
  services/app-api/package.json
Due: none

Add another timeout for vitest to look for loading state
  services/app-web/src/components/FileUpload/FileUpload.test.tsx
Due: lint-app-web

update unlockContract to have new field
  services/app-graphql/src/mutations/unlockContract.graphql
Due: none

replace APPROVAL_NOTICE with MARK_AS_APPROVED
  services/app-api/prisma/migrations/20241120003246_update_contract_action_type_for_approval/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/contractReviewActionType.ts
  services/app-api/src/postgres/contractAndRates/approveContract.test.ts
  services/app-api/src/postgres/contractAndRates/approveContract.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/resolvers/contract/approveContract.test.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
Due: lint-app-web, lint-app-api

change calendar date to be callable with LA instead of NY, fix callsites
  pnpm-lock.yaml
  services/app-api/src/common-code/dateHelpers/calendarDate.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/sendQuestionCMSEmail.ts
  services/app-api/src/emailer/emails/sendQuestionResponseCMSEmail.ts
  services/app-api/src/emailer/emails/sendQuestionResponseStateEmail.ts
  services/app-api/src/emailer/emails/sendQuestionStateEmail.ts
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseStateEmail.ts
  services/app-api/src/emailer/emails/sendRateQuestionStateEmail.ts
  services/app-api/src/emailer/emails/unlockContractCMSEmail.ts
  services/app-api/src/emailer/emails/unlockContractStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-web/package.json
  services/app-web/src/common-code/dateHelpers/calendarDate.ts
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QuestionDisplayTable.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/LinkedRateSummary.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
Due: lint-app-web, lint-app-api

fix dev https request
  dev_tool/src/jumpbox.ts
  dev_tool/src/nodeWrappers.ts
Due: none

Add optional note to approval banner.
  services/app-web/src/components/Banner/SubmissionApprovedBanner/SubmissionApprovedBanner.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Fix contract question response file upload hint. (#2949)
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponseForm.tsx
Due: lint-app-web

pnpm swallows the error
  services/app-api/package.json
Due: none

run with jest here
  services/app-api/package.json
Due: none

MCR-4590: cms and state sees approval banner (#2948)
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
  services/app-web/src/components/Banner/SubmissionApprovedBanner/SubmissionApprovedBanner.tsx
  services/app-web/src/components/Banner/index.ts
  services/app-web/src/components/FileUpload/FileUpload.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/testHelpers/apolloMocks/approveContractMocks.ts
Due: lint-app-web, lint-app-api

fix linting
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/testHelpers/apolloMocks/approveContractMocks.ts
Due: lint-app-web

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
