Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

MCR-5506 add document id to type document (#3622)
  packages/mocks/src/apollo/contractPackageDataMock.ts
  packages/mocks/src/apollo/documentDataMock.ts
  packages/mocks/src/apollo/questionResponseDataMocks.ts
  packages/mocks/src/apollo/questionResponseGQLMock.ts
  packages/mocks/src/apollo/rateDataMock.ts
  services/app-api/src/domain-models/QuestionResponseType.ts
  services/app-api/src/domain-models/QuestionsType.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/questionResponse/findAllQuestionsByContract.ts
  services/app-api/src/postgres/questionResponse/findAllQuestionsByRate.ts
  services/app-api/src/postgres/questionResponse/insertContractQuestion.ts
  services/app-api/src/postgres/questionResponse/insertContractQuestionResponse.ts
  services/app-api/src/postgres/questionResponse/insertRateQuestion.ts
  services/app-api/src/postgres/questionResponse/insertRateQuestionResponse.ts
  services/app-api/src/resolvers/contract/contractResolver.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/questionResolver.test.ts
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.test.ts
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.ts
  services/app-graphql/src/fragments/documentFragment.graphql
  services/app-graphql/src/fragments/questionFragment.graphql
  services/app-graphql/src/fragments/questionResponseFragment.graphql
  services/app-graphql/src/fragments/questionsEdgeFragment.graphql
  services/app-graphql/src/mutations/createContractQuestion.graphql
  services/app-graphql/src/mutations/createContractQuestionResponse.graphql
  services/app-graphql/src/mutations/createRateQuestion.graphql
  services/app-graphql/src/mutations/createRateQuestionResponse.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/hooks/useDocument.tsx
Due: lint-app-web, lint-app-api

Refactor reportWebVitals for v5
  services/app-web/src/reportWebVitals.ts
Due: lint-app-web

Add more help information to D-SNP guidance
  services/app-web/src/pages/Help/Help.tsx
Due: lint-app-web

casing
  .github/workflows/deploy-cdk.yml
  services/infra-cdk/bin/oidc.ts
Due: none

Sync lock file
  pnpm-lock.yaml
Due: none

Update sechub-jira-sync.yml (#3624)
  .github/workflows/sechub-jira-sync.yml
Due: none

fix outputs
  scripts/get-cdk-config.sh
Due: none

remove hardcoded values
  services/infra-cdk/lib/stacks/frontend-app.ts
Due: none

get cognito outputs
  .github/workflows/deploy-cdk.yml
Due: none

fix query
  .github/workflows/deploy-cdk.yml
Due: none

fail properly
  scripts/get-cdk-config.sh
Due: none

try srp
  services/infra-cdk/lib/stacks/cognito.ts
Due: none

update migration so that it skips when the revision isn't submitted
  services/app-api/prisma/migrations/20250905131125_populate_date_added_for_contract_and_rate_docs/migration.sql
Due: none

Rate D-SNP copy change
  packages/hpp/src/healthPlanPackages.ts
Due: none

Update test
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.test.tsx
Due: lint-app-web

Update copy on rate dnsp question
  packages/hpp/src/healthPlanPackages.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.test.tsx
Due: lint-app-web

Copy change on D-SNP help section
  services/app-web/src/pages/Help/Help.tsx
Due: lint-app-web

MCR-5418: Migration for populating dateAdded field for contract and rate documents (#3619)
  services/app-api/prisma/migrations/20250905131125_populate_date_added_for_contract_and_rate_docs/migration.sql
Due: none

Hard code rate DSNP question checkbox text.
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateFormFields.tsx
Due: lint-app-web

MCR-5493: Fix zip download link styling. (#3623)
  services/app-web/src/components/SectionHeader/SectionHeader.module.scss
  services/app-web/src/components/ZipDownloadLink/ZipDownloadLink.module.scss
  services/app-web/src/components/ZipDownloadLink/ZipDownloadLink.tsx
Due: lint-app-web

Revert setting context
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

MCR-5454: Help page content update for CO D-SNPs (#3630)
  services/app-web/src/pages/Help/Help.tsx
Due: lint-app-web

MCR-5453: Rate details D-SNP content fix (#3634)
  packages/hpp/src/healthPlanPackages.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateFormFields.tsx
Due: lint-app-web

add cdk specific test users additions
  .github/workflows/deploy-cdk.yml
  scripts/add_cypress_test_users_cdk.ts
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

cors fixes
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

custom authorizer
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

cors to api gateway 403 reponses
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

attach the proper pool
  services/infra-cdk/lib/stacks/cognito.ts
Due: none

move collector to otel proxy
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

add region and proper path
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

remove helper functions (#3625)
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
Due: lint-app-api

Update sechub-jira-sync.yml
  .github/workflows/sechub-jira-sync.yml
Due: none

Secrets update
  .github/workflows/sechub-jira-sync.yml
Due: none

[MCR-5333] zip cleanup (#3613)
  docs/technical-design/creating-and-testing-endpoints.md
  services/app-api/serverless.yml
  services/app-api/src/handlers/bulk_download.ts
  services/app-api/src/handlers/migrate_document_zips.ts
  services/app-api/src/zip/generateZip.ts
Due: lint-app-api

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
