Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Add contract data to contractRevision.
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/contractAndRates/rateTypes.ts
  services/app-api/src/domain-models/contractAndRates/revisionTypes.ts
  services/app-api/src/domain-models/contractAndRates/statusType.ts
  services/app-api/src/postgres/contractAndRates/parseContractAndRates.test.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Display parent submission link.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web

WIP: Fix rates dashboard (#1975)
  docs/technical-design/creating-and-testing-endpoints.md
  services/app-api/src/domain-models/healthPlanPackage.ts
  services/app-api/src/resolvers/contractAndRates/indexRates.test.ts
  services/app-api/src/resolvers/contractAndRates/rateResolver.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
Due: lint-app-web, lint-app-api

Display shared submission link in documents.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web

clarifications from jason pairing
  services/postgres/README.md
Due: none

Add more documentation on jumpbox access (#1970)
  services/postgres/README.md
Due: none

update GQL Rate to have draft rate and only return individual rate revisions
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftRatesHelpers.ts
  services/app-api/src/resolvers/contractAndRates/fetchRate.test.ts
  services/app-api/src/resolvers/contractAndRates/indexRates.test.ts
  services/app-graphql/codegen.yml
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/pages/SubmissionSummary/RateSummary.tsx
Due: lint-app-web, lint-app-api

fix tests
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
Due: lint-app-api

Update GQL Rate to have draft rate and only return individual rate revs (#1979)
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftRatesHelpers.ts
  services/app-api/src/resolvers/contractAndRates/fetchRate.test.ts
  services/app-api/src/resolvers/contractAndRates/indexRates.test.ts
  services/app-graphql/codegen.yml
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/pages/SubmissionSummary/RateSummary.tsx
Due: lint-app-web, lint-app-api

Add packageStatus to packagesWithSharedRateCerts.
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Append draft to shared rate submission links.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web

Add doc
  docs/technical-design/contract-rate-change-history.md
Due: none

Remove photo
  docs/technical-design/contract-rate-change-history.md
Due: none

Fix things from merge.
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/queries/indexRates.graphql
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web

MCR-3557: Cms sees link to submission on rate summary page and shared rate submissions (#1977)
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/contractAndRates/rateTypes.ts
  services/app-api/src/domain-models/contractAndRates/revisionTypes.ts
  services/app-api/src/domain-models/contractAndRates/statusType.ts
  services/app-api/src/postgres/contractAndRates/parseContractAndRates.test.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
Due: lint-app-web, lint-app-api

Copy contractsWithSharedRateRevision when unlocking rate.
  services/app-api/src/postgres/contractAndRates/unlockRate.ts
Due: lint-app-api

Copy contractsWithSharedRateRevision when unlocking rate. (#1983)
  services/app-api/src/postgres/contractAndRates/unlockRate.ts
Due: lint-app-api

Finish cleanup from site maintenance banner
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/pages/Landing/Landing.test.tsx
Due: lint-app-web

Add RATE_FILTERS feature flag
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web

Show filters behind feature flag
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/index.ts
  services/app-web/src/pages/CMSDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/index.ts
  services/app-web/src/pages/CMSDashboard/index.ts
Due: lint-app-web

cleanup
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
Due: lint-app-web

Update Change History technical documentation (#1922)
  docs/technical-design/contract-rate-change-history.md
Due: none

Prep for Rate Filters (#1984)
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/index.ts
  services/app-web/src/pages/CMSDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/index.ts
  services/app-web/src/pages/CMSDashboard/index.ts
  services/app-web/src/pages/Landing/Landing.test.tsx
Due: lint-app-web

routing for mccrsid field established, bare bones form
  services/app-web/src/constants/routes.ts
  services/app-web/src/constants/tealium.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Remove duplicate mock function.
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.test.tsx
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web

Add test for SingleRateSummarySection and rate data mock.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web

Remove hard coded ids.
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web

Add mock rate GQL requests.
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/rateGQLMocks.ts
Due: lint-app-web

Add RateReviewDashboard tests.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.test.tsx
Due: lint-app-web

Put it back because backend API uses this file.
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
Due: lint-app-web

Add validation schema
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/MccrsId/MccrsIdSchema.ts
Due: lint-app-web

Add rate table tests and move file location.
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

Add another test.
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
Due: lint-app-web

Fix jest warnings.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
Due: lint-app-web

Add failing test for rates refactor with submit
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/healthPlanPackageHelpers.ts
Due: lint-app-api

Clean up submitHPP test
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
Due: lint-app-api

Add passing fetchRate tests
  services/app-api/src/resolvers/contractAndRates/fetchRate.test.ts
Due: lint-app-api

clarify which ids are used
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
Due: lint-app-api
