Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Fix error in test code, set state assignments before submission.
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
Due: lint-app-api

Remove state analyst parameter store functions. Update tests.
  services/app-api/src/parameterStore/emailParameterStore/emailParameterStore.test.ts
  services/app-api/src/parameterStore/emailParameterStore/emailParameterStore.ts
  services/app-api/src/parameterStore/emailParameterStore/index.ts
  services/app-api/src/parameterStore/emailParameterStore/stateAnalystsEmails/getStateAnalystsEmails.ts
  services/app-api/src/parameterStore/emailParameterStore/stateAnalystsEmails/getStateAnalystsSettings.ts
  services/app-api/src/parameterStore/emailParameterStore/stateAnalystsEmails/index.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.ts
  services/app-api/src/testHelpers/parameterStoreHelpers.ts
Due: lint-app-api

create approveContract resolver
  services/app-api/src/postgres/contractAndRates/approveContract.ts
  services/app-api/src/postgres/contractAndRates/index.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-graphql/src/mutations/approveContract.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

fix app-web from merge
  packages/otel/src/index.ts
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseStateEmail.ts
  services/app-api/src/emailer/emails/sendRateQuestionStateEmail.ts
  services/app-web/src/components/Banner/AssignedStaffUpdateBanner/AssignedStaffUpdateBanner.tsx
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/localAuth/LocalLogin.tsx
  services/app-web/src/pages/App/App.tsx
  services/app-web/src/pages/Auth/Login.tsx
  services/app-web/src/pages/Auth/cognitoAuth.ts
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QATable.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QuestionResponseRound.tsx
  services/app-web/src/pages/QuestionResponse/RateQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/RateQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadContractQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadContractResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadRateResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadRateResponse.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/Settings/Settings.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/SubmissionSideNav/RateSummarySideNav.test.tsx
  services/app-web/src/pages/SubmissionSideNav/RateSummarySideNav.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
Due: lint-app-web, lint-app-api

Make test fail
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
Due: lint-app-api

MCR-4589: Graphql and DB changes for submission approvals (#2916)
  services/app-api/prisma/migrations/20241108200834_create_contract_action_table/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/baseContractRateTypes.ts
  services/app-api/src/domain-models/contractAndRates/contractReviewActionType.ts
  services/app-api/src/domain-models/contractAndRates/statusType.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
  services/app-graphql/src/fragments/contractFieldsFragment.graphql
  services/app-graphql/src/mutations/createContract.graphql
  services/app-graphql/src/mutations/submitContract.graphql
  services/app-graphql/src/mutations/unlockContract.graphql
  services/app-graphql/src/mutations/updateContractDraftRevision.graphql
  services/app-graphql/src/mutations/withdrawAndReplaceRedundantRate.graphql
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/queries/fetchContractWithQuestions.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanPackageGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web, lint-app-api

MCR-4586: CMS sees an approve submission button (#2919)
  services/app-web/src/components/Modal/ModalOpenButton/ModalOpenButton.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/userGQLMock.ts
Due: lint-app-web

Fix type error
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

Remove cc'd mmcratesetting on CMS rate question and responses emails
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.ts
Due: lint-app-api

Add cc mmcratesetting to new rate question state email.
  services/app-api/src/emailer/emails/sendRateQuestionStateEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionStateEmail.ts
Due: lint-app-api

MCR-4623: Fix cc address to be on only state email for new rate questions (#2930)
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.ts
  services/app-api/src/emailer/emails/sendRateQuestionStateEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionStateEmail.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

Add test for resolver, code cleanup
  services/app-api/src/domain-models/contractAndRates/contractReviewActionType.ts
  services/app-api/src/domain-models/user.ts
  services/app-api/src/postgres/contractAndRates/approveContract.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
  services/app-api/src/resolvers/contract/approveContract.test.ts
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-api/src/testHelpers/index.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/mutations/approveContract.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

fix up imports
  packages/hpp/tsconfig.json
  services/app-api/src/emailer/emails/sendQuestionCMSEmail.test.ts
  services/app-api/src/postgres/state/findStateAssignedUsers.ts
  services/app-api/src/postgres/state/updateStateAssignedUsers.ts
  services/app-api/src/resolvers/contract/unlockContract.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.ts
  services/app-api/src/resolvers/user/fetchCurrentUser.test.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.ts
  services/app-api/src/resolvers/user/userResolver.ts
Due: lint-app-api

Change prop type for Modal submit button
  services/app-web/src/components/ActionButton/ActionButton.tsx
  services/app-web/src/components/ActionButton/index.ts
  services/app-web/src/components/Modal/Modal.tsx
Due: lint-app-web

code cleanup
  services/app-api/src/postgres/contractAndRates/approveContract.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Add Modal and tests to submission summary page.
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

fix a lot of tests
  services/app-web/src/pages/QuestionResponse/QATable/CMSQuestionResponseTable.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/questionResponseHelpers.ts
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadContractQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadContractQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestionsForm.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadContractResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadContractResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadRateResponse.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.test.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web

fix compiler issues
  services/app-web/src/pages/QuestionResponse/QATable/StateQuestionResponseTable.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/questionResponseHelpers.ts
Due: lint-app-web

fix cypress
  services/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
Due: none

address PR comments
  services/app-web/src/pages/QuestionResponse/QATable/QuestionDisplayTable.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/questionResponseHelpers.ts
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadContractQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponseForm.tsx
Due: lint-app-web

fix test
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadContractResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadRateResponse.test.tsx
Due: lint-app-web

fix cypress then
  services/cypress/support/questionResponseCommands.ts
Due: none

add test for approveContract postgres func
  services/app-api/src/postgres/contractAndRates/approveContract.test.ts
Due: lint-app-api

MCR-4588: CMS sees approve submission modal (#2932)
  services/app-web/src/components/ActionButton/ActionButton.tsx
  services/app-web/src/components/ActionButton/index.ts
  services/app-web/src/components/Modal/Modal.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

integrate modal with api
  services/app-api/src/postgres/contractAndRates/approveContract.ts
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/Modal/ActionModal.test.tsx
  services/app-web/src/components/Modal/ActionModal.tsx
  services/app-web/src/components/Modal/index.ts
  services/app-web/src/constants/errors.ts
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/cypress/support/stateSubmissionFormCommands.ts
  services/cypress/support/submissionReviewCommands.ts
Due: lint-app-web, lint-app-api

unused props
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert.tsx
Due: lint-app-web

MCR-4324: remove cms email settings flag (#2924)
  services/app-api/src/common-code/featureFlags/flags.ts
  services/app-api/src/parameterStore/emailParameterStore/emailParameterStore.test.ts
  services/app-api/src/parameterStore/emailParameterStore/emailParameterStore.ts
  services/app-api/src/parameterStore/emailParameterStore/index.ts
  services/app-api/src/parameterStore/emailParameterStore/stateAnalystsEmails/getStateAnalystsEmails.ts
  services/app-api/src/parameterStore/emailParameterStore/stateAnalystsEmails/getStateAnalystsSettings.ts
  services/app-api/src/parameterStore/emailParameterStore/stateAnalystsEmails/index.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/unlockContract.test.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/email/fetchEmailSettings.test.ts
  services/app-api/src/resolvers/email/fetchEmailSettings.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.ts
  services/app-api/src/testHelpers/parameterStoreHelpers.ts
  services/app-graphql/src/queries/fetchEmailSettings.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/Settings.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/testHelpers/apolloMocks/emailGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/cypress/cypress.config.ts
  services/cypress/integration/adminWorkflow/settings.spec.ts
  services/cypress/support/commands.ts
  services/cypress/support/loginCommands.ts
Due: lint-app-web, lint-app-api

Cleanup handling of deleting documents from s3 (#2911)
  services/app-web/src/components/FileUpload/FileUpload.stories.tsx
  services/app-web/src/components/FileUpload/FileUpload.test.tsx
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/contexts/S3Context.tsx
  services/app-web/src/hooks/useHealthPlanPackageForm.ts
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestionsForm.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponseForm.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateFormFields.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
  services/app-web/src/s3/s3Amplify.ts
  services/app-web/src/s3/s3Client.d.ts
  services/app-web/src/s3/s3Local.ts
  services/app-web/src/testHelpers/s3Helpers.ts
Due: lint-app-web

PR fixes
  services/app-api/src/postgres/contractAndRates/approveContract.ts
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-graphql/src/fragments/contractRevisionFragment.graphql
  services/app-graphql/src/fragments/rateFieldsFragment.graphql
  services/app-graphql/src/fragments/rateRevisionFragment.graphql
  services/app-graphql/src/fragments/submittableRevisionFieldsFragment.graphql
  services/app-graphql/src/mutations/approveContract.graphql
Due: lint-app-api

fix test
  services/app-api/src/resolvers/contract/approveContract.test.ts
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

Remove Q&A by rates flag
  services/app-api/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/SubmissionSideNav/RateSummarySideNav.test.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.test.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/cypress/support/launchDarklyCommands.ts
Due: lint-app-web, lint-app-api

fix up some imports
  services/app-web/src/hooks/usePageTracing.ts
  services/app-web/src/pages/CMSDashboard/SubmissionsDashboard/SubmissionsDashboard.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QuestionDisplayTable.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadRateResponse.test.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/pages/SubmissionSideNav/RateSummarySideNav.test.tsx
  services/app-web/src/pages/SubmissionSideNav/helpers.ts
Due: lint-app-web

Fix code scanning alert no. 37: Use of a broken or weak cryptographic algorithm
  scripts/sample-contract-actions/process-sample-contract-queries.ts
Due: none

import from main
  services/app-web/src/pages/Settings/Settings.tsx
Due: lint-app-web

PR updates
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
  services/app-web/src/components/Modal/index.ts
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/cypress/support/stateSubmissionFormCommands.ts
  services/cypress/support/submissionReviewCommands.ts
Due: lint-app-web

MCR-4611 Submission Approval Resolver (#2925)
  services/app-api/src/domain-models/contractAndRates/contractReviewActionType.ts
  services/app-api/src/domain-models/user.ts
  services/app-api/src/postgres/contractAndRates/approveContract.test.ts
  services/app-api/src/postgres/contractAndRates/approveContract.ts
  services/app-api/src/postgres/contractAndRates/index.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/approveContract.test.ts
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-api/src/testHelpers/index.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/fragments/contractRevisionFragment.graphql
  services/app-graphql/src/fragments/rateFieldsFragment.graphql
  services/app-graphql/src/fragments/rateRevisionFragment.graphql
  services/app-graphql/src/fragments/submittableRevisionFieldsFragment.graphql
  services/app-graphql/src/mutations/approveContract.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Add logging
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Add timeout to fakeRequest to give vitest time to find text
  services/app-web/src/components/FileUpload/FileUpload.test.tsx
Due: lint-app-web

Fix import testS3Client in API
  services/app-api/src/resolvers/contract/indexContracts.test.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/unlockContract.test.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.test.ts
  services/app-api/src/resolvers/contract/withdrawAndReplaceRedundantRate.test.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/resolvers/rate/unlockRate.test.ts
Due: lint-app-api
