Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

tweak pooling (#2901)
  services/app-api/src/secrets/secrets.ts
Due: lint-app-api

MCR-4288: CMS email notifications for rate question response (#2900)
  services/app-api/src/domain-models/contractAndRates/rateTypes.ts
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/sendRateQuestionResponseCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/index.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.ts
  services/app-api/src/emailer/etaTemplates/sendRateQuestionResponseCMSEmail.eta
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.ts
Due: lint-app-api

Refactor app-web OTEL (#2886)
  services/app-web/src/components/ActionButton/ActionButton.test.tsx
  services/app-web/src/contexts/TraceContext.tsx
  services/app-web/src/hooks/index.ts
  services/app-web/src/hooks/useOTEL.ts
  services/app-web/src/hooks/usePageTracing.ts
  services/app-web/src/otelHelpers/index.ts
  services/app-web/src/otelHelpers/tracingHelper.ts
  services/app-web/src/pages/App/App.tsx
  services/app-web/src/pages/App/AppBody.tsx
  services/app-web/src/pages/Errors/ErrorBoundaryRoot.test.tsx
  services/app-web/src/pages/Errors/ErrorBoundaryRoot.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRate.test.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

MCR-4572: Q&A by rates e2e tests (#2905)
  services/cypress/fixtures/documents/questions_for_rate.pdf
  services/cypress/fixtures/documents/response_to_questions_for_rate.pdf
  services/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
  services/cypress/support/apiCommands.ts
  services/cypress/support/commands.ts
  services/cypress/support/launchDarklyCommands.ts
  services/cypress/support/loginCommands.ts
  services/cypress/support/questionResponseCommands.ts
Due: none

remove handleDeleteFile
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/contexts/S3Context.tsx
Due: lint-app-web

Fix email template and update tests
  services/app-api/src/emailer/emails/__snapshots__/sendRateQuestionResponseStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/sendRateQuestionResponseStateEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseStateEmail.ts
  services/app-api/src/emailer/etaTemplates/sendRateQuestionResponseStateEmail.eta
Due: lint-app-api

fix tests
  services/app-web/src/components/FileUpload/FileUpload.test.tsx
Due: lint-app-web

Fix email template and update tests (#2909)
  services/app-api/src/emailer/emails/__snapshots__/sendRateQuestionResponseStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/sendRateQuestionResponseStateEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseStateEmail.ts
  services/app-api/src/emailer/etaTemplates/sendRateQuestionResponseStateEmail.eta
Due: lint-app-api

we don't delete anymore. remove the file in UI
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
Due: lint-app-web

Fix email tests.
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
Due: lint-app-api

clean up deleteFile
  services/app-web/src/components/FileUpload/FileUpload.stories.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestionsForm.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponseForm.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateFormFields.tsx
  services/app-web/src/s3/s3Amplify.ts
  services/app-web/src/s3/s3Client.d.ts
  services/app-web/src/s3/s3Local.ts
  services/app-web/src/testHelpers/s3Helpers.ts
Due: lint-app-web

remove previousDocuments
  services/app-web/src/hooks/useHealthPlanPackageForm.ts
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateFormFields.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
Due: lint-app-web

forgot to save
  services/app-web/src/components/FileUpload/FileUpload.stories.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
Due: lint-app-web

Fix email tests. (#2910)
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
Due: lint-app-api

Add dmcpSubmissionEmails, mmcratesetting mailbox, to new rate question and response emails.
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.ts
Due: lint-app-api

Move MMCRateSetting mailbox to ccAddresses. Update tests.
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.ts
Due: lint-app-api

Add submission approval flag to code
  services/app-api/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web, lint-app-api

Add submission approval flag to code (#2913)
  services/app-api/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web, lint-app-api

setup fields on graphql and prisma schema for approvals
  services/app-api/prisma/migrations/20241108182851_approve_contract_fields_added/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-graphql/src/fragments/contractFieldsFragment.graphql
  services/app-graphql/src/mutations/createContract.graphql
  services/app-graphql/src/mutations/submitContract.graphql
  services/app-graphql/src/mutations/updateContractDraftRevision.graphql
  services/app-graphql/src/mutations/withdrawAndReplaceRedundantRate.graphql
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/queries/fetchContractWithQuestions.graphql
  services/app-graphql/src/schema.graphql
Due: none

update domain models for approval fields
  services/app-api/src/domain-models/contractAndRates/baseContractRateTypes.ts
  services/app-api/src/domain-models/contractAndRates/statusType.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

replace approvalInfos with reviewStatusActions
  services/app-api/prisma/migrations/20241108182851_approve_contract_fields_added/migration.sql
  services/app-api/prisma/migrations/20241108200834_create_contract_action_table/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/baseContractRateTypes.ts
  services/app-api/src/domain-models/contractAndRates/contractReviewActionType.ts
  services/app-api/src/domain-models/contractAndRates/statusType.ts
  services/app-graphql/src/fragments/contractFieldsFragment.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

update review status to mandatory field
  services/app-api/src/domain-models/contractAndRates/baseContractRateTypes.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
Due: lint-app-web, lint-app-api

fix lingering missing reviewStatus field in mocks
  services/app-graphql/src/schema.graphql
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web

add reviewStatus for app-web
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.test.tsx
  services/app-web/src/testHelpers/apolloMocks/healthPlanPackageGQLMock.ts
Due: lint-app-web

MCR-4623: add mmcratesetting mailbox as cc on state rate question emails (#2912)
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionCMSEmail.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendRateQuestionResponseCMSEmail.ts
Due: lint-app-api

Revert "Add Salesforce model docs (#2832)"
  services/app-graphql/src/schema.graphql
Due: none

Add approve submission button, feature flag unlock button style, and cleanup code.
  services/app-web/src/components/Modal/ModalOpenButton/ModalOpenButton.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Add approve submission tests
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/userGQLMock.ts
Due: lint-app-web

use right syntax for updatedAt field in prisma schema
  services/app-api/prisma/schema.prisma
Due: none

set reviewStatus in parseContractWithHistory. update unlockedContracttype type to have a reviewStatus field
  services/app-api/src/domain-models/contractAndRates/baseContractRateTypes.ts
  services/app-api/src/domain-models/contractAndRates/contractReviewActionType.ts
  services/app-api/src/domain-models/contractAndRates/statusType.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
Due: lint-app-web, lint-app-api

Fix graphql for unlockedContract type
  services/app-graphql/src/mutations/unlockContract.graphql
  services/app-graphql/src/schema.graphql
Due: none

pass the reviewStatusActions array from the db
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
Due: lint-app-api

create approveContract postgres function
  services/app-api/src/postgres/contractAndRates/approveContract.ts
Due: lint-app-api

Remove depreciated configuration
  services/cypress/cypress.config.ts
Due: none

Remove flag
  services/app-api/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web, lint-app-api

Make flagged code permanent. Update tests.
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/unlockContract.test.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.ts
Due: lint-app-api

Make app-web flagged code permanent. Update tests.
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/Settings.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
Due: lint-app-web

Update cypress tests and commands
  services/cypress/integration/adminWorkflow/settings.spec.ts
  services/cypress/support/commands.ts
  services/cypress/support/loginCommands.ts
Due: none

address some titles being off and matching the width of breadcrumbs and the upload form
  services/app-web/src/components/Breadcrumbs/Breadcrumbs.module.scss
  services/app-web/src/components/Breadcrumbs/Breadcrumbs.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.module.scss
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadContractResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadRateResponse.tsx
Due: lint-app-web

Remove fetchEmailSettings query and resolver
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/email/fetchEmailSettings.test.ts
  services/app-api/src/resolvers/email/fetchEmailSettings.ts
  services/app-graphql/src/queries/fetchEmailSettings.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/testHelpers/apolloMocks/emailGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web, lint-app-api
