Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Fix bug with trying to findFirst with undefined id.
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
Due: lint-app-api

decrease layer size
  services/uploads/src/avLayer/build/build.sh
Due: none

decrease layer size more
  services/uploads/src/avLayer/build/build.sh
Due: none

Update error message in test.
  services/app-api/src/domain-models/healthPlanPackage.test.ts
Due: lint-app-api

del the dir
  services/uploads/src/avLayer/build/build.sh
Due: none

Remove testing console logs.
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/submitRate.test.ts
Due: lint-app-api

add more libs clamd
  services/uploads/src/avLayer/build/build.sh
Due: none

Revert "Force SSL on the New Relic datahose bucket"
  services/infra-api/serverless.yml
Due: none

Revert "Force SSL on the New Relic datahose bucket" (#2197)
  services/infra-api/serverless.yml
Due: none

test clamdscan bin
  services/uploads/src/lambdas/avScan.ts
Due: none

copy another file into layer
  services/uploads/src/avLayer/build/build.sh
Due: none

Make requested PR changes.
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/resolvers/rate/submitRate.ts
Due: lint-app-api

test passed, removing
  services/uploads/src/lambdas/avScan.ts
Due: none

remove copied readme
  services/uploads/src/avLayer/README.md
Due: none

sometimes .zip
  .gitignore
Due: none

go back to just passing the bare string in, still storing in SSM with JSON but we'll see how that goes
  .envrc
  services/app-api/serverless.yml
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

renamed feature flag
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

Can submit rate without fromData changes.
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

wip: deploy serverless changes that donot deploy locally
  services/app-api/serverless.yml
  services/app-api/src/authn/thirdPartyAuthn.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/infra-api/serverless.yml
Due: lint-app-api

MCR-3842: API for edit submit rate (#2196)
  services/app-api/src/domain-models/healthPlanPackage.test.ts
  services/app-api/src/domain-models/healthPlanPackage.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftRatesHelpers.ts
  services/app-api/src/postgres/contractAndRates/submitRate.test.ts
  services/app-api/src/postgres/contractAndRates/submitRate.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/rate/index.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-api/src/resolvers/rate/unlockRate.test.ts
  services/app-graphql/src/mutations/submitRate.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/common-code/proto/healthPlanFormDataProto/zodSchemas.ts
Due: lint-app-web, lint-app-api

remove changes to infra api serverless
  services/infra-api/serverless.yml
Due: none

build the layer when we promote
  .github/workflows/promote.yml
Due: none

Rename contract/rate test helpers - use mock prefix
  services/app-api/src/postgres/contractAndRates/findAllContractsWithHistoryBySubmitInfo.test.ts
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.test.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/insertContract.test.ts
  services/app-api/src/postgres/contractAndRates/insertRate.test.ts
  services/app-api/src/postgres/contractAndRates/parseContractAndRates.test.ts
  services/app-api/src/postgres/contractAndRates/prismaToDomainModel.test.ts
  services/app-api/src/postgres/contractAndRates/submitContract.test.ts
  services/app-api/src/postgres/contractAndRates/submitRate.test.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.test.ts
  services/app-api/src/postgres/contractAndRates/updateMCCRSID.test.ts
  services/app-api/src/resolvers/healthPlanPackage/contractAndRates/resolverHelper.test.ts
  services/app-api/src/resolvers/healthPlanPackage/indexHealthPlanPackages.test.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
  services/app-api/src/testHelpers/contractAndRates/rateHelpers.ts
  services/app-api/src/testHelpers/index.ts
Due: lint-app-api

Move helpers to root of testHelpers
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/insertRate.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.test.ts
  services/app-api/src/resolvers/healthPlanPackage/contractAndRates/resolverHelper.test.ts
  services/app-api/src/testHelpers/contractDataMocks.ts
  services/app-api/src/testHelpers/index.ts
  services/app-api/src/testHelpers/rateDataMocks.ts
Due: lint-app-api

Start rewriting unlockRate and submitRate tests with new convention
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/unlockRate.test.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-api/src/testHelpers/index.ts
Due: lint-app-api

cleanup dead code
  services/app-api/src/jwt/jwt.ts
  yarn.lock
Due: lint-app-api

fix build
  services/app-api/src/jwt/index.ts
  services/app-api/src/jwt/jwt.ts
Due: lint-app-api

Update `launchdarkly-react-client-sdk`
  services/app-web/package.json
  yarn.lock
Due: none

Implement LDProvider to renderWithProviders and update tests.
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/pages/App/AppBody.test.tsx
  services/app-web/src/pages/App/AppRoutes.test.tsx
  services/app-web/src/pages/Landing/Landing.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponse.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.test.tsx
  services/app-web/src/pages/SubmissionSummary/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/testHelpers/index.ts
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

Update document on new testing approach.
  docs/technical-design/launch-darkly-testing-approach.md
Due: none

Fix react key prop error.
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
Due: lint-app-web

Add clamdscan to uploads lambda layer (#2202)
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  .gitignore
  services/uploads/serverless.yml
  services/uploads/src/avLayer/LICENSE
  services/uploads/src/avLayer/build/build.sh
  services/uploads/src/avLayer/build/freshclam.conf
  services/uploads/src/avLayer/docker-compose.yml
  services/uploads/src/avLayer/dockerbuild.sh
Due: none

move sha back
  .github/workflows/deploy.yml
Due: none

move sha back (#2208)
  .github/workflows/deploy.yml
Due: none

make the variable handling work again local and deployed
  services/app-api/serverless.yml
Due: none

Use ldClient configuration instead of bootstrap and update docs.
  docs/technical-design/launch-darkly-testing-approach.md
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

Cleanup code and fix docs wording.
  docs/technical-design/launch-darkly-testing-approach.md
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

use environmental variables for restricting access by ip address
  .envrc
  services/app-api/serverless.yml
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

Update code snippet
  docs/technical-design/launch-darkly-testing-approach.md
Due: none

add in libs for avdownload
  services/uploads/src/avLayer/build/build.sh
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
