Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Refactor test to use Contract instead of HPP.
  services/cypress/integration/cmsWorkflow/rateReview.spec.ts
Due: none

test updating region for deployed environments
  services/app-api/src/s3/s3Local.ts
Due: lint-app-api

explictly allow s3 actions
  services/app-api/serverless.yml
Due: none

Fix fetchRate, submitRate, submitContract tests
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/testHelpers/documentHelpers.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-api/src/testHelpers/index.ts
Due: lint-app-api

cleanup
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
Due: lint-app-web

Set link-rates flag again.
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

add referenced buckets under resources
  services/app-api/serverless.yml
Due: none

Use submitContract.
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  services/cypress/support/apiCommands.ts
Due: none

bump apollo/client to 3.8 line
  services/app-web/package.json
  services/cypress/package.json
  yarn.lock
Due: none

revert the syntax error assert
  services/app-web/src/localAuth/localAuth.test.ts
Due: lint-app-web

work-around for inability of toggling flags on the backend.
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

Find rate by testid.
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/cypress/integration/cmsWorkflow/rateReview.spec.ts
Due: lint-app-web

give broader access to bucket
  services/app-api/serverless.yml
Due: none

Delete something and pause here
  services/app-api/prisma/schema.prisma
Due: none

Add missing contract data.
  services/cypress/utils/apollo-test-utils.ts
Due: none

Turn test back on
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

add package for test coverage reporting
  services/app-web/package.json
  yarn.lock
Due: none

test prepending allusers to key
  services/app-api/serverless.yml
  services/app-api/src/s3/s3Local.ts
Due: lint-app-api

lockfile update
  yarn.lock
Due: none

test prepending allusers to key
  services/app-api/src/s3/s3Local.ts
Due: lint-app-api

MCR-4024: Fix cypress tests for linked rates (#2512)
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/cypress/integration/cmsWorkflow/rateReview.spec.ts
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  services/cypress/support/apiCommands.ts
  services/cypress/support/index.ts
  services/cypress/support/stateSubmissionFormCommands.ts
  services/cypress/utils/apollo-test-utils.ts
Due: lint-app-web

temp add log
  services/app-api/src/s3/s3Local.ts
Due: lint-app-api

Add createContract resolver
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/createContract.test.ts
  services/app-api/src/resolvers/contract/createContract.ts
  services/app-graphql/src/mutations/createContract.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

add config for coverage reports
  services/app-web/package.json
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
  services/app-web/vite.config.ts
  yarn.lock
Due: lint-app-web

fix lockfile
  yarn.lock
Due: none

Remove dataMigrations that have errors
  services/app-api/src/dataMigrations/dataMigrator.ts
  services/app-api/src/dataMigrations/migrations/20231026124442_fix_rate_submittedat.ts
  services/app-api/src/dataMigrations/migrations/20231026124542_fix_erroneous_rates.ts
  services/app-api/src/dataMigrations/migrations/20240422103442_migrate_contract_rate_relationships.ts
  services/app-api/src/dataMigrations/migrations/test_history_migration.test.ts
Due: lint-app-api

Adjust parse functions and helpers
  services/app-api/src/postgres/contractAndRates/parseContractAndRates.test.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftRatesHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedRateHelpers.ts
Due: lint-app-api

Progress on postgres helper functions. mocks
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/postgres/contractAndRates/submitRate.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/unlockRate.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractRates.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.ts
  services/app-api/src/testHelpers/contractDataMocks.ts
  services/app-api/src/testHelpers/rateDataMocks.ts
Due: lint-app-api

fix typo
  services/app-api/src/s3/s3Local.ts
Due: lint-app-api

fix input value for deploy-app
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy.yml
Due: none

fix workflow file
  .github/workflows/deploy.yml
Due: none

use local env var for url when in local
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

clean up s3 client, keep everything in app-web
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/s3/helpers.ts
  services/app-api/src/s3/index.ts
  services/app-api/src/s3/s3Client.d.ts
  services/app-api/src/s3/s3Error.ts
  services/app-web/src/s3/index.ts
  services/app-web/src/s3/s3Deployed.ts
Due: lint-app-web, lint-app-api

fix imports
  services/app-api/src/resolvers/shared/genericDocumentResolver.ts
Due: lint-app-api

code clean up with s3 imports
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/s3Helpers.ts
Due: lint-app-api

code clean up and add mocks to test for s3
  services/app-api/src/resolvers/contract/fetchContract.test.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.test.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/resolvers/rate/unlockRate.test.ts
  services/app-api/src/resolvers/shared/genericDocumentResolver.ts
  services/app-graphql/codegen.yml
  services/app-web/src/s3/s3Deployed.ts
Due: lint-app-web, lint-app-api
