Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

cleanup per feedback
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
Due: lint-app-web

remove console.log
  services/app-api/src/postgres/insertHealthPlanPackage.ts
Due: lint-app-api

Navigate to review submit page then rate details page.
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

Increase timeout on findByText Submissions. Remove regex
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

Add waits for possible detached elements.
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

wait for loading spinner to disappear. Add second rate cert.
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

Add findByText assertion for login.
  tests/cypress/support/loginCommands.ts
Due: none

Revert to single rate submission.
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

rename property
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
  services/app-proto/src/health_plan_form_data.proto
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedHealthPlanFormDataSchema.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
Due: lint-app-web, lint-app-api

MR-2698: Generate rate name when Protobuf is constructed (#1274)
  services/app-api/src/data/statePrograms.json
  services/app-api/src/emailer/emails/__snapshots__/unlockPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-api/src/postgres/insertHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
  services/app-proto/src/health_plan_form_data.proto
  services/app-web/src/common-code/data/statePrograms.json
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-10-13.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedHealthPlanFormDataSchema.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
Due: lint-app-web, lint-app-api

Fix actuary preference errors not showing up in error summary.
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
Due: lint-app-web

Add test for multi-rate-submission flag on.
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
Due: lint-app-web

Remove enable-health-endpoint and app-api-graphql-errors from codebase (#1263)
  services/app-api/src/handlers/health_check.ts
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web, lint-app-api

Restore check on unlock and revision date in banners.
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

Restore rateDetailsURL in commented out section.
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

Add unit and Cypress tests for multi-rate submissions (#1254)
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-10-13.proto
  services/app-web/src/hooks/useStatePrograms.ts
  services/app-web/src/hooks/useTealium.ts
  services/app-web/src/pages/Landing/Landing.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
  tests/cypress/support/loginCommands.ts
  tests/cypress/support/navigateCommands.ts
Due: lint-app-web

Multi-rate-submissions contact page cypress tests.
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
Due: none

Finish filling out contacts then continue on test.
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
Due: none

Fix issue with non unique ID on state dashboard test.
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web

Replace findAllByLabelText with findByLabelText
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
Due: none

Missed copy changes and added test.
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
  services/app-web/src/constants/healthPlanPackages.ts
Due: lint-app-web

Fix failing cypress test.
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
Due: none

Fill out actuary without using .each().
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
Due: none

Remove commented out code.
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
Due: none

Fix copy changes.
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.test.tsx
  services/app-web/src/constants/healthPlanPackages.ts
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

Update for contact page change, refactor test to shorten.
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
Due: none

add additional IAM properties to cleanup task
  services/app-api/serverless.yml
Due: none

Small types change
  services/app-web/src/api/fakeAmplifyFetch.ts
Due: lint-app-web

bring setup_env to v3 like deploy and promote
  .github/actions/setup_env/action.yml
Due: none

add additional IAM properties to cleanup task (#1278)
  services/app-api/serverless.yml
Due: none

Fix test.
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
Due: lint-app-api

Log more detailed submit error.
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
Due: lint-app-api

Update command when flag is on.
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: none

Update comment.
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
Due: none

Fix schema
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
Due: lint-app-web

Temp fix until Contacts page PR is merged.
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
Due: lint-app-web

Update unit tests
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

new tests passing
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
Due: lint-app-web

fall back to generated name
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
Due: lint-app-web

try newer node setup
  .github/actions/setup_env/action.yml
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
