Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

bump version for compatibility
  pnpm-lock.yaml
  services/app-web/package.json
Due: none

clean up unneeded files and fix build stage
  services/infra-cdk/scripts/build-layers.sh
  services/infra-cdk/scripts/deploy-complete.sh
  services/infra-cdk/scripts/deploy-guardduty.sh
  services/infra-cdk/scripts/deploy.sh
  services/infra-cdk/scripts/export-build-config.sh
  services/infra-cdk/scripts/load-test.sh
  services/infra-cdk/scripts/validate-build-config.sh
Due: none

Fix cdk build
  .github/workflows/cdk-deploy.yml
  .github/workflows/cdk-manual-deploy.yml
Due: none

Fix cdk githib actions test stage
  .github/workflows/cdk-deploy.yml
Due: none

test fix attempt 2
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.test.tsx
Due: lint-app-web

test fix attempt 3
  services/app-web/src/components/DataDetail/DataDetailCheckboxList/DataDetailCheckboxList.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.test.tsx
Due: lint-app-web

test fix attempt 4
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.test.tsx
Due: lint-app-web

test fix attempt 5
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.test.tsx
Due: lint-app-web

test fix attempt 6
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.test.tsx
Due: lint-app-web

test fix attempt 7
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.test.tsx
Due: lint-app-web

test fix attempt 8
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.test.tsx
Due: lint-app-web

Fix cdk githib actions test stage
  services/infra-cdk/pnpm-lock.yaml
Due: none

Fix cdk githib actions test stage
  .github/workflows/cdk-deploy.yml
  .github/workflows/cdk-manual-deploy.yml
Due: none

wip, adding feature flag logic to custom validator
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.ts
Due: lint-app-api

Fix cdk githib actions test stage
  .github/workflows/cdk-deploy.yml
  services/infra-cdk/docs/SERVERLESS_TO_CDK.md
  services/infra-cdk/docs/status.md
  services/infra-cdk/lib/stack-orchestrator.ts
  services/infra-cdk/lib/stacks/github-oidc-stack.ts
Due: none

Fix add pg module
  services/infra-cdk/lib/constructs/lambda/bundling-utils.ts
Due: none

Update ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

Complete Apollo Server v4 migration for test infrastructure
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-api/src/handlers/__tests__/apollo_status_codes.test.ts
  services/app-api/src/handlers/__tests__/apollo_v3_v4_status_summary.test.ts
  services/app-api/src/handlers/__tests__/otel_error_logging.test.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/apollo_gql_express.ts
  services/app-api/src/handlers/aws-serverless-express.d.ts
  services/app-api/src/resolvers/APIKey/createAPIKey.test.ts
  services/app-api/src/resolvers/contract/approveContract.test.ts
  services/app-api/src/resolvers/contract/createContract.test.ts
  services/app-api/src/resolvers/contract/fetchContract.test.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/withdrawContract.test.ts
  services/app-api/src/resolvers/documents/documentZipPackageResolver.test.ts
  services/app-api/src/resolvers/oauthClient/createOauthClient.test.ts
  services/app-api/src/resolvers/oauthClient/deleteOauthClient.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.test.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.test.ts
  services/app-api/src/testHelpers/apolloV4ResponseHelper.ts
  services/app-api/src/testHelpers/gqlAssertions.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-api/src/testHelpers/gqlSettingsHelpers.ts
Due: lint-app-api

Add custom validator for dsnpContract field
  packages/common-code/src/index.ts
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.ts
Due: lint-app-api

update es build
  .github/workflows/cdk-deploy.yml
  packages/hpp/package.json
  packages/hpp/tsconfig.json
  services/infra-cdk/lambda-layers-prisma-client-engine/build.sh
  services/infra-cdk/lambda-layers-prisma-client-migration/build.sh
  services/infra-cdk/lib/config/constants.ts
  services/infra-cdk/lib/config/stage-config.ts
  services/infra-cdk/lib/constructs/lambda/environment-factory.ts
  services/infra-cdk/lib/constructs/lambda/esbuild-config.ts
  services/infra-cdk/lib/constructs/lambda/otel-layer.ts
  services/infra-cdk/lib/constructs/lambda/prisma-layer.ts
  services/infra-cdk/lib/stacks/api-compute-stack.ts
  services/infra-cdk/lib/stacks/database-operations-stack.ts
  services/infra-cdk/lib/stacks/lambda-layers-stack.ts
  services/infra-cdk/package.json
  services/infra-cdk/scripts/cdk-preflight.sh
  services/infra-cdk/scripts/prepare-prisma-layers.sh
  services/infra-cdk/scripts/test-prisma-layers.sh
Due: none

Fix approveContract test and remove migration tracking file
  services/app-api/src/handlers/__tests__/apollo_v3_v4_status_summary.test.ts
  services/app-api/src/resolvers/contract/approveContract.test.ts
Due: lint-app-api

update es build
  pnpm-lock.yaml
Due: none

update es build
  packages/hpp/tsconfig.json
  services/infra-cdk/scripts/cdk-preflight.sh
Due: none

fix: add execute permission to prepare-prisma-layers.sh
  services/infra-cdk/scripts/prepare-prisma-layers.sh
Due: none

update layer build
  .github/workflows/cdk-manual-deploy.yml
  services/infra-cdk/docs/status.md
  services/infra-cdk/lambda-layers-prisma-client-migration/build.sh
  services/infra-cdk/lib/stack-orchestrator.ts
  services/infra-cdk/lib/stacks/database-operations-stack.ts
  services/infra-cdk/lib/stacks/lambda-layers-stack.ts
Due: none

update zod test
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.test.ts
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.ts
Due: lint-app-api

update layer build to use content based
  .github/workflows/cdk-deploy.yml
  services/infra-cdk/lambda-layers-prisma-client-migration/build.sh
  services/infra-cdk/lib/config/constants.ts
  services/infra-cdk/lib/constructs/lambda/bundling-utils.ts
  services/infra-cdk/lib/constructs/lambda/lambda-factory.ts
  services/infra-cdk/lib/stack-orchestrator.ts
  services/infra-cdk/lib/stacks/api-compute-stack.ts
  services/infra-cdk/lib/stacks/database-operations-stack.ts
  services/infra-cdk/lib/stacks/lambda-layers-stack.ts
  services/infra-cdk/scripts/verify-deployment.sh
Due: none

code cleanup
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.ts
Due: lint-app-api

test commit
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

add back feature flag logic for attestation
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.ts
Due: lint-app-api

test: remove changes to contractPackageDataMock and rateDataMock
  packages/mocks/src/apollo/contractPackageDataMock.ts
  packages/mocks/src/apollo/rateDataMock.ts
Due: none

update summary test
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.test.tsx
Due: lint-app-web

test: add rateMedicaidPopulations back to rateDataMock
  packages/mocks/src/apollo/rateDataMock.ts
Due: none

clean up to make easier to track net changes
  packages/mocks/src/apollo/rateDataMock.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

test: add back rateMedicaidPopulations to rateDataMock, adjust rateDetails
  packages/mocks/src/apollo/rateDataMock.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

add back rateMedicaidPopulations to rateDataMock -- fr this time
  packages/mocks/src/apollo/rateDataMock.ts
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
