Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

contract details deleted
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.stories.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
Due: lint-app-web

cleaned up exports
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/index.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/index.ts
  services/app-web/src/components/SubmissionSummarySection/index.ts
  services/app-web/src/components/index.ts
Due: lint-app-web

MCR-5480: Rate DSNP question not retaining answer on unlock (#3599)
  services/app-api/src/postgres/contractAndRates/unlockRate.ts
  services/app-api/src/resolvers/rate/undoWithdrawRate.test.ts
Due: lint-app-api

fix merge conflict
  .github/workflows/cdk-deploy.yml
  services/infra-cdk/lib/aspects/lambda-monitoring-aspect.ts
  services/infra-cdk/lib/constructs/api/graphql-api-construct.ts
  services/infra-cdk/lib/constructs/auth/cognito-auth.ts
  services/infra-cdk/lib/constructs/frontend/security-headers-policy.ts
  services/infra-cdk/lib/constructs/frontend/static-website.ts
  services/infra-cdk/lib/stacks/auth-extensions-stack.ts
  services/infra-cdk/lib/stacks/auth-stack.ts
  services/infra-cdk/lib/stacks/frontend-stack.ts
  services/infra-cdk/lib/stacks/graphql-api-stack.ts
  services/infra-cdk/lib/stacks/storybook-stack.ts
Due: none

Fix CSS linting issues
  services/app-web/src/components/Spinner/Spinner.module.scss
  services/app-web/src/components/Tabs/Tabs.module.scss
  services/app-web/src/pages/APIAccess/APIAccess.module.scss
  services/app-web/src/styles/custom.scss
Due: lint-app-web

Fix CSS linting issues
  services/app-web/src/components/Spinner/Spinner.module.scss
  services/app-web/src/styles/custom.scss
Due: lint-app-web

Fix stylingof summary section and child list items.
  services/app-web/src/components/Spinner/Spinner.module.scss
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.module.scss
Due: lint-app-web

Fix state contacts to display in 2 columns
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContactsSummarySection.tsx
Due: lint-app-web

Use summarySection style like other sections. Fixes previous submission top margin.
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.tsx
Due: lint-app-web

fix merge conflict
  .github/workflows/cdk-deploy.yml
Due: none

Create migration for adjusting historic submissions missing dateAdded
  prod-20240522.sqlfc
  services/app-api/prisma/migrations/20250827160733_populate_date_added_document_field/migration.sql
Due: none

add migration to populate dateAdded on contract and rate document tables
  services/app-api/prisma/migrations/20250827184558_populate_date_added_column_for_contract_and_rate_documents/migration.sql
Due: none

add graphql api
  services/infra-cdk/lib/stacks/app-api.ts
  services/infra-cdk/lib/stacks/lambda-layers-stack.ts
Due: none

add esbuild bundling config
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

Point to apollo_upgrade branch
  .github/workflows/deploy.yml
Due: none

debug paths
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

Point to apollo_upgrade branch (#3606)
  .github/workflows/deploy.yml
Due: none

fix merge conflict
  services/infra-cdk/lib/aspects/lambda-monitoring-aspect.ts
  services/infra-cdk/lib/config.ts
  services/infra-cdk/lib/constructs/api/graphql-api-construct.ts
  services/infra-cdk/lib/stacks/file-ops-stack.ts
  services/infra-cdk/validate-all-lambdas.sh
Due: none

Update dev script
  dev
Due: none

do it in app-api
  .github/workflows/deploy-cdk.yml
  services/infra-cdk/bin/lambda-layers.ts
  services/infra-cdk/lib/stacks/app-api.ts
  services/infra-cdk/lib/stacks/index.ts
  services/infra-cdk/lib/stacks/lambda-layers-stack.ts
Due: none

Fix spacing for document table headings.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.module.scss
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.tsx
Due: lint-app-web

Fix merge conflicts
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  dev
  packages/helpers/src/gql/mutationWrappersForUserFriendlyErrors.ts
  services/app-api/package.json
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/postgres/contractAndRates/submitContractAndOrRates.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/unlockRate.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/documents/fetchDocument.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.test.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/undoWithdrawRate.test.ts
  services/app-api/src/resolvers/rate/undoWithdrawRate.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

Update fetchDocument test
  services/app-api/src/resolvers/documents/fetchDocument.test.ts
Due: lint-app-api

Fix cypress fake amplify fetch
  services/cypress/utils/apollo-test-utils.ts
Due: none

lock file
  pnpm-lock.yaml
Due: none

Use helper function
  services/app-api/src/resolvers/rate/undoWithdrawRate.test.ts
Due: lint-app-api

Move cors configuration as middleware
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

Refactor middleware to be middleware for startServerAndCreateLambdaHandler
  .envrc
  services/app-api/src/cors/configureCorsHelpers.ts
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

MCR-5452: Fix d-snp rate question spacing (#3601)
  services/app-web/src/components/Spinner/Spinner.module.scss
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.module.scss
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/components/Tabs/Tabs.module.scss
  services/app-web/src/pages/APIAccess/APIAccess.module.scss
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContactsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.module.scss
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.tsx
  services/app-web/src/styles/custom.scss
Due: lint-app-web

Restore error logging in handler and remove unnecessary tests.
  services/app-api/src/cors/configureCorsHelpers.test.ts
  services/app-api/src/cors/configureCorsHelpers.ts
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

add app-web and storybook
  .github/workflows/deploy-cdk.yml
  scripts/get-cdk-config.sh
  services/infra-cdk/CDK-MIGRATION-STATUS.md
  services/infra-cdk/bin/frontend.ts
  services/infra-cdk/bin/storybook.ts
  services/infra-cdk/lib/stacks/frontend-app.ts
  services/infra-cdk/lib/stacks/frontend-infra.ts
  services/infra-cdk/lib/stacks/storybook.ts
Due: none

build order
  .github/workflows/deploy-cdk.yml
Due: none

cleanups
  .github/workflows/deploy-cdk.yml
Due: none

moved new components into submission summary folder
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.stories.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/index.ts
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.stories.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/index.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.stories.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/index.ts
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.stories.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/index.ts
  services/app-web/src/components/index.ts
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContactsSummarySection.stories.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContactsSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContactsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.stories.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/index.ts
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummaryV2.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Point to current branch
  .github/workflows/deploy.yml
Due: none

Using Security Sync new format
  .github/workflows/sechub-jira-sync.yml
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
