Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Add undo rate withdraw reason requirement and errors.
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.tsx
Due: lint-app-web

typo fix (#3175)
  .github/workflows/deploy-infra-to-env.yml
Due: none

Add test
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.test.tsx
Due: lint-app-web

fix domain alias threading
  .envrc
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  services/ui/serverless.yml
Due: none

git ref
  .github/workflows/deploy.yml
Due: none

fix for review apps
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
Due: none

Add placeholder submit function to redirect.
  services/app-web/src/pages/RateWithdraw/RateWithdraw.tsx
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.tsx
Due: lint-app-web

these should be empty values
  .github/workflows/deploy.yml
Due: none

Fix ui service's domain alias (#3177)
  .envrc
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  services/ui/serverless.yml
Due: none

move the git ref back
  .github/workflows/deploy.yml
Due: none

MCR-5013: Create undo rate withdraw api (#3171)
  services/app-api/src/postgres/contractAndRates/undoWithdrawRate.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/withdrawRate.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/rate/undoWithdrawRate.test.ts
  services/app-api/src/resolvers/rate/undoWithdrawRate.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/mutations/undoWithdrawRate.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

move the git ref back (#3181)
  .github/workflows/deploy.yml
Due: none

pass through useZod parameter through to parser for rates
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.ts
  services/app-api/src/resolvers/rate/indexRates.ts
Due: lint-app-api

find the license
  .github/workflows/deploy.yml
Due: none

fix missing constant
  services/app-web/src/tealium/constants.ts
Due: lint-app-web

only depend on this one
  services/app-api/serverless.yml
Due: none

MCR-4904: Undo rate withdraw UI (#3174)
  packages/constants/src/routes.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.module.scss
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.tsx
  services/app-web/src/tealium/constants.ts
Due: lint-app-web

other deps
  services/app-api/serverless.yml
Due: none

api is returning a validation error via resolver - still working on broken test
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
Due: lint-app-web, lint-app-api

Require reason and add inline error.
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.tsx
Due: lint-app-web

ugh theres a bug in serverless 4.2.3
  services/app-api/serverless.yml
Due: none

pass through useZod parameter through to parser for rates (#3182)
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.ts
  services/app-api/src/resolvers/rate/indexRates.ts
Due: lint-app-api

Add undo rate withdraw mocks
  packages/mocks/src/apollo/withdrawRateGQLMock.ts
Due: none

Add calling undo rate withdraw mutation
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.tsx
Due: lint-app-web

Add tests
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.test.tsx
Due: lint-app-web

removed test
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
Due: lint-app-web

MCR-4096: CMS must enter a reason for undoing a rate withdrawal (#3186)
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.test.tsx
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.tsx
Due: lint-app-web

Update getRateReviewStatus function to not mutate rate parameter.
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
Due: lint-app-api

Update rate review status first and skip contracts that are contract only
  services/app-api/src/postgres/contractAndRates/undoWithdrawRate.ts
Due: lint-app-api

MCR-4095: Integration: CMS can undo a rate withdrawal (#3187)
  packages/mocks/src/apollo/withdrawRateGQLMock.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.test.tsx
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.tsx
Due: lint-app-web, lint-app-api

Update function JSDoc comment.
  services/app-api/src/postgres/contractAndRates/undoWithdrawRate.ts
Due: lint-app-api

Fix infra-api id.
  .github/workflows/deploy-infra-to-env.yml
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
