Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Only add keys in use currently
  services/app-web/src/constants/localStorage.ts
Due: lint-app-web

Correct the comments
  services/app-web/src/hooks/useLocalStorage.ts
Due: lint-app-web

Turn off footgun. Used for testing alerts.
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/resolvers/updateHealthPlanFormData.ts
Due: lint-app-api

Remove LD requirement
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

Fix footer feedback email color.
  services/app-web/src/components/Footer/Footer.module.scss
Due: lint-app-web

Change email contacts to use Link from react-uswds and open new tab when clicked.
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
Due: lint-app-web

Add `rel="noreferrer"` attribute.
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
Due: lint-app-web

Initial code review
  docs/Technologies.md
  services/app-web/src/hooks/useOTEL.ts
Due: lint-app-web

Add OTEL alerting to graphql (#1008)
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/otel/otel_handler.ts
  services/app-api/src/resolvers/attributeHelper.ts
  services/app-api/src/resolvers/fetchCurrentUser.ts
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web, lint-app-api

Remove TODO and replaced ternary with a function.
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
Due: lint-app-web

[MR-76] Link styling for contact emails is the wrong shade of blue (#1010)
  services/app-web/src/components/Footer/Footer.module.scss
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
Due: lint-app-web

Add mc-review-team email to mailto links.
  services/app-web/src/components/Footer/Footer.tsx
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.test.tsx
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.tsx
Due: lint-app-web

Address code review
  services/app-web/src/hooks/useLocalStorage.ts
Due: lint-app-web

Delete outdated file from bad merge
  services/app-web/src/pages/SubmissionSummary/UnlockModal.tsx
Due: lint-app-web

Add mc-review-team email to mailto links. (#1011)
  services/app-web/src/components/Footer/Footer.tsx
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.test.tsx
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.tsx
Due: lint-app-web

Remove unnecessary JSX fragment.
  services/app-web/src/pages/App/App.tsx
Due: lint-app-web

Update revision `updatedAt` field when unlocking submission.
  services/app-api/src/postgres/insertHealthPlanRevision.ts
Due: lint-app-api

[MR-25] Recently unlocked submissions should be at top of submission dashboard (#1012)
  services/app-api/src/postgres/insertHealthPlanRevision.ts
  services/app-web/src/pages/App/App.tsx
Due: lint-app-web, lint-app-api

[MR-2206] Add useOTEL hook, tracingHelper to app-web (#1005)
  docs/Technologies.md
  services/app-web/src/components/ActionButton/ActionButton.tsx
  services/app-web/src/documentHelpers/makeDocumentDateLookupTable.ts
  services/app-web/src/gqlHelpers/healthPlanPackages.ts
  services/app-web/src/gqlHelpers/mutationWrappers.ts
  services/app-web/src/hooks/useOTEL.ts
  services/app-web/src/otelHelpers/index.ts
  services/app-web/src/otelHelpers/tracingHelper.ts
  services/app-web/src/pages/App/App.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/Dashboard/Dashboard.tsx
  services/app-web/src/pages/Errors/ErrorBoundaryRoot.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/routeHelpers/getRouteName.ts
Due: lint-app-web

Fix up default value for LOGIN_REDIRECT
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

Use otel helper instead of console error
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

Add useLocalStorage hook (#1007)
  services/app-web/src/constants/localStorage.ts
  services/app-web/src/hooks/useLocalStorage.ts
  services/app-web/src/pages/App/App.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

test version bumps for node 16
  .nvmrc
  services/app-api/package.json
  services/app-api/serverless.yml
  services/app-web/package.json
  services/app-web/serverless.yml
  services/infra-api/package.json
  services/infra-api/serverless.yml
  services/postgres/package.json
  services/postgres/serverless.yml
  services/storybook/package.json
  services/storybook/serverless.yml
  services/ui-auth/package.json
  services/ui-auth/serverless.yml
  services/ui/package.json
  services/ui/serverless.yml
  services/uploads/package.json
  services/uploads/serverless.yml
  yarn.lock
Due: none

fix missed save
  services/ui/serverless.yml
Due: none

move to sls v3 syntax
  services/uploads/serverless.yml
Due: none

initial commit
  services/app-api/src/parameterStore/index.ts
  services/app-api/src/parameterStore/parameterStore.ts
Due: lint-app-api

more config fixes in uploads
  services/uploads/serverless.yml
Due: none

Remove unused var
  services/app-api/serverless.yml
Due: none

Remove unused plugin
  services/app-api/serverless.yml
Due: none

Move to new stage syntax
  services/app-api/serverless.yml
Due: none

Cleanup
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/parameterStore/parameterStore.ts
Due: lint-app-api

moar comment
  services/app-api/src/emailer/emailer.ts
Due: lint-app-api

Remove logs.restApi value. No longer valid.
  services/app-api/serverless.yml
Due: none

Update revision `updatedAt` field when unlocking submission.
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web

Tests
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
Due: lint-app-web

Move rendering Loading component higher up.
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
Due: lint-app-web

Migrate to sls:stage syntax
  services/app-web/serverless.yml
  services/infra-api/serverless.yml
  services/postgres/serverless.yml
  services/storybook/serverless.yml
  services/ui-auth/serverless.yml
  services/ui/serverless.yml
Due: none

syntax change on output cli
  services/output.sh
Due: none

Remove lambdaHashingVersion. This is default in v3
  services/app-api/serverless.yml
Due: none

Rename function and clean up import.
  services/app-api/src/parameterStore/parameterStore.ts
Due: lint-app-api

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
