Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Update api change log
  API_Changelog.md
Due: none

pr review update
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.test.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.ts
Due: lint-app-api

MCR-5894 - Block Admin APIs from Oauth calls (#4009)
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.test.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.test.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.ts
Due: lint-app-api

use createFunction
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

construct name change for CI
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

Add new columns for s3Url + migration (#4012)
  services/app-api/prisma/migrations/20260112205511_add_s3_bucket_and_key_fields/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/handlers/migrate_s3_urls.ts
  services/app-api/src/testHelpers/contractDataMocks.ts
  services/app-api/src/testHelpers/rateDataMocks.ts
  services/infra-cdk/lib/stacks/app-api.ts
Due: lint-app-api

remove unused workflows
  .github/github-lock.sh
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/promote.yml
Due: none

add migrate protobuf lambda function to stack
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

refactor: use ES6 shorthand for role parameter in Lambda options
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

use generic createFunction for oauthToken function
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

use generic createFunction for regenerateZips function
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

use esm export for lambda compatability
  services/app-api/src/handlers/migrate_protobuf_data.ts
Due: lint-app-api

use generic createFunction for postgres migrate. Move prisma migration layer to constructor
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

add inline comment to ignore detect-secrets precommit
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

use generic createFunction for graphql lambda function
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

set memory to 1024 and remove the NODE_PATH env so function will run in aws lambda
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

reduce memory & timeout based on migration test. Set the STAGE_NAME env var
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

set timeout for protobuf migration function to 15m due to AWS constraints
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

fix typos
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

remove reference to lambdaRole variable in migrateS3UrlsFunction
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

use a more descriptive name for generic lambda creation method
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

use original construct ID for regenerateZipsFunction
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

remove unused workflows (#4016)
  .github/github-lock.sh
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/promote.yml
Due: none

removed apiaccess page and fixed variables
  packages/constants/src/routes.ts
  services/app-api/src/handlers/oauth_token.ts
  services/app-web/src/pages/APIAccess/APIAccess.module.scss
  services/app-web/src/pages/APIAccess/APIAccess.test.tsx
  services/app-web/src/pages/APIAccess/APIAccess.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/tealium/constants.ts
Due: lint-app-web, lint-app-api

test fix
  services/app-api/src/handlers/__tests__/oauth_token.test.ts
Due: lint-app-api

MCR-5886: Add new review status not subject to review (#4015)
  API_Changelog.md
  packages/constants/src/contract.ts
  services/app-api/prisma/migrations/20260123044542_add_not_subject_to_review_contract_action_type/migration.sql
  services/app-api/prisma/migrations/20260128050059_make_contract_action_user_optional/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/UserType.ts
  services/app-api/src/domain-models/contractAndRates/contractReviewActionType.ts
  services/app-api/src/domain-models/contractAndRates/statusType.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/components/InfoTag/InfoTag.module.scss
  services/app-web/src/components/InfoTag/InfoTag.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web, lint-app-api

override the regenerateZips function name so it does not change in prod
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

Validate contract type parameter at routing instead of by form page.
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
Due: lint-app-web

Remove page level contract type validation
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROSubmissionDetails/EQROSubmissionDetails.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Add navigate helper to renderWithProviders.
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

Add contract type url parameter spoof test
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
Due: lint-app-web

mcr-5760: Refactor Lambda function creation and add protobuf migration function (#4005)
  services/app-api/src/handlers/migrate_protobuf_data.ts
  services/infra-cdk/lib/stacks/app-api.ts
Due: lint-app-api

first pass
  services/app-api/src/authn/thirdPartyAuthn.ts
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

final touches
  packages/mocks/src/apollo/apiKeyGQLMocks.ts
  services/app-api/src/domain-models/apiKey.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/jwt/jwt.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-graphql/src/mutations/createAPIKey.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

forgot to remove export
  packages/mocks/src/apollo/index.ts
Due: none

[MCR-5914] Remove old JWT Auth method for third party API requests (#4010)
  packages/constants/src/routes.ts
  packages/mocks/src/apollo/apiKeyGQLMocks.ts
  packages/mocks/src/apollo/index.ts
  services/app-api/src/domain-models/apiKey.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/handlers/__tests__/oauth_token.test.ts
  services/app-api/src/handlers/__tests__/third_party_API_authorizer.test.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/third_party_API_authorizer.ts
  services/app-api/src/jwt/jwt.test.ts
  services/app-api/src/jwt/jwt.ts
  services/app-api/src/resolvers/APIKey/createAPIKey.test.ts
  services/app-api/src/resolvers/APIKey/createAPIKey.ts
  services/app-api/src/resolvers/APIKey/index.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-graphql/src/mutations/createAPIKey.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/APIAccess/APIAccess.module.scss
  services/app-web/src/pages/APIAccess/APIAccess.test.tsx
  services/app-web/src/pages/APIAccess/APIAccess.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/tealium/constants.ts
  services/cypress/integration/thirdPartyAPIAccess/thirdPartyAPIAccess.spec.ts
Due: lint-app-web, lint-app-api

MCR-5937: fix submission form parameter spoofing (#4019)
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROSubmissionDetails/EQROSubmissionDetails.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

404 page is working, need to double check everything
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/routeHelpers/getRelativePath.ts
Due: lint-app-web

Remove route path string using function.
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

Add RateID to useRouteParams hook.
  services/app-web/src/hooks/useRouteParams.tsx
Due: lint-app-web

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
