Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Clean up
  services/cypress/utils/apollo-test-utils.ts
Due: none

cypress fix
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

axios update for sec alert
  dev_tool/package.json
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-web/package.json
  services/cypress/package.json
Due: none

Send unsigned request when no token is provided.
  services/cypress/utils/apollo-test-utils.ts
Due: none

Revert user types.
  services/cypress/cypress.config.ts
  services/cypress/support/index.ts
Due: none

Remove cy.wrap and add timeouts to `apiAssignDivisionToCMSUser`
  services/cypress/support/apiCommands.ts
Due: none

Test with update typescript-react-apollo from 4.3.2 to 4.3.3
  pnpm-lock.yaml
  services/app-graphql/package.json
Due: none

one more cypress fix
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

axios update for sec alert (#3468)
  dev_tool/package.json
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-web/package.json
  services/cypress/package.json
Due: none

field fix
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

pass rateMedicaidPopulations field through db to api
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaContractRateAdaptors.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

accounting for federalAuthorities changes after the fact
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

MCR-5410: refactor cypress api commands (#3467)
  .github/actions/get_aws_credentials/action.yml
  .github/workflows/deploy.yml
  pnpm-lock.yaml
  services/app-graphql/package.json
  services/app-web/package.json
  services/cypress/cypress.config.ts
  services/cypress/integration/cmsWorkflow/rateReview.spec.ts
  services/cypress/package.json
  services/cypress/support/apiCommands.ts
  services/cypress/support/index.ts
  services/cypress/support/userSettingCommands.ts
  services/cypress/utils/apollo-test-utils.ts
Due: none

Zip migration cleanups (#3460)
  services/app-api/src/handlers/migrate_document_zips.ts
Due: lint-app-api

make rateMedicaidPopulations field optional again
  services/app-graphql/src/schema.graphql
Due: none

Update @prisma/client
  pnpm-lock.yaml
  services/app-api/package.json
  services/postgres/package.json
Due: none

update test
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.test.ts
  services/app-api/src/resolvers/rate/undoWithdrawRate.test.ts
Due: lint-app-api

Update snapshot
  services/app-web/src/components/FileUpload/FileItemList/__snapshots__/FileItemsList.test.tsx.snap
Due: lint-app-web

bump more
  services/app-api/src/zip/generateZip.ts
Due: lint-app-api

bump more (#3473)
  services/app-api/src/zip/generateZip.ts
Due: lint-app-api

color fix
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

[MCR-5363] State indicates if a contract is associated with a D-SNP (#3458)
  services/app-web/src/pages/Help/Help.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

Refactor document zip function to generateZip and inject into resolvers as a dependency
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/zip/generateZip.ts
  services/app-api/src/zip/index.ts
Due: lint-app-api

Use documentZip dependency for zipping docs.
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/resolvers/rate/submitRate.ts
Due: lint-app-api

Update test helpers and test.
  services/app-api/src/resolvers/contract/submitContract.zipGeneration.test.ts
  services/app-api/src/resolvers/rate/submitRate.zipGeneration.test.ts
  services/app-api/src/s3/s3Client.d.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

Fix argument in test
  services/app-api/src/resolvers/rate/fetchRate.test.ts
Due: lint-app-api

Update version in script
  services/app-api/scripts/prepare-prisma-layer.sh
Due: none

make clear the API changes affect more things
  API_Changelog.md
Due: none

MCR-5377: D-SNP DB and API changes for Rates (#3464)
  API_Changelog.md
  packages/hpp/src/proto/healthPlanFormDataProto/zodSchemas.ts
  services/app-api/prisma/migrations/20250703153007_medicaid_populations_field_added_to_raterevision/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.test.ts
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaContractRateAdaptors.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.test.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.ts
  services/app-api/src/resolvers/rate/undoWithdrawRate.test.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-graphql/src/fragments/rateRevisionFragment.graphql
  services/app-graphql/src/fragments/strippedRateRevisionFragment.graphql
  services/app-graphql/src/fragments/submittableRevisionFieldsFragment.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Refactor document zip as resolver dependency (#3476)
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/resolvers/contract/submitContract.zipGeneration.test.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-api/src/resolvers/rate/submitRate.zipGeneration.test.ts
  services/app-api/src/s3/s3Client.d.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/zip/generateZip.ts
  services/app-api/src/zip/index.ts
Due: lint-app-api

enable dsnp flag
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

feature flag the dsnp contract question
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

Refactor to more stable way of asserting classNames
  services/app-web/src/components/ActionButton/ActionButton.test.tsx
  services/app-web/src/components/ExpandableText/ExpandableText.test.tsx
Due: lint-app-web

fix test
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
Due: lint-app-web

fix cypress
  services/cypress/support/launchDarklyCommands.ts
Due: none

update cypress
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

fix cypress
  services/cypress/integration/cmsWorkflow/submissionReview.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/submissionForm.spec.ts
Due: none

Feature flag the D-SNP contract question (#3478)
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/cypress/integration/cmsWorkflow/submissionReview.spec.ts
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/submissionForm.spec.ts
  services/cypress/support/launchDarklyCommands.ts
Due: lint-app-web

Update vite config for sass
  services/app-web/vite.config.ts
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
