Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Add `updateHealthPlanFormDataMockError`.
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web

Refactor error handling. Throw errors in `updateDraftHealthPlanPackage`
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
Due: lint-app-web

Add test 'shows a generic error updating submission'.
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
Due: lint-app-web

No longer need --enforce-hash-update (#1028)
  .github/workflows/deploy-infra-to-env.yml
Due: none

Add state code and user role to Launch Darkly.
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

Remove items being amended from help page
  services/app-web/src/pages/Help/Help.tsx
Due: lint-app-web

Fix setting state in ldUser.
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

Run s3 serverless using local install instead of global
  dev_tool/src/local/s3.ts
Due: none

unit tests passing
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/pages/Auth/Auth.test.tsx
  services/app-web/src/pages/Auth/Login.test.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

simplify syntax
  services/app-web/src/components/ChangeHistory/ChangeHistory.test.tsx
  services/app-web/src/components/ExpandableText/ExpandableText.test.tsx
  services/app-web/src/components/FileUpload/FileItemList/FileItemsList.test.tsx
  services/app-web/src/components/FileUpload/FileProcessor/FileProcessor.test.tsx
  services/app-web/src/components/FileUpload/FileUpload.test.tsx
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.test.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/pages/Auth/Auth.test.tsx
  services/app-web/src/pages/Auth/Login.test.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
Due: lint-app-web

Move to AWS::AccountId
  services/infra-api/serverless.yml
  services/postgres/serverless.yml
  services/ui-auth/serverless.yml
  services/uploads/package.json
  services/uploads/serverless.yml
Due: none

some autoformatting
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/documents.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
Due: none

test cleanup
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
Due: lint-app-web

syntax cleanup
  services/app-web/src/components/FileUpload/FileItemList/FileItemsList.test.tsx
  services/app-web/src/components/FileUpload/FileProcessor/FileProcessor.test.tsx
  services/app-web/src/components/FileUpload/FileUpload.test.tsx
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.test.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.test.tsx
  services/app-web/src/pages/StateSubmission/PageActions/PageActions.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
Due: lint-app-web

doesnt like force click anymore
  tests/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: none

Refactor to use parameterStore dependency.
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.ts
Due: lint-app-api

Move aws getParameter function.
  services/app-api/src/parameterStore/awsParameterStore.ts
Due: lint-app-api

Add local and deployed parameterStore functions.
  services/app-api/src/parameterStore/index.ts
  services/app-api/src/parameterStore/parameterStore.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

Remove unnecessary jest spy on.
  services/app-api/src/resolvers/fetchHealthPlanPackage.test.ts
Due: lint-app-api

Add parameterStore to resolvers.
  services/app-api/src/resolvers/configureResolvers.ts
Due: lint-app-api

set and pass parameterStore to configureResolvers.
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

Remove items being amended from help page (#1034)
  services/app-web/src/pages/Help/Help.tsx
Due: lint-app-web

[MR-2286] Add state code and user role to Launch Darkly. (#1033)
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

Move to AWS::AccountId (#1039)
  services/infra-api/serverless.yml
  services/postgres/serverless.yml
  services/ui-auth/serverless.yml
  services/uploads/package.json
  services/uploads/serverless.yml
Due: none

Run s3 serverless using local install instead of global (#1035)
  dev_tool/src/local/s3.ts
Due: none

Try to read from just ssm on perm boundary
  .github/workflows/deploy.yml
  services/app-api/serverless.yml
Due: none

MR-2285: React 18 and Testing Library major version upgrades (#1041)
  services/app-web/package.json
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/components/ActionButton/ActionButton.test.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistory.test.tsx
  services/app-web/src/components/ExpandableText/ExpandableText.test.tsx
  services/app-web/src/components/FileUpload/FileItemList/FileItemsList.test.tsx
  services/app-web/src/components/FileUpload/FileProcessor/FileProcessor.test.tsx
  services/app-web/src/components/FileUpload/FileUpload.test.tsx
  services/app-web/src/components/Form/FieldPreserveScrollPosition/FieldPreserveScrollPosition.tsx
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.test.tsx
  services/app-web/src/components/Header/Header.test.tsx
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/components/Modal/Modal.test.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/components/Tabs/Tabs.stories.tsx
  services/app-web/src/contexts/PageContext.tsx
  services/app-web/src/index.tsx
  services/app-web/src/pages/Auth/Auth.test.tsx
  services/app-web/src/pages/Auth/Login.test.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.test.tsx
  services/app-web/src/pages/StateSubmission/PageActions/PageActions.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/testHelpers/jestHelpers.tsx
  tests/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/documents.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
  yarn.lock
Due: lint-app-web

fix broken build
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/tsconfig.json
Due: lint-app-web

Compiling is working for templates, not partials
  services/app-api/.gitignore
  services/app-api/src/emailer/templates.ts
  services/app-api/src/emailer/templates/newPackageStateEmail.handlebars
  services/app-api/src/emailer/templates/partials/packageSummary.handlebars
Due: lint-app-api

Handlebars - pausing here, realizing we have lost all type control
  services/app-api/src/emailer/templates.test.ts
  services/app-api/src/emailer/templates.ts
  services/app-api/src/emailer/templates/newPackageCMSEmail.handlebars
Due: lint-app-api

Add handlebars
  services/app-api/.gitignore
  services/app-api/package.json
  yarn.lock
Due: none

Remove handlebars, try eta for more type safety
  services/app-api/package.json
  yarn.lock
Due: none

Use eta templates
  services/app-api/src/emailer/templates.ts
  services/app-api/src/emailer/templates/newPackageCMSEmail.eta
  services/app-api/src/emailer/templates/newPackageCMSEmail.handlebars
  services/app-api/src/emailer/templates/newPackageStateEmail.eta
  services/app-api/src/emailer/templates/newPackageStateEmail.handlebars
  services/app-api/src/emailer/templates/packageSummary.eta
  services/app-api/src/emailer/templates/partials/packageSummary.handlebars
Due: lint-app-api

Remove partials for now - just work on getting tests passing for individual templates
  services/app-api/src/emailer/templates.ts
  services/app-api/src/emailer/templates/newPackageCMSEmail.handlebars
  services/app-api/src/emailer/templates/newPackageStateEmail.handlebars
Due: lint-app-api

refactor testStateAnalystsEmails
  services/app-api/src/emailer/templates.test.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

Fix file name and remove error logging
  services/app-api/src/parameterStore/getStateAnalystEmails.ts
  services/app-api/src/parameterStore/getStateAnalystsEmails.ts
Due: lint-app-api

Fix file name.
  services/app-api/src/parameterStore/getStateAnalystsEmails.test.ts
Due: lint-app-api

Move matching functions to their own file.
  services/app-api/src/parameterStore/parameterStore.ts
Due: lint-app-api

parameter test helper functions
  services/app-api/src/testHelpers/parameterStoreHelpers.ts
Due: lint-app-api

Add email tests and logging errors in state analysts emails.
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
Due: lint-app-api

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
