Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Code review
  services/app-api/src/postgres/findAllHealthPlanPackagesBySubmittedAt.ts
  services/app-api/src/resolvers/indexHealthPlanPackages.ts
Due: lint-app-api

Remove last updated column as per AC
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
Due: lint-app-web

CMSDashboard tests passing
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
Due: lint-app-web

skip parallel run
  services/app-web/serverless.yml
Due: none

Fix CMSDashboard tests - get passing
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
Due: lint-app-web

Try adding a set updatedAt to get flakey app-web tests passing reliably
  services/app-web/.eslintrc
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
Due: lint-app-web

Try another way to address flakes - reference table rows by submission id
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
Due: lint-app-web

TMPCMT
  docs/ADRs/018-changing-form-over-time.md
Due: none

Remove testFrontendBanner
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
Due: lint-app-web

MR-860: Use CalendarDate where appropriate (#1069)
  services/app-api/src/emailer/emails/__snapshots__/newPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/resubmitPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/updateHealthPlanFormData.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/parameterStoreHelpers.ts
  services/app-graphql/src/schema.graphql
  services/app-web/serverless.yml
  services/app-web/src/common-code/dateHelpers/calendarDate.ts
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/LockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.test.ts
  services/app-web/src/common-code/healthPlanFormDataType/index.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedHealthPlanFormDataSchema.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/formHelpers/formatters.test.ts
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web, lint-app-api

Skip all existing tests, turn cms-dashboard LD flag on
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
Due: lint-app-web

[MR-2228] Add CMS Dashboard (#1073)
  services/app-api/src/domain-models/ProgramType.d.ts
  services/app-api/src/domain-models/StateCodeType.d.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/findAllHealthPlanPackagesByState.ts
  services/app-api/src/postgres/findAllHealthPlanPackagesBySubmittedAt.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/indexHealthPlanPackages.test.ts
  services/app-api/src/resolvers/indexHealthPlanPackages.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/mutations/createHealthPlanPackage.graphql
  services/app-graphql/src/mutations/unlockHealthPlanPackage.graphql
  services/app-graphql/src/mutations/updateHealthPlanFormData.graphql
  services/app-graphql/src/queries/fetchCurrentUser.graphql
  services/app-graphql/src/queries/fetchHealthPlanPackage.graphql
  services/app-graphql/src/queries/indexHealthPlanPackages.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/.eslintrc
  services/app-web/jest.config.ts
  services/app-web/package.json
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/index.ts
  services/app-web/src/components/ChangeHistory/ChangeHistory.test.tsx
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.test.tsx
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/pages/Dashboard/CMSDashboard.tsx
  services/app-web/src/pages/StateDashboard/MaintenanceMessage.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.module.scss
  services/app-web/src/pages/StateDashboard/StateDashboard.test.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/pages/StateDashboard/SubmissionSuccessMessage.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.test.tsx
  services/app-web/src/testHelpers/apolloHelpers.tsx
  yarn.lock
Due: lint-app-web, lint-app-api

Revert "MR-860: Use CalendarDate where appropriate (#1069)"
  services/app-api/src/emailer/emails/__snapshots__/newPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/resubmitPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/updateHealthPlanFormData.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/parameterStoreHelpers.ts
  services/app-graphql/src/schema.graphql
  services/app-web/serverless.yml
  services/app-web/src/common-code/dateHelpers/calendarDate.ts
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/LockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.test.ts
  services/app-web/src/common-code/healthPlanFormDataType/index.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedHealthPlanFormDataSchema.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/formHelpers/formatters.test.ts
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web, lint-app-api

fix license key for webpack
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
Due: none

fix license key for webpack (#1076)
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
Due: none

copy paste in the right place
  .github/workflows/deploy-app-to-env.yml
Due: none

delete dup
  .github/workflows/deploy-app-to-env.yml
Due: none

Put the nr key into app-api (#1077)
  .github/workflows/deploy-app-to-env.yml
Due: none

Revert "MR-860: Use CalendarDate where appropriate (#1069)" (#1075)
  services/app-api/src/emailer/emails/__snapshots__/newPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/resubmitPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/updateHealthPlanFormData.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/parameterStoreHelpers.ts
  services/app-graphql/src/schema.graphql
  services/app-web/serverless.yml
  services/app-web/src/common-code/dateHelpers/calendarDate.ts
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/LockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.test.ts
  services/app-web/src/common-code/healthPlanFormDataType/index.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedHealthPlanFormDataSchema.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/formHelpers/formatters.test.ts
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web, lint-app-api

pr write access for dep bot
  .github/workflows/deploy.yml
Due: none

try only on deployments
  .github/workflows/deploy.yml
Due: none

Change deploy.yml GH permissions for dependabot (#1079)
  .github/workflows/deploy.yml
Due: none

add to last step
  .github/workflows/deploy.yml
Due: none

update ADR for Hana's edits
  docs/ADRs/018-changing-form-over-time.md
Due: none

add to end deployment
  .github/workflows/deploy.yml
Due: none

bump version on deploy-status
  .github/workflows/deploy.yml
Due: none

Add all MS excel macro-enabled files types.
  services/app-web/src/components/FileUpload/FileProcessor/FileProcessor.tsx
  services/app-web/src/components/FileUpload/constants.ts
  services/app-web/src/components/FileUpload/index.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/uploads/serverless.yml
Due: lint-app-web

Add GH permissions to 'end-deployment' and 'cypress' (#1080)
  .github/workflows/deploy.yml
Due: none

run serially for mem usage in gha
  services/app-web/serverless.yml
Due: none

Add span for user input exception.
  services/app-web/src/otelHelpers/index.ts
  services/app-web/src/otelHelpers/tracingHelper.ts
Due: lint-app-web

Log when user tries to upload invalid file type.
  services/app-web/src/components/FileUpload/FileUpload.tsx
Due: lint-app-web

Refactor getting file types.
  services/app-web/src/components/FileUpload/FileProcessor/FileProcessor.tsx
Due: lint-app-web

Use ACCEPTED_SUBMISSION_FILE_TYPES constant.
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

Fix bug.
  services/app-web/src/components/FileUpload/FileProcessor/FileProcessor.tsx
Due: lint-app-web

Add two other macro enabled MS Excel file types.
  services/uploads/serverless.yml
Due: none

Add XLSX to fileTypes for clarification.
  services/app-web/src/components/FileUpload/FileProcessor/FileProcessor.tsx
Due: lint-app-web

Add .numbers spreadsheet to accepted files.
  services/app-web/src/components/FileUpload/constants.ts
Due: lint-app-web

run serially for mem usage in gha (#1081)
  services/app-web/serverless.yml
Due: none

Use path.extname to get file extension.
  services/app-web/src/components/FileUpload/FileProcessor/FileProcessor.tsx
Due: lint-app-web

Add path-browserify library.
  services/app-web/package.json
  yarn.lock
Due: none
