Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Log errors on fail fetching state analysts emails.
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.ts
Due: lint-app-api

Read full_iam_permissions_boundary from ssm
  .github/workflows/deploy-app-to-env.yml
Due: none

use branch workflows
  .github/workflows/deploy.yml
Due: none

fix infra calls to full_iam
  .github/workflows/deploy-infra-to-env.yml
Due: none

cleanup full_iam calls.
  .github/workflows/promote.yml
  services/app-api/serverless.yml
  services/infra-api/serverless.yml
  services/postgres/serverless.yml
  services/ui-auth/serverless.yml
  services/uploads/serverless.yml
Due: none

set state analysts emails to variable.
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
Due: lint-app-api

test syntax change
  services/postgres/serverless.yml
Due: none

fix flaky test
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: none

try placement of syntax
  services/postgres/serverless.yml
Due: none

change provider.iam syntax
  services/app-api/serverless.yml
  services/infra-api/serverless.yml
  services/ui-auth/serverless.yml
  services/uploads/serverless.yml
Due: none

read ld sdk key from ssm
  services/app-api/serverless.yml
Due: none

FIx typescript error.
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

Add package_id to span attributes.
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.ts
Due: lint-app-api

fix object.assign syntax
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

null check before assign
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

Move emails to parameter store
  services/app-api/serverless.yml
Due: none

All unit tests passing
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/templates.test.ts
  services/app-api/src/emailer/templates.ts
  services/app-api/src/emailer/templates/newPackageCMSEmail.eta
  services/app-api/src/emailer/templates/newPackageStateEmail.eta
  services/app-api/src/emailer/templates/packageSummary.eta
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

Add snapshot tests build from main branch
  services/app-api/src/emailer/tests/__snapshots__/templates.test.ts.snap
  services/app-api/src/emailer/tests/templates.test.ts
Due: lint-app-api

Big refactor: move all emails into seperate files, add snapshots
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/newPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/newPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/resubmitPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/resubmitPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/unlockPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/unlockPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/index.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-api/src/emailer/etaTemplates/newPackageCMSEmail.eta
  services/app-api/src/emailer/etaTemplates/newPackageStateEmail.eta
  services/app-api/src/emailer/etaTemplates/packageSummary.eta
  services/app-api/src/emailer/index.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/emailer/templates.ts
  services/app-api/src/emailer/tests/__snapshots__/templates.test.ts.snap
  services/app-api/src/emailer/tests/templates.test.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

Remove leftovers from handlebars
  services/app-api/.gitignore
  services/app-api/package.json
Due: none

Update snapshots to use more static dates. Unify template render in emails
  services/app-api/src/emailer/emails/__snapshots__/newPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/newPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/resubmitPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
Due: lint-app-api

Getting a typescript error on the LD client (#1044)
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/tsconfig.json
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

Fix `getParameterStore` import
  services/app-api/src/parameterStore/getStateAnalystsEmails.ts
  services/app-api/src/parameterStore/parameterStore.ts
Due: lint-app-api

Fix tests
  services/app-api/src/parameterStore/getStateAnalystsEmails.test.ts
Due: lint-app-api

Add 404 status to `fetchHealthPlanPackageMock`
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web

Log error when pkg is undefined
  services/app-api/src/resolvers/fetchHealthPlanPackage.ts
Due: lint-app-api

Add test for generic 404 page.
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
Due: lint-app-web

Doing something with returned Error.
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Revert to return error. Fix generic 404 page.
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
Due: lint-app-web

Check for null `ldUser.custom` attribute.
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

Remove showing banner on updateDraft errors. Top level page handles this banner.
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Consolidate `updateHealthPlanForm` mock success and failure.
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web

Update import of updateHealthPlanFormDataMock
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
Due: lint-app-web

createHealthPlanPackageMock
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web

Test create health plan package failure.
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.test.tsx
Due: lint-app-web

Attempt to fix flaky test
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

fix emailer mode
  services/app-api/serverless.yml
Due: none

Move to sls for react ld client id
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  services/app-web/serverless.yml
Due: none

Remove ses env var threading
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
Due: none

fix ses removal
  .github/workflows/deploy-infra-to-env.yml
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
