Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

ternary was backwards
  services/app-api/src/resolvers/contract/submitContract.ts
Due: lint-app-api

fix styling by applying styles.banner
  services/app-web/src/index.scss
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

MCR-5994 Fix bottom margin for usa-alert--success style (#4171)
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

MCR-6022 Refactor Generate Upload Url (#4170)
  API_Changelog.md
  services/app-api/src/resolvers/documents/generateUploadURL.test.ts
  services/app-api/src/resolvers/documents/generateUploadURL.ts
  services/app-graphql/src/mutations/generateUploadURL.graphql
  services/app-graphql/src/schema.graphql
  services/cypress/cypress.config.ts
  services/cypress/support/apiCommands.ts
  services/cypress/utils/apollo-test-utils.ts
Due: lint-app-api

Update db direct access and migration documents
  docs/technical-design/howto-access-deployment-database.md
  docs/technical-design/howto-migrations.md
  services/postgres/README.md
Due: none

Update `aws-cdk`.
  pnpm-lock.yaml
  services/infra-cdk/package.json
Due: none

Apply suggestion from @JasonLin0991
  docs/technical-design/howto-access-deployment-database.md
Due: none

capatilizing type
  services/app-api/src/emailer/emails/sendEQROContractResubmitCMSEmail.ts
  services/app-api/src/emailer/emails/sendEQROContractResubmitStateEmail.ts
Due: lint-app-api

updated emails
  services/app-api/src/emailer/emails/sendEQROContractResubmitCMSEmail.ts
Due: lint-app-api

MCR-6051: Update deployment database access and migration documents (#4174)
  docs/technical-design/howto-access-deployment-database.md
  docs/technical-design/howto-migrations.md
  services/postgres/README.md
Due: none

fixes
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/sendEQROContractResubmitCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendEQROContractResubmitCMSEmail.ts
  services/app-api/src/resolvers/contract/submitContract.ts
Due: lint-app-api

Add reverse approve contract to graphql
  services/app-graphql/src/mutations/reverseApproveContract.graphql
  services/app-graphql/src/schema.graphql
Due: none

Add postgres function
  services/app-api/src/postgres/contractAndRates/index.ts
  services/app-api/src/postgres/contractAndRates/reverseApproveContract.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

Add resolver
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/reverseApproveContract.ts
  services/app-api/src/testHelpers/index.ts
Due: lint-app-api

Add resolver unit tests
  services/app-api/src/resolvers/contract/reverseApproveContract.test.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
Due: lint-app-api

Add to change log
  API_Changelog.md
Due: none

fix formatting for withdrawn rates section
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
Due: lint-app-web

styling and copy changes
  services/app-web/src/pages/Landing/Landing.module.scss
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

fix withdrawn formatting in rate details
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
Due: lint-app-web

MCR-5445 Fix formatting for withdrawn rates section (#4180)
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
Due: lint-app-web

use esbuild for copying
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

migrate use the node module
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

dec spacing on h4
  services/app-web/src/pages/Landing/Landing.module.scss
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

use the config for migrate
  services/app-api/src/handlers/postgres_migrate.ts
  services/infra-cdk/lib/stacks/app-api.ts
Due: lint-app-api

[MCR-5888] CMS user receives email notification on EQRO submission resubmit (#4173)
  packages/submissions/src/contract/eqroFormDataValidations.ts
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/__snapshots__/sendEQROContractResubmitCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/sendEQROContractResubmitStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/index.ts
  services/app-api/src/emailer/emails/sendEQROContractResubmitCMSEmail.test.ts
  services/app-api/src/emailer/emails/sendEQROContractResubmitCMSEmail.ts
  services/app-api/src/emailer/etaTemplates/newEQROContractCMSEmail.eta
  services/app-api/src/emailer/etaTemplates/newEqroContractStateEmail.eta
  services/app-api/src/emailer/etaTemplates/reusableTemplates/EQRO/eqroProvisionsTemplate.eta
  services/app-api/src/emailer/etaTemplates/reusableTemplates/EQRO/eqroReminderSummary.eta
  services/app-api/src/emailer/etaTemplates/reusableTemplates/EQRO/eqroResubmitDataTemplate.eta
  services/app-api/src/emailer/etaTemplates/reusableTemplates/whatComesNextSummary.eta
  services/app-api/src/emailer/etaTemplates/sendEQROContractResubmitCMSEmail.eta
  services/app-api/src/emailer/etaTemplates/sendEQROContractResubmitStateEmail.eta
  services/app-api/src/emailer/index.ts
  services/app-api/src/resolvers/contract/submitContract.ts
Due: lint-app-api

upgrade to node 24 actions
  .github/actions/get_aws_credentials/action.yml
  .github/actions/setup_env/action.yml
Due: none

add snapshot behavior back. accidental.
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

add filter and tag styling for status Not subject to review
  services/app-web/src/components/ContractTable/ContractTable.module.scss
  services/app-web/src/components/ContractTable/ContractTable.tsx
Due: lint-app-web

banner and tag setup
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanner.test.tsx
  services/app-web/src/components/Banner/EQROSummaryBanner/eqroSummaryBanner.tsx
  services/app-web/src/components/Banner/index.ts
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
Due: lint-app-web

styling and added data detail
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SummarySectionFields/SummarySectionFields.tsx
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
Due: lint-app-web

cypress fix
  services/cypress/integration/cmsWorkflow/submissionReview.spec.ts
Due: none

fix color property
  services/app-web/src/components/ContractTable/ContractTable.module.scss
Due: lint-app-web

fix the conneciton pooling
  services/app-api/src/postgres/index.ts
  services/app-api/src/postgres/prismaClient.ts
Due: lint-app-api

fix InfoTag usage
  services/app-web/src/components/ContractTable/ContractTable.tsx
Due: lint-app-web

MCR-5993: Homepage styling and copy changes (#4181)
  services/app-web/src/pages/Landing/Landing.module.scss
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

co-pilot comments
  services/app-api/src/handlers/migrate_protobuf_data.ts
  services/app-api/src/handlers/migrate_s3_urls.ts
  services/app-api/src/handlers/postgres_migrate.ts
  services/app-api/src/handlers/regenerate_zips.ts
  services/app-api/src/postgres/prismaClient.ts
  services/infra-cdk/lib/stacks/app-api.ts
Due: lint-app-api

Apply suggestion from @JasonLin0991
  API_Changelog.md
Due: none
