Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Add documentation for context parameter in generatePolicy
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

missing from fragments
  services/app-graphql/src/fragments/contractRevisionFragment.graphql
  services/app-graphql/src/fragments/rateRevisionFragment.graphql
Due: none

table is setup - ironing some stuff out
  services/app-web/src/pages/Settings/SettingsTables/OauthClientsTable.tsx
Due: lint-app-web

perms on the bucket
  services/app-api/serverless.yml
Due: none

poor naming strikes again
  services/app-api/src/zip/generateZip.ts
Due: lint-app-api

fix path
  services/app-api/src/zip/generateZip.ts
Due: lint-app-api

Adjust doc download url expiration time in API (#3437)
  services/app-api/src/s3/s3Deployed.ts
  services/app-web/src/hooks/useDocument.tsx
Due: lint-app-web, lint-app-api

add dsnpContract field to contractrev in db
  services/app-api/prisma/migrations/20250627111243_add_dsnp_field_to_contract_revs/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

update domain type and graphql schema
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-graphql/src/fragments/contractRevisionFragment.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

update mocks and test
  packages/mocks/src/apollo/contractPackageDataMock.ts
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.test.ts
  services/app-api/src/emailer/emails/sendQuestionResponseStateEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionStateEmail.test.ts
  services/app-api/src/postgres/contractAndRates/insertContract.ts
  services/app-api/src/postgres/contractAndRates/prismaContractRateAdaptors.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
Due: lint-app-api

fix test
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/resolvers/contract/createContract.ts
  services/app-api/src/resolvers/contract/updateContractDraftRevision.test.ts
Due: lint-app-api

Add type config to apollo cache.
  services/app-web/src/index.tsx
Due: lint-app-web

Update storybook dependencies
  pnpm-lock.yaml
  services/app-web/.storybook/main.ts
  services/app-web/package.json
Due: none

zip files mime skip
  services/uploads/src/lib/scanFiles.ts
Due: none

move it up
  services/uploads/src/lib/scanFiles.ts
Due: none

add changes to change log
  API_Changelog.md
Due: none

cleanup
  services/uploads/src/lib/scanFiles.ts
Due: none

testing
  packages/mocks/src/apollo/index.ts
  packages/mocks/src/apollo/oauthGQLMocks.ts
  services/app-web/src/index.tsx
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/SettingsTables/OauthClientsTable.tsx
Due: lint-app-web

type error fix
  services/app-graphql/src/fragments/oauthUserFragment.graphql
Due: none

mock fix
  packages/mocks/src/apollo/oauthGQLMocks.ts
Due: none

pr fixes
  API_Changelog.md
  services/app-api/src/resolvers/contract/createContract.ts
Due: lint-app-api

refactor: Remove redundant OAuth permission checks
  services/app-api/src/authorization/oauthAuthorization.test.ts
  services/app-api/src/authorization/oauthAuthorization.ts
  services/app-api/src/resolvers/contract/fetchContract.ts
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-api/src/resolvers/rate/fetchRate.ts
  services/app-api/src/resolvers/rate/indexRates.ts
Due: lint-app-api

pin aws-amplify version
  pnpm-lock.yaml
  services/cypress/package.json
Due: none

update lockfile
  pnpm-lock.yaml
Due: none

fix: Remove temporary debug logging and fix TypeScript warnings
  services/app-api/src/handlers/third_party_API_authorizer.ts
  services/app-api/src/jwt/jwt.ts
  services/app-api/src/oauth/oauth2Server.ts
Due: lint-app-api

feat: Add argumentValues support to error utilities for Apollo migration
  services/app-api/src/postgres/postgresErrors.ts
  services/app-api/src/resolvers/errorUtils.ts
Due: lint-app-api

fix: Add argumentValues to resolver error handling
  services/app-api/src/resolvers/contract/createContract.ts
  services/app-api/src/resolvers/healthPlanPackage/createHealthPlanPackage.ts
  services/app-api/src/resolvers/settings/updateEmailSettings.ts
  services/app-api/src/resolvers/user/updateDivisionAssignment.ts
  services/app-api/src/resolvers/user/updateStateAssignment.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.ts
Due: lint-app-api

Fix updateDivisionAssignment and updateStateAssignment error handling
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/resolvers/user/updateDivisionAssignment.ts
  services/app-api/src/resolvers/user/updateStateAssignment.ts
Due: lint-app-api

Complete API test error fixes for Apollo error handling migration
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/submitContract.ts
Due: lint-app-api

Add a wrapper around select to implement accessibility styling.
  services/app-web/src/components/Select/AccessibleSelect/AccessibleSelect.tsx
Due: lint-app-web

add document migration lambda
  services/app-api/serverless.yml
  services/app-api/src/handlers/migrate_document_zips.ts
Due: lint-app-api

Fix Apollo Client mock data by restoring missing fields from main
  packages/mocks/src/apollo/rateDataMock.ts
Due: none

Remove 'round' fields from mockRateSubmittedWithQuestions function in rateDataMock.ts to align with updated data structure.
  packages/mocks/src/apollo/rateDataMock.ts
Due: none

feat: Add temporary debug logging for token requests in CustomOAuth2Server
  services/app-api/src/oauth/oauth2Server.ts
Due: lint-app-api

addressed review comments
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/Settings/Settings.test.tsx
  services/app-web/src/pages/Settings/SettingsTables/OauthClientsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/index.ts
Due: lint-app-web

test fix
  services/app-web/src/pages/Settings/Settings.test.tsx
Due: lint-app-web

last test fix
  services/app-web/src/pages/Settings/Settings.test.tsx
Due: lint-app-web

Normalize headers to all lower-case
  services/app-api/src/oauth/oauth2Server.ts
Due: lint-app-api

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
