Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

added flexibility to span
  services/app-web/src/pages/StateSubmission/Contacts/ActuaryContactFields.tsx
Due: lint-app-web

added addtlActuaryContacts
  services/app-web/src/pages/StateSubmission/RateDetails/V2/SingleRateFormFields.tsx
Due: lint-app-web

dynamic addtnlActuaryContacts form working wip
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/pages/StateSubmission/RateDetails/V2/SingleRateFormFields.tsx
Due: lint-app-web

wow everything passes
  services/app-api/src/domain-models/contractAndRates/revisionTypes.ts
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.test.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/insertRate.test.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaContractRateAdaptors.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftRatesHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/submitContract.test.ts
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/postgres/contractAndRates/submitRate.test.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractRates.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.test.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.test.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-api/src/resolvers/rate/rateRevisionResolver.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/resolvers/rate/unlockRate.test.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-api/src/testHelpers/index.ts
  services/app-graphql/codegen.yml
  services/app-graphql/src/mutations/submitContract.graphql
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web, lint-app-api

Fix up contract mocks, review submit tests, v2 handling of doc dates
  services/app-web/src/gqlHelpers/contractsAndRates.ts
  services/app-web/src/hooks/useTealium.ts
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.stories.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.stories.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

code clean up
  services/app-api/src/resolvers/contract/contractRevisionResolver.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/SubmissionSummary/V2/SubmissionSummaryV2.tsx
Due: lint-app-web, lint-app-api

fix import
  services/app-api/src/resolvers/contract/contractRevisionResolver.ts
Due: lint-app-api

comments and fix a hidden build issue
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

testing
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
Due: lint-app-web

removed old tests
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
Due: lint-app-web

skip unmigrated rates
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedRateHelpers.ts
Due: lint-app-api

test fixes
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/pages/StateSubmission/RateDetails/V2/SingleRateFormFields.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/rateDetailsHelpers.ts
Due: lint-app-web

removing unneeded work after pivoting back to dynamic functionality
  services/app-web/src/pages/StateSubmission/Contacts/ActuaryContactFields.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/RateDetails/V2/SingleRateFormFields.tsx
Due: lint-app-web

removed cypress tests
  services/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
Due: none

cypress fixes
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  services/cypress/integration/cmsWorkflow/viewSubmission.spec.ts
  services/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

MCR-4027 Update Review Submit tests (#2363)
  services/app-web/src/common-code/ContractType.ts
  services/app-web/src/common-code/ContractTypeProvisions.ts
  services/app-web/src/gqlHelpers/contractsAndRates.ts
  services/app-web/src/hooks/useTealium.ts
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContactsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.stories.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.stories.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/SubmissionTypeSummarySectionV2.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

wip
  services/app-web/src/pages/Settings/EmailSettingsTables/EmailAnalystsTable.tsx
  services/app-web/src/pages/Settings/EmailSettingsTables/EmailSettingsTables.tsx
  services/app-web/src/pages/Settings/Settings.module.scss
Due: lint-app-web

reimplmeent submit
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/unlockRate.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

rate data mocks
  services/app-api/src/testHelpers/rateDataMocks.ts
Due: lint-app-api

add mccrsID to fetchContract query
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/schema.graphql
Due: none

update v2 unlocksubmit modal to work with unlock contract
  services/app-web/src/components/Modal/V2/UnlockSubmitModalV2.tsx
Due: lint-app-web

create changeHistory V2 to use fetchContract, resolve errors
  services/app-web/src/common-code/ContractType.ts
  services/app-web/src/common-code/ContractTypeProvisions.ts
  services/app-web/src/components/ChangeHistory/ChangeHistoryV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContactsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.stories.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.stories.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/SubmissionTypeSummarySectionV2.tsx
  services/app-web/src/pages/SubmissionSummary/V2/SubmissionSummaryV2.tsx
Due: lint-app-web

get submit working on ReviewSubmit page
  services/app-web/src/components/Modal/V2/UnlockSubmitModalV2.tsx
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
Due: lint-app-web

update contractPackageDataMock
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
Due: lint-app-web

remove references to packages in unlockSubmitModalV2
  services/app-web/src/components/Modal/V2/UnlockSubmitModalV2.tsx
Due: lint-app-web

implement intiially submitted at
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-api/src/resolvers/contract/fetchContract.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.ts
Due: lint-app-api

more test fixes
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/SingleRateFormFields.tsx
  services/app-web/src/testHelpers/jestRateHelpers.tsx
Due: lint-app-web

remove access optioinal chanining
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/SubmissionTypeSummarySectionV2.tsx
  services/app-web/src/pages/SubmissionSummary/V2/SubmissionSummaryV2.tsx
Due: lint-app-web

update changehistoryv2 language and logic
  services/app-web/src/components/ChangeHistory/ChangeHistoryV2.tsx
Due: lint-app-web

add submissionsummartV2 for cmsRoutes
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
Due: lint-app-web

fix reviewsubmit test
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.test.tsx
Due: lint-app-web

pr updates
  services/app-web/src/components/ChangeHistory/ChangeHistoryV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web

restrict change history to contract actions for now
  services/app-web/src/components/ChangeHistory/ChangeHistoryV2.tsx
Due: lint-app-web

fix resubmit
  services/app-web/src/components/Modal/V2/UnlockSubmitModalV2.tsx
Due: lint-app-web

add reverse
  services/app-web/src/components/ChangeHistory/ChangeHistoryV2.tsx
Due: lint-app-web

Fixup tests
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.test.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web

Actual bugfix for LINK_RATES flag off
  services/app-web/src/documentHelpers/makeDocumentDateLookupTable.ts
Due: lint-app-web

Submission Summary V2 with FetchContract (#2350)
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/ChangeHistory/ChangeHistoryV2.tsx
  services/app-web/src/components/Modal/V2/UnlockSubmitModalV2.tsx
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContactsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/SubmissionTypeSummarySectionV2.tsx
  services/app-web/src/pages/SubmissionSummary/V2/SubmissionSummaryV2.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
Due: lint-app-web
