Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

update get changed services for pnpm
  scripts/get-changed-services/index.ts
Due: none

weird typo lol
  .github/workflows/deploy-app-to-env.yml
Due: none

remove unused funcs
  scripts/get-changed-services/index.ts
Due: none

Add CMS approver role to prisma, domain types, graghql, local login, cypress logins, and migration.
  scripts/add_cypress_test_users.ts
  services/app-api/prisma/migrations/20240801215157_add_cms_approver_role/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/authn/cognitoAuthn.test.ts
  services/app-api/src/authn/cognitoAuthn.ts
  services/app-api/src/domain-models/UserType.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/domain-models/user.ts
  services/app-api/src/postgres/user/prismaDomainUser.ts
  services/app-api/src/resolvers/user/index.ts
  services/app-api/src/resolvers/user/userResolver.ts
  services/app-graphql/src/schema.graphql
  services/app-web/src/assets/images/azula.png
  services/app-web/src/gqlHelpers/userHelpers.ts
  services/app-web/src/localAuth/LocalLogin.tsx
  services/app-web/src/localAuth/LocalUserType.ts
  services/app-web/src/testHelpers/apolloMocks/userGQLMock.ts
Due: lint-app-web, lint-app-api

Fix prisma migration devl tool command
  dev_tool/src/dev.ts
Due: none

Add CMS union type to graphql
  services/app-graphql/src/mutations/createQuestion.graphql
  services/app-graphql/src/mutations/createQuestionResponse.graphql
  services/app-graphql/src/mutations/updateCMSUser.graphql
  services/app-graphql/src/queries/fetchContractWithQuestions.graphql
  services/app-graphql/src/queries/fetchCurrentUser.graphql
  services/app-graphql/src/queries/fetchHealthPlanPackageWithQuestions.graphql
  services/app-graphql/src/queries/indexQuestions.graphql
  services/app-graphql/src/queries/indexUsers.graphql
Due: none

Add CMS union type to graphql
  services/app-graphql/codegen.yml
Due: none

Update everywhere to use CMSUsersUnionType.
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/questionResponse/insertQuestion.ts
  services/app-api/src/postgres/user/updateCmsUserProperties.ts
  services/app-api/src/resolvers/configureResolvers.ts
Due: lint-app-api

Use user permissions helper functions and update for CMS approver role
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/contract/updateContract.ts
  services/app-api/src/resolvers/email/fetchEmailSettings.ts
  services/app-api/src/resolvers/healthPlanPackage/fetchHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/indexHealthPlanPackages.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.ts
  services/app-api/src/resolvers/rate/indexRates.ts
  services/app-api/src/resolvers/rate/unlockRate.ts
  services/app-web/src/gqlHelpers/index.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web, lint-app-api

Remove unused imports.
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

Update permissions to include CMS approver
  services/app-web/src/components/Banner/SubmissionUnlockedBanner/SubmissionUnlockedBanner.tsx
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/hooks/useStatePrograms.ts
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QATable.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.tsx
  services/app-web/src/pages/Settings/CMSUsersTable/CMSUsersTable.tsx
  services/app-web/src/pages/Settings/Settings.tsx
  services/app-web/src/pages/StateSubmission/PageBannerAlerts.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContractDetailsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummaryV2.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/tealium/tealiumHelpers.ts
Due: lint-app-web

Run tests for both CMS users and CMS approver users.
  services/app-web/src/pages/APIAccess/APIAccess.test.tsx
  services/app-web/src/pages/Auth/Auth.test.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QATable.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestions.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
Due: lint-app-web

update test
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
Due: lint-app-web

run lint everywhere
  dev_tool/src/dev.ts
Due: none

Remove lerna from monorepo (#2625)
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/promote.yml
  README.md
  dev
  dev_tool/package.json
  dev_tool/src/dev.ts
  dev_tool/src/local/api.ts
  dev_tool/src/local/graphql.ts
  dev_tool/src/local/postgres.ts
  dev_tool/src/local/proto.ts
  dev_tool/src/local/s3.ts
  dev_tool/src/local/storybook.ts
  dev_tool/src/local/web.ts
  dev_tool/tsconfig.json
  lerna.json
  nx.json
  package.json
  pnpm-lock.yaml
  run_build.sh
  scripts/get-changed-services/index.ts
Due: none

move back to main. fix last lingering lerna
  .github/workflows/deploy.yml
  scripts/get-changed-services/index.ts
Due: none

Add additional instructions on TEST_USERS_PASS env variable
  docs/technical-design/howto-run-cypress-against-review-app.md
Due: none

update tests
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web

move back to main. fix last lingering lerna (#2630)
  .github/workflows/deploy.yml
  scripts/get-changed-services/index.ts
Due: none

Error out if missing env variables.
  dev_tool/src/test/browser.ts
Due: none

test for newStateSubmissionForm
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web

code clean up
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Refactor error states and initial request
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
Due: lint-app-web

Add action buttons and start testing API call
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
Due: lint-app-web

Add form, abstract LinkRateSelect for use by admin
  services/app-web/src/components/Select/RateSelect/RateSelect.module.scss
  services/app-web/src/components/Select/Select.module.scss
  services/app-web/src/pages/LinkYourRates/LinkRateSelect.tsx
  services/app-web/src/pages/LinkYourRates/LinkYourRates.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRate.module.scss
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
Due: lint-app-web

wip: create hook for contract
  services/app-web/src/hooks/useContractForm.ts
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Add familyName
  scripts/add_cypress_test_users.ts
Due: none

API tests for CMS approvers
  services/app-api/src/resolvers/contract/indexContracts.test.ts
  services/app-api/src/resolvers/contract/unlockContract.test.ts
  services/app-api/src/resolvers/contract/updateContract.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-api/src/resolvers/rate/unlockRate.test.ts
  services/app-api/src/resolvers/user/updateCMSUser.test.ts
  services/app-api/src/testHelpers/userHelpers.ts
Due: lint-app-api

Update services/app-graphql/src/schema.graphql
  services/app-graphql/src/schema.graphql
Due: none

wip using the new apis
  services/app-web/src/hooks/useContractForm.ts
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Update instructions.
  docs/technical-design/howto-run-cypress-against-review-app.md
Due: none

Do not display withdrawn rates on rates dashboard.
  services/app-graphql/src/queries/indexRates.graphql
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
Due: lint-app-web

WIP - commit to see if just this work can merge
  services/app-web/src/pages/LinkYourRates/LinkRateSelect.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRate.module.scss
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
Due: lint-app-web

Import the Rate
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.test.tsx
Due: lint-app-web

Convert schema to a string.
  services/app-web/src/pages/GraphQLExplorer/GraphQLExplorer.tsx
Due: lint-app-web

MCR-4150: Do not display withdrawn rates on rates dashboard. (#2637)
  services/app-graphql/src/queries/indexRates.graphql
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
Due: lint-app-web

Cleanup
  services/app-web/src/pages/GraphQLExplorer/GraphQLExplorer.tsx
Due: lint-app-web

MCR-4345: Add dev tool command to configure and open Cypress to run against review app. (#2614)
  dev_tool/src/dev.ts
  dev_tool/src/test/browser.ts
  dev_tool/src/test/index.ts
  docs/technical-design/howto-run-cypress-against-review-app.md
  services/cypress/README.md
Due: none

Enhance S3 bucket policies for sechub
  services/infra-api/serverless.yml
  services/postgres/serverless.yml
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
