Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

move back to deps
  services/app-api/package.json
Due: none

bump packages in app-web and uploads
  services/app-web/package.json
  services/uploads/package.json
  yarn.lock
Due: none

try external
  services/app-api/webpack.config.js
Due: none

a couple more external
  services/app-api/webpack.config.js
Due: none

Fix yarn build error by importing sass for sass commands
  services/app-web/src/components/Select/Select.module.scss
  services/app-web/src/components/Spinner/Spinner.module.scss
Due: lint-app-web

Stylelint updates - run on precommit, disallow hex variables for color
  services/app-web/.stylelintrc
  services/app-web/package.json
  services/app-web/src/components/Tabs/Tabs.module.scss
Due: lint-app-web

exclude in serverless. package size too large
  services/app-api/package.json
  services/app-api/serverless.yml
Due: none

move to dev
  services/app-api/package.json
  services/app-api/serverless.yml
  services/app-api/webpack.config.js
Due: none

Cleanup yarn.lock
  yarn.lock
Due: none

more from layer
  services/app-api/serverless.yml
  services/app-api/webpack.config.js
Due: none

we need @opentelemetry/auto-instrumentations-node
  services/app-api/serverless.yml
  services/app-api/webpack.config.js
Due: none

test autoinstrumentation
  services/app-api/serverless.yml
  services/app-api/webpack.config.js
  services/uploads/src/lib/otel.ts
Due: none

add packages back
  services/app-api/package.json
  services/app-api/serverless.yml
  services/app-api/webpack.config.js
Due: none

Cleanup Colors.module.scss
  services/app-web/src/components/Colors/Colors.module.scss
Due: lint-app-web

remove unused deps
  services/uploads/package.json
  services/uploads/src/lib/otel.ts
  yarn.lock
Due: none

add line about library we are using
  docs/technical-design/api-jwt-security.md
Due: none

pr fixes: distinguish the health check path used for the authorizer, update authorizer to return deny policies on error
  services/app-api/serverless.yml
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

Add createAPIToken endpoint and jwtLib service (#2138)
  docs/technical-design/api-jwt-security.md
  services/app-api/package.json
  services/app-api/src/domain-models/apiKey.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/jwt/index.ts
  services/app-api/src/jwt/jwt.test.ts
  services/app-api/src/jwt/jwt.ts
  services/app-api/src/resolvers/APIKey/createAPIKey.test.ts
  services/app-api/src/resolvers/APIKey/createAPIKey.ts
  services/app-api/src/resolvers/APIKey/index.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-graphql/src/mutations/createAPIKey.graphql
  services/app-graphql/src/schema.graphql
  yarn.lock
Due: lint-app-api

explictly make userID string or undefined, improve err msg language
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

MCR-3834 : API Auth: Create Lambda Authorizer to validate incoming JWTs (#2146)
  services/app-api/serverless.yml
  services/app-api/src/handlers/third_party_API_authorizer.ts
Due: lint-app-api

Upgrade OTEL to latest AWS Distro (#2147)
  services/app-api/package.json
  services/app-api/serverless.yml
  services/app-api/webpack.config.js
  services/app-web/package.json
  services/uploads/package.json
  services/uploads/serverless.yml
  services/uploads/src/lib/otel.ts
  yarn.lock
Due: none

Address @pearl-truss code review
  services/app-web/package.json
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.module.scss
  services/app-web/src/styles/custom.scss
Due: lint-app-web

Address @pearl-truss code review. Also get lint-staged working and yarn lint:style working
  .husky/pre-commit
  docs/technical-design/howto-style-css-scss.md
  services/app-web/package.json
  services/app-web/src/components/FilterAccordion/FilterDateRange/_DatePicker/DatePicker.test.tsx
  yarn.lock
Due: lint-app-web

hook authorizer to api gateway endpoint
  services/app-api/serverless.yml
Due: none

Add post to api gateway endpoint
  services/app-api/serverless.yml
Due: none

diagrams
  .images/contract-and-rate-history-diagram.png
  .images/read-contract-and-rate-history-diagram.png
Due: none

Add diagrams and examples into docs.
  docs/technical-design/contract-rate-change-history.md
  docs/technical-design/resovler-design.md
Due: none

Fix styles error on filterss text
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.module.scss
Due: lint-app-web

Change `resolver/contractAndRate` to `resolver/rate`.
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/fetchRate.ts
  services/app-api/src/resolvers/rate/index.ts
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-api/src/resolvers/rate/indexRates.ts
  services/app-api/src/resolvers/rate/rateResolver.ts
Due: lint-app-api

Grammar.
  docs/technical-design/contract-rate-change-history.md
Due: none

Initial commit - rewrite logout and checkAuth, use on FileUpload when S3 fails
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

Rename existing functions
  services/app-web/src/components/FileUpload/FileUpload.tsx
Due: lint-app-web

Further clarify current behavior
  docs/technical-design/feature-brief-session-expiration.md
Due: none

Fix styles error on filters text (#2156)
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.module.scss
Due: lint-app-web

Fix tests - logout should be required function - handle auth error alert banner on Landing, not Header
  services/app-web/src/components/Header/Header.test.tsx
  services/app-web/src/components/Header/Header.tsx
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/pages/Auth/Auth.test.tsx
  services/app-web/src/pages/Auth/Login.tsx
  services/app-web/src/pages/Landing/Landing.test.tsx
  services/app-web/src/pages/Landing/Landing.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

Add edit and unlock rate flag
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web

Fix type error
  services/app-web/src/pages/App/AppBody.tsx
Due: lint-app-web

Change `resolver/contractAndRate` to `resolver/rate`. (#2157)
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/fetchRate.ts
  services/app-api/src/resolvers/rate/index.ts
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-api/src/resolvers/rate/indexRates.ts
  services/app-api/src/resolvers/rate/rateResolver.ts
Due: lint-app-api

merge
  scripts/package.json
  services/app-web/package.json
  services/postgres/package.json
  services/uploads/package.json
  yarn.lock
Due: none
