Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

more cleaning
  .github/workflows/deploy-infra-to-env.yml
Due: none

Remove comments
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

Split consolidated helpers.
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web

Replaced consolidated helpers with individual helpers.
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.test.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
Due: lint-app-web

move nr license key
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  services/app-web/serverless.yml
  services/infra-api/serverless.yml
Due: none

fix nr license key
  services/infra-api/serverless.yml
Due: none

fix ld_sdk_key
  services/app-api/serverless.yml
Due: none

[MR-2121] 404 Not Found page flickers when going from Dashboard to unlocked submission review and submit (#1032)
  services/app-api/src/resolvers/fetchHealthPlanPackage.ts
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web, lint-app-api

Add rate date certified to tests as hardcoded value, again reduce chance of snapshots diverging
  services/app-api/src/emailer/emails/__snapshots__/newPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/newPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/resubmitPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
Due: lint-app-api

Unify error handling and add more user friendly UI to modal errors
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.tsx
  services/app-web/src/components/Modal/Modal.tsx
  services/app-web/src/gqlHelpers/mutationWrappers.ts
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
Due: lint-app-web, lint-app-api

Add tests for href string being properly formatted
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
Due: lint-app-api

Clean ld_sdk_key var in promote/deploy
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
Due: none

Move iam_path to ssm
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  services/app-api/serverless.yml
  services/infra-api/serverless.yml
  services/postgres/serverless.yml
  services/ui-auth/serverless.yml
  services/uploads/serverless.yml
Due: none

use ssm direct in iam statement
  services/app-api/serverless.yml
  services/infra-api/serverless.yml
  services/postgres/serverless.yml
  services/ui-auth/serverless.yml
  services/uploads/serverless.yml
Due: none

Add `PARAMETER_STORE_MODE` config variable
  .envrc
  services/app-api/serverless.yml
Due: none

Use `PARAMETER_STORE_MODE` config variable
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

Renaming parameterStore modules.
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/parameterStore/emailParameterStore.ts
  services/app-api/src/parameterStore/index.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/parameterStoreHelpers.ts
Due: lint-app-api

change up pathing on iam
  services/app-api/serverless.yml
  services/infra-api/serverless.yml
  services/postgres/serverless.yml
  services/ui-auth/serverless.yml
  services/uploads/serverless.yml
Due: none

react app otel collector ssm
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  services/app-api/serverless.yml
Due: none

return Error from renderTemplate rather than throw Error
  services/app-api/src/emailer/emailer.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

Fix failing app-web test
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
Due: lint-app-web

Move cloudfront domain name and cert arn
  .github/workflows/deploy-infra-to-env.yml
  services/storybook/serverless.yml
  services/ui/serverless.yml
Due: none

Maybe address issue with finding eta paths outside unit tests
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/templateHelpers.ts
Due: lint-app-api

change cloudfront refs
  .github/workflows/promote.yml
  services/storybook/serverless.yml
  services/ui/serverless.yml
Due: none

More cleanup
  services/app-api/src/emailer/templateHelpers.ts
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.tsx
Due: lint-app-web, lint-app-api

fix typo
  services/ui/serverless.yml
Due: none

Fix test.
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

Attempt to fix flaky test.
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  tests/cypress/support/commands.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: none

Adjust Modal.test.tsx to match new generic api error
  services/app-web/src/components/Modal/Modal.test.tsx
Due: lint-app-web

add eta templates
  services/app-api/webpack.config.js
Due: none

Mock dates properly in snapshot tests - make sure dates are static - make dates different btwn contract,rate, ammendment, rate certified
  services/app-api/src/emailer/emails/__snapshots__/newPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/newPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/resubmitPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/unlockPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/newPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
Due: lint-app-api

add path to eta array
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/webpack.config.js
Due: lint-app-api

fix pathing on eta template
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/webpack.config.js
Due: lint-app-api

Cleanup emailHelpers
  services/app-api/src/emailer/templateHelpers.ts
Due: lint-app-api

Fix bold text bug
  services/app-api/src/emailer/emails/__snapshots__/newPackageCMSEmail.test.ts.snap
  services/app-api/src/emailer/emails/__snapshots__/newPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/etaTemplates/packageSummary.eta
Due: lint-app-api

WIP rate start
  services/app-graphql/src/schema.graphql
  services/app-web/src/common-code/dateHelpers/calendarDate.ts
  services/app-web/src/common-code/healthPlanFormDataType/LockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/index.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
  services/app-web/src/formHelpers/formatters.ts
Due: lint-app-web

[MR-2376] Dependency injection for parameter store (#1045)
  .envrc
  services/app-api/serverless.yml
  services/app-api/src/emailer/templates.test.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/parameterStore/awsParameterStore.ts
  services/app-api/src/parameterStore/emailParameterStore.ts
  services/app-api/src/parameterStore/getStateAnalystEmails.test.ts
  services/app-api/src/parameterStore/getStateAnalystEmails.ts
  services/app-api/src/parameterStore/getStateAnalystsEmails.test.ts
  services/app-api/src/parameterStore/getStateAnalystsEmails.ts
  services/app-api/src/parameterStore/index.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/fetchHealthPlanPackage.test.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/parameterStoreHelpers.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  tests/cypress/support/commands.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web, lint-app-api

Address valid cyress fail - make error alert h eadings dyanmic again on UnlockSubmitModal and add tests
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.test.tsx
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.tsx
  services/app-web/src/components/Modal/Modal.test.tsx
  services/app-web/src/components/Modal/Modal.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/reviewAndSubmit.spec.ts
Due: lint-app-web

cleanup
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
Due: lint-app-web

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
