Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Update main storybook dependencies and remove deprecated package
  pnpm-lock.yaml
  services/app-web/.storybook/main.ts
  services/app-web/package.json
Due: none

dsnp section added
  services/app-web/src/components/Form/FieldYesNo/index.ts
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContractDetailsSummarySection.tsx
Due: lint-app-web

testing
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContractDetailsSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContractDetailsSummarySection.tsx
Due: lint-app-web

revert script
  services/app-api/scripts/prepare-prisma-layer.sh
Due: none

Update lock file from merge
  pnpm-lock.yaml
Due: none

add prismal layer build
  .github/workflows/cdk-deploy-production.yml
  pnpm-lock.yaml
  services/infra-cdk/bin/mcr-app.ts
  services/infra-cdk/lib/constructs/database/index.ts
  services/infra-cdk/lib/constructs/database/postgres-scripts-upload.ts
  services/infra-cdk/lib/constructs/frontend/app-web-integration.ts
  services/infra-cdk/lib/constructs/frontend/index.ts
  services/infra-cdk/lib/constructs/storage/index.ts
  services/infra-cdk/lib/constructs/storage/virus-scan-bucket.ts
  services/infra-cdk/lib/stacks/api-compute-stack.ts
  services/infra-cdk/lib/stacks/data-stack.ts
  services/infra-cdk/lib/stacks/database-operations-stack.ts
  services/infra-cdk/lib/stacks/frontend-stack.ts
  services/infra-cdk/lib/stacks/github-oidc-stack.ts
  services/infra-cdk/lib/stacks/guardduty-malware-protection-stack.ts
  services/infra-cdk/lib/stacks/index.ts
  services/infra-cdk/lib/stacks/lambda-layers-stack.ts
  services/infra-cdk/scripts/export-build-config.sh
  services/infra-cdk/scripts/validate-build-config.sh
  services/infra-cdk/src/lambdas/uploads/guardDutyScanProcessor.ts
  services/infra-cdk/status.md
Due: none

Revert frontend error handling changes
  packages/helpers/src/gql/apolloErrors.ts
  packages/mocks/src/apollo/contractGQLMock.ts
  services/app-api/src/handlers/__tests__/apollo_gql_http_status.test.ts
  services/app-api/src/handlers/__tests__/apollo_gql_status_codes.test.ts
Due: lint-app-api

Fix frontend error handling compatibility with ApolloError
  packages/helpers/src/gql/mutationWrappersForUserFriendlyErrors.ts
Due: none

initial set up
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateFormFields.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
Due: lint-app-web

feature flag for validation
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetailsSchema.ts
Due: lint-app-web

enable legacy deploy
  .github/actions/setup_env/action.yml
Due: none

ci-force-run
  .github/actions/setup_env/action.yml
Due: none

feature flag for validation (#3482)
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetailsSchema.ts
Due: lint-app-web

debug promote
  .github/actions/get_aws_credentials/action.yml
Due: none

use dynamic path to support recent versions
  services/app-api/scripts/prepare-prisma-layer.sh
Due: none

dsnp flag
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContractDetailsSummarySection.tsx
Due: lint-app-web

persist rate medicaid populations field
  packages/hpp/src/healthPlanPackages.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateFormFields.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/rateDetailsHelpers.ts
Due: lint-app-web

Add new hook function to set activeMainContentId used for skip to main content link.
  services/app-web/src/contexts/PageContext.tsx
Due: lint-app-web

Remove focus on header after loading page.
  services/app-web/src/components/PageHeading/PageHeading.tsx
Due: lint-app-web

Set the current active main content id to skip to.
  services/app-web/src/pages/App/AppBody.tsx
Due: lint-app-web

Consolidate Step indicator and set active main content id.
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Set active main content for every page with a side nav.
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/Settings/SettingsTables/AutomatedEmailsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/DivisionAssignmentTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/OauthClientsTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/pages/Settings/SettingsTables/SupportEmailsTable.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

add frontend validation
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateFormFields.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
Due: lint-app-web

add docs
  services/infra-cdk/docs/CDK_ARCHITECTURE_GUIDE.md
  services/infra-cdk/docs/SERVERLESS_TO_CDK_LAMBDA_GUIDE.md
  services/infra-cdk/lib/config/stage-config.ts
  services/infra-cdk/lib/constructs/api/api-endpoint.ts
  services/infra-cdk/lib/constructs/database/aurora-serverless-v2.ts
  services/infra-cdk/lib/stacks/api-compute-stack.ts
Due: none

Reset tab order on new route by focusing skip to main content link.
  services/app-web/src/pages/App/AppBody.tsx
Due: lint-app-web

Bump @prisma/client from 5.17.0 to 5.21.1 in the prisma group (#3472)
  pnpm-lock.yaml
  services/app-api/package.json
  services/app-api/scripts/prepare-prisma-layer.sh
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/postgres/package.json
Due: lint-app-api

refactor gusrd duty to smaller constructs
  services/infra-cdk/bin/mcr-app.ts
  services/infra-cdk/cdk.context.json
  services/infra-cdk/docs/SERVERLESS_TO_CDK_LAMBDA_GUIDE.md
  services/infra-cdk/lib/config/additional-constants.ts
  services/infra-cdk/lib/config/auth-urls.ts
  services/infra-cdk/lib/config/aws-resources.ts
  services/infra-cdk/lib/config/constants.ts
  services/infra-cdk/lib/config/index.ts
  services/infra-cdk/lib/config/lambda-handlers.ts
  services/infra-cdk/lib/config/limits.ts
  services/infra-cdk/lib/config/network.ts
  services/infra-cdk/lib/config/service-defaults.ts
  services/infra-cdk/lib/config/stage-config.ts
  services/infra-cdk/lib/constructs/api/waf-protected-api.ts
  services/infra-cdk/lib/constructs/base/base-stack.ts
  services/infra-cdk/lib/constructs/database/aurora-serverless-v2.ts
  services/infra-cdk/lib/constructs/frontend/static-website.ts
  services/infra-cdk/lib/constructs/guardduty/detector-manager.ts
  services/infra-cdk/lib/constructs/guardduty/index.ts
  services/infra-cdk/lib/constructs/guardduty/malware-protection-plan.ts
  services/infra-cdk/lib/constructs/guardduty/rescan-capability.ts
  services/infra-cdk/lib/constructs/guardduty/scan-event-processor.ts
  services/infra-cdk/lib/constructs/guardduty/virus-scan-policies.ts
  services/infra-cdk/lib/constructs/lambda/environment-factory.ts
  services/infra-cdk/lib/constructs/lambda/lambda-factory.ts
  services/infra-cdk/lib/constructs/lambda/otel-layer.ts
  services/infra-cdk/lib/stack-orchestrator.ts
  services/infra-cdk/lib/stacks/api-compute-stack.ts
  services/infra-cdk/lib/stacks/data-stack.ts
  services/infra-cdk/lib/stacks/database-operations-stack.ts
  services/infra-cdk/lib/stacks/frontend-stack.ts
  services/infra-cdk/lib/stacks/guardduty-malware-protection-stack.ts
  services/infra-cdk/lib/stacks/network-stack.ts
Due: none

added missing legend
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

cypress fix
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

last cypress fix?
  services/cypress/integration/stateWorkflow/stateSubmissionForm/submissionForm.spec.ts
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

[MCR-5365] state and cms sees dsnp flag (#3479)
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.tsx
  services/app-web/src/components/Form/FieldYesNo/index.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContractDetailsSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ContractDetailsSummarySection.tsx
  services/cypress/integration/stateWorkflow/stateSubmissionForm/submissionForm.spec.ts
  services/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

Fix mock data structure by removing top-level error fields
  packages/mocks/src/apollo/approveContractMocks.ts
  packages/mocks/src/apollo/healthPlanPackageGQLMock.ts
  packages/mocks/src/apollo/mcReviewSettingsGQLMocks.ts
  packages/mocks/src/apollo/userGQLMock.ts
Due: none

Fix frontend error handling to use handleApolloError
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/hooks/useContractForm.ts
  services/app-web/src/hooks/useHealthPlanPackageForm.ts
  services/app-web/src/pages/APIAccess/APIAccess.tsx
  services/app-web/src/pages/Errors/ErrorFailedRequestPage.tsx
  services/app-web/src/pages/Settings/SettingsErrorAlert.tsx
  services/app-web/src/pages/Settings/SettingsTables/DivisionAssignmentTable.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/pages/StateSubmission/ErrorOrLoadingPage.tsx
  services/app-web/src/pages/SubmissionSideNav/RateSummarySideNav.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
Due: lint-app-web

Remove problematic apollo_gql_http_status test file
  services/app-api/src/handlers/__tests__/apollo_gql_http_status.test.ts
Due: lint-app-api

Remove apollo_gql_status_codes test file
  services/app-api/src/handlers/__tests__/apollo_gql_status_codes.test.ts
Due: lint-app-api

added andi output to link
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

unit test fix
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
Due: lint-app-web

eslint fix
  services/app-web/.eslintrc
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
Due: lint-app-web
