Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

MR-2369: turn on rates db refactor flag for cypress (#1957)
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  services/cypress/integration/stateWorkflow/questionResponse/questionResponse.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/documents.spec.ts
  services/cypress/integration/stateWorkflow/virusScan/virusScan.spec.ts
  services/cypress/support/index.ts
  services/cypress/support/launchDarklyCommands.ts
  services/cypress/support/stateSubmissionFormCommands.ts
  services/cypress/support/submissionReviewCommands.ts
Due: none

fix up which we compare with
  services/app-api/src/handlers/proto_to_db.test.ts
Due: lint-app-api

error check
  services/app-api/src/handlers/proto_to_db.test.ts
Due: lint-app-api

Fix GQL errors on indexRates return, add test assertion that checks for errors even if data exists
  services/app-api/src/resolvers/contractAndRates/indexRates.test.ts
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
Due: lint-app-web, lint-app-api

Add extra test for change history order and count.
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: lint-app-web

Remove rate history from contract history.
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
Due: lint-app-api

Add a check for which query to wait for.
  services/cypress/support/navigateCommands.ts
Due: none

Apply suggestions from code review
  services/app-api/src/resolvers/healthPlanPackage/fetchHealthPlanPackage.test.ts
Due: lint-app-api

some fixes to the migrator
  services/app-api/src/domain-models/contractAndRates/convertContractWithRatesToHPP.ts
  services/app-api/src/handlers/proto_to_db.test.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_CleanupLastMigration.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_ContractRevisions.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_RateRevisions.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
Due: lint-app-api

fix ordering of contract revisions
  services/app-api/src/handlers/proto_to_db.test.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_ContractId.test.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_ContractId.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_ContractRevisions.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_RateRevisions.ts
Due: lint-app-api

update yarn.lock
  yarn.lock
Due: none

Fix contractWithHistoryToDomainModel.
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
Due: lint-app-api

debug helper.
  services/app-api/src/testHelpers/debugHelpers.ts
  services/app-api/src/testHelpers/index.ts
Due: lint-app-api

Update tests
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
Due: lint-app-api

Longer timeout looking for unlock button.
  services/cypress/support/dashboardCommands.ts
  services/cypress/support/loginCommands.ts
  services/cypress/support/submissionReviewCommands.ts
Due: none

add logic and corresponding test to ensure updateContract not called on draft submissions
  services/app-api/src/resolvers/contractResolvers/updateContractResolver.test.ts
  services/app-api/src/resolvers/contractResolvers/updateContractResolver.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.test.ts
Due: lint-app-api

Update services/app-api/src/resolvers/healthPlanPackage/indexHealthPlanPackages.test.ts
  services/app-api/src/resolvers/healthPlanPackage/indexHealthPlanPackages.test.ts
Due: lint-app-api

ensure contract is only updated when ratesrefactor flag is set
  services/app-api/src/resolvers/contractResolvers/updateContractResolver.ts
Due: lint-app-api

port over backend changes for mccrsid
  services/app-api/prisma/migrations/20231006180540_add_mccrs_id_to_contract_table/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/HealthPlanPackageType.ts
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/contractAndRates/convertContractWithRatesToHPP.ts
  services/app-api/src/postgres/contractAndRates/index.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/updateMCCRSID.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contractResolvers/updateContractResolver.test.ts
  services/app-api/src/resolvers/contractResolvers/updateContractResolver.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/mutations/updateContract.graphql
  services/app-graphql/src/queries/indexHealthPlanPackages.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

add position to actuary contacts
  services/app-api/src/handlers/proto_to_db.test.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_RateRevisions.ts
Due: lint-app-api

Increase timeouts for more docs.
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

replace updateMCCRSID with updateContract
  services/app-api/src/postgres/contractAndRates/index.ts
  services/app-api/src/postgres/contractAndRates/updateContract.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/contractResolvers/updateContractResolver.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

tests are suspiciously fixed
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
Due: lint-app-api

wip
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsTable.tsx
Due: lint-app-web

Skip tests for rate history.
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
Due: lint-app-api

add test for postgress updateContract function
  services/app-api/src/postgres/contractAndRates/updateContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateContract.ts
Due: lint-app-api

Migrate existing protos to Prisma tables (#1912)
  services/app-api/jest.config.ts
  services/app-api/package.json
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/convertContractWithRatesToHPP.ts
  services/app-api/src/handlers/proto_to_db.test.ts
  services/app-api/src/handlers/proto_to_db.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_CleanupLastMigration.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_ContractId.test.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_ContractId.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_ContractRevisions.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_RateRevisions.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
  services/app-api/src/testHelpers/protoMigratorHelpers.ts
  services/app-api/tsconfig.json
  services/uploads/package.json
  yarn.lock
Due: lint-app-api

test and fix how update contract with rates reads rateInfo.id
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
Due: lint-app-api

update migrators handling of submittedAt and unlocked rates
  services/app-api/src/handlers/proto_to_db.test.ts
  services/app-api/src/handlers/proto_to_db.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_ContractRevisions.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_RateRevisions.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
Due: lint-app-api

test for undefined on inlieu
  services/app-api/src/handlers/proto_to_db.test.ts
Due: lint-app-api

pass tx into findContractWithHistory. variable name changes for clarity.
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
Due: lint-app-api

Change setting id from revision id to rate id.
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
Due: lint-app-api

Fix tests for rate formData.id change.
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
Due: lint-app-api

connect related contract
  services/app-api/src/handlers/proto_to_db.test.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_RateRevisions.ts
Due: lint-app-api

fix tests proactively
  services/app-api/src/handlers/proto_to_db.test.ts
Due: lint-app-api

MR-3545, MR-2370: Fix change history, add cypress tests, and turn on remaining API Unit tests (#1959)
  services/app-api/src/handlers/proto_to_db.test.ts
  services/app-api/src/handlers/proto_to_db.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_ContractRevisions.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_RateRevisions.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
  services/app-api/src/resolvers/healthPlanPackage/fetchHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/indexHealthPlanPackages.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
  services/app-api/src/testHelpers/debugHelpers.ts
  services/app-api/src/testHelpers/index.ts
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  services/cypress/support/dashboardCommands.ts
  services/cypress/support/loginCommands.ts
  services/cypress/support/navigateCommands.ts
  services/cypress/support/stateSubmissionFormCommands.ts
  services/cypress/support/submissionReviewCommands.ts
Due: lint-app-web, lint-app-api

Everything but working links to related contracts
  services/app-api/src/domain-models/contractAndRates/revisionTypes.ts
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/constants/healthPlanPackages.ts
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsTable.tsx
Due: lint-app-web, lint-app-api

reorder to prevent breaking contract links
  services/app-api/src/handlers/proto_to_db.test.ts
  services/app-api/src/handlers/proto_to_db.ts
Due: lint-app-api
