Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

MCR-5591: Missing X-Content-Type-Options header (#3760)
  services/app-api/src/cors/configureCorsHelpers.test.ts
  services/app-api/src/cors/configureCorsHelpers.ts
Due: lint-app-api

fix sed in nr license key
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

add the key in the right place again
  .github/workflows/deploy-cdk.yml
Due: none

SharedRateCertDisplay
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
Due: lint-app-web

updated titles
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.tsx
Due: lint-app-web

added eqro feature flag
  packages/common-code/src/featureFlags/flags.ts
Due: none

added eqro feature flag (#3768)
  packages/common-code/src/featureFlags/flags.ts
Due: none

indicate the promote is -dev
  .github/workflows/promote-cdk.yml
Due: none

test promote to dev one last time
  .github/workflows/promote-cdk.yml
Due: none

clean promote task test
  .github/workflows/promote-cdk.yml
Due: none

removed merge conflict markers
  packages/submissions/src/contract/contractHelpers.ts
Due: none

removed deprecated formatting code
  services/app-web/src/formHelpers/formatters.test.ts
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/formHelpers/index.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

bump the layer to latest
  services/infra-cdk/lib/stacks/lambda-layers.ts
Due: none

Add entityType to ContractTable and apply migration with backfill
  services/app-api/prisma/migrations/20251022153932_add_entity_type_to_contract_table/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

Update resolver, postgres function and test.
  services/app-api/src/domain-models/contractAndRates/baseContractRateTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/insertContract.ts
  services/app-api/src/resolvers/contract/createContract.ts
  services/app-api/src/testHelpers/contractDataMocks.ts
Due: lint-app-api

removing rate name per design's input
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.tsx
Due: lint-app-web

add the val promote to promote-cdk
  .github/workflows/promote-cdk.yml
Due: none

fix
  services/app-web/src/pages/LinkYourRates/LinkRateSelect/LinkRateSelect.tsx
Due: lint-app-web

add _cdk suffix for sm to avoid collision
  services/infra-cdk/lib/stacks/postgres.ts
Due: none

fix the calling name
  services/postgres/src/logicalDatabaseManager.ts
Due: none

Add _cdk suffix for secrets manager in review environments (#3775)
  services/infra-cdk/lib/stacks/postgres.ts
  services/postgres/src/logicalDatabaseManager.ts
Due: none

Update schema and add migration with backfill.
  services/app-api/prisma/migrations/20251022212655_add_contract_submission_type_to_contract_table/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

Update API for contractSubmissionType
  services/app-api/src/domain-models/contractAndRates/baseContractRateTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/insertContract.ts
  services/app-api/src/resolvers/contract/createContract.ts
  services/app-api/src/testHelpers/contractDataMocks.ts
Due: lint-app-api

working for contract and rate questions
  services/app-api/src/postgres/contractAndRates/findAllContractsWithHistoryBySubmitInfo.ts
  services/app-api/src/resolvers/helpers.ts
Due: lint-app-api

fix destroy
  .github/workflows/destroy-cdk.yml
  .github/workflows/destroy.yml
Due: none

add logic for capturing changes to linked rates
  services/app-api/src/postgres/contractAndRates/findAllContractsWithHistoryBySubmitInfo.ts
  services/app-api/src/resolvers/helpers.ts
Due: lint-app-api

Add val to promote-cdk (#3777)
  .github/workflows/destroy-cdk.yml
  .github/workflows/destroy.yml
  .github/workflows/promote-cdk.yml
Due: none

MCR-5662: Add contractSubmissionType to db and apply backfill migration (#3779)
  services/app-api/prisma/migrations/20251022212655_add_contract_submission_type_to_contract_table/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/baseContractRateTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/insertContract.ts
  services/app-api/src/resolvers/contract/createContract.ts
  services/app-api/src/testHelpers/contractDataMocks.ts
Due: lint-app-api

use val oidc
  .github/workflows/promote-cdk.yml
Due: none

add slack alert
  .github/workflows/promote-cdk.yml
Due: none

[MCR-5318] State and CMS question page title (#3767)
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.tsx
Due: lint-app-web

Fix val promote OIDC provider (#3785)
  .github/workflows/promote-cdk.yml
Due: none

[MCR-5321] Refactor HPP references out of mocks + app-web (#3761)
  services/app-web/src/formHelpers/formatters.test.ts
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/formHelpers/index.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

destroy on oidc cdk last
  scripts/destroy-cdk.ts
Due: none

destroy on oidc cdk last (#3786)
  scripts/destroy-cdk.ts
Due: none

Update the domain type and parsing functions with contractSubmissionType
  services/app-api/src/domain-models/contractAndRates/baseContractRateTypes.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
Due: lint-app-api

Add test and update mock data.
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.test.ts
  services/app-api/src/postgres/contractAndRates/insertContract.test.ts
  services/app-api/src/testHelpers/contractDataMocks.ts
Due: lint-app-api

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
