Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Update database diagram
  docs/technical-design/database-diagram.md
Due: none

which one do they want
  services/app-web/src/index.tsx
Due: lint-app-web

comments
  services/app-api/src/handlers/reports.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
Due: lint-app-web, lint-app-api

add lockfile dir
  services/app-api/serverless.yml
Due: none

simplify status
  services/app-api/src/handlers/reports.ts
Due: lint-app-api

delegate scanning to lambdas
  services/uploads/serverless.yml
  services/uploads/src/auditUploads/auditUploads.test.ts
  services/uploads/src/auditUploads/auditUploads.ts
  services/uploads/src/auditUploads/scanFiles.ts
Due: none

better arn?
  services/uploads/serverless.yml
  services/uploads/src/auditUploads/auditUploads.ts
  services/uploads/src/avScan.ts
Due: none

full arn
  services/uploads/serverless.yml
Due: none

correct region
  services/uploads/serverless.yml
Due: none

fix up some of the dependencies
  services/uploads/serverless.yml
  services/uploads/src/auditUploads/auditUploads.test.ts
  services/uploads/src/auditUploads/auditUploads.ts
  services/uploads/src/auditUploads/scanFiles.ts
Due: none

clean up logging
  services/uploads/src/auditUploads/auditUploads.test.ts
  services/uploads/src/auditUploads/auditUploads.ts
  services/uploads/src/auditUploads/scanFiles.ts
  services/uploads/src/clamAV/clamAV.test.ts
  services/uploads/src/scanFiles.test.ts
Due: none

fix tests up some
  services/uploads/serverless.yml
  services/uploads/src/auditUploads/auditUploads.test.ts
  services/uploads/src/avScan.test.ts
  services/uploads/src/avScan.ts
  services/uploads/src/clamAV/clamAV.ts
  services/uploads/src/scanFiles.test.ts
  services/uploads/src/scanFiles.ts
Due: none

add update definitions test
  services/uploads/package.json
  services/uploads/src/clamAV/clamAV.ts
  services/uploads/src/s3.ts
  services/uploads/src/tags.ts
  services/uploads/src/updateAVDefinitions.test.ts
  yarn.lock
Due: none

Update HEAD pin for promote
  .github/workflows/promote.yml
Due: none

Add GitHub OIDC (#1402)
  .github/actions/get_aws_credentials/action.yml
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/promote.yml
  docs/architectural-decision-records/020-use-oidc-for-aws-credentials.md
  docs/architectural-decision-records/021-use-github-environments.md
  services/github-oidc/README.md
  services/github-oidc/package-lock.json
  services/github-oidc/package.json
  services/github-oidc/serverless.yml
Due: none

Remove pin
  .github/workflows/deploy.yml
Due: none

use yarn monorepo
  services/github-oidc/package-lock.json
  services/github-oidc/package.json
Due: none

Remove pin (#1502)
  .github/workflows/deploy.yml
Due: none

Cleanup and test helpers.
  services/app-api/src/postgres/questionAnswers/insertQuestion.ts
  services/app-api/src/resolvers/questionAnswers/createQuestion.test.ts
  services/app-api/src/resolvers/questionAnswers/createQuestion.ts
  services/app-api/src/resolvers/questionAnswers/indexQuestions..ts
  services/app-api/src/resolvers/questionAnswers/indexQuestions.test.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

fix local otel
  otel-collector-config.yml
Due: none

use yarn monorepo (#1501)
  services/github-oidc/package-lock.json
  services/github-oidc/package.json
Due: none

match serverless-offline versions
  services/uploads/package.json
  yarn.lock
Due: none

fix up intercepts and package versions
  services/app-web/src/contexts/TraceContext.tsx
  services/uploads/package.json
  tests/cypress/support/launchDarklyCommands.ts
  yarn.lock
Due: lint-app-web

Question table dateAdded to createdAt. Update diagram.
  docs/technical-design/database-diagram.md
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/QuestionsType.ts
  services/app-api/src/postgres/questionAnswers/findAllQuestionsByHealthPlanPackage.ts
  services/app-api/src/postgres/questionAnswers/insertQuestion.ts
  services/app-api/src/resolvers/questionAnswers/createQuestion.test.ts
  services/app-api/src/resolvers/questionAnswers/indexQuestions.test.ts
  services/app-graphql/src/mutations/createQuestion.graphql
  services/app-graphql/src/queries/indexQuestions.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

db migration file.
  services/app-api/prisma/migrations/20230214204143_change_question_date_added_to_created_at/migration.sql
Due: none

docs aren't clear
  services/app-web/src/index.tsx
Due: lint-app-web

match options
  tests/cypress/support/launchDarklyCommands.ts
Due: none

cors true cleanup
  services/app-api/serverless.yml
Due: none

revert to old package.
  services/app-web/package.json
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/index.tsx
  yarn.lock
Due: lint-app-web

bump and swap client key
  services/app-web/package.json
  services/app-web/serverless.yml
  services/app-web/src/index.tsx
  yarn.lock
Due: lint-app-web

MR-2990: Add index and create questions GQL operations (#1496)
  docs/technical-design/creating-endpoints.md
  docs/technical-design/database-diagram.md
  services/app-api/prisma/migrations/20230213203126_add_question_and_question_document_tables/migration.sql
  services/app-api/prisma/migrations/20230214204143_change_question_date_added_to_created_at/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/authn/cognitoAuthn.ts
  services/app-api/src/authn/index.ts
  services/app-api/src/authn/localAuthn.ts
  services/app-api/src/domain-models/QuestionsType.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/questionAnswers/findAllQuestionsByHealthPlanPackage.ts
  services/app-api/src/postgres/questionAnswers/index.ts
  services/app-api/src/postgres/questionAnswers/insertQuestion.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/questionAnswers/createQuestion.test.ts
  services/app-api/src/resolvers/questionAnswers/createQuestion.ts
  services/app-api/src/resolvers/questionAnswers/index.ts
  services/app-api/src/resolvers/questionAnswers/indexQuestions..ts
  services/app-api/src/resolvers/questionAnswers/indexQuestions.test.ts
  services/app-api/src/resolvers/user/updateCMSUser.test.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/mutations/createQuestion.graphql
  services/app-graphql/src/queries/indexQuestions.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

move update definitions into a global
  services/uploads/jest.config.ts
  services/uploads/serverless.yml
  services/uploads/src/auditUploads/auditUploads.test.ts
  services/uploads/src/avScan.test.ts
  services/uploads/src/scanFiles.test.ts
  services/uploads/src/testFetchAVDefinitions.ts
  services/uploads/src/updateAVDefinitions.test.ts
Due: none

add linting
  services/uploads/.eslintrc
  services/uploads/package.json
  services/uploads/src/updateAVDefinitions.test.ts
Due: none

fix linter errors
  services/uploads/.eslintrc
  services/uploads/package.json
  services/uploads/src/auditUploads/auditUploads.test.ts
  services/uploads/src/avScan.test.ts
  services/uploads/src/clamAV/clamAV.ts
  services/uploads/src/constants_old.js
  services/uploads/src/s3.ts
  services/uploads/src/scanFiles.test.ts
  services/uploads/src/testFetchAVDefinitions.ts
  services/uploads/src/updateAVDefinitions.test.ts
Due: none

refactor some dead code
  services/uploads/src/avScan.test.ts
  services/uploads/src/avScan.ts
  services/uploads/src/clamAV/clamAV.ts
  services/uploads/src/tags.ts
  services/uploads/src/updateAVDefinitions.test.ts
Due: none

should work on other machines now
  services/uploads/src/auditUploads/auditUploads.test.ts
  services/uploads/src/avScan.test.ts
  services/uploads/src/clamAV/clamAV.test.ts
  services/uploads/src/fs.ts
  services/uploads/src/scanFiles.test.ts
  services/uploads/src/testFetchAVDefinitions.ts
  services/uploads/src/updateAVDefinitions.test.ts
Due: none

Typo fix.
  services/app-web/src/pages/App/AppBody.tsx
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

Remove rates across submission flag and update code.
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
Due: lint-app-web

add uploads test to dev
  dev_tool/src/dev.ts
  dev_tool/src/test/uploads.ts
Due: none

reorg service layout
  services/uploads/serverless.yml
  services/uploads/src/auditUploads/auditUploads.ts
  services/uploads/src/auditUploads/index.ts
  services/uploads/src/avScan.ts
  services/uploads/src/clamAV/index.ts
  services/uploads/src/deps/clamAV/clamAV.test.ts
  services/uploads/src/deps/clamAV/clamAV.ts
  services/uploads/src/deps/clamAV/index.ts
  services/uploads/src/deps/clamAV/testData/badDummy.pdf
  services/uploads/src/deps/clamAV/testData/badList.csv
  services/uploads/src/deps/clamAV/testData/dummy.pdf
  services/uploads/src/deps/clamAV/testData/goodList.csv
  services/uploads/src/deps/s3.ts
  services/uploads/src/lambdas/avAuditFiles.ts
  services/uploads/src/lambdas/avAuditUploads.ts
  services/uploads/src/lambdas/avDownloadDefinitions.ts
  services/uploads/src/lambdas/avScan.ts
  services/uploads/src/lambdas/index.ts
  services/uploads/src/lib/auditUploads.test.ts
  services/uploads/src/lib/auditUploads.ts
  services/uploads/src/lib/avScan.test.ts
  services/uploads/src/lib/avScan.ts
  services/uploads/src/lib/scanFiles.test.ts
  services/uploads/src/lib/scanFiles.ts
  services/uploads/src/lib/tags.ts
  services/uploads/src/lib/updateAVDefinitions.test.ts
  services/uploads/src/lib/updateAVDefinitions.ts
  services/uploads/src/testFetchAVDefinitions.ts
  services/uploads/src/updateAVDefinitions.ts
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
