Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

packages for storybook
  package.json
  services/app-api/package.json
  services/app-web/jest.config.ts
  services/app-web/package.json
  yarn.lock
Due: none

testing lib versions
  services/app-web/jest.config.ts
  services/app-web/package.json
  services/app-web/tsconfig.json
  yarn.lock
Due: none

ignore adobe in otel
  services/app-web/src/contexts/TraceContext.tsx
Due: lint-app-web

tsconfig
  services/app-web/tsconfig.json
Due: none

ignore adobe in otel (#1765)
  services/app-web/src/contexts/TraceContext.tsx
Due: lint-app-web

rsync being weird
  .github/workflows/deploy.yml
Due: none

wrong dir
  .github/workflows/deploy.yml
Due: none

generate code
  .github/actions/setup_env/action.yml
Due: none

Update Cypress to 12.16.0
  package.json
  yarn.lock
Due: none

Use Cypress minor/patch versions.
  package.json
  yarn.lock
Due: none

move generation to setup
  .github/actions/setup_env/action.yml
  .github/workflows/deploy.yml
Due: none

another url
  services/app-web/src/contexts/TraceContext.tsx
Due: lint-app-web

Update docs/technical-design/launch-darkly-testing-approach.md
  docs/technical-design/launch-darkly-testing-approach.md
Due: none

MR-3480: Update Cypress to 12.16.0 (#1769)
  package.json
  yarn.lock
Due: none

MR-3452: add second url (#1771)
  services/app-web/src/contexts/TraceContext.tsx
Due: lint-app-web

try no externals
  services/app-api/webpack.config.js
Due: none

revert
  services/app-api/serverless.yml
  services/app-api/webpack.config.js
Due: none

update yarn
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/releases/yarn-3.6.0.cjs
  .yarnrc.yml
Due: none

small updates
  docs/technical-design/database-diagram.md
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.ts
Due: lint-app-api

fix import
  services/app-api/src/postgres/storeError.ts
Due: lint-app-api

add pkgID to error message
  services/app-api/src/handlers/migrate_rate_documents.ts
Due: lint-app-api

MR-3281: handle missing values (#1762)
  .github/workflows/deploy.yml
  .vscode/launch.json
  services/app-api/src/handlers/add_sha.ts
  services/app-api/src/handlers/reports.ts
Due: lint-app-api

Update services/app-web/src/pages/StateSubmission/RateDetails/PackagesWithSharedRates/PackagesWithSharedRates.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/PackagesWithSharedRates/PackagesWithSharedRates.tsx
Due: lint-app-web

change selector per feedback
  services/app-web/src/components/Form/ErrorSummary/ErrorSummary.tsx
Due: lint-app-web

Update to configure-aws-credentials@v2
  .github/actions/get_aws_credentials/action.yml
Due: none

Restore to configure-aws-credentials@v2
  .github/actions/get_aws_credentials/action.yml
Due: none

update thumbprints
  services/github-oidc/serverless.yml
Due: none

update thumbprints (#1775)
  services/github-oidc/serverless.yml
Due: none

Remove duplicate if conditions.
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
Due: lint-app-api

control select, update tests
  services/app-web/src/components/Form/ErrorSummary/ErrorSummary.tsx
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.tsx
  services/app-web/src/components/Select/PackageSelect/PackageSelect.test.tsx
  services/app-web/src/components/Select/PackageSelect/PackageSelect.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/PackagesWithSharedRates/PackagesWithSharedRates.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert/SingleRateCert.tsx
  services/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
Due: lint-app-web

more configs
  package.json
  services/app-api/package.json
  services/app-api/serverless.yml
  services/app-api/webpack.config.js
  services/app-proto/package.json
  services/app-web/package.json
  services/github-oidc/package.json
  services/infra-api/package.json
  services/postgres/package.json
  services/ui/package.json
  services/uploads/package.json
  yarn.lock
Due: none

cleanup
  services/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
Due: none

Supporting docs on RateDetails page (#1759)
  README.md
  docs/technical-design/launch-darkly-feature-flag-lifecycles.md
  docs/technical-design/launch-darkly-testing-approach.md
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/components/FileUpload/helpers.ts
  services/app-web/src/components/FileUpload/index.ts
  services/app-web/src/components/Form/ErrorSummary/ErrorSummary.tsx
  services/app-web/src/components/Form/FieldTextarea/FieldTextarea.tsx
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.tsx
  services/app-web/src/components/PoliteErrorMessage/PoliteErrorMessage.tsx
  services/app-web/src/components/Select/PackageSelect/PackageSelect.test.tsx
  services/app-web/src/components/Select/PackageSelect/PackageSelect.tsx
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.stories.tsx
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.test.tsx
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/contexts/S3Context.tsx
  services/app-web/src/documentHelpers/makeDocumentDateLookupTable.ts
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/formHelpers/index.ts
  services/app-web/src/formHelpers/validators.ts
  services/app-web/src/pages/StateSubmission/Contacts/ActuaryContactFields.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/PackagesWithSharedRates/PackagesWithSharedRates.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateCert/SingleRateCert.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
Due: lint-app-web

MR-3310: Rate migration (#1763)
  services/app-api/serverless.yml
  services/app-api/src/handlers/migrate_rate_documents.test.ts
  services/app-api/src/handlers/migrate_rate_documents.ts
Due: lint-app-api

Unlock tests
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
Due: lint-app-api

New error text to match existing conventions.
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/unlockRate.ts
Due: lint-app-api

Fix bad merge and tests.
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
Due: lint-app-api

email address change
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.tsx
  services/app-web/src/components/Banner/UserAccountWarningBanner/UserAccountWarningBanner.stories.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlert.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertFailedRequest.tsx
  services/app-web/src/components/Footer/Footer.tsx
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.test.tsx
  services/app-web/src/components/Header/UserLoginInfo/UserLoginInfo.tsx
  services/app-web/src/constants/errors.ts
  services/app-web/src/constants/index.ts
  services/app-web/src/hooks/useString.ts
  services/app-web/src/pages/QuestionResponse/QuestionResponse.tsx
Due: lint-app-web

MR-3414: Test rates refactor work (#1753)
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/unlockRate.ts
Due: lint-app-api
