Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

fix submit tests
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/resolvers/contract/submitContract.zipGeneration.test.ts
  services/app-api/src/resolvers/rate/submitRate.ts
Due: lint-app-api

updatred banner role
  services/app-web/src/pages/StateSubmission/PageBannerAlerts.tsx
Due: lint-app-web

Enhance OAuth documentation with client creation details
  docs/technical-design/oauth.md
Due: none

Refactor error handling in FileUpload, Documents, and Contacts components
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
Due: lint-app-web

Apollo upgrade main (#3418)
  .github/workflows/destroy.yml
  dev_tool/package.json
  pnpm-lock.yaml
  scripts/package.json
  services/app-api/package.json
  services/app-web/package.json
  services/app-web/src/components/FileUpload/FileUpload.tsx
  services/app-web/src/components/Form/FieldTextarea/FieldTextarea.tsx
  services/app-web/src/components/Modal/Modal.tsx
  services/app-web/src/components/Tables/RowCellElement.tsx
  services/app-web/src/components/Tables/index.ts
  services/app-web/src/components/index.ts
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadQuestionsForm.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadResponseForm.tsx
  services/app-web/src/pages/RateWithdraw/RateWithdraw.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.test.tsx
  services/app-web/src/pages/Settings/EditStateAssign/EditStateAssign.tsx
  services/app-web/src/pages/Settings/SettingsTables/StateAssignmentTable.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
  services/app-web/src/pages/SubmissionWithdraw/SubmissionWithdraw.tsx
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.tsx
  services/app-web/src/pages/UndoSubmissionWithdraw/UndoSubmissionWithdraw.tsx
  services/postgres/package.json
  services/uploads/package.json
  services/uploads/serverless.yml
  services/uploads/src/lambdas/avAuditFiles.ts
  services/uploads/src/lambdas/avAuditUploads.ts
  services/uploads/src/lambdas/rescanFailedFiles.test.ts
  services/uploads/src/lambdas/rescanFailedFiles.ts
  services/uploads/src/lambdas/rescanWorker.ts
  services/uploads/src/lib/auditUploads.test.ts
  services/uploads/src/lib/auditUploads.ts
  services/uploads/src/lib/scanFiles.ts
Due: lint-app-web

Refactor error handling in FileUpload, Documents, and Contacts components
  services/app-api/src/postgres/postgresErrors.ts
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/resolvers/contract/undoWithdrawContract.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/contract/updateContract.ts
  services/app-api/src/resolvers/contract/updateContractDraftRevision.ts
  services/app-api/src/resolvers/contract/withdrawContract.ts
  services/app-api/src/resolvers/oauthClient/createOauthClient.ts
  services/app-api/src/resolvers/oauthClient/deleteOauthClient.ts
  services/app-api/src/resolvers/oauthClient/updateOauthClient.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.ts
  services/app-api/src/resolvers/rate/fetchRate.ts
  services/app-api/src/resolvers/rate/indexRates.ts
  services/app-api/src/resolvers/rate/indexRatesStripped.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-api/src/resolvers/rate/undoWithdrawRate.ts
  services/app-api/src/resolvers/rate/unlockRate.ts
  services/app-api/src/resolvers/rate/withdrawRate.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.ts
  services/app-api/src/resolvers/settings/updateEmailSettings.ts
  services/app-api/src/resolvers/user/indexUsers.ts
  services/app-api/src/resolvers/user/updateDivisionAssignment.ts
  services/app-api/src/resolvers/user/updateStateAssignment.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.ts
Due: lint-app-api

Update OAuth documentation and improve token expiration handling
  docs/technical-design/oauth.md
  services/app-api/src/handlers/__tests__/oauth_token.test.ts
  services/app-api/src/oauth/__tests__/oauth2Server.test.ts
  services/app-api/src/oauth/oauth2Server.ts
Due: lint-app-api

MCR-5336 OAuth documentation (#3413)
  README.md
  docs/README.md
  docs/technical-design/oauth.md
  services/app-api/src/handlers/__tests__/oauth_token.test.ts
  services/app-api/src/oauth/__tests__/oauth2Server.test.ts
  services/app-api/src/oauth/oauth2Server.ts
Due: lint-app-api

Complete frontend ApolloError migration to GraphQLError
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/hooks/useContractForm.ts
  services/app-web/src/hooks/useHealthPlanPackageForm.ts
  services/app-web/src/pages/APIAccess/APIAccess.tsx
  services/app-web/src/pages/Errors/ErrorFailedRequestPage.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/RateWithdraw/RateWithdraw.tsx
  services/app-web/src/pages/Settings/Settings.tsx
  services/app-web/src/pages/Settings/SettingsErrorAlert.tsx
  services/app-web/src/pages/Settings/SettingsTables/DivisionAssignmentTable.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
  services/app-web/src/pages/StateSubmission/ErrorOrLoadingPage.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
  services/app-web/src/pages/SubmissionSideNav/RateSummarySideNav.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/app-web/src/pages/SubmissionWithdraw/SubmissionWithdraw.tsx
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.tsx
  services/app-web/src/pages/UndoSubmissionWithdraw/UndoSubmissionWithdraw.tsx
Due: lint-app-web

Complete helper functions and mock files migration
  APOLLO.md
  docs/technical-design/error-handling.md
  packages/helpers/src/gql/apolloErrors.ts
  packages/helpers/src/gql/mutationWrappersForUserFriendlyErrors.ts
  packages/mocks/src/apollo/approveContractMocks.ts
  packages/mocks/src/apollo/contractGQLMock.ts
  packages/mocks/src/apollo/healthPlanPackageGQLMock.ts
  packages/mocks/src/apollo/mcReviewSettingsGQLMocks.ts
  packages/mocks/src/apollo/userGQLMock.ts
  services/app-web/src/pages/APIAccess/APIAccess.tsx
Due: lint-app-web

Add graphql dependency to helpers and update pnpm-lock.yaml
  packages/helpers/package.json
  pnpm-lock.yaml
Due: none

Add user relationship to OAuth clients and rename table
  services/app-api/prisma/migrations/20250620130836_link_user_to_oauth_client_and_rename_table/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

Update OAuthClient model to link users and rename foreign key
  services/app-api/prisma/migrations/20250620130836_link_user_to_oauth_client_and_rename_table/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

Add getOAuthClientsByUserId method and corresponding tests
  services/app-api/src/postgres/oauth/oauthClientStore.test.ts
  services/app-api/src/postgres/oauth/oauthClientStore.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/user/insertUser.ts
  services/app-api/src/resolvers/oauthClient/createOauthClient.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

create dsnp flag
  packages/common-code/src/featureFlags/flags.ts
Due: none

Update database store methods for OAuth client user relationships
  .gitignore
  services/app-api/src/handlers/__tests__/oauth_token.test.ts
  services/app-api/src/scripts/createTestOAuthClient.ts
Due: lint-app-api

Add user field to OauthClient GraphQL type and resolver
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Fix OAuth client store tests to handle foreign key constraints
  services/app-api/src/postgres/oauth/oauthClientStore.test.ts
Due: lint-app-api

Improve OAuth client tests to create valid unique users
  services/app-api/src/postgres/oauth/oauthClientStore.test.ts
Due: lint-app-api

create dsnp flag (#3424)
  packages/common-code/src/featureFlags/flags.ts
Due: none

Refactor contract resolvers and health plan package functionality
  services/app-api/src/postgres/index.ts
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-api/src/resolvers/contract/createContract.ts
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.ts
  services/app-api/src/resolvers/errorUtils.ts
  services/app-api/src/resolvers/healthPlanPackage/createHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/fetchHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/indexHealthPlanPackages.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.ts
Due: lint-app-api

MCR-5306: Upload response buttons are not unique for accessibility (#3411)
  packages/mocks/src/apollo/rateDataMock.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/questionResponse/questionResolver.ts
  services/app-graphql/src/fragments/questionsEdgeFragment.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/QuestionResponse/QATable/CMSQuestionResponseTable.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QuestionDisplayTable.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QuestionResponseRound.tsx
  services/app-web/src/pages/QuestionResponse/QATable/StateQuestionResponseTable.tsx
Due: lint-app-web, lint-app-api

MCR-4191: MCCRS ID page refactored to use contract api (#3414)
  services/app-api/src/resolvers/contract/updateContract.test.ts
  services/app-api/src/resolvers/contract/updateContract.ts
  services/app-graphql/src/mutations/updateContract.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
Due: lint-app-web, lint-app-api

update statePrograms json
  packages/hpp/src/data/statePrograms.json
Due: none

update docs for updating state programs
  docs/technical-design/howto-update-state-programs.md
  scripts/import-programs.ts
Due: none

MCR-5373: Add and update IL state programs (#3426)
  docs/technical-design/howto-update-state-programs.md
  packages/hpp/src/data/statePrograms.json
  scripts/import-programs.ts
Due: none

update landing page copy
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

Add user mapping utility for Prisma User to GraphQL UserType conversion
  services/app-api/src/resolvers/oauthClient/userMapping.ts
Due: lint-app-api

create changelog and update PR template
  .github/pull_request_template.md
  API_Changelog.md
Due: none

md fix
  .github/pull_request_template.md
Due: none

Implement user existence check in createOauthClientResolver to enhance error handling. Update user mapping type to allow for flexible stateAssignments handling in GraphQL user conversion.
  services/app-api/src/resolvers/oauthClient/createOauthClient.ts
  services/app-api/src/resolvers/oauthClient/userMapping.ts
Due: lint-app-api

debug for otel
  services/app-api/package.json
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

cypress fix
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
Due: lint-app-web

more debug
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

MCR-5390 Add user relationship to OAuth clients and rename table (#3423)
  .gitignore
  services/app-api/prisma/migrations/20250620130836_link_user_to_oauth_client_and_rename_table/migration.sql
  services/app-api/prisma/migrations/20250623125913_remove_contactemail_from_oauth_client/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/handlers/__tests__/oauth_token.test.ts
  services/app-api/src/postgres/oauth/oauthClientStore.test.ts
  services/app-api/src/postgres/oauth/oauthClientStore.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/user/insertUser.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/oauthClient/createOauthClient.test.ts
  services/app-api/src/resolvers/oauthClient/createOauthClient.ts
  services/app-api/src/resolvers/oauthClient/deleteOauthClient.test.ts
  services/app-api/src/resolvers/oauthClient/deleteOauthClient.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.test.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.ts
  services/app-api/src/resolvers/oauthClient/updateOauthClient.test.ts
  services/app-api/src/resolvers/oauthClient/updateOauthClient.ts
  services/app-api/src/resolvers/oauthClient/userMapping.ts
  services/app-api/src/scripts/createTestOAuthClient.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/fragments/oauthUserFragment.graphql
  services/app-graphql/src/mutations/createOauthClient.graphql
  services/app-graphql/src/mutations/deleteOauthClient.graphql
  services/app-graphql/src/mutations/updateOauthClient.graphql
  services/app-graphql/src/queries/fetchOauthClients.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

even more debug
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

clean things
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

Refactor OAuth client store to use domain types
  services/app-api/src/postgres/oauth/oauthClientStore.ts
  services/app-api/src/resolvers/oauthClient/createOauthClient.ts
  services/app-api/src/resolvers/oauthClient/deleteOauthClient.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.ts
  services/app-api/src/resolvers/oauthClient/updateOauthClient.ts
  services/app-api/src/resolvers/oauthClient/userMapping.ts
Due: lint-app-api

fixes
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
Due: lint-app-web
