Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Bring back heading fix after bad merge
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
Due: lint-app-web

Fix: Error Page display (post sidebar refactor) and Headings (#2303)
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/Header/Header.module.scss
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/components/PageHeading/PageHeading.module.scss
  services/app-web/src/components/PageHeading/PageHeading.stories.tsx
  services/app-web/src/components/PageHeading/PageHeading.test.tsx
  services/app-web/src/components/PageHeading/PageHeading.tsx
  services/app-web/src/components/PageHeading/index.ts
  services/app-web/src/components/index.ts
  services/app-web/src/constants/routes.ts
  services/app-web/src/pages/Errors/Error404Page.tsx
  services/app-web/src/pages/Errors/ErrorFailedRequestPage.tsx
  services/app-web/src/pages/Errors/ErrorForbiddenPage.tsx
  services/app-web/src/pages/Errors/ErrorInvalidSubmissionStatusPage.tsx
  services/app-web/src/pages/Errors/GenericErrorPage.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.module.scss
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
Due: lint-app-web, lint-app-api

fix ReviewSubmitV2: Hide shared rates across submission when linked rates flag is on (#2340)
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web

reimplement test wip
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
Due: lint-app-web

update test
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
Due: lint-app-web

await user click
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
Due: lint-app-web

trying to work out import problems
  services/app-api/package.json
  yarn.lock
Due: none

Tiny refactor - now the only log that is repeating is on initial load, that seems alright
  services/app-web/src/hooks/useTealium.ts
Due: lint-app-web

Cleanup
  services/app-web/src/hooks/useTealium.ts
Due: lint-app-web

Add mock for updateContractDraftRates
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web

cleanup
  services/app-web/src/hooks/useTealium.ts
Due: lint-app-web

fix the linked rates test
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
Due: lint-app-web

Move page view back into one effect
  services/app-web/src/hooks/useTealium.ts
Due: lint-app-web

solution works, selected options are filtered out, cant get jest test to work properly at the moment however
  services/app-web/src/pages/LinkYourRates/LinkRateSelect.tsx
  services/app-web/src/pages/LinkYourRates/LinkYourRates.test.tsx
Due: lint-app-web

additional multi rate tests
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
  services/app-web/src/testHelpers/jestRateHelpers.tsx
Due: lint-app-web

fix partially filled out test
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
Due: lint-app-web

fix typo
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
Due: lint-app-web

syntax
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
Due: lint-app-web

remove console log
  services/app-web/src/hooks/useTealium.ts
Due: lint-app-web

rerun all jobs
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
Due: lint-app-web

initial commit of resolvers working
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-api/src/resolvers/contract/contractRevisionResolver.ts
  services/app-api/src/resolvers/contract/fetchContract.test.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-graphql/codegen.yml
  services/app-graphql/src/mutations/submitContract.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

WIP
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-graphql/src/schema.graphql
Due: lint-app-api

submitContract can only be called by state user
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/submitContract.ts
Due: lint-app-api

Simply FE by reading from new dateAdded field
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/DocumentTag.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.test.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/hooks/useDocument.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QATable.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanFormDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
Due: lint-app-web

Progress on backend with types
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/emailer/emails/sendQuestionResponseStateEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionStateEmail.test.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/submitRate.test.ts
  services/app-api/src/postgres/contractAndRates/submitRate.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractRates.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.ts
  services/app-api/src/resolvers/healthPlanPackage/contractAndRates/resolverHelper.test.ts
  services/app-api/src/resolvers/healthPlanPackage/contractAndRates/resolverHelpers.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/generateRateCertificationName.ts
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
Due: lint-app-api

testing finished
  services/app-web/src/pages/LinkYourRates/LinkYourRates.test.tsx
Due: lint-app-web

Rate Details Test (#2341)
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/jestRateHelpers.tsx
Due: lint-app-web

Fix another problem with Tealium load (#2337)
  services/app-web/src/contexts/PageContext.tsx
  services/app-web/src/hooks/useTealium.ts
  services/app-web/src/pages/StateSubmission/PageActions/PageActions.tsx
Due: lint-app-web

create submissionsummaryv2
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/SubmissionSummary/V2/SubmissionSummaryV2.tsx
Due: lint-app-web

create and use v2 version of contract details summary section component
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/SubmissionSummary/V2/ContractDetailsSummarySectionV2.tsx
  services/app-web/src/pages/SubmissionSummary/V2/SubmissionSummaryV2.tsx
Due: lint-app-web

temp comment out reviewsubmitv2 for testing
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
Due: lint-app-web

get submitContract working
  services/app-api/prisma/migrations/20240401220251_add_package_join_table/migration.sql
  services/app-api/prisma/migrations/20240401231337_add_draft_rate_join_table/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/contractTypes.ts
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/contractAndRates/packageSubmissions.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/contractAndRates/findAllContractsWithHistoryBySubmitInfo.ts
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractRates.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.ts
  services/app-graphql/codegen.yml
  services/app-graphql/src/schema.graphql
Due: lint-app-api

WIP - loosen types further and start fixing up transformation between domain model and prisma
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/domain-models/documents.ts
  services/app-api/src/emailer/emails/sendQuestionResponseStateEmail.test.ts
  services/app-api/src/emailer/emails/sendQuestionStateEmail.test.ts
  services/app-api/src/postgres/contractAndRates/prismaContractRateAdaptors.ts
  services/app-api/src/postgres/contractAndRates/submitRate.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractRates.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.test.ts
  services/app-api/src/resolvers/healthPlanPackage/contractAndRates/resolverHelper.test.ts
  services/app-api/src/resolvers/healthPlanPackage/contractAndRates/resolverHelpers.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/indexRates.test.ts
  services/app-api/src/testHelpers/documentHelpers.ts
  services/app-api/src/testHelpers/index.ts
  services/app-graphql/src/mutations/submitRate.graphql
  services/app-graphql/src/mutations/unlockRate.graphql
  services/app-graphql/src/mutations/updateDraftContractRates.graphql
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/queries/fetchRate.graphql
  services/app-graphql/src/queries/indexRates.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

add test helpers for contracts, test single linked rate
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/testHelpers/contractDataMocks.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-graphql/src/mutations/submitContract.graphql
  services/app-graphql/src/queries/fetchContract.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

fix after linting
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/submitContract.ts
Due: lint-app-api

WIP
  services/app-api/src/domain-models/documents.ts
  services/app-api/src/postgres/contractAndRates/prismaContractRateAdaptors.ts
  services/app-api/src/postgres/contractAndRates/submitRate.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
  services/app-api/src/postgres/contractAndRates/updateDraftRate.ts
  services/app-api/src/resolvers/healthPlanPackage/contractAndRates/resolverHelper.test.ts
Due: lint-app-api

testing
  services/app-web/src/pages/LinkYourRates/LinkYourRates.test.tsx
Due: lint-app-web

Fixup app-api tests
  services/app-api/src/postgres/contractAndRates/prismaContractRateAdaptors.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContractWithRates.ts
Due: lint-app-api

Progress towards date added displaying without errors
  services/app-web/src/formHelpers/formatters.ts
  services/app-web/src/gqlHelpers/contractsAndRates.ts
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContactsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
Due: lint-app-web

fix some bugs
  services/app-api/prisma/migrations/20240404083919_cascade_rate_joins/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/postgres/contractAndRates/updateDraftContractRates.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.ts
  services/app-graphql/src/mutations/updateDraftContractRates.graphql
Due: lint-app-api

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
