Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

add link change for mccrs website
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

add feature flag
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Replace `finds a full rate` with new test.
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
Due: lint-app-api

Don't use hardcoded UUIDs
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
Due: lint-app-api

Fix rate revisions contract revision.
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
Due: lint-app-api

cypress re-run
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web

Get basic filters working
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

remove character limit on mcccrs id field
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/MccrsId/MccrsIdSchema.ts
Due: lint-app-web

wip
  services/cypress/integration/cmsWorkflow/rateReview.spec.ts
Due: none

Skip any proceeding contract revisions with the same contractID.
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
Due: lint-app-api

cleanup
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
Due: lint-app-web

Add state filter and test
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

Fix jest warnings in tests.
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.test.tsx
Due: lint-app-web

prepopulate the mccrsID when available
  services/app-web/src/pages/MccrsId/MccrsId.tsx
Due: lint-app-web

styling changes from amanda
  services/app-web/src/components/SectionHeader/SectionHeader.module.scss
  services/app-web/src/components/SectionHeader/SectionHeader.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.module.scss
  services/app-web/src/pages/SubmissionSummary/RateSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
Due: lint-app-web

Remove comment.
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
Due: lint-app-api

Move rate type
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

wip edit test added
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
Due: lint-app-web

trim possible whitespace
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Fix rate history contract revisions (#2002)
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
Due: lint-app-api

Get basic filters working (#2003)
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.test.tsx
  services/app-web/src/components/SectionHeader/SectionHeader.module.scss
  services/app-web/src/components/SectionHeader/SectionHeader.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.module.scss
  services/app-web/src/pages/SubmissionSummary/RateSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/cypress/integration/cmsWorkflow/rateReview.spec.ts
Due: lint-app-web

cypress re-run
  services/app-web/src/components/SectionHeader/SectionHeader.module.scss
Due: lint-app-web

add edit tests
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
Due: lint-app-web

hide delete button
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
  services/app-web/src/pages/MccrsId/MccrsId.tsx
Due: lint-app-web

hide delete button
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
Due: lint-app-web

remove mccrs-record-number flag, delete button and blank entry validation
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/MccrsId/MccrsIdSchema.ts
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

cypress re-run
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
Due: lint-app-web

[MCR-3547] Add view for adding a mccrs record number (#1996)
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/components/SectionHeader/SectionHeader.module.scss
  services/app-web/src/components/SectionHeader/SectionHeader.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/constants/routes.ts
  services/app-web/src/constants/tealium.ts
  services/app-web/src/contexts/PageContext.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/MccrsId/MccrsIdSchema.ts
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

fix merge
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
Due: lint-app-web

banner styling, trim whitespace on update
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

allow updates for unlocked submissions
  services/app-api/src/resolvers/contract/updateContract.test.ts
  services/app-api/src/resolvers/contract/updateContract.ts
Due: lint-app-api

update test
  services/app-api/src/resolvers/contract/updateContract.ts
Due: lint-app-api

[MCR-2613] Edit MC-CRS number (#2008)
  services/app-api/src/resolvers/contract/updateContract.test.ts
  services/app-api/src/resolvers/contract/updateContract.ts
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web, lint-app-api

cascade rate deletions
  services/app-api/prisma/migrations/20231024044031_cascade_rates/migration.sql
  services/app-api/prisma/migrations/20231025000530_cascade_join_table/migration.sql
  services/app-api/prisma/schema.prisma
Due: none
