Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Remove multi-rate-submissions flag
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web

Update LD util for cypress upgrade and set delay on requests.
  tests/cypress/support/launchDarklyCommands.ts
Due: none

omg npm wheee
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
Due: lint-app-web

Regex
  tests/cypress/support/launchDarklyCommands.ts
Due: none

Add a11y label to icon, add contract support docs to snpashots after a test -u run
  services/app-web/src/components/DataDetail/DataDetail.tsx
  services/app-web/src/pages/SubmissionSummary/__snapshots__/SubmissionSummary.test.tsx.snap
Due: lint-app-web

Check for heading before filling out sections.
  tests/cypress/integration/cmsWorkflow/viewSubmission.spec.ts
Due: none

Snapshots begone.
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
Due: lint-app-web

Snip the snapshot.
  services/app-web/src/pages/SubmissionSummary/__snapshots__/SubmissionSummary.test.tsx.snap
Due: lint-app-web

Remove multi rate feature flags and add cypress test (#1392)
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/ContactsSummarySection/ContactsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/__snapshots__/SubmissionSummary.test.tsx.snap
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  tests/cypress/integration/cmsWorkflow/viewSubmission.spec.ts
  tests/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
  tests/cypress/support/index.ts
  tests/cypress/support/launchDarklyCommands.ts
  tests/cypress/support/navigateCommands.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

Address issues from code review
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web, lint-app-api

weave types through
  services/app-api/src/postgres/insertHealthPlanPackage.ts
  services/app-api/src/resolvers/createHealthPlanPackage.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedHealthPlanFormDataSchema.ts
  services/app-web/src/gqlHelpers/healthPlanPackages.ts
Due: lint-app-web, lint-app-api

Add in feature flags and ux for review and subimt
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

unrelated bugfix: - use unique keys for React arrays - remove required in zod- it is preventing save as draft behavior
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedHealthPlanFormDataSchema.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

initial commit - add yesno form field, get mocks and types in order
  services/app-graphql/src/schema.graphql
  services/app-proto/src/health_plan_form_data.proto
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/LockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.tsx
  services/app-web/src/components/Form/FieldYesNo/index.ts
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web

Upgrade FieldYesNo to handle variants and use everywhere yes/nos are found
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.module.scss
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.stories.tsx
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Simplify SubmissionType tests before adding addtl tests
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Add jest tests for risk based contract radio buttons. Clean up LD mock client logs by defining missing functions
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

Add handleMissingRequiredField function
  services/app-web/src/components/DataDetail/DataDetail.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/gqlHelpers/mutationWrappers.ts
Due: lint-app-web

Add a new proto because I've changed domain models
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-12-19.proto
Due: lint-app-web

Add conditional flag to yup schema
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionTypeSchema.ts
Due: lint-app-web

Adjust styles for empty state on state dashboard - for review by @JasonLin0991
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.module.scss
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.module.scss
Due: lint-app-web

Add tests to submission summary for missing fields, update snapshot, cleanup
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/index.ts
  services/app-web/src/components/SubmissionSummarySection/summarySectionHelpers.tsx
Due: lint-app-web

Clean up error handling in unlock and submit. Add errors constant. Ensure invalid user input errors on submit/resubmit have specific message
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.ts
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.tsx
  services/app-web/src/constants/errors.ts
  services/app-web/src/gqlHelpers/apolloErrors.ts
  services/app-web/src/gqlHelpers/index.ts
  services/app-web/src/gqlHelpers/mutationWrappers.ts
  services/app-web/src/gqlHelpers/mutationWrappersForUserFriendlyErrors.ts
Due: lint-app-web, lint-app-api

Add new error messages after design pairing
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.tsx
  services/app-web/src/components/DataDetail/DataDetail.module.scss
  services/app-web/src/components/DataDetail/DataDetail.tsx
  services/app-web/src/components/Modal/Modal.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/index.ts
  services/app-web/src/components/SubmissionSummarySection/summarySectionHelpers.tsx
  services/app-web/src/constants/errors.ts
Due: lint-app-web

app-web tests passing
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.test.tsx
Due: lint-app-web

app-api tests passing
  services/app-api/src/resolvers/createHealthPlanPackage.test.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-api

Further cleanup
  services/app-api/src/postgres/insertHealthPlanPackage.test.ts
  services/app-api/src/postgres/storeError.test.ts
  services/app-web/src/components/DataDetail/DataDetail.module.scss
  services/app-web/src/components/DataDetail/DataDetail.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
Due: lint-app-web, lint-app-api

Add more tests and storybook story for DataDetail with explainMissingFields
  services/app-web/src/components/DataDetail/DataDetail.stories.tsx
  services/app-web/src/components/DataDetail/DataDetail.test.tsx
Due: lint-app-web

Fix Cypress - use updated copy from design for error alerts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/reviewAndSubmit.spec.ts
Due: none

Add a11y label to icon, add contract support docs to snpashots after a test -u run
  services/app-web/src/components/DataDetail/DataDetail.tsx
Due: lint-app-web

slim our deps
  services/app-api/package.json
  services/app-api/src/emailer/emails/generateURLs.ts
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  yarn.lock
Due: lint-app-api

delete extra protos and update tests
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-10-27.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-11-15.proto
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
Due: lint-app-web

test updates
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
Due: lint-app-web

move generate next to other helpers
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-api/src/emailer/generateURLs.ts
Due: lint-app-api

[MR-2931] Fix email unlocked submission link (#1391)
  services/app-api/package.json
  services/app-api/src/emailer/emails/__snapshots__/unlockPackageStateEmail.test.ts.snap
  services/app-api/src/emailer/emails/newPackageCMSEmail.ts
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageCMSEmail.ts
  services/app-api/src/emailer/emails/resubmitPackageStateEmail.ts
  services/app-api/src/emailer/emails/unlockPackageCMSEmail.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.test.ts
  services/app-api/src/emailer/emails/unlockPackageStateEmail.ts
  services/app-api/src/emailer/generateURLs.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-web/package.json
  services/app-web/src/components/Modal/UnlockSubmitModal.test.tsx
  yarn.lock
Due: lint-app-web, lint-app-api

Fix riskBasedContract type errors.
  services/app-graphql/src/schema.graphql
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/pages/SubmissionSummary/__snapshots__/SubmissionSummary.test.tsx.snap
Due: lint-app-web

Fix riskBasedContract type errors.
  services/app-api/src/postgres/insertHealthPlanPackage.ts
  services/app-api/src/resolvers/createHealthPlanPackage.ts
Due: lint-app-api

Clean up LD implementation and narrow in selector for risk based radio.
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: none

revert mock removal
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web
