Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

use databaseSecret so rotation works as expected
  services/infra-cdk/lib/constructs/database/aurora-serverless-v2.ts
Due: none

revert back to just adding rotation to the existing secret
  services/infra-cdk/lib/constructs/database/aurora-serverless-v2.ts
Due: none

set rotation to happen every day for testing
  services/infra-cdk/lib/constructs/database/aurora-serverless-v2.ts
Due: none

import the secret again
  services/infra-cdk/lib/constructs/database/aurora-serverless-v2.ts
Due: none

revert importing secret, try adding rotation schedule to existing secret
  services/infra-cdk/lib/constructs/database/aurora-serverless-v2.ts
  services/infra-cdk/lib/stacks/postgres.ts
Due: none

rotate password every 30 days
  services/infra-cdk/lib/config/environments.ts
Due: none

Set gql operation and auth method in the span for all downstream events
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

Replace startSpan with withResolverSpan helper for otel tracing
  services/app-api/src/logger/logger.ts
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-api/src/resolvers/contract/contractRevisionResolver.ts
  services/app-api/src/resolvers/rate/rateResolver.ts
  services/app-api/src/resolvers/rate/rateRevisionResolver.ts
Due: lint-app-api

add log and trace errors in field resolvers
  services/app-api/src/resolvers/contract/contractResolver.ts
  services/app-api/src/resolvers/contract/contractRevisionResolver.ts
  services/app-api/src/resolvers/documents/documentZipPackageResolver.ts
  services/app-api/src/resolvers/questionResponse/questionResolver.ts
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.ts
  services/app-api/src/resolvers/rate/rateResolver.ts
  services/app-api/src/resolvers/shared/genericDocumentResolver.ts
Due: lint-app-api

Add requestId to resolver logs for trace correlation
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/logger/logger.ts
Due: lint-app-api

Add DSNP contracts extraction query
  scripts/dsnp-report/dsnp_contracts.sql
Due: none

Add DSNP spreadsheet generator
  scripts/dsnp-report/generate_dsnp_spreadsheet.py
Due: none

Add generate-dsnp-report wrapper
  scripts/dsnp-report/generate-dsnp-report
Due: none

Add DSNP report README
  scripts/dsnp-report/README.md
Due: none

Handle bad input and missing dependencies gracefully
  scripts/dsnp-report/generate_dsnp_spreadsheet.py
Due: none

extract allQuestionsAnswered logic into questionResponseHelpers
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/index.ts
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/questionResponseHelpers.ts
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.tsx
Due: lint-app-web

Refactor finding override doc by id
  services/app-api/src/postgres/documents/findAllDocuments.ts
  services/app-api/src/postgres/documents/findDocumentById.test.ts
  services/app-api/src/postgres/documents/findDocumentById.ts
  services/app-api/src/postgres/documents/findOverrideAddedDocuments.ts
  services/app-api/src/postgres/documents/findOverrideDocumentById.ts
  services/app-api/src/postgres/documents/index.ts
  services/app-api/src/postgres/prismaOverrideMergeHelpers.ts
Due: lint-app-api

copilot comments
  .github/workflows/deploy-datadog-monitors.yml
  infra/datadog/environments/prod.tfvars
  infra/datadog/monitors.tf
  infra/datadog/variables.tf
  services/infra-cdk/bin/datadog-infra.ts
  services/infra-cdk/lib/stacks/datadog-infra.ts
Due: none

MCR-6033 Hide Add question button for Rate if some questions don't have answers (#4554)
  .gitignore
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/index.ts
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/questionResponseHelpers.ts
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.tsx
Due: lint-app-web

shifting from sql to resolvers
  scripts/dsnp-report/README.md
  scripts/dsnp-report/dsnp_contracts.sql
  scripts/dsnp-report/generate-dsnp-report
  scripts/dsnp-report/generate_dsnp_spreadsheet.py
  services/app-api/package.json
  services/app-api/src/scripts/README.md
  services/app-api/src/scripts/dsnpReport.test.ts
  services/app-api/src/scripts/generate-dsnp-report
  services/app-api/src/scripts/generateDsnpReport.ts
Due: lint-app-api

shifting from sql to store method
  scripts/dsnp-report/README.md
  scripts/dsnp-report/dsnp_contracts.sql
  scripts/dsnp-report/generate-dsnp-report
  scripts/dsnp-report/generate_dsnp_spreadsheet.py
  services/app-api/package.json
  services/app-api/src/scripts/README.md
  services/app-api/src/scripts/dsnpReport.test.ts
  services/app-api/src/scripts/generate-dsnp-report
  services/app-api/src/scripts/generateDsnpReport.ts
Due: lint-app-api

fixes
  .husky/pre-commit
  infra/datadog/lint-staged.config.js
Due: none

tofu fmt -check
  .github/workflows/deploy-datadog-monitors.yml
Due: none

copilot fixes
  .github/workflows/deploy-datadog-monitors.yml
  infra/datadog/environments/dev.tfvars
  infra/datadog/environments/prod.tfvars
  infra/datadog/environments/val.tfvars
  infra/datadog/monitors.tf
  infra/datadog/variables.tf
Due: none

for gha auth
  .github/workflows/deploy-datadog-monitors.yml
Due: none

MCR-5661: Add Datadog monitoring infrastructure with OpenTofu (#4526)
  .github/workflows/deploy-datadog-monitors.yml
  .github/workflows/promote-cdk.yml
  .husky/pre-commit
  README.md
  infra/datadog/.gitignore
  infra/datadog/.terraform.lock.hcl
  infra/datadog/environments/dev.tfvars
  infra/datadog/environments/prod.tfvars
  infra/datadog/environments/val.tfvars
  infra/datadog/lint-staged.config.js
  infra/datadog/main.tf
  infra/datadog/monitors.tf
  infra/datadog/variables.tf
  services/infra-cdk/bin/datadog-infra.ts
  services/infra-cdk/lib/stacks/datadog-infra.ts
  services/infra-cdk/lib/stacks/index.ts
Due: none

Enables automatic Secrets Manager rotation for the Aurora PostgreSQL admin password. (#4540)
  services/infra-cdk/lib/config/environments.ts
  services/infra-cdk/lib/constructs/database/aurora-serverless-v2.ts
Due: none

update monitors.tf
  infra/datadog/monitors.tf
Due: none

Update to v9 action
  .github/workflows/deploy-datadog-monitors.yml
Due: none

Fix syntax on Datadog monitors (#4564)
  .github/workflows/deploy-datadog-monitors.yml
  infra/datadog/monitors.tf
Due: none

Add scope for Admin actions
  services/app-api/prisma/migrations/20260610154052_add_admin_submission_actions_o_auth_scope/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

Move oauthAuthorization.ts to oauth directory and add more helper functions
  services/app-api/src/authn/thirdPartyAuthn.ts
  services/app-api/src/oauth/oauthAuthorization.test.ts
  services/app-api/src/oauth/oauthAuthorization.ts
  services/app-api/src/resolvers/contract/approveContract.ts
  services/app-api/src/resolvers/contract/createContract.ts
  services/app-api/src/resolvers/contract/fetchContract.ts
  services/app-api/src/resolvers/contract/indexContracts.ts
  services/app-api/src/resolvers/contract/reverseApproveContract.ts
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/resolvers/contract/undoUnlockContract.ts
  services/app-api/src/resolvers/contract/undoWithdrawContract.ts
  services/app-api/src/resolvers/contract/unlockContract.ts
  services/app-api/src/resolvers/contract/updateContract.ts
  services/app-api/src/resolvers/contract/updateContractDraftRevision.ts
  services/app-api/src/resolvers/contract/updateDraftContractRates.ts
  services/app-api/src/resolvers/contract/withdrawContract.ts
  services/app-api/src/resolvers/documents/fetchDocument.ts
  services/app-api/src/resolvers/documents/generateUploadURL.ts
  services/app-api/src/resolvers/oauthClient/deleteOauthClient.test.ts
  services/app-api/src/resolvers/oauthClient/deleteOauthClient.ts
  services/app-api/src/resolvers/oauthClient/fetchOauthClients.test.ts
  services/app-api/src/resolvers/oauthClient/updateOauthClient.test.ts
  services/app-api/src/resolvers/oauthClient/updateOauthClient.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.ts
  services/app-api/src/resolvers/questionResponse/deleteContractQuestion.ts
  services/app-api/src/resolvers/rate/fetchRate.ts
  services/app-api/src/resolvers/rate/indexRates.ts
  services/app-api/src/resolvers/rate/indexRatesPaginated.ts
  services/app-api/src/resolvers/rate/submitRate.ts
  services/app-api/src/resolvers/rate/undoWithdrawRate.ts
  services/app-api/src/resolvers/rate/unlockRate.ts
  services/app-api/src/resolvers/rate/withdrawRate.ts
  services/app-api/src/resolvers/settings/updateEmailSettings.ts
  services/app-api/src/resolvers/user/updateDivisionAssignment.ts
  services/app-api/src/resolvers/user/updateStateAssignment.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.ts
Due: lint-app-api

Allow admin users to be assigned a oauth client
  packages/mocks/src/apollo/oauthGQLMocks.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/oauthClient/createOauthClient.test.ts
  services/app-api/src/resolvers/oauthClient/createOauthClient.ts
  services/app-graphql/src/fragments/oauthUserFragment.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/index.tsx
  services/app-web/src/pages/Settings/Oauth/CreateOauthClient.test.tsx
  services/app-web/src/pages/Settings/Oauth/CreateOauthClient.tsx
Due: lint-app-web, lint-app-api

Add large payload alert
  infra/datadog/monitors.tf
  infra/datadog/variables.tf
Due: none

copilot comments
  infra/datadog/monitors.tf
  infra/datadog/variables.tf
Due: none

MCR-5657: Add large payload alert (#4567)
  infra/datadog/monitors.tf
  infra/datadog/variables.tf
Due: none

Revert "MCR-6241: Remove prod block for oauth writes (#4513)"
  services/app-api/src/authorization/oauthAuthorization.test.ts
  services/app-api/src/authorization/oauthAuthorization.ts
Due: lint-app-api

Revert "MCR-6241: Remove prod block for oauth writes (#4513)" (#4568)
  services/app-api/src/authorization/oauthAuthorization.test.ts
  services/app-api/src/authorization/oauthAuthorization.ts
Due: lint-app-api
