Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Turn rate-cert-assurance flag on in tests that submit.
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  tests/cypress/integration/cmsWorkflow/viewSubmission.spec.ts
  tests/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/reviewAndSubmit.spec.ts
Due: none

Fix ordering in submission type summary.
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
Due: lint-app-web

Try waiting for href to exist
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

update apollo gateway (#1395)
  services/app-api/package.json
  yarn.lock
Due: none

Remove console.infos
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
Due: lint-app-api

Add some Lerna docs
  README.md
Due: none

add anchor link
  README.md
Due: none

fix syntax
  dev_tool/src/local/graphql.ts
Due: none

language
  README.md
Due: none

Use lerna commands in dev tool (#1413)
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  README.md
  app_api_test.sh
  app_web_test.sh
  dev_tool/package.json
  dev_tool/src/dev.ts
  dev_tool/src/local/api.ts
  dev_tool/src/local/graphql.ts
  dev_tool/src/local/postgres.ts
  dev_tool/src/local/proto.ts
  dev_tool/src/local/s3.ts
  dev_tool/src/local/storybook.ts
  dev_tool/src/local/web.ts
  nx.json
  package.json
  run_build.sh
  services/app-api/package.json
  services/app-graphql/package.json
  services/app-proto/package.json
  services/app-web/package.json
  services/uploads/package.json
Due: none

back to main
  .github/workflows/deploy.yml
Due: none

match prisma User and domain UserType
  services/app-api/src/authn/cognitoAuthn.test.ts
  services/app-api/src/authn/cognitoAuthn.ts
  services/app-api/src/domain-models/UserType.d.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/domain-models/user.test.ts
  services/app-api/src/postgres/deleteUserAssignedState.ts
  services/app-api/src/postgres/findUser.ts
  services/app-api/src/resolvers/createHealthPlanPackage.test.ts
  services/app-api/src/resolvers/createHealthPlanPackage.ts
  services/app-api/src/resolvers/fetchCurrentUser.test.ts
  services/app-api/src/resolvers/fetchHealthPlanPackage.test.ts
  services/app-api/src/resolvers/fetchHealthPlanPackage.ts
  services/app-api/src/resolvers/indexHealthPlanPackages.test.ts
  services/app-api/src/resolvers/indexHealthPlanPackages.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/updateHealthPlanFormData.test.ts
  services/app-api/src/resolvers/updateHealthPlanFormData.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-web/src/localAuth/LocalLogin.tsx
  services/app-web/src/localAuth/LocalUserType.ts
  services/app-web/src/localAuth/localAuth.test.ts
  services/app-web/src/pages/Auth/Signup.tsx
  services/app-web/src/pages/Auth/cognitoAuth.ts
Due: lint-app-web, lint-app-api

back to main (#1416)
  .github/workflows/deploy.yml
Due: none

fix up types
  services/app-api/src/authn/cognitoAuthn.ts
  services/app-api/src/domain-models/UserType.d.ts
  services/app-api/src/postgres/deleteUserAssignedState.ts
  services/app-api/src/postgres/findUser.ts
  services/app-api/src/postgres/insertUser.ts
  services/app-api/src/postgres/updateUserAssignedState.ts
  services/app-api/src/resolvers/fetchCurrentUser.test.ts
Due: lint-app-api

fix cognitoAuthn test
  services/app-api/src/authn/cognitoAuthn.test.ts
Due: lint-app-api

fix up gql resolvers/query
  services/app-api/src/resolvers/userResolver.ts
  services/app-graphql/src/queries/fetchCurrentUser.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Try waiting for href to exist (#1417)
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

Move common description and prerequisites to start of doc
  docs/technical-design/launch-darkly-testing-approach.md
Due: none

Add formatEmailAddress
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/etaTemplates/newPackageStateEmail.eta
  services/app-api/src/emailer/etaTemplates/partialStateNeedAssistance.eta
  services/app-api/src/emailer/formatters/formatEmailAddress.test.ts
  services/app-api/src/emailer/formatters/formatEmailAddress.ts
  services/app-api/src/emailer/formatters/index.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

Create wrapper and implement on the submission summary page
  services/app-web/src/documentHelpers/makeDocumentDateLookupTable.ts
  services/app-web/src/gqlHelpers/fetchHealthPlanPackageWrapper.ts
  services/app-web/src/gqlHelpers/healthPlanPackages.ts
  services/app-web/src/gqlHelpers/index.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

add to submissionRevisionSummary
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

use wrapper on the state submission page
  services/app-web/src/documentHelpers/makeDocumentKeyLookupList.ts
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
Due: lint-app-web

Clean up our type so we dont have to do combinations
  services/app-web/src/gqlHelpers/fetchHealthPlanPackageWrapper.ts
  services/app-web/src/gqlHelpers/healthPlanPackages.ts
  services/app-web/src/gqlHelpers/index.ts
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

cleanup wrapper a bit
  services/app-web/src/gqlHelpers/fetchHealthPlanPackageWrapper.ts
Due: lint-app-web

call updateHeading in an effect, cant update state locally
  .envrc
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

fix update banner bug
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Add offline launch darkly service with error logging.
  services/app-api/src/launchDarkly/launchDarkly.ts
Due: lint-app-api

Import defaultFeatureFlags.
  services/app-api/src/testHelpers/launchDarklyHelpers.ts
Due: lint-app-api

Pass context to getFeatureFlag.
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
Due: lint-app-api

Fallback to offlineLDService when LD fails to connect.
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

Try suggested fix for cypress error.
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

Change comment.
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

Memoize column data in reactTable to avoid re-mounting table cells
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
Due: lint-app-web

add count text for filters
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.module.scss
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.test.tsx
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
  yarn.lock
Due: lint-app-web

Get pruneDuplicateEmails working again and add unit tests
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/formatters/formatEmailAddress.ts
  services/app-api/src/emailer/formatters/formatEmailAddresses.test.ts
  services/app-api/src/emailer/formatters/formatEmailAddresses.ts
  services/app-api/src/emailer/formatters/index.ts
  services/app-api/src/emailer/templateHelpers.ts
Due: lint-app-api

Get pruneEmailDuplicates working properly with aliased emails
  services/app-api/src/emailer/formatters/formatEmailAddresses.test.ts
  services/app-api/src/emailer/formatters/formatEmailAddresses.ts
Due: lint-app-api

Fix validations for email by adding yup trim
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
Due: lint-app-web

changes per clarified ac
  services/app-web/src/common-code/formatters/pluralizer.ts
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.test.tsx
  services/app-web/src/components/HealthPlanPackageTable/HealthPlanPackageTable.tsx
Due: lint-app-web

fix: MR-2933 Formatting in state submission confirmation email. Add formatEmailAddress (#1420)
  services/app-api/src/emailer/emails/newPackageStateEmail.ts
  services/app-api/src/emailer/etaTemplates/newPackageStateEmail.eta
  services/app-api/src/emailer/etaTemplates/partialStateNeedAssistance.eta
  services/app-api/src/emailer/formatters/formatEmailAddresses.test.ts
  services/app-api/src/emailer/formatters/formatEmailAddresses.ts
  services/app-api/src/emailer/formatters/index.ts
  services/app-api/src/emailer/templateHelpers.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api
