Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Update promote based on Cypress docs
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
Due: none

revert changes in deploy.yml
  .github/workflows/deploy.yml
Due: none

revert version change
  .github/workflows/promote.yml
Due: none

Remove matrix: containers
  .github/workflows/promote.yml
Due: none

Keep fixing random stuff
  .github/workflows/promote.yml
Due: none

update to latest programs for NM
  services/app-api/src/data/statePrograms.json
Due: lint-app-api

Adjust promote, deploy workflows for Cypress flakes (#1337)
  .github/workflows/promote.yml
Due: none

update to latest programs for NM (#1340)
  services/app-api/src/data/statePrograms.json
Due: lint-app-api

Add unique group names for single thread run
  .github/workflows/promote.yml
Due: none

add ci-build-id
  .github/workflows/promote.yml
Due: none

Remove commas that shouldnt be there
  .github/workflows/promote.yml
Due: none

Address bug with promote workflow (#1341)
  .github/workflows/promote.yml
Due: none

first pass
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.module.scss
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
Due: lint-app-web

Remove cypress dev/val steps from promote
  .github/workflows/promote.yml
Due: none

Cleanup
  .github/workflows/promote.yml
Due: none

working
  services/app-proto/src/health_plan_form_data.proto
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedHealthPlanFormDataSchema.ts
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
Due: lint-app-web

sync statePrograms copies
  services/app-api/src/data/statePrograms.json
  services/app-web/src/common-code/data/statePrograms.json
Due: lint-app-web, lint-app-api

new tests
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
Due: lint-app-web

add single question design
  docs/technical-design/database-diagram.md
Due: none

mark as mermaid
  docs/technical-design/database-diagram.md
Due: none

Add retroactive ADR on developer testing accounts for state user (#1329)
  docs/architectural-decision-records/019-developer-accounts-in-prod.md
  docs/templates/decision-record-template.md
  services/app-api/src/handlers/reports.ts
  services/app-api/src/postgres/findAllHealthPlanPackagesBySubmittedAt.ts
  services/app-api/src/postgres/findAllRevisions.ts
  services/app-api/src/postgres/findStatePrograms.ts
  services/app-api/src/postgres/index.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

split out future designs and respond to comments
  docs/technical-design/database-diagram.md
  docs/technical-design/future-designs/qa-db.md
Due: none

Remove Cypress checks for dev/val on promote to prod workflow (#1342)
  .github/workflows/promote.yml
Due: none

add index for future designs
  docs/technical-design/future-designs/index.md
Due: none

sync statePrograms copies (#1344)
  services/app-api/src/data/statePrograms.json
  services/app-web/src/common-code/data/statePrograms.json
Due: lint-app-web, lint-app-api

Move into the lambda env
  services/app-api/package.json
Due: none

Add dynamic package names to linked rate docs on review and summary pages
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
Due: lint-app-web

bring packages back into lambda env
  services/app-api/serverless.yml
Due: none

Save more space if possible
  services/app-api/scripts/prepare-prisma-layer.sh
Due: none

try just the query engine
  services/app-api/scripts/prepare-prisma-layer.sh
Due: none

revert, it needs both
  services/app-api/scripts/prepare-prisma-layer.sh
Due: none

Add fallback UI to display when CMS user looks at draft subission. Also cleanup.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
Due: lint-app-web

Use a symlink
  services/app-api/scripts/prepare-prisma-layer.sh
Due: none

Since we are linking for draft submissions, make sure that is handled properly for state users
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

symlink doesn't work. revert to individual package
  services/app-api/scripts/prepare-prisma-layer.sh
  services/app-api/serverless.yml
Due: none

Fix snapshot tests - I think this diff means we weren't fully rendering documents table?
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/__snapshots__/SubmissionSummary.test.tsx.snap
Due: lint-app-web

line endings
  docs/technical-design/future-designs/index.md
Due: none

go back to one stateprograms.json
  scripts/import-programs.ts
  services/app-api/src/data/statePrograms.json
  services/app-api/src/handlers/reports.ts
  services/app-api/src/postgres/findPrograms.ts
  services/app-api/src/postgres/findStatePrograms.ts
  services/app-api/src/resolvers/healthPlanPackageResolver.ts
  services/app-api/src/resolvers/userResolver.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

Add `@tanstack/react-table`
  services/app-web/package.json
  yarn.lock
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
