Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

add subnet type
  services/infra-cdk/lib/stacks/virus-scanning.ts
Due: none

config clash
  services/infra-cdk/lib/stacks/virus-scanning.ts
Due: none

fix up user data script for timing
  services/infra-cdk/scripts/clamav-bootstrap.sh
Due: none

testing
  .github/workflows/sechub-jira-sync.yml
Due: none

testing token
  .github/workflows/sechub-jira-sync.yml
Due: none

updated token
  .github/workflows/sechub-jira-sync.yml
Due: none

removed definitions bucket from yml file
  services/uploads/serverless.yml
Due: none

tcp socket only
  services/infra-cdk/scripts/clamav-bootstrap.sh
Due: none

remove various fetchHPP mocks and refactor test
  packages/mocks/src/apollo/healthPlanPackageGQLMock.ts
  packages/mocks/src/apollo/questionResponseGQLMock.ts
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
Due: lint-app-web

remove remaining teset related fetchHealthPlanPackage instances
  packages/mocks/src/apollo/healthPlanPackageGQLMock.ts
  packages/mocks/src/apollo/questionResponseGQLMock.ts
Due: none

remove instances of indexHealthPlanPackage mocks
  packages/mocks/src/apollo/healthPlanPackageGQLMock.ts
Due: none

remove indexHPP from test and mocks
  packages/mocks/src/apollo/healthPlanPackageGQLMock.ts
  services/app-web/src/pages/App/AppBody.test.tsx
Due: lint-app-web

port over updateTestHPP removal
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

call zipGeneration on fetch
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/fetchContract.ts
Due: lint-app-api

disable socket activation
  services/infra-cdk/scripts/clamav-bootstrap.sh
Due: none

simple bootstrap
  services/infra-cdk/scripts/clamav-bootstrap.sh
Due: none

testing to see if my removal of the policy is causing issues
  services/uploads/serverless.yml
Due: none

confirmed removed code had no influence on the error
  services/uploads/serverless.yml
Due: none

MCR-5283: Remove fetchHealthPlanPackage, indexHealthPlanPackage and updateTestHealthPlanPackage from test (#3676)
  packages/mocks/src/apollo/healthPlanPackageGQLMock.ts
  packages/mocks/src/apollo/questionResponseGQLMock.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-web/src/pages/App/AppBody.test.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
Due: lint-app-web, lint-app-api

updated token (#3671)
  .github/workflows/sechub-jira-sync.yml
Due: none

from env var
  services/infra-cdk/lib/stacks/virus-scanning.ts
Due: none

Update sechub-jira-sync.yml
  .github/workflows/sechub-jira-sync.yml
Due: none

regenerate zip links on withdraw and undowithdraw contract
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/undoWithdrawContract.ts
  services/app-api/src/resolvers/contract/withdrawContract.ts
Due: lint-app-api

from attr
  services/infra-cdk/lib/stacks/virus-scanning.ts
Due: none

revert
  services/infra-cdk/lib/stacks/virus-scanning.ts
Due: none

filter subnets
  services/infra-cdk/lib/stacks/virus-scanning.ts
Due: none

adding jira host
  .github/workflows/sechub-jira-sync.yml
Due: none

confirmed everything is working
  .github/workflows/sechub-jira-sync.yml
Due: none

small for testing
  services/infra-cdk/lib/stacks/virus-scanning.ts
Due: none

debug the connection more
  services/infra-cdk/lib/stacks/virus-scanning.ts
  services/uploads/src/lambdas/testConnectivity.ts
Due: none

[MCR-5443] Sechub Fix (#3685)
  .github/workflows/sechub-jira-sync.yml
Due: none

removed CLAMAV_BUCKET_NAME
  services/uploads/src/deps/clamAV/clamAV.ts
  services/uploads/src/lambdas/avScan.ts
  services/uploads/src/lambdas/rescanWorker.ts
Due: none

regenerate zip links on withdraw and undowithdraw contract (#3684)
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/undoWithdrawContract.ts
  services/app-api/src/resolvers/contract/withdrawContract.ts
Due: lint-app-api

Resolve lock file
  pnpm-lock.yaml
Due: none

New Secrets Updated
  .github/workflows/sechub-jira-sync.yml
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
