Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

fix excessive ternary check
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

Update services/infra-cdk/lib/stacks/app-api.ts
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

Update services/infra-cdk/lib/stacks/postgres.ts
  services/infra-cdk/lib/stacks/postgres.ts
Due: none

add accesslogformat
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

Add cloudwatch INFO logs on api gateway (#3944)
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

co-pilot suggestions
  dev_tool/src/aws.ts
  dev_tool/src/jumpbox.ts
Due: none

Fix unlock rate button redirection path
  services/app-web/src/pages/RateSummary/RateSummary.tsx
Due: lint-app-web

Fix unlock rate button redirection path (#3950)
  services/app-web/src/pages/RateSummary/RateSummary.tsx
Due: lint-app-web

Update dev_tool/src/jumpbox.ts
  dev_tool/src/jumpbox.ts
Due: none

Add new IL state program
  packages/submissions/src/statePrograms/statePrograms.json
Due: none

Add new IL state program (#3952)
  packages/submissions/src/statePrograms/statePrograms.json
Due: none

add sechub required perm
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

allow requests with no origin specified
  services/app-api/src/cors/configureCorsHelpers.ts
Due: lint-app-api

skip missing origin tests
  services/app-api/src/cors/configureCorsHelpers.test.ts
Due: lint-app-api

Allow requests with no origin specified (#3958)
  services/app-api/src/cors/configureCorsHelpers.test.ts
  services/app-api/src/cors/configureCorsHelpers.ts
Due: lint-app-api

MC - 5793 Add form field validations and error handling to EQRO contract details page (#3947)
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROContractDetails/EQROContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
Due: lint-app-web

generating map from statePrograms.json
  packages/common-code/src/formatters/index.ts
  packages/common-code/src/formatters/stateNameToCode.ts
  packages/common-code/src/formatters/stateNameToStateCode.ts
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

[MCR-5789] Update the State column to consistently reflect the state acronym (#3948)
  packages/common-code/src/formatters/index.ts
  packages/common-code/src/formatters/stateNameToStateCode.ts
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
Due: lint-app-web

open sans loading
  services/app-web/index.html
  services/app-web/src/styles/overrides.scss
Due: lint-app-web

add sechub required perm (#3957)
  services/infra-cdk/lib/stacks/app-api.ts
Due: none

Update dev tool to use CDK deployed instance for db download (#3943)
  dev_tool/src/aws.ts
  dev_tool/src/dev.ts
  dev_tool/src/jumpbox.ts
  pnpm-lock.yaml
Due: none

Create memoized header component for page heading
  packages/constants/src/routes.ts
  services/app-web/src/components/Header/Header.module.scss
  services/app-web/src/components/Header/PageHeadingRow/StateHeading.tsx
  services/app-web/src/components/Header/index.ts
  services/app-web/src/hooks/index.ts
  services/app-web/src/hooks/useMemoizedHeaders.tsx
Due: lint-app-web

Remove other method of implementing the new header. Clean up tests.
  services/app-web/src/components/Header/Header.test.tsx
  services/app-web/src/components/Header/Header.tsx
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.test.tsx
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/contexts/PageContext.tsx
  services/app-web/src/routeHelpers/getRouteName.ts
Due: lint-app-web

Implement memoized header component for submission pages.
  services/app-web/src/hooks/useContractForm.ts
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadContractQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadContractResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadRateResponse.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/RateWithdraw/RateWithdraw.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ReviewSubmit/ReviewSubmit.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/pages/SubmissionWithdraw/SubmissionWithdraw.tsx
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.tsx
  services/app-web/src/pages/UndoSubmissionWithdraw/UndoSubmissionWithdraw.tsx
Due: lint-app-web

Fix documentation
  docs/technical-design/oauth.md
Due: none

Use useLayoutEffect for header updates
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadContractQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadContractResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadRateResponse.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/RateWithdraw/RateWithdraw.tsx
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROReviewSubmit/EQROReviewSubmit.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/pages/SubmissionWithdraw/SubmissionWithdraw.tsx
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.tsx
  services/app-web/src/pages/UndoSubmissionWithdraw/UndoSubmissionWithdraw.tsx
Due: lint-app-web

Remove setting old heading.
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROReviewSubmit/EQROReviewSubmit.tsx
Due: lint-app-web

Abstract out duplicate code.
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROContractDetails/EQROContractDetails.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/SharedSubmissionComponents/ContractDatesErrorMessage.tsx
  services/app-web/src/pages/StateSubmission/SharedSubmissionComponents/index.ts
  services/app-web/src/pages/StateSubmission/submissionUtils.tsx
Due: lint-app-web

Clean up comments
  services/app-web/src/components/Header/PageHeadingRow/StateHeading.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
Due: lint-app-web

open sans loading (#3963)
  services/app-web/index.html
  services/app-web/src/styles/overrides.scss
Due: lint-app-web

add filter for contract type
  services/app-web/src/components/ContractTable/ContractTable.tsx
Due: lint-app-web

Update modal text
  services/app-web/src/components/Modal/ModalBodyContent/EQROModalDescription.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
Due: lint-app-web

Update review submit page text
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROReviewSubmit/EQROReviewSubmit.module.scss
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROReviewSubmit/EQROReviewSubmit.test.tsx
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROReviewSubmit/EQROReviewSubmit.tsx
Due: lint-app-web

Use our defined color variables instead of hex color.
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
Due: lint-app-web

updated aria label
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

Fix margins
  services/app-web/src/components/Modal/ModalBodyContent/EQROModalDescription.tsx
Due: lint-app-web

MCR-5708: follow on additional fixes for new header (#3964)
  docs/technical-design/oauth.md
  packages/constants/src/routes.ts
  services/app-web/src/components/Header/Header.module.scss
  services/app-web/src/components/Header/Header.test.tsx
  services/app-web/src/components/Header/Header.tsx
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.test.tsx
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/components/Header/PageHeadingRow/StateHeading.tsx
  services/app-web/src/components/Header/index.ts
  services/app-web/src/contexts/PageContext.tsx
  services/app-web/src/hooks/index.ts
  services/app-web/src/hooks/useContractForm.ts
  services/app-web/src/hooks/useMemoizedHeaders.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/ContractQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseSummary/RateQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadContractQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/UploadRateQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadContractResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/UploadRateResponse.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/RateWithdraw/RateWithdraw.tsx
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROContractDetails/EQROContractDetails.tsx
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROReviewSubmit/EQROReviewSubmit.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ReviewSubmit/ReviewSubmit.tsx
  services/app-web/src/pages/StateSubmission/SharedSubmissionComponents/ContractDatesErrorMessage.tsx
  services/app-web/src/pages/StateSubmission/SharedSubmissionComponents/index.ts
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/submissionUtils.tsx
  services/app-web/src/pages/SubmissionReleasedToState/ReleasedToState.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/EQROSubmissionSummary/EQROSubmissionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
  services/app-web/src/pages/SubmissionWithdraw/SubmissionWithdraw.tsx
  services/app-web/src/pages/UndoRateWithdraw/UndoRateWithdraw.tsx
  services/app-web/src/pages/UndoSubmissionWithdraw/UndoSubmissionWithdraw.tsx
  services/app-web/src/routeHelpers/getRouteName.ts
Due: lint-app-web

updated aria label (#3970)
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

MCR-5862: update informational text on EQRO review and submit page (#3969)
  services/app-web/src/components/Modal/ModalBodyContent/EQROModalDescription.tsx
  services/app-web/src/components/Modal/UnlockSubmitModal.tsx
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROReviewSubmit/EQROReviewSubmit.module.scss
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROReviewSubmit/EQROReviewSubmit.test.tsx
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROReviewSubmit/EQROReviewSubmit.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.module.scss
Due: lint-app-web
