Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Fix `removeRateRelatedDocuments()` and update tests.
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.test.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
Due: lint-app-web

Remove `ldUseClientSpy()` from single test.
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

New lock file
  yarn.lock
Due: none

Add new yarn lock and remove ld use client spy from single test (#1139)
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
  yarn.lock
Due: lint-app-web

Clean up refactor.
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/parameterStore/awsParameterStore.ts
Due: lint-app-api

Refactor setting rate indexes to undefined when index is -1.
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
Due: lint-app-web

Disable rate program selection.
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: none

better logging for migrator
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

better error logging
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

Add cypress flake fix from other branch to this branch
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
Due: none

change how we call this
  services/app-api/protoMigrations/migrate_protos.ts
  services/app-api/serverless.yml
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

try logging something, why isn't this loading?
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

an initial stab at just migration code
  .gitignore
  services/app-api/protoMigrations/README.md
  services/app-api/protoMigrations/healthPlanFormDataMigrations/0000_initial_migration.ts
  services/app-api/protoMigrations/migrate_protos.ts
  services/app-api/protoMigrations/test_migrate
  services/app-api/protoMigrations/tsconfig.json
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/_ran_migrations
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-08-19.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedWithALittleBitOfEverything.test.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/writeUpdatedProtos.test.ts
Due: lint-app-web

Test for no loss of rate data on CONTRACT_AND_RATES type submission.
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
Due: lint-app-api

fix file path
  services/app-api/protoMigrations/healthPlanFormDataMigrations/0000_initial_migration.ts
  services/app-api/protoMigrations/migrate_protos.ts
Due: none

Add cy.wait after cy.visit
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
Due: none

try adding to schema
  services/app-api/prisma/schema.prisma
Due: none

Add protoMigrator to our code base (#1140)
  .gitignore
  services/app-api/prisma/schema.prisma
  services/app-api/protoMigrations/README.md
  services/app-api/protoMigrations/healthPlanFormDataMigrations/0000_initial_migration.ts
  services/app-api/protoMigrations/migrate_protos.ts
  services/app-api/protoMigrations/test_migrate
  services/app-api/protoMigrations/tsconfig.json
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/_ran_migrations
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-08-19.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedWithALittleBitOfEverything.test.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/writeUpdatedProtos.test.ts
Due: lint-app-web

Copy changes
  services/app-web/src/pages/Landing/Landing.tsx
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

Maybe addresss cypress lfakes - try force: true on all accoredion clicks
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

Adjust ChangeHistory to hide past submission links on the initial submission
  services/app-web/src/components/ChangeHistory/ChangeHistory.test.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistory.tsx
Due: lint-app-web

Maybe address cypress flake with unlockResubmit
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

Add force:true to submissionType.spec
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
Due: none

Cypress flakes - add check that submission loaded before we unlock
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

Try waiting for the accordion to open another way
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

Make navigateFormByDirectLink helper, rename some helper files for clarity
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  tests/cypress/integration/cmsWorkflow/viewSubmission.spec.ts
  tests/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contractDetails.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/documents.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/newSubmission.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/reviewAndSubmit.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  tests/cypress/support/dashboardCommands.ts
  tests/cypress/support/index.ts
  tests/cypress/support/navigateCommands.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: none

Refactor directory names and move email specific logic to email store functions.
  services/app-api/src/parameterStore/emailParameterStore/cmsDevTeamHelpEmail/getCmsDevTeamHelpEmail.ts
  services/app-api/src/parameterStore/emailParameterStore/cmsRateHelpEmail/getCmsRateHelpEmail.ts
  services/app-api/src/parameterStore/emailParameterStore/cmsReviewHelpEmail/getCmsReviewHelpEmail.ts
  services/app-api/src/parameterStore/emailParameterStore/cmsReviewSharedEmails/getCmsReviewSharedEmails.ts
  services/app-api/src/parameterStore/emailParameterStore/getCmsDevTeamHelpEmail/getCmsDevTeamHelpEmail.ts
  services/app-api/src/parameterStore/emailParameterStore/getCmsRateHelpEmail/getCmsRateHelpEmail.ts
  services/app-api/src/parameterStore/emailParameterStore/getCmsReviewHelpEmail/getCmsReviewHelpEmail.ts
  services/app-api/src/parameterStore/emailParameterStore/ratesReviewSharedEmails/getRatesReviewSharedEmails.ts
  services/app-api/src/parameterStore/emailParameterStore/reviewSharedEmails/getCmsReviewSharedEmails.ts
  services/app-api/src/parameterStore/emailParameterStore/stateAnalystsEmails/getStateAnalystsEmails.ts
Due: lint-app-api

Add source email parameter store function.
  services/app-api/src/parameterStore/emailParameterStore/index.ts
  services/app-api/src/parameterStore/emailParameterStore/sourceEmail/getSourceEmail.ts
Due: lint-app-api

Adjust store types and add source email function.
  services/app-api/src/parameterStore/emailParameterStore/emailParameterStore.ts
Due: lint-app-api

Restore EmailConfiguration types.
  services/app-api/src/emailer/emailer.ts
Due: lint-app-api

Pull out email specific code, add error handling for undefined value or type.
  services/app-api/src/parameterStore/awsParameterStore.ts
Due: lint-app-api

Pull source email directly from parameter store.
  services/app-api/src/handlers/apollo_gql.ts
Due: lint-app-api

Remove all email from serverless config.
  .envrc
  services/app-api/serverless.yml
Due: none

MR-2532: State user cannot submit unlocked contract only package with rate data (#1134)
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.test.ts
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/index.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
Due: lint-app-web, lint-app-api

Remove export type.
  services/app-api/src/parameterStore/awsParameterStore.ts
  services/app-api/src/parameterStore/index.ts
Due: lint-app-api

Update emails
  services/app-api/src/parameterStore/emailParameterStore/cmsDevTeamHelpEmail/getCmsDevTeamHelpEmail.ts
  services/app-api/src/parameterStore/emailParameterStore/cmsRateHelpEmail/getCmsRateHelpEmail.ts
  services/app-api/src/parameterStore/emailParameterStore/cmsReviewHelpEmail/getCmsReviewHelpEmail.ts
  services/app-api/src/parameterStore/emailParameterStore/sourceEmail/getSourceEmail.ts
Due: lint-app-api

Update parameter store helpers.
  services/app-api/src/testHelpers/parameterStoreHelpers.ts
Due: lint-app-api

Update test for parameter store helpers update.
  services/app-api/src/parameterStore/emailParameterStore/stateAnalystsEmails/getStateAnalystsEmails.test.ts
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/unlockHealthPlanPackage.test.ts
Due: lint-app-api

constructTestEmailer use newLocalEmailParameterStore to return configuration.
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

Fix parameter store name.
  services/app-api/src/parameterStore/emailParameterStore/sourceEmail/getSourceEmail.ts
Due: lint-app-api
