Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

Syncing broken lock file from aligning Prisma and peer deps versions. (#4756)
  pnpm-lock.yaml
Due: none

[MCR-6484] Enhance Resubmission email notification Part 3. Rates and nested rate details (#4732)
  services/app-api/src/domain-models/contractAndRates/revisionDiffTypes.ts
  services/app-api/src/emailer/emails/resubmitContractCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitRevisionChanges.test.ts
  services/app-api/src/emailer/emails/resubmitRevisionChanges.ts
  services/app-api/src/emailer/etaTemplates/reusableTemplates/resubmitRevisionChanges.eta
  services/app-api/src/postgres/revisionDiff/revisionDiffDocuments.test.ts
  services/app-api/src/postgres/revisionDiff/revisionDiffHelpers.test.ts
  services/app-api/src/postgres/revisionDiff/revisionDiffRates.ts
  services/app-api/src/resolvers/contract/fetchRevisionDiff.test.ts
  services/app-graphql/src/queries/fetchRevisionDiff.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

removed comment
  services/app-api/src/emailer/emails/resubmitRevisionChanges.test.ts
Due: lint-app-api

Refactor stubFeatureFlag and intercept feature flag commands
  docs/technical-design/launch-darkly-testing-approach.md
  services/cypress/README.md
  services/cypress/support/launchDarklyCommands.ts
  skills/skills-cypress/references/04-launchdarkly.md
Due: none

Fix flaky dashboard test
  services/cypress/support/loginCommands.ts
Due: none

Remove 438 attestation Cypress testing code
  services/cypress/integration/cmsWorkflow/submissionReview.spec.ts
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/accessibility.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/submissionForm.spec.ts
  services/cypress/support/stateSubmissionFormCommands.ts
Due: none

use lambda for db testing
  .github/workflows/test-database-backups.yml
  scripts/find-old-node-lambdas.ts
  scripts/test-aurora-automated-backup-restore.ts
  services/infra-cdk/lib/stacks/postgres.ts
  services/postgres/src/backupRestoreValidator.ts
Due: none

remove manual postgres stack update. Notify slack on pass/fail. Call script with env matrix
  .github/workflows/test-database-backups.yml
Due: none

increase lambda timeout to 15m
  services/infra-cdk/lib/stacks/postgres.ts
Due: none

update backup test to use more deterministic table/row validation
  services/postgres/src/backupRestoreValidator.ts
Due: none

improve Aurora backup restore test reliability
  pnpm-lock.yaml
  scripts/package.json
  scripts/test-aurora-automated-backup-restore.ts
Due: none

remove unrelated script
  scripts/find-old-node-lambdas.ts
Due: none

track persistent backup restore shrinkage
  scripts/test-aurora-automated-backup-restore.ts
Due: none

schedule test to run monthly instead of weekly
  .github/workflows/test-database-backups.yml
Due: none

add focused tests for backup restore script
  pnpm-lock.yaml
  scripts/package.json
  scripts/test-aurora-automated-backup-restore.test.ts
  scripts/tsconfig.json
  scripts/vitest.config.ts
Due: none

allow backup restore test to finish cleanup
  .github/workflows/test-database-backups.yml
Due: none

Update jotai to 2.20.3
  services/app-web/package.json
Due: none

Update lock file
  pnpm-lock.yaml
Due: none

Update securitysync.yml to use version 2.2.3
  .github/workflows/securitysync.yml
Due: none

Refactor Cypress feature flag command and remove deprecated code (#4760)
  docs/technical-design/launch-darkly-testing-approach.md
  services/cypress/README.md
  services/cypress/integration/cmsWorkflow/submissionReview.spec.ts
  services/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/accessibility.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/submissionForm.spec.ts
  services/cypress/support/launchDarklyCommands.ts
  services/cypress/support/loginCommands.ts
  services/cypress/support/stateSubmissionFormCommands.ts
  skills/skills-cypress/references/04-launchdarkly.md
Due: none

Add synthetic data seeding for review environments
  .github/workflows/deploy-cdk.yml
  .github/workflows/promote-cdk.yml
  .github/workflows/seed-synthetic-review.yml
  pnpm-lock.yaml
  services/app-api/prisma/migrations/20260903160000_add_synthetic_data_write_o_auth_scope/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/handlers/bootstrap_synthetic_data.test.ts
  services/app-api/src/handlers/bootstrap_synthetic_data.ts
  services/app-api/src/oauth/oauthAuthorization.test.ts
  services/app-api/src/oauth/oauthAuthorization.ts
  services/app-api/src/resolvers/contract/createContract.test.ts
  services/app-api/src/resolvers/contract/createContract.ts
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/resolvers/contract/updateContractDraftRevision.ts
  services/app-api/src/resolvers/documents/generateUploadURL.ts
  services/app-api/src/syntheticData/safety.ts
  services/app-graphql/src/schema.graphql
  services/infra-cdk/lib/stacks/app-api.ts
  services/synthetic-data/src/builders/reviewContract.ts
  services/synthetic-data/src/cli.ts
  services/synthetic-data/src/config/environment.ts
  services/synthetic-data/src/config/operationInput.ts
  services/synthetic-data/src/graphql/createContract.graphql
  services/synthetic-data/src/graphql/fetchContract.graphql
  services/synthetic-data/src/graphql/fetchStatePrograms.graphql
  services/synthetic-data/src/graphql/submitContract.graphql
  services/synthetic-data/src/graphql/updateContractDraftRevision.graphql
  services/synthetic-data/src/index.ts
  services/synthetic-data/src/scenarios/reviewSmoke.ts
  services/synthetic-data/tests/config.test.ts
  services/synthetic-data/tests/reviewSmoke.test.ts
Due: lint-app-api

Fix review database schema grants
  services/postgres/src/logicalDatabaseManager.ts
Due: none

Add synthetic data runtime check and state programs dependency
  .github/workflows/deploy-cdk.yml
  .github/workflows/promote-cdk.yml
  pnpm-lock.yaml
  services/infra-cdk/lib/stacks/app-api.ts
  services/synthetic-data/package.json
  services/synthetic-data/src/cli.ts
  services/synthetic-data/src/graphql/fetchStatePrograms.graphql
  services/synthetic-data/src/index.ts
  services/synthetic-data/src/logger.ts
  services/synthetic-data/src/scenarios/reviewSmoke.ts
  services/synthetic-data/tests/logger.test.ts
  services/synthetic-data/tests/reviewSmoke.test.ts
  services/synthetic-data/tsconfig.json
Due: none

(fix): updated copy per design
  services/app-api/src/emailer/emails/resubmitContractCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitRevisionChanges.test.ts
  services/app-api/src/emailer/emails/resubmitRevisionChanges.ts
Due: lint-app-api

Add synthetic data service README
  services/synthetic-data/README.md
Due: none

Add DSNP override fields to DB
  services/app-api/prisma/migrations/20260904030927_add_dsnp_override_fields/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

Add DNSP overrides to domain layer
  services/app-api/src/domain-models/contractAndRates/contractRateOverrideTypes.ts
  services/app-api/src/domain-models/contractAndRates/formDataTypes.ts
  services/app-api/src/postgres/contractAndRates/overrideContractData.ts
  services/app-api/src/postgres/contractAndRates/overrideRateData.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedContractHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSubmittedRateHelpers.ts
  services/app-api/src/postgres/prismaOverrideMergeHelpers.ts
Due: lint-app-api

Apply DSNP overrides to unlocked revisions and fix rate doc overrides not applying
  services/app-api/src/postgres/contractAndRates/unlockContract.override.test.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/unlockRate.ts
Due: lint-app-api

Domain layer tests
  services/app-api/src/postgres/contractAndRates/overrideContractData.test.ts
  services/app-api/src/postgres/contractAndRates/overrideRateData.test.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/prismaToDomainModel.test.ts
  services/app-api/src/postgres/prismaOverrideMergeHelpers.test.ts
Due: lint-app-api

Update DNSP overrides in the resolver
  services/app-api/src/postgres/contractAndRates/submitContractAndOrRates.ts
  services/app-api/src/postgres/documents/findOverrideDocumentById.ts
  services/app-api/src/resolvers/contract/overrideContractData.ts
  services/app-api/src/resolvers/rate/overrideRateData.ts
  services/app-graphql/src/fragments/contractOverridesFragment.graphql
  services/app-graphql/src/fragments/rateOverridesFragment.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Resolver unit tests and updating docs and skills
  docs/technical-design/contract-and-rate-data-override.md
  services/app-api/src/resolvers/contract/overrideContractData.test.ts
  services/app-api/src/resolvers/rate/overrideRateData.test.ts
  skills/skill-api/references/10-revision-overrides.md
Due: lint-app-api

Update jotai from 2.20.2 to 2.20.3 (#4761)
  pnpm-lock.yaml
  services/app-web/package.json
Due: none

[MCR-6481] Expand revision diff to generate boolean value for linked rate (#4743)
  services/app-api/src/emailer/emails/resubmitContractCMSEmail.test.ts
  services/app-api/src/emailer/emails/resubmitRevisionChanges.test.ts
  services/app-api/src/emailer/emails/resubmitRevisionChanges.ts
  services/app-api/src/postgres/revisionDiff/findRevisionDiffByContractID.ts
  services/app-api/src/postgres/revisionDiff/revisionDiffHelpers.test.ts
  services/app-api/src/postgres/revisionDiff/revisionDiffHelpers.ts
  services/app-api/src/postgres/revisionDiff/revisionDiffRates.ts
  services/app-api/src/resolvers/contract/fetchRevisionDiff.test.ts
  services/infra-cdk/lib/stacks/github-oidc.ts
Due: lint-app-api

Enable synthetic data seeding in QA environment
  .github/workflows/promote-cdk.yml
  .github/workflows/seed-synthetic-qa.yml
  .github/workflows/seed-synthetic-review.yml
  services/synthetic-data/README.md
  services/synthetic-data/src/builders/contractSmoke.ts
  services/synthetic-data/src/cli.ts
  services/synthetic-data/src/config/operationInput.ts
  services/synthetic-data/src/index.ts
  services/synthetic-data/src/scenarios/contractSmoke.ts
  services/synthetic-data/tests/config.test.ts
  services/synthetic-data/tests/contractSmoke.test.ts
Due: none

Improve retry logic to return final result on transient failures
  services/synthetic-data/src/execution/retry.ts
  services/synthetic-data/tests/graphqlClient.test.ts
Due: none

Update security hub visibility action to v2.2.3
  .github/workflows/sechub-jira-sync.yml
Due: none

Upgrade yup to v1 and update form validators for compatibility
  pnpm-lock.yaml
  services/app-web/package.json
  services/app-web/src/formHelpers/validators.ts
  services/app-web/src/pages/StateSubmission/EQROSubmission/EQROContractDetails/EQROContractDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ContractDetails/ContractDetailsSchema.ts
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/RateDetails/RateDetailsSchema.ts
Due: lint-app-web

Address Yup validation review feedback
  services/app-web/src/components/FileUpload/helpers.ts
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/RateDetails/RateDetails.test.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/RateDetails/RateDetailsSchema.ts
Due: lint-app-web
