Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

fix spacing and resizing
  services/app-web/src/pages/ContactUs/ContactUs.module.scss
  services/app-web/src/pages/ContactUs/ContactUs.tsx
Due: lint-app-web

create new paginated indexRates api
  API_Changelog.md
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/rate/index.ts
  services/app-api/src/resolvers/rate/indexRatesConnection.test.ts
  services/app-api/src/resolvers/rate/indexRatesConnection.ts
  services/app-graphql/src/queries/indexRatesConnection.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Update dev tool to look at the right prisma.config.ts
  dev_tool/src/dev.ts
  dev_tool/src/test/api.ts
  services/app-api/prisma/migrations/20260428191656_add_action_tables_to_qa_tables/migration.sql
Due: none

Add migration for Q&A tables
  services/app-api/prisma/migrations/migration_lock.toml
  services/app-api/prisma/schema.prisma
Due: none

minor edits
  services/app-web/src/pages/ContactUs/ContactUs.module.scss
  services/app-web/src/pages/ContactUs/ContactUs.tsx
Due: lint-app-web

AIFA-056: Clarify AI validation rollout and local-default configuration
  README.md
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/app-api/src/local-server.ts
Due: lint-app-api

AIFA-060: Persist AI validation phase timing diagnostics in artifacts
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/evaluation/dateValidationEvaluation.ts
  services/ai-form-augmentation/src/handlers/validationHandler.ts
  services/ai-form-augmentation/src/results/index.ts
  services/ai-form-augmentation/src/results/validationResultArtifact.test.ts
  services/ai-form-augmentation/src/results/validationResultArtifact.ts
Due: none

AIFA-059: Clean up reuse compatibility checks and add artifact-backed rerun regression coverage
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/handlers/validationCache.test.ts
  services/ai-form-augmentation/src/handlers/validationCache.ts
  services/ai-form-augmentation/src/handlers/validationHandler.test.ts
  services/ai-form-augmentation/src/handlers/validationHandler.ts
Due: none

AIFA-061: Retire obsolete AI validation config branches after rollout stabilization
  README.md
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/handlers/validationHandler.ts
  services/app-api/src/local-server.ts
  services/app-api/src/resolvers/validation/validationHandler.test.ts
Due: lint-app-api

AIFA-062: Reevaluate and retire all-doc work-selection escape hatch if no longer needed
  README.md
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/resolvers/validation/triggerValidation.test.ts
Due: lint-app-api

AIFA-063: Add LocalStack-backed rerun replay harness
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/handlers/validationHandler.localstack.test.ts
Due: none

Normalize sprint CSV status labels
  docs/technical-design/aifa-sprint-plan.csv
Due: none

AIFA-064: Persist structured supporting citation data for Review-page trust signals
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/handlers/validationHandler.test.ts
  services/ai-form-augmentation/src/handlers/validationHandler.ts
  services/ai-form-augmentation/src/prompts/dateValidationPrompt.ts
  services/ai-form-augmentation/src/validation-output/deterministicDateValidation.test.ts
  services/ai-form-augmentation/src/validation-output/deterministicDateValidation.ts
  services/ai-form-augmentation/src/validation-output/index.ts
  services/ai-form-augmentation/src/validation-output/normalizeMismatchMessage.ts
  services/app-api/src/resolvers/validation/fetchValidationStatus.test.ts
  services/app-graphql/src/queries/validationStatus.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ReviewSubmit/AIValidationFindingsCard.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ReviewSubmit/AIvalidationStatusCard.stories.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ReviewSubmit/ReviewSubmit.test.tsx
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ReviewSubmit/aiValidationFindings.test.ts
  services/app-web/src/pages/StateSubmission/HealthPlanSubmission/ReviewSubmit/aiValidationFindings.ts
Due: lint-app-web, lint-app-api

AIFA-065: Stabilize first-pass reuse after small document-set changes
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/handlers/validationHandler.localstack.test.ts
  services/ai-form-augmentation/src/handlers/validationHandler.ts
Due: none

add dmco as the fallback division for oauth requests
  services/app-api/src/resolvers/questionResponse/createContractQuestion.ts
Due: lint-app-api

change approach to move the division setting higher up
  services/app-api/src/authn/thirdPartyAuthn.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.ts
Due: lint-app-api

add test
  services/app-api/src/authn/thirdPartyAuthn.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.ts
Due: lint-app-api

fix resizing jump
  services/app-web/src/components/Header/Header.module.scss
  services/app-web/src/components/Header/PublicNavigation/PublicNavigation.module.scss
  services/app-web/src/components/Header/PublicNavigation/PublicNavigation.tsx
Due: lint-app-web

AIFA-066: Persist end-to-end validation lifecycle timing for trigger-to-visible latency
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/handlers/validationHandler.localstack.test.ts
  services/ai-form-augmentation/src/handlers/validationHandler.ts
  services/ai-form-augmentation/src/results/index.ts
  services/ai-form-augmentation/src/results/validationResultArtifact.test.ts
  services/ai-form-augmentation/src/results/validationResultArtifact.ts
  services/ai-form-augmentation/src/status/index.ts
  services/ai-form-augmentation/src/status/statusArtifact.test.ts
  services/ai-form-augmentation/src/status/statusArtifact.ts
  services/app-api/src/resolvers/validation/triggerValidation.test.ts
  services/app-api/src/resolvers/validation/triggerValidation.ts
Due: lint-app-api

change propagation
  pnpm-lock.yaml
  services/app-api/src/otel/otel_handler.ts
  services/app-web/package.json
  services/app-web/src/contexts/TraceContext.tsx
  services/infra-cdk/lib/stacks/app-api.ts
Due: lint-app-web, lint-app-api

Query Q&A action tables and add functions for filtering out deleted questions.
  services/app-api/src/postgres/questionResponse/questionHelpers.ts
Due: lint-app-api

Do the filtering at query contract and rate questions. Add unit tests
  services/app-api/src/postgres/questionResponse/findAllQuestionsByContract.ts
  services/app-api/src/postgres/questionResponse/findAllQuestionsByRate.ts
  services/app-api/src/resolvers/contract/fetchContract.test.ts
Due: lint-app-api

Update Datadog OTLP proxy configuration
  services/app-api/src/handlers/otel_proxy.ts
Due: lint-app-api

AIFA-067: Reduce first-pass reranking latency for large submissions
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/handlers/validationHandler.test.ts
  services/ai-form-augmentation/src/handlers/validationHandler.ts
Due: none

AIFA-047: Strengthen document cache identity with content fingerprints
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/artifacts/documentIndexArtifact.test.ts
  services/ai-form-augmentation/src/artifacts/documentIndexArtifact.ts
  services/ai-form-augmentation/src/artifacts/parsedDocumentArtifact.ts
  services/ai-form-augmentation/src/handlers/validationHandler.test.ts
  services/ai-form-augmentation/src/handlers/validationHandler.ts
  services/ai-form-augmentation/src/results/validationResultArtifact.ts
  services/ai-form-augmentation/src/versioning/artifactVersion.ts
  services/ai-form-augmentation/src/versioning/index.ts
  services/app-api/src/resolvers/validation/fetchValidationStatus.test.ts
  services/app-api/src/resolvers/validation/fetchValidationStatus.ts
  services/app-api/src/resolvers/validation/triggerValidation.test.ts
  services/app-api/src/resolvers/validation/triggerValidation.ts
  services/app-api/src/resolvers/validation/validationDocumentKeys.ts
Due: lint-app-api

docs: queue AIFA-068 cleanup ticket
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
Due: none

AIFA-068: Retire obsolete standalone AI dev script
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/package.json
  services/ai-form-augmentation/src/dev.ts
Due: none

AIFA-025: Evaluate FAISS implementation behind VectorStore
  docs/ai-validation-session.md
  docs/technical-design/ai-validation-faiss-evaluation.md
  docs/technical-design/aifa-sprint-plan.csv
Due: none

AIFA-069: Consolidate AI validation runtime entrypoints and exports
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/evaluation/index.ts
  services/ai-form-augmentation/src/handlers/index.ts
  services/ai-form-augmentation/src/index.ts
  services/ai-form-augmentation/src/status/index.ts
  services/ai-form-augmentation/src/vector-store/index.ts
  services/ai-form-augmentation/src/versioning/index.ts
Due: none

AIFA-071: Clean up AI validation config and local runtime defaults
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/evaluation/evaluationStorage.test.ts
  services/ai-form-augmentation/src/evaluation/evaluationStorage.ts
  services/app-api/src/handlers/__tests__/validationRuntimeConfig.test.ts
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/validationRuntimeConfig.ts
  services/app-api/src/local-server.ts
Due: lint-app-api

AIFA-070: Normalize AI validation artifact and diagnostic contract boundaries
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/evaluation/dateValidationEvaluation.ts
  services/ai-form-augmentation/src/results/validationResultArtifact.ts
  services/ai-form-augmentation/src/status/statusArtifact.ts
  services/app-api/src/resolvers/validation/fetchValidationStatus.test.ts
  services/app-api/src/resolvers/validation/fetchValidationStatus.ts
Due: lint-app-api

fix right and left spaces while resizing
  services/app-web/src/components/Header/Header.module.scss
  services/app-web/src/components/Header/Header.tsx
  services/app-web/src/components/Header/PublicNavigation/PublicNavigation.module.scss
  services/app-web/src/components/Header/PublicNavigation/PublicNavigation.tsx
Due: lint-app-web

format sign in button when moves to the second line in shrinking viewport
  services/app-web/src/components/Header/Header.module.scss
Due: lint-app-web

fix header height jumping with resizing
  services/app-web/src/components/Header/Header.module.scss
Due: lint-app-web

code cleanup for header.module
  services/app-web/src/components/Header/Header.module.scss
Due: lint-app-web

clean up styling code
  services/app-web/src/components/Header/Header.module.scss
  services/app-web/src/components/Header/PublicNavigation/PublicNavigation.module.scss
Due: lint-app-web

replaced email links with react components
  services/app-web/src/components/ErrorAlert/DmcoSupportLink.tsx
  services/app-web/src/pages/ContactUs/ContactUs.module.scss
  services/app-web/src/pages/ContactUs/ContactUs.tsx
Due: lint-app-web

AIFA-072: Reduce AI validation test duplication and brittleness
  docs/ai-validation-session.md
  docs/technical-design/aifa-sprint-plan.csv
  services/ai-form-augmentation/src/evaluation/dateValidationEvaluation.test.ts
  services/ai-form-augmentation/src/handlers/validationHandler.localstack.test.ts
  services/ai-form-augmentation/src/handlers/validationHandler.test.ts
  services/app-api/src/resolvers/validation/fetchValidationStatus.test.ts
Due: lint-app-api
