Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

.pre-commit-config.yaml:

---
repos:
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint

    - repo: git://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: detect-private-key

    - repo: https://github.com/yoheimuta/protolint
      rev: v0.35.1
      hooks:
          - id: protolint
            exclude: node_modules

    - repo: local
      hooks:
          - id: lint-app-web
            name: Lint staged app-web
            files: '^services/app-web/src/*'
            entry: './dev lint staged web'
            language: script
            pass_filenames: false

          - id: lint-app-api
            name: Lint staged app-api
            files: '^services/app-api/src/*'
            entry: './dev lint staged api'
            language: script
            pass_filenames: false

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v2.3.2' # Use the sha / tag you want to point at
      hooks:
          - id: prettier

wip calling updateContract api onsubmit
  services/app-api/src/resolvers/contract/updateContract.ts
  services/app-web/src/pages/MccrsId/MccrsId.tsx
Due: lint-app-web, lint-app-api

Loosen the actuary contact graphql types- throwing an error that was breaking rates dash
  services/app-graphql/src/schema.graphql
Due: none

Make parseRateWithHistory look more like parseContractWithHistory
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
Due: lint-app-api

Revert "Make parseRateWithHistory look more like parseContractWithHistory"
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
Due: lint-app-api

get stricter about rateinfo ids
  services/app-api/src/handlers/proto_to_db.test.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_CleanupLastMigration.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.test.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/healthPlanFormDataEncoding.test.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
Due: lint-app-web, lint-app-api

Rate dashboard, rate table, and rate summary tests (#1987)
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsDashboard.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.test.tsx
  services/app-web/src/pages/CMSDashboard/RateReviewsDashboard/RateReviewsTable.tsx
  services/app-web/src/testHelpers/apolloMocks/index.ts
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/rateGQLMocks.ts
Due: lint-app-web

Don't return all rates - leave off the ones associated with contract only
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.ts
Due: lint-app-api

Revert "Don't return all rates - leave off the ones associated with contract only"
  services/app-api/src/postgres/contractAndRates/findAllRatesWithHistoryBySubmitInfo.ts
Due: lint-app-api

get stricter about rateinfo ids (#1992)
  services/app-api/src/handlers/proto_to_db.test.ts
  services/app-api/src/postgres/contractAndRates/proto_to_db_CleanupLastMigration.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/unlockHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.test.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/healthPlanFormDataEncoding.test.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toProtoBuffer.ts
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
Due: lint-app-web, lint-app-api

update styling on add mccrs id page
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

finalize styling on the summary page
  services/app-web/src/components/SectionHeader/SectionHeader.module.scss
  services/app-web/src/components/SectionHeader/SectionHeader.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Fix VAL rates dashboard crash (#1993)
  services/app-graphql/src/schema.graphql
Due: none

Fix adding rate revisions submitted after contract revision into history.
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
Due: lint-app-api

Fix test for strict rate id checks.
  services/app-api/src/resolvers/contractAndRates/fetchRate.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
Due: lint-app-api

Make types play nice - right now common code actuary contact and graphql actuary contact slightly different
  services/app-web/src/components/DataDetail/DataDetailContactField/DataDetailContactField.tsx
Due: lint-app-web

add unit test for mccrsID form and submission summary pages
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Refactor loop of rate revisions of a contract revision to retain the rate order.
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
Due: lint-app-api

Add more to docs about contract history
  docs/technical-design/contract-rate-change-history.md
Due: none

Update comment.
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
Due: lint-app-api

Refactor some more.
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
Due: lint-app-api

Fix to retain rate order.
  services/app-api/src/domain-models/contractAndRates/revisionTypes.ts
  services/app-api/src/postgres/contractAndRates/parseContractAndRates.test.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftRatesHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/testHelpers/contractAndRates/rateHelpers.ts
Due: lint-app-api

additional styling
  services/app-web/src/components/SectionHeader/SectionHeader.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.module.scss
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

MCR-3570 fix: Previous contract submissions contained incorrect rate data (#1991)
  docs/technical-design/contract-rate-change-history.md
  services/app-api/src/domain-models/contractAndRates/revisionTypes.ts
  services/app-api/src/postgres/contractAndRates/parseContractAndRates.test.ts
  services/app-api/src/postgres/contractAndRates/parseContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/parseRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/prismaDraftRatesHelpers.ts
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/resolvers/contractAndRates/fetchRate.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/testHelpers/contractAndRates/rateHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/healthPlanPackageHelpers.ts
  services/app-web/src/components/DataDetail/DataDetailContactField/DataDetailContactField.tsx
Due: lint-app-web, lint-app-api

Use newly updates contract data for submitting rates. Add tests.
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
Due: lint-app-api

code cleanup
  services/app-api/src/resolvers/contract/updateContract.ts
Due: lint-app-api

resolving bad merge
  services/app-web/src/constants/routes.ts
  services/app-web/src/constants/tealium.ts
  services/app-web/src/pages/App/AppRoutes.tsx
Due: lint-app-web

remove unneeded code in submission summary
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Use newly updates contract data for submitting rates. Add tests. (#1997)
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
Due: lint-app-api

general cleanup
  services/app-api/src/resolvers/contractAndRates/indexRates.test.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

update the custom heading for mccrs page and update validation message for inccorect character count
  services/app-web/src/components/Header/PageHeadingRow/PageHeadingRow.tsx
  services/app-web/src/constants/tealium.ts
  services/app-web/src/contexts/PageContext.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/MccrsId/MccrsId.module.scss
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/MccrsId/MccrsIdSchema.ts
Due: lint-app-web

Add additional indexRates tests(#1998)
  services/app-api/src/resolvers/contractAndRates/indexRates.test.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

update useEffect code for setting the header
  services/app-web/src/pages/MccrsId/MccrsId.tsx
Due: lint-app-web

fix existing unit test
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
Due: lint-app-web

PR fixes
  services/app-web/src/constants/routes.ts
  services/app-web/src/pages/MccrsId/MccrsId.test.tsx
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web
