Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

moved to app-proto for CI runs
  services/app-api/protoMigrations/README.md
  services/app-api/protoMigrations/migrate_protos.ts
  services/app-api/protoMigrations/test_migrate
  services/app-api/protoMigrations/tsconfig.json
  services/app-proto/protoMigrations/healthPlanFormDataMigrations/0001_add_one_month.ts
Due: none

fix pathing on migrate file
  services/app-proto/protoMigrations/healthPlanFormDataMigrations/0001_add_one_month.ts
Due: none

clean old CI attempts
  services/app-api/serverless.yml
Due: none

Fix naming from merge on migrations dir
  services/app-api/prisma/migrations/20220902183054_add_proto_migration_table/migration.sql
Due: none

remove helper protogen bash script
  services/app-proto/generate_proto_code
Due: none

fix version from original branch
  services/app-web/src/common-code/proto/healthPlanFormDataProto/testData/unlockedWithALittleBitOfEverything-2022-09-08.proto
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedWithALittleBitOfEverything.test.ts
Due: lint-app-web

Refactor featureFlags, add featureFlagEnums and FlagEnumType.
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/featureFlags/index.ts
Due: lint-app-web

Update ldClient arguments for featureFlag refactor.
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

Launch Darkly helper commands and store json file.
  tests/cypress/fixtures/stores/featureFlagStore.json
  tests/cypress/support/index.ts
  tests/cypress/support/launchDarklyCommands.ts
Due: none

Intercept all Launch Darkly api calls.
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  tests/cypress/integration/cmsWorkflow/viewSubmission.spec.ts
  tests/cypress/integration/promoteWorkflow/promote.spec.ts
  tests/cypress/integration/smokeTest/smokeTest.spec.ts
  tests/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
  tests/cypress/integration/stateWorkflow/login/login.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contractDetails.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/documents.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/newSubmission.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/reviewAndSubmit.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
Due: none

Use Launch Darkly helpers to test feature flag on.
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: none

Use Launch Darkly helpers to turn on feature flag for test.
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
Due: none

Test RateDetails page for feature flag on.
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
Due: none

ignore featureFlagStore json file.
  .gitignore
Due: none

Add maintenance message
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

Add tests
  services/app-web/src/pages/Landing/Landing.test.tsx
Due: lint-app-web

Add correct comment
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web

Remove featureFlagStore json file.
  tests/cypress/fixtures/stores/featureFlagStore.json
Due: none

fix date string
  services/app-api/src/resolvers/submitHealthPlanPackage.test.ts
Due: lint-app-api

another merge fix
  services/app-web/src/common-code/healthPlanFormDataType/healthPlanFormData.test.ts
Due: lint-app-web

Add site maintenance banner and feature flag (#1189)
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/pages/Landing/Landing.test.tsx
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

Add logout due to inactivity message
  services/app-web/src/components/Header/Header.tsx
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/pages/Landing/Landing.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
Due: lint-app-web

Add ErrorAlert component and use it
  services/app-web/src/components/Banner/ErrorAlert/ErrorAlert.module.scss
  services/app-web/src/components/Banner/ErrorAlert/ErrorAlert.stories.tsx
  services/app-web/src/components/Banner/ErrorAlert/ErrorAlert.test.tsx
  services/app-web/src/components/Banner/ErrorAlert/ErrorAlert.tsx
  services/app-web/src/components/Banner/ErrorAlert/ErrorAlertSignIn.tsx
  services/app-web/src/components/Banner/ErrorAlert/ErrorAlertSiteUnavailable.tsx
  services/app-web/src/components/Banner/GenericApiErrorBanner/GenericApiErrorBanner.tsx
  services/app-web/src/constants/errors.ts
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

Update feature ADR with LD cypress testing.
  docs/architectural-decision-records/017-feature-flag-lifecycles.md
Due: none

Update ldUseClient for SITE_MAINTENANCE_BANNER.
  services/app-web/src/pages/Landing/Landing.tsx
Due: lint-app-web

Pull out ErrorAlert further from Banner to help highlight this section
  services/app-web/src/components/ErrorAlert/ErrorAlert.module.scss
  services/app-web/src/components/ErrorAlert/ErrorAlert.stories.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlert.test.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlert.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertSignIn.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertSiteUnavailable.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/Errors/Error404Page.tsx
  services/app-web/src/pages/Errors/ErrorBoundaryRoot.tsx
  services/app-web/src/pages/Errors/ErrorInvalidSubmissionStatusPage.tsx
  services/app-web/src/pages/Landing/Landing.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

Move LD Feature Flag tests docs.
  docs/architectural-decision-records/017-feature-flag-lifecycles.md
  docs/technical-design/launchDarklyTestingApproach.md
Due: none

Add tests to Landing page
  services/app-web/src/components/ErrorAlert/ErrorAlert.stories.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlert.test.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlert.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertFailedRequest.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertSignIn.tsx
  services/app-web/src/components/ErrorAlert/ErrorAlertSiteUnavailable.tsx
  services/app-web/src/components/ErrorAlert/index.ts
  services/app-web/src/components/index.ts
  services/app-web/src/pages/Landing/Landing.test.tsx
Due: lint-app-web

If we force user logout, redirect to dashboard
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

Feature flag for safety since this latches into the useAuth effect and there is no way to test outside of IDM
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/contexts/AuthContext.tsx
Due: lint-app-web

fix pathing
  services/app-proto/protoMigrations/lib/migrator.ts
Due: none

Make CMS dashboard force clear cache whenever visited
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
Due: lint-app-web

add more debug
  services/app-api/src/handlers/postgres_migrate.ts
  services/app-proto/protoMigrations/lib/migrator.ts
Due: lint-app-api

MR-2525: Implement launch darkly in cypress testing (#1186)
  .gitignore
  docs/architectural-decision-records/017-feature-flag-lifecycles.md
  docs/technical-design/launchDarklyTestingApproach.md
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/featureFlags/index.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummarySection.tsx
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/Landing/Landing.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/Wrapper/AuthenticatedRouteWrapper.tsx
  services/app-web/src/testHelpers/jestHelpers.tsx
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  tests/cypress/integration/cmsWorkflow/viewSubmission.spec.ts
  tests/cypress/integration/promoteWorkflow/promote.spec.ts
  tests/cypress/integration/smokeTest/smokeTest.spec.ts
  tests/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
  tests/cypress/integration/stateWorkflow/login/login.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contacts.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/contractDetails.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/documents.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/newSubmission.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/rateDetails.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/reviewAndSubmit.spec.ts
  tests/cypress/integration/stateWorkflow/stateSubmissionForm/submissionType.spec.ts
  tests/cypress/support/index.ts
  tests/cypress/support/launchDarklyCommands.ts
  tests/cypress/support/stateSubmissionFormCommands.ts
Due: lint-app-web

Do not add tealium in review apps, it can't load for those domains and clutters console
  services/app-web/src/hooks/useTealium.ts
Due: lint-app-web

Add apolloErrors helper and document
  services/app-web/src/contexts/AuthContext.tsx
  services/app-web/src/gqlHelpers/apolloErrors.ts
Due: lint-app-web

Add better errors to CMS dashboard when user becomes logged out
  services/app-web/src/gqlHelpers/apolloErrors.ts
  services/app-web/src/gqlHelpers/mutationWrappers.ts
  services/app-web/src/index.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.tsx
Due: lint-app-web

Add back to dashboard link to CMS dashboard
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.tsx
Due: lint-app-web

fix merge conflicts
  services/app-api/src/handlers/postgres_migrate.ts
Due: lint-app-api

fix path on fallback
  services/app-proto/protoMigrations/lib/migrator.ts
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
