Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Fix required value
  services/app-web/src/pages/QuestionResponse/UploadQuestions/AdminUploadContractQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/AdminUploadQuestionsForm.tsx
Due: lint-app-web

align Contract type filter population logic with existing filter for CMS user
  services/app-web/src/components/ContractTable/ContractTable.tsx
Due: lint-app-web

Remove functionality to assign admin to question or response. (#4591)
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/questionResponse/adminCreateContractQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/adminCreateContractQuestion.ts
  services/app-api/src/resolvers/questionResponse/adminCreateContractQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/adminCreateContractQuestionResponse.ts
  services/app-graphql/src/fragments/questionFragment.graphql
  services/app-graphql/src/fragments/questionResponseFragment.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/QuestionResponse/QuestionResponse.module.scss
  services/app-web/src/pages/QuestionResponse/UploadQuestions/AdminUploadContractQuestions.test.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/AdminUploadContractQuestions.tsx
  services/app-web/src/pages/QuestionResponse/UploadQuestions/AdminUploadQuestionsForm.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/AdminUploadContractResponse.tsx
  services/app-web/src/pages/QuestionResponse/UploadResponse/AdminUploadResponseForm.tsx
Due: lint-app-web, lint-app-api

MCR-6306 Add filtering to state dashboard (#4582)
  services/app-web/src/components/ContractTable/ContractTable.test.tsx
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/components/Select/ProgramSelect/ProgramSelect.tsx
  services/app-web/src/formHelpers/index.ts
  services/app-web/src/formHelpers/programHelpers.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.module.scss
  services/app-web/src/pages/StateDashboard/StateDashboard.test.tsx
  services/app-web/src/pages/StateDashboard/StateDashboard.tsx
Due: lint-app-web

refactor(DocumentHeader): Document header uses standard SectionHeader
  services/app-web/src/components/DocumentHeader/DocumentHeader.tsx
Due: lint-app-web

fix(SummarySections): updating components for removed props
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/EQROContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.tsx
Due: lint-app-web

fix(styles): updating styles to account for divider
  services/app-web/src/components/DocumentHeader/DocumentHeader.module.scss
  services/app-web/src/components/ZipDownloadLink/ZipDownloadLink.module.scss
  services/app-web/src/components/ZipDownloadLink/ZipDownloadLink.tsx
Due: lint-app-web

fix(tests)
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.test.tsx
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
Due: lint-app-web

Add a function to build a submission history log.
  services/app-api/src/postgres/contractAndRates/submissionHistoryLog.ts
Due: lint-app-api

do not show a duplicate error when only one file can be uploaded
  services/app-web/src/components/FileUpload/FileUpload.test.tsx
  services/app-web/src/components/FileUpload/FileUpload.tsx
Due: lint-app-web

fix skip to main content link clearing filters when clicked
  services/app-web/src/components/ContractTable/ContractTable.test.tsx
  services/app-web/src/components/ContractTable/ContractTable.tsx
  services/app-web/src/pages/CMSDashboard/CMSDashboard.test.tsx
Due: lint-app-web

Add update build contract history and add unit tests
  services/app-api/src/postgres/contractAndRates/submissionHistoryLog.test.ts
  services/app-api/src/postgres/contractAndRates/submissionHistoryLog.ts
Due: lint-app-api

fix failing tests
  services/app-web/src/components/ContractTable/ContractTable.tsx
Due: lint-app-web

Add rate history build function and log corrupt history.
  services/app-api/src/postgres/contractAndRates/submissionHistoryLog.test.ts
  services/app-api/src/postgres/contractAndRates/submissionHistoryLog.ts
Due: lint-app-api

Fix flaky unit tests
  services/app-api/src/resolvers/user/updateDivisionAssignment.test.ts
  services/app-api/src/resolvers/user/updateStateAssignmentsByState.test.ts
Due: lint-app-api

only apply primary button to first upload response btn
  services/app-web/src/pages/QuestionResponse/QATable/CMSQuestionResponseTable.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QuestionResponseRound.tsx
  services/app-web/src/pages/QuestionResponse/QATable/StateQuestionResponseTable.tsx
Due: lint-app-web

[MCR-6244] eqro contract doc divider fix (#4592)
  services/app-web/src/components/DocumentHeader/DocumentHeader.module.scss
  services/app-web/src/components/DocumentHeader/DocumentHeader.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/ContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/ContractDetailsSummarySection/EQROContractDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/RateDetailsSummary/RateDetailsSummarySection.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummary/SingleRateSummarySection.tsx
  services/app-web/src/components/ZipDownloadLink/ZipDownloadLink.module.scss
  services/app-web/src/components/ZipDownloadLink/ZipDownloadLink.tsx
  services/app-web/src/pages/RateSummary/RateSummary.test.tsx
Due: lint-app-web

Potential fix for pull request finding
  skills/STYLE.md
Due: none

remove
  skills/STYLE.md
Due: none

Clarify recordSpanEvent vs recordException span nesting behavior
  skills/skill-otel/SKILL.md
Due: none

only apply primary button to first upload response btn (#4597)
  services/app-web/src/pages/QuestionResponse/QATable/CMSQuestionResponseTable.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QuestionResponseRound.tsx
  services/app-web/src/pages/QuestionResponse/QATable/StateQuestionResponseTable.tsx
Due: lint-app-web

Update lastActionDate helpers
  services/app-api/src/postgres/updateLastActionDateHelpers.ts
Due: lint-app-api

Pass launchdarkly to field level resolvers
  services/app-api/src/resolvers/configureResolvers.ts
Due: lint-app-api

Remove building submission log for now
  services/app-api/src/resolvers/contract/contractResolver.ts
Due: lint-app-api

Fix some test helpers
  services/app-api/src/testHelpers/gqlContractHelpers.ts
Due: lint-app-api

Move submission history builder functions
  services/app-api/src/postgres/submissionHistoryLog.test.ts
  services/app-api/src/postgres/submissionHistoryLog.ts
Due: lint-app-api

Include contractSubmissionType
  services/app-api/src/postgres/contractAndRates/prismaSubmittedRateHelpers.ts
Due: lint-app-api

Update lastActionDate on contract and rate actions
  services/app-api/src/postgres/contractAndRates/approveContract.ts
  services/app-api/src/postgres/contractAndRates/overrideContractData.ts
  services/app-api/src/postgres/contractAndRates/overrideRateData.ts
  services/app-api/src/postgres/contractAndRates/reverseApproveContract.ts
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/postgres/contractAndRates/submitContractAndOrRates.ts
  services/app-api/src/postgres/contractAndRates/undoWithdrawContract.ts
  services/app-api/src/postgres/contractAndRates/undoWithdrawRate.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/withdrawContract.ts
  services/app-api/src/postgres/contractAndRates/withdrawRate.ts
  services/app-api/src/testHelpers/rateDataMocks.ts
Due: lint-app-api

Add lastActionDate test assertions
  services/app-api/src/postgres/contractAndRates/overrideContractData.test.ts
  services/app-api/src/postgres/contractAndRates/overrideRateData.test.ts
  services/app-api/src/resolvers/contract/approveContract.test.ts
  services/app-api/src/resolvers/contract/overrideContractData.test.ts
  services/app-api/src/resolvers/contract/reverseApproveContract.test.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/contract/undoWithdrawContract.test.ts
  services/app-api/src/resolvers/contract/unlockContract.test.ts
  services/app-api/src/resolvers/contract/withdrawContract.test.ts
  services/app-api/src/resolvers/rate/overrideRateData.test.ts
  services/app-api/src/resolvers/rate/undoWithdrawRate.test.ts
  services/app-api/src/resolvers/rate/withdrawRate.test.ts
Due: lint-app-api

Add review redetermination for reassigning parent contract resubmission
  services/app-api/src/postgres/contractAndRates/reassignParentContract.ts
Due: lint-app-api

Fetch contract by lastActionDate tests
  services/app-api/src/postgres/contractAndRates/findAllContractsWithHistoryBySubmitInfo.test.ts
  services/app-api/src/resolvers/contract/indexContracts.test.ts
Due: lint-app-api

Add soft delete contract question response API
  packages/helpers/src/gql/mutationWrappersForUserFriendlyErrors.ts
  packages/mocks/src/apollo/questionResponseGQLMock.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/questionResponse/index.ts
  services/app-api/src/postgres/questionResponse/softDeleteContractQuestionResponse.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/contractResolver.test.ts
  services/app-api/src/resolvers/questionResponse/deleteContractQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/deleteContractQuestionResponse.ts
  services/app-api/src/resolvers/questionResponse/index.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
  services/app-api/src/testHelpers/storeHelpers.ts
  services/app-graphql/src/mutations/deleteContractQuestionResponse.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Soft delete contract question response
  packages/constants/src/routes.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/QuestionResponse/DeleteResponse/DeleteContractQuestionResponse.test.tsx
  services/app-web/src/pages/QuestionResponse/DeleteResponse/DeleteContractQuestionResponse.tsx
  services/app-web/src/pages/QuestionResponse/DeleteResponse/index.ts
  services/app-web/src/pages/QuestionResponse/QATable/QuestionDisplayTable.tsx
  services/app-web/src/pages/QuestionResponse/QATable/QuestionResponseRound.tsx
  services/app-web/src/pages/QuestionResponse/QuestionResponseHelpers/questionResponseHelpers.ts
  services/app-web/src/pages/QuestionResponse/index.ts
  services/app-web/src/tealium/constants.ts
Due: lint-app-web

Add Q&A writes to lastActionDates and unit tests
  services/app-api/src/postgres/questionResponse/insertContractQuestion.ts
  services/app-api/src/postgres/questionResponse/insertContractQuestionResponse.ts
  services/app-api/src/postgres/questionResponse/insertRateQuestion.ts
  services/app-api/src/postgres/questionResponse/insertRateQuestionResponse.ts
  services/app-api/src/postgres/questionResponse/softDeleteContractQuestion.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createContractQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createRateQuestionResponse.test.ts
  services/app-api/src/resolvers/questionResponse/deleteContractQuestion.test.ts
Due: lint-app-api

Write to lastActionDate to related contracts for rate resubmission
  services/app-api/src/postgres/contractAndRates/overrideRateData.ts
  services/app-api/src/postgres/contractAndRates/submitContractAndOrRates.ts
Due: lint-app-api

Add store functions for building submission history
  services/app-api/src/domain-models/contractAndRates/index.ts
  services/app-api/src/domain-models/contractAndRates/submissionHistoryTypes.ts
  services/app-api/src/domain-models/index.ts
  services/app-api/src/postgres/contractAndRates/findSubmissionHistoryByContractID.ts
  services/app-api/src/postgres/contractAndRates/index.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/questionResponse/findContractQuestionResponseHistory.ts
  services/app-api/src/postgres/questionResponse/findRateQuestionResponseHistory.ts
  services/app-api/src/postgres/questionResponse/index.ts
  services/app-api/src/postgres/submissionHistoryHelpers.test.ts
  services/app-api/src/postgres/submissionHistoryHelpers.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

ADd fetchSubmissionHistory resolver
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/fetchSubmissionHistory.test.ts
  services/app-api/src/resolvers/contract/fetchSubmissionHistory.ts
  services/app-graphql/src/queries/fetchSubmissionHistory.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Update skills
  skills/skill-api/SKILL.md
Due: none

Clean up
  services/app-api/src/postgres/contractAndRates/findSubmissionHistoryByContractID.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/questionResponse/findContractQuestionResponseHistory.ts
  services/app-api/src/postgres/questionResponse/findRateQuestionResponseHistory.ts
  services/app-api/src/postgres/questionResponse/questionResponseHistoryHelpers.ts
  services/app-api/src/postgres/submissionHistoryHelpers.test.ts
  services/app-api/src/postgres/submissionHistoryHelpers.ts
Due: lint-app-api

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
