Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

rerun
  services/app-api/serverless.yml
Due: none

get updateHPP to work with contracts with rates
  services/app-api/src/domain-models/contractAndRates/convertHPPtoContractWithRates.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

exl node_modules serverless app-api
  services/app-api/serverless.yml
Due: none

update test
  services/app-api/src/resolvers/contract/fetchContract.test.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
Due: lint-app-api

ignore node_modules
  services/app-api/serverless.yml
  services/app-api/src/resolvers/shared/genericDocumentResolver.test.ts
Due: lint-app-api

add to resolver chain for documents used by q&a
  services/app-api/src/domain-models/QuestionResponseType.ts
  services/app-api/src/domain-models/QuestionsType.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/index.ts
  services/app-api/src/resolvers/questionResponse/indexQuestions.test.ts
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.ts
  services/app-graphql/src/queries/indexQuestions.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

forceExclude more and revert patterns
  services/app-api/serverless.yml
Due: none

attempt a cleanup in post
  services/app-api/serverless.yml
Due: none

keep otel here
  services/app-api/serverless.yml
Due: none

pull through q&a changes
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

fix test
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.ts
  services/app-api/src/resolvers/questionResponse/createQuestionResponse.ts
  services/app-graphql/src/queries/indexQuestions.graphql
Due: lint-app-api

switch s3 imports in apollo
  services/app-api/src/handlers/apollo_gql.ts
  services/app-web/src/s3/index.ts
Due: lint-app-web, lint-app-api

switch to importing s3 from app-api instead of app-web
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/indexQuestions.test.ts
  services/app-api/src/resolvers/shared/genericDocumentResolver.ts
  services/app-api/src/s3/helpers.ts
  services/app-api/src/s3/index.ts
  services/app-api/src/s3/s3Client.d.ts
  services/app-api/src/s3/s3Deployed.ts
  services/app-api/src/s3/s3Error.ts
  services/app-api/src/s3/s3Local.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

fix test
  services/app-api/src/resolvers/questionResponse/indexQuestions.test.ts
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.ts
Due: lint-app-api

pass downloadURL in the the fetchHealthPlanPackgageWithQuestions
  services/app-graphql/src/queries/fetchHealthPlanPackageWithQuestions.graphql
Due: none

failure isn't logged
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.ts
  services/app-api/src/s3/helpers.ts
Due: lint-app-api

add more info to err msg
  services/app-api/src/s3/helpers.ts
Due: lint-app-api

modify/add test and code cleanup
  services/app-api/serverless.yml
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/resolvers/questionResponse/createQuestion.test.ts
  services/app-api/src/resolvers/questionResponse/questionResponseDocumentResolver.test.ts
  services/app-api/src/resolvers/shared/genericDocumentResolver.test.ts
  services/app-api/src/s3/s3Deployed.ts
  services/app-api/src/testHelpers/index.ts
  services/app-api/src/testHelpers/s3Helpers.ts
  services/app-web/src/s3/index.ts
  services/app-web/src/s3/s3Deployed.ts
Due: lint-app-web, lint-app-api

revert excluding aws sdk import
  services/app-api/serverless.yml
Due: none

MCR-4199 Adjust NEW tag logic for same date submission and previous revisions (#2510)
  services/app-api/src/postgres/contractAndRates/prismaSharedContractRateHelpers.ts
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/rate/fetchRate.test.ts
  services/app-api/src/resolvers/rate/submitRate.test.ts
  services/app-api/src/testHelpers/documentHelpers.ts
  services/app-api/src/testHelpers/gqlRateHelpers.ts
  services/app-api/src/testHelpers/index.ts
  services/app-graphql/src/schema.graphql
  services/app-web/package.json
  services/app-web/src/common-code/dateHelpers/dayjs.ts
  services/app-web/src/components/SubmissionSummarySection/RateDetailsSummarySection/SingleRateSummarySection.test.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.test.tsx
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
  services/app-web/src/gqlHelpers/contractsAndRates.ts
  services/app-web/src/pages/MccrsId/MccrsId.tsx
  services/app-web/src/pages/RateSummary/RateSummary.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ContractDetailsSummarySectionV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/RateDetailsSummarySectionV2.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummary.tsx
  services/app-web/src/pages/SubmissionRevisionSummary/SubmissionRevisionSummaryV2.tsx
  services/app-web/src/pages/SubmissionSideNav/SubmissionSideNav.tsx
  services/app-web/src/testHelpers/apolloMocks/rateDataMock.ts
  yarn.lock
Due: lint-app-web, lint-app-api

fix host
  .github/workflows/sechub-jira-sync.yml
Due: none

fix custom fields
  .github/workflows/sechub-jira-sync.yml
Due: none

custom fields
  .github/workflows/sechub-jira-sync.yml
Due: none

old version
  .github/workflows/sechub-jira-sync.yml
Due: none

remove commented out code
  services/app-api/src/resolvers/rate/submitRate.test.ts
Due: lint-app-api

fix merge conflict
  services/app-graphql/src/schema.graphql
Due: none

PR fixes
  services/app-api/src/resolvers/questionResponse/createQuestion.ts
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

use latest
  .github/workflows/sechub-jira-sync.yml
Due: none

expects int here
  .github/workflows/sechub-jira-sync.yml
Due: none

Add updateContractDraftRevision mutation and add 438 attestation fields to graphql.
  services/app-graphql/src/mutations/createContract.graphql
  services/app-graphql/src/mutations/submitContract.graphql
  services/app-graphql/src/mutations/updateContractDraftRevision.graphql
  services/app-graphql/src/schema.graphql
Due: none

Add new updateContractDraftRevision resolver and a small zod validator.
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/contract/updateContractDraftRevision.ts
Due: lint-app-api

Tests
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.test.ts
  services/app-api/src/resolvers/contract/updateContractDraftRevision.test.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-api/src/testHelpers/index.ts
  services/app-api/src/testHelpers/stateHelpers.ts
Due: lint-app-api

Add genericDocumentFields fragment and fix return fields.
  services/app-graphql/src/mutations/createContract.graphql
  services/app-graphql/src/mutations/submitContract.graphql
  services/app-graphql/src/mutations/updateContractDraftRevision.graphql
  services/app-graphql/src/queries/fetchContract.graphql
Due: none

Revert using document fragment.
  services/app-graphql/src/mutations/createContract.graphql
  services/app-graphql/src/mutations/submitContract.graphql
  services/app-graphql/src/mutations/updateContractDraftRevision.graphql
  services/app-graphql/src/queries/fetchContract.graphql
Due: none

No more fakeS3URL.
  services/app-api/src/resolvers/contract/updateContractDraftRevision.test.ts
  services/app-api/src/testHelpers/gqlContractHelpers.ts
  services/app-web/src/components/FileUpload/FileUpload.stories.tsx
  services/app-web/src/components/FileUpload/FileUpload.test.tsx
  services/cypress/utils/apollo-test-utils.ts
Due: lint-app-web, lint-app-api

Fix import.
  services/app-api/src/domain-models/contractAndRates/dataValidatorHelpers.ts
Due: lint-app-api

Create updateDraftContract and copy over tests.
  services/app-api/src/postgres/contractAndRates/updateDraftContract.test.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.ts
Due: lint-app-api

Update to use new postgres function.
  services/app-api/src/postgres/contractAndRates/index.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/resolvers/contract/updateContractDraftRevision.test.ts
  services/app-api/src/resolvers/contract/updateContractDraftRevision.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

Update security hub jira sync tool (#2522)
  .github/workflows/sechub-jira-sync.yml
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
