Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

ci-force-run names
  .github/workflows/deploy-infra-to-env.yml
  infrastructure/cdk/src/app.ts
Due: none

ci-force-run everything else back
  infrastructure/cdk/src/stacks/ui.ts
Due: none

ci-force-run back
  .github/workflows/deploy-infra-to-env.yml
Due: none

add round number to Question object
  services/app-api/src/domain-models/QuestionsType.ts
  services/app-api/src/postgres/questionResponse/questionHelpers.ts
  services/app-graphql/src/fragments/questionsEdgeFragment.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

move add round number logic to resolver chain
  services/app-api/src/postgres/questionResponse/questionHelpers.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/questionResponse/index.ts
  services/app-api/src/resolvers/questionResponse/questionResolver.ts
Due: lint-app-api

Add New tables and migration
  services/app-api/prisma/migrations/20250122005954_add_application_and_email_settings_table/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

Extend prisma to restrict new table methods
  services/app-api/src/postgres/prismaClient.ts
Due: lint-app-api

Pass prisma options to extendedPrismaClient
  services/app-api/src/postgres/prismaClient.ts
Due: lint-app-api

fix mocks
  packages/mocks/src/apollo/contractPackageDataMock.ts
  packages/mocks/src/apollo/questionResponseDataMocks.ts
Due: none

Add resolver test, clean up resolver
  services/app-api/src/resolvers/questionResponse/questionResolver.test.ts
  services/app-api/src/resolvers/questionResponse/questionResolver.ts
Due: lint-app-api

remove change to domain model
  services/app-api/src/domain-models/QuestionsType.ts
Due: lint-app-api

MCR-4887: add new application settings table (#3093)
  services/app-api/prisma/migrations/20250122005954_add_application_and_email_settings_table/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/postgres/prismaClient.ts
Due: lint-app-api

packages
  pnpm-lock.yaml
  services/ui/package.json
  services/ui/serverless.yml
Due: none

inject license
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  services/app-api/package.json
  services/app-api/serverless.yml
Due: none

oops these were for local testing
  services/app-api/package.json
  services/app-api/serverless.yml
Due: none

Pull out emailer configuration into a function.
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/configuration.ts
Due: lint-app-api

Use configureEmailer in unit tests
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

Remove cms email from defaults
  services/app-api/prisma/migrations/20250123013426_update_email_settings_default_values/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

Add settings domain types
  services/app-api/src/domain-models/SettingType.tsx
  services/app-api/src/domain-models/index.ts
Due: lint-app-api

Add postgres function to find email settings
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/settings/findEmailSettings.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

Abstract email configuration code ,add code to pull from data from DB, and update LD service.
  services/app-api/src/handlers/apollo_gql.ts
  services/app-api/src/handlers/configuration.ts
  services/app-api/src/launchDarkly/launchDarkly.ts
  services/app-api/src/testHelpers/launchDarklyHelpers.ts
Due: lint-app-api

Update usage of ldService
  services/app-api/src/resolvers/contract/submitContract.ts
  services/app-api/src/resolvers/contract/updateContractDraftRevision.ts
  services/app-api/src/resolvers/healthPlanPackage/submitHealthPlanPackage.ts
  services/app-api/src/resolvers/healthPlanPackage/updateHealthPlanFormData.ts
  services/app-api/src/resolvers/rate/submitRate.ts
Due: lint-app-api

MCR-4826: add round number to Question object (#3092)
  packages/mocks/src/apollo/contractPackageDataMock.ts
  packages/mocks/src/apollo/questionResponseDataMocks.ts
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/questionResponse/index.ts
  services/app-api/src/resolvers/questionResponse/questionResolver.test.ts
  services/app-api/src/resolvers/questionResponse/questionResolver.ts
  services/app-graphql/src/fragments/questionsEdgeFragment.graphql
  services/app-graphql/src/schema.graphql
Due: lint-app-api

Refactor constructTestEmailer
  services/app-api/src/testHelpers/gqlHelpers.ts
Due: lint-app-api

Add tests
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/resolvers/settings/fetchMcReviewSettings.test.ts
Due: lint-app-api

Make test emailer using DB
  services/app-api/src/resolvers/contract/submitContract.test.ts
  services/app-api/src/testHelpers/emailerHelpers.ts
Due: lint-app-api

Update schema
  services/app-api/src/domain-models/SettingType.tsx
Due: lint-app-api

Remove stage and baseUrl from graphql email configuration
  packages/mocks/src/apollo/mcReviewSettingsGQLMocks.ts
  services/app-graphql/src/queries/fetchMcReviewSettings.graphql
  services/app-graphql/src/schema.graphql
  services/app-web/src/pages/Settings/Settings.test.tsx
Due: lint-app-web

Add custom validator for email alias and unit test it.
  services/app-api/src/domain-models/SettingType.tsx
  services/app-api/src/domain-models/settings.test.ts
Due: lint-app-api

Fix type errors
  services/app-api/src/handlers/configuration.ts
  services/app-api/src/postgres/prismaClient.ts
Due: lint-app-api

update email settings postgres function
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/postgres/settings/updateEmailSettings.ts
Due: lint-app-api

Add updateEmailSettings to graphql
  services/app-graphql/src/fragments/emailConfigurationFragment.graphql
  services/app-graphql/src/mutations/updateEmailSettings.graphql
  services/app-graphql/src/queries/fetchMcReviewSettings.graphql
  services/app-graphql/src/schema.graphql
Due: none

Add updateEmailSettings resolver
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/settings/updateEmailSettings.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

Add updateEmailSettings resolver tests
  services/app-api/src/resolvers/settings/updateEmailSettings.test.ts
  services/app-api/src/resolvers/settings/updateEmailSettings.ts
  services/app-api/src/testHelpers/gqlSettingsHelpers.ts
Due: lint-app-api

trim white space in emails on validation and add test
  services/app-api/src/domain-models/SettingType.tsx
  services/app-api/src/domain-models/settings.test.ts
Due: lint-app-api

Add another test for empty email settings field
  services/app-api/src/domain-models/settings.test.ts
Due: lint-app-api

add type name to mock
  packages/mocks/src/apollo/mcReviewSettingsGQLMocks.ts
Due: none

Fix typo in EmailSettings default values.
  services/app-api/prisma/migrations/20250124195012_fix_typo_in_default_email_settings_values/migration.sql
  services/app-api/prisma/schema.prisma
Due: none

Add variant prop
  services/app-web/src/components/ErrorAlert/ContactSupportLink.tsx
Due: lint-app-web

Update program dropdown link to a mailto
  services/app-web/src/pages/StateSubmission/RateDetails/SingleRateFormFields.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
