Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

set region
  services/app-web/src/s3/s3Local.ts
Due: lint-app-web

add uuid for re-run cypress CI
  .github/workflows/deploy.yml
Due: none

explicit ubuntu
  .github/workflows/deploy.yml
Due: none

Fix dashboard flakes.
  tests/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
Due: none

Add a IP check on CI runs (#1379)
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
Due: none

Remove multi-rate ff from RateDetails
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetailsSchema.ts
Due: lint-app-web

Remove multi-rate flag and isolate rates across submissions tests
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.test.tsx
Due: lint-app-web

console log test client
  services/app-web/src/testHelpers/s3Helpers.ts
Due: lint-app-web

explicit version in testing-lib
  services/app-web/package.json
  yarn.lock
Due: none

explicit ubuntu in all CI
  .github/workflows/deploy.yml
Due: none

fix authorizer on otel
  services/app-api/serverless.yml
Due: none

Remove multi-rate flag from Contacts page.
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
Due: lint-app-web

try different endpoint
  services/app-web/serverless.yml
Due: none

fix up otel endpoint
  services/app-api/serverless.yml
  services/app-web/serverless.yml
Due: none

A comment.
  services/app-web/src/s3/s3Local.ts
Due: lint-app-web

Turn on Aurora before Cypress run (#1351)
  .github/workflows/deploy.yml
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

fix up otel endpoint (#1385)
  services/app-api/serverless.yml
  services/app-web/serverless.yml
Due: none

fix up promote for ID
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/promote.yml
Due: none

Chain click
  tests/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
Due: none

use only test client
  services/app-web/src/testHelpers/jestHelpers.tsx
Due: lint-app-web

use only local s3 client
  services/app-web/src/index.tsx
Due: lint-app-web

more logging
  services/app-api/src/resolvers/createHealthPlanPackage.ts
  services/app-web/src/s3/s3Local.ts
Due: lint-app-web, lint-app-api

Try waiting for both queries after login.
  tests/cypress/support/loginCommands.ts
Due: none

add a rule set for a deploy
  services/app-api/serverless.yml
Due: none

initial commit - add yesno form field, get mocks and types in order
  services/app-graphql/src/schema.graphql
  services/app-proto/src/health_plan_form_data.proto
  services/app-web/src/common-code/healthPlanFormDataMocks/healthPlanFormData.ts
  services/app-web/src/common-code/healthPlanFormDataType/LockedHealthPlanFormDataType.d.ts
  services/app-web/src/common-code/healthPlanFormDataType/UnlockedHealthPlanFormDataType.d.ts
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.tsx
  services/app-web/src/components/Form/FieldYesNo/index.ts
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.test.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
  services/app-web/src/testHelpers/apolloHelpers.tsx
Due: lint-app-web

Assert table and link exists before click.
  tests/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
Due: none

Update Cypress CI components (#1386)
  .github/workflows/deploy-app-to-env.yml
  .github/workflows/deploy-infra-to-env.yml
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  package.json
  services/app-web/package.json
  yarn.lock
Due: none

weave types through
  services/app-api/src/postgres/insertHealthPlanPackage.ts
  services/app-api/src/resolvers/createHealthPlanPackage.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/toDomain.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedHealthPlanFormDataSchema.ts
  services/app-web/src/gqlHelpers/healthPlanPackages.ts
Due: lint-app-web, lint-app-api

Upgrade FieldYesNo to handle variants and use everywhere yes/nos are found
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.module.scss
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.stories.tsx
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/RateDetails.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Comment multi-rate tests out. Wrong branch.
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
Due: none

unrelated bugfix: - use unique keys for React arrays - remove required in zod- it is preventing save as draft behavior
  services/app-web/src/common-code/proto/healthPlanFormDataProto/unlockedHealthPlanFormDataSchema.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
Due: lint-app-web

test just doing the waf ourselves
  services/app-api/serverless.yml
  services/infra-api/serverless.yml
Due: none

Add in feature flags and ux for review and subimt
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/components/Form/FieldYesNo/FieldYesNo.tsx
  services/app-web/src/components/SubmissionSummarySection/SubmissionSummarySection.module.scss
  services/app-web/src/components/SubmissionSummarySection/SubmissionTypeSummarySection/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

log docs in ci
  services/app-web/src/components/SubmissionSummarySection/UploadedDocumentsTable/UploadedDocumentsTable.tsx
Due: lint-app-web

restore
  services/app-web/src/index.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.test.tsx
  services/app-web/src/s3/s3Local.ts
  services/app-web/src/testHelpers/jestHelpers.tsx
  services/app-web/src/testHelpers/s3Helpers.ts
Due: lint-app-web

Remove multi-rate flag from Contacts page and update tests.
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.test.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
Due: lint-app-web

Fix documents not showing up on review and summary pages when running app locally. (#1382)
  services/app-web/src/s3/s3Local.ts
  tests/cypress/integration/cmsWorkflow/unlockResubmit.spec.ts
  tests/cypress/integration/stateWorkflow/dashboard/dashboard.spec.ts
  tests/cypress/support/loginCommands.ts
Due: lint-app-web

log files
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
Due: lint-app-web

fix depends on
  services/infra-api/serverless.yml
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
