Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

run from pnpm (#2700)
  .husky/pre-commit
Due: none

Design review: Redundant Rates display cleanup (#2670)
  services/app-api/src/resolvers/rate/generateRateCertificationName.ts
  services/app-web/src/components/FormContainer/FormContainer.module.scss
  services/app-web/src/components/FormContainer/FormContainer.test.tsx
  services/app-web/src/components/FormContainer/FormContainer.tsx
  services/app-web/src/pages/LinkYourRates/LinkRateSelect/LinkRateSelect.tsx
  services/app-web/src/pages/ReplaceRate/ReplaceRate.module.scss
  services/app-web/src/pages/ReplaceRate/ReplaceRate.tsx
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/New/NewStateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web, lint-app-api

fixing import errors
  packages/document-helpers/src/index.ts
  packages/gql-helpers/package.json
  packages/gql-helpers/src/contractsAndRates.ts
  packages/gql-helpers/src/fetchHealthPlanPackageWrapper.ts
  packages/gql-helpers/src/index.ts
  packages/gql-helpers/src/mutationWrappersForUserFriendlyErrors.ts
  packages/gql-helpers/tsconfig.json
  packages/hpp/package.json
  packages/hpp/src/index.ts
  pnpm-lock.yaml
Due: none

ADd and implement cypress-axe
  pnpm-lock.yaml
  services/cypress/cypress.config.ts
  services/cypress/integration/stateWorkflow/stateSubmissionForm/accessiblility.spec.ts
  services/cypress/package.json
  services/cypress/support/e2e.ts
  services/cypress/tsconfig.json
Due: none

Add container for notifications on form pages.
  services/app-web/src/components/FormContainer/FormContainer.module.scss
  services/app-web/src/components/FormContainer/FormNotificationContainer.tsx
  services/app-web/src/components/FormContainer/index.ts
Due: lint-app-web

Use FormNotificationContainer for step indicator and banners.
  services/app-web/src/components/index.ts
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/PageBannerAlerts.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

MCR-4410 & MCR-3757 fix show more text on banners (#2709)
  services/app-web/src/components/FormContainer/FormContainer.module.scss
  services/app-web/src/components/FormContainer/FormNotificationContainer.tsx
  services/app-web/src/components/FormContainer/index.ts
  services/app-web/src/components/index.ts
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/Documents/Documents.tsx
  services/app-web/src/pages/StateSubmission/PageBannerAlerts.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web

Allow CMS users to see settings page always.
  services/app-api/src/resolvers/email/fetchEmailSettings.ts
  services/app-web/src/pages/Settings/Settings.tsx
Due: lint-app-web, lint-app-api

Restore settings route per jira comment
  services/app-api/src/resolvers/email/fetchEmailSettings.test.ts
  services/app-web/src/constants/routes.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/tealium/constants.ts
Due: lint-app-web, lint-app-api

Add comment to explain unlockedContract type use
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
Due: lint-app-web

[MCR-4400] update contract api test (#2705)
  services/app-graphql/src/schema.graphql
  services/app-web/src/components/ChangeHistory/ChangeHistory.test.tsx
  services/app-web/src/components/ChangeHistory/ChangeHistoryV2.tsx
  services/app-web/src/gqlHelpers/contractsAndRates.ts
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/RateDetailsSummarySection.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/ReviewSubmit.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.test.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/SubmissionTypeSummarySection.tsx
  services/app-web/src/pages/SubmissionSummary/SubmissionSummary.test.tsx
  services/app-web/src/testHelpers/apolloMocks/contractGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/contractPackageDataMock.ts
  services/app-web/src/testHelpers/apolloMocks/healthPlanPackageGQLMock.ts
  services/app-web/src/testHelpers/apolloMocks/index.ts
Due: lint-app-web

Add environment to DSO metrics action (#2704)
  .github/workflows/send-dso-metrics.yml
Due: none

Add accessibility commands
  services/cypress/support/accessibilityCommands.ts
  services/cypress/support/index.ts
Due: none

Fix launch darkly intercepts for local deployment.
  services/cypress/support/launchDarklyCommands.ts
Due: none

Add two accessibility tests.
  services/cypress/integration/stateWorkflow/stateSubmissionForm/accessiblility.spec.ts
Due: none

lock file
  pnpm-lock.yaml
Due: none

Fix lock file.
  pnpm-lock.yaml
  services/cypress/package.json
Due: none

Fix lock file.
  pnpm-lock.yaml
Due: none

Remove pa11y.
  services/cypress/cypress.config.ts
Due: none

Add axe-core and cypress-axe to root package.json
  package.json
  pnpm-lock.yaml
Due: none

Fix CMS view settings page and restore settings route (#2710)
  services/app-api/src/resolvers/email/fetchEmailSettings.test.ts
  services/app-api/src/resolvers/email/fetchEmailSettings.ts
  services/app-web/src/constants/routes.ts
  services/app-web/src/pages/App/AppRoutes.tsx
  services/app-web/src/pages/Settings/Settings.tsx
  services/app-web/src/tealium/constants.ts
Due: lint-app-web, lint-app-api

Cleanup
  services/cypress/package.json
  services/cypress/support/loginCommands.ts
  services/cypress/support/questionResponseCommands.ts
Due: none

Use WCAG 2.2 Level AA
  services/cypress/integration/stateWorkflow/stateSubmissionForm/accessiblility.spec.ts
  services/cypress/support/accessibilityCommands.ts
  services/cypress/support/index.ts
Due: none

Lock file
  pnpm-lock.yaml
Due: none

allow the role to be assumed
  services/github-oidc/serverless.yml
Due: none

fix naming of secret
  .github/workflows/send-dso-metrics.yml
Due: none

commit stash
  packages/document-helpers/package.json
  packages/document-helpers/src/makeDocumentDateLookupTable.ts
  packages/gql-helpers/package.json
  pnpm-lock.yaml
  services/app-proto/package.json
Due: none

move packages around
  packages/common-code/package.json
  packages/document-helpers/package.json
  packages/document-helpers/tsconfig.json
  packages/helpers/package.json
  packages/helpers/src/document/getAllDocuments.ts
  packages/helpers/src/document/index.ts
  packages/helpers/src/document/makeDocumentDateLookupTable.test.ts
  packages/helpers/src/document/makeDocumentDateLookupTable.ts
  packages/helpers/src/document/makeDocumentKeyLookupList.test.ts
  packages/helpers/src/document/makeDocumentKeyLookupList.ts
  packages/helpers/src/gql/apolloErrors.ts
  packages/helpers/src/gql/apolloQueryWrapper.ts
  packages/helpers/src/gql/contractsAndRates.ts
  packages/helpers/src/gql/fetchHealthPlanPackageWrapper.ts
  packages/helpers/src/gql/healthPlanPackages.ts
  packages/helpers/src/gql/index.ts
  packages/helpers/src/gql/mutationWrappersForUserFriendlyErrors.ts
  packages/helpers/src/gql/updateCMSUser.ts
  packages/helpers/src/gql/useIndexQuestionsQueryWrapper.ts
  packages/helpers/src/gql/userHelpers.ts
  packages/helpers/src/index.ts
  packages/helpers/src/s3URLEncoding.test.ts
  packages/helpers/src/s3URLEncoding.ts
  packages/helpers/tsconfig.json
  pnpm-lock.yaml
  services/app-graphql/codegen.yml
  services/app-proto/package.json
Due: none

add sourcemaps everywhere
  services/app-api/esbuild.config.js
  services/app-web/tsconfig.json
  services/app-web/vite.config.ts
Due: none

Add documentation
  docs/architectural-decision-records/005-frontend-a11y-toolset.md
  services/cypress/README.md
Due: none

hide supporting docs page based on feature flag
  services/app-api/src/common-code/featureFlags/flags.ts
  services/app-web/src/common-code/featureFlags/flags.ts
  services/app-web/src/constants/index.ts
  services/app-web/src/constants/routes.ts
  services/app-web/src/pages/StateSubmission/Contacts/Contacts.tsx
  services/app-web/src/pages/StateSubmission/ContractDetails/ContractDetails.tsx
  services/app-web/src/pages/StateSubmission/RateDetails/V2/RateDetailsV2.tsx
  services/app-web/src/pages/StateSubmission/ReviewSubmit/V2/ReviewSubmit/ReviewSubmitV2.tsx
  services/app-web/src/pages/StateSubmission/StateSubmissionForm.tsx
  services/app-web/src/pages/StateSubmission/SubmissionType/SubmissionType.tsx
Due: lint-app-web, lint-app-api

Rename tests
  services/cypress/integration/stateWorkflow/stateSubmissionForm/accessiblility.spec.ts
Due: none

add sourcemaps everywhere (#2717)
  services/app-api/esbuild.config.js
  services/app-web/tsconfig.json
  services/app-web/vite.config.ts
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
