Repository Enterprise-CMCS/managed-care-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-app-web, lint-app-api

lint-app-web:
  name: Lint staged app-web
  entry: ./dev lint staged web
  language: script
  pass_filenames: false

lint-app-api:
  name: Lint staged app-api
  entry: ./dev lint staged api
  language: script
  pass_filenames: false

Revert fields back to not undefined.
  services/app-api/src/postgres/contractAndRates/prismaToDomainModel.ts
Due: lint-app-api

Fixed schema and add new tests.
  services/app-api/src/domain-models/contractAndRates/contractAndRatesZodSchema.ts
  services/app-api/src/domain-models/contractAndRates/parseDomainData.test.ts
Due: lint-app-api

Prisma lib changes
  services/app-api/src/postgres/storeError.ts
Due: lint-app-api

fix up local dev
  dev_tool/src/local/api.ts
  dev_tool/src/local/graphql.ts
  dev_tool/src/local/postgres.ts
  dev_tool/src/local/proto.ts
  dev_tool/src/local/s3.ts
  dev_tool/src/local/storybook.ts
  dev_tool/src/local/web.ts
  services/app-api/esbuild.config.js
Due: none

Update sechub/jira sync repo ref to new name
  .github/workflows/sechub-jira-sync.yml
Due: none

Prisma schema update - clarify naming between certifying and addtl - move actuary related fields off contacts entirely and onto rates - fix typo with submitted on UpdateInfoTable
  services/app-api/prisma/schema.prisma
Due: none

Get unit tests passing - update helpers/domain/types
  services/app-api/src/domain-models/contractAndRates/contractType.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/findDraftRate.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/prismaToDomainModel.test.ts
  services/app-api/src/postgres/contractAndRates/prismaToDomainModel.ts
  services/app-api/src/postgres/prismaHelpers.ts
  services/app-api/src/postgres/prismaTypes.ts
Due: lint-app-api

Move addtl actuary to rate revision
  services/app-api/prisma/migrations/20230713173904_move_addtl_actuary_and_comm_preference_to_rate_revision/migration.sql
Due: none

end line cleanup
  services/app-api/prisma/migrations/20230713173904_move_addtl_actuary_and_comm_preference_to_rate_revision/migration.sql
Due: none

fix up build for cloudfront
  lib/common-code/tsconfig.json
  services/app-web/craco.config.js
  services/app-web/tsconfig.json
Due: none

esbuild in app-web
  services/app-web/craco.config.js
  services/app-web/package.json
  tsconfig.json
  yarn.lock
Due: none

MR03434 Move addtl actuary to rate revision, remove from contract (#1812)
  services/app-api/prisma/migrations/20230713173904_move_addtl_actuary_and_comm_preference_to_rate_revision/migration.sql
  services/app-api/prisma/schema.prisma
  services/app-api/src/domain-models/contractAndRates/contractType.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/findDraftRate.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.ts
  services/app-api/src/postgres/contractAndRates/insertRate.ts
  services/app-api/src/postgres/contractAndRates/prismaToDomainModel.test.ts
  services/app-api/src/postgres/contractAndRates/prismaToDomainModel.ts
  services/app-api/src/postgres/prismaHelpers.ts
  services/app-api/src/postgres/prismaTypes.ts
Due: lint-app-api

Remove more additional actuary fields.
  services/app-api/src/domain-models/contractAndRates/contractAndRatesZodSchema.ts
  services/app-api/src/postgres/prismaTypes.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
Due: lint-app-api

Add rates-db-refactor flag
  services/app-api/src/resolvers/configureResolvers.ts
  services/app-api/src/resolvers/healthPlanPackage/createHealthPlanPackage.ts
  services/app-web/src/common-code/featureFlags/flags.ts
Due: lint-app-web, lint-app-api

Add dev tooling for local
  dev_tool/src/dev.ts
  dev_tool/src/local/api.ts
  dev_tool/src/local/common.ts
  dev_tool/src/local/web.ts
  lib/common-code/package.json
  lib/common-code/tsconfig.json
  services/app-web/craco.config.js
  services/app-web/package.json
Due: none

Add insertContract to postgresStore.ts and storeHelpers.ts
  services/app-api/src/postgres/postgresStore.ts
  services/app-api/src/testHelpers/storeHelpers.ts
Due: lint-app-api

Make populationCovered and riskBasedContract args required.
  services/app-api/src/postgres/healthPlanPackage/insertHealthPlanPackage.test.ts
  services/app-api/src/postgres/healthPlanPackage/insertHealthPlanPackage.ts
Due: lint-app-api

Create function to convert Contract type to HealthPlanPackageType.
  services/app-api/src/domain-models/healthPlanPackage.ts
  services/app-api/src/domain-models/index.ts
Due: lint-app-api

Use new insertContract prisma function when `rates-db-refactor` is true and convert Contract to HealthPlanPackage. Add a test.
  services/app-api/src/resolvers/healthPlanPackage/createHealthPlanPackage.test.ts
  services/app-api/src/resolvers/healthPlanPackage/createHealthPlanPackage.ts
Due: lint-app-api

Cleanup
  services/app-api/src/domain-models/healthPlanPackage.ts
Due: lint-app-api

Fix imports
  services/app-api/src/domain-models/contractAndRates/contractAndRatesZodSchema.ts
  services/app-api/src/domain-models/healthPlanPackage.ts
Due: lint-app-api

Fix import
  services/app-api/src/domain-models/contractAndRates/contractAndRatesZodSchema.ts
Due: lint-app-api

Requested changes.
  services/app-api/src/domain-models/contractAndRates/contractAndRatesZodSchema.ts
  services/app-api/src/domain-models/contractAndRates/parseDomainData.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/findDraftContract.ts
  services/app-api/src/postgres/contractAndRates/insertContract.ts
  services/app-api/src/postgres/contractAndRates/prismaToDomainModel.ts
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.ts
Due: lint-app-api

Export schemas at the bottom.
  services/app-web/src/common-code/proto/healthPlanFormDataProto/zodSchemas.ts
Due: lint-app-web

Fix for type name change.
  services/app-api/src/domain-models/healthPlanPackage.ts
  services/app-api/src/postgres/postgresStore.ts
Due: lint-app-api

Fix for type name change.
  services/app-api/src/domain-models/contractAndRates/rateType.ts
Due: lint-app-api

Another fix for type name change.
  services/app-api/src/domain-models/contractAndRates/rateType.ts
Due: lint-app-api

Update error message.
  services/app-api/src/resolvers/healthPlanPackage/createHealthPlanPackage.ts
Due: lint-app-api

testing without instrumentation
  services/app-web/craco.config.js
  services/app-web/package.json
Due: none

try to not fail in ci, testing
  services/app-web/craco.config.js
  services/app-web/package.json
  services/app-web/tsconfig.json
Due: none

Return error and not throw it.
  services/app-api/src/domain-models/healthPlanPackage.ts
Due: lint-app-api

Revert fields back to optional
  services/app-api/src/postgres/contractAndRates/insertContract.ts
  services/app-api/src/postgres/healthPlanPackage/insertHealthPlanPackage.ts
Due: lint-app-api

change working dir
  .github/workflows/deploy-app-to-env.yml
Due: none

fix comparison, fails in CI
  run_build.sh
Due: none

skip instrumentation --testing
  services/app-web/serverless.yml
Due: none

MR-3561: Validate prisma to domain model functions (#1807)
  services/app-api/src/domain-models/contractAndRates/contractAndRatesZodSchema.ts
  services/app-api/src/domain-models/contractAndRates/contractType.ts
  services/app-api/src/domain-models/contractAndRates/parseDomainData.test.ts
  services/app-api/src/domain-models/contractAndRates/parseDomainData.ts
  services/app-api/src/domain-models/contractAndRates/rateType.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/findContractWithHistory.ts
  services/app-api/src/postgres/contractAndRates/findDraftContract.test.ts
  services/app-api/src/postgres/contractAndRates/findDraftContract.ts
  services/app-api/src/postgres/contractAndRates/findRateWithHistory.test.ts
  services/app-api/src/postgres/contractAndRates/insertContract.test.ts
  services/app-api/src/postgres/contractAndRates/insertContract.ts
  services/app-api/src/postgres/contractAndRates/prismaToDomainModel.test.ts
  services/app-api/src/postgres/contractAndRates/prismaToDomainModel.ts
  services/app-api/src/postgres/contractAndRates/submitContract.test.ts
  services/app-api/src/postgres/contractAndRates/submitContract.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.test.ts
  services/app-api/src/postgres/contractAndRates/unlockContract.ts
  services/app-api/src/postgres/contractAndRates/updateDraftContract.ts
  services/app-api/src/postgres/prismaTypes.ts
  services/app-api/src/testHelpers/contractAndRates/contractHelpers.ts
  services/app-api/src/testHelpers/index.ts
  services/app-web/src/common-code/proto/healthPlanFormDataProto/zodSchemas.ts
Due: lint-app-web, lint-app-api

try yarn install here?
  .github/workflows/deploy-app-to-env.yml
Due: none

Repeatable tests with feature flag state as parameters.
  services/app-api/src/resolvers/healthPlanPackage/createHealthPlanPackage.test.ts
Due: lint-app-api

oops, one should be false
  services/app-api/src/resolvers/healthPlanPackage/createHealthPlanPackage.test.ts
Due: lint-app-api

Update contract-rate-refactor-relationships.md
  docs/technical-design/contract-rate-refactor-relationships.md
Due: none

Path conditions:
  lint-app-web: any of: ^services/app-web/src/*
  lint-app-api: any of: ^services/app-api/src/*
